[2020-07-03 10:02] jstarry commented on #1364
Good points @sehkone, thank you!

[2020-07-03 10:07] faulesocke opened #1369 "Impl Deref<Target = str> for yew::virtual_dom::Key"
**Describe the feature you'd like**
Please impl `Deref<Target = str>` for `yew::virtual_dom::Key`. This would allow code like the following:

[code]

instead of
[code]

**Questionnaire**

- [ ] I'm interested in implementing this myself but don't know where to start
- [x] I would like to add this feature
- [ ] I don't have time to add this right now, but maybe later

[2020-07-03 10:08] jstarry commented on #1369
Sounds good!

[2020-07-03 19:41] ZainlessBrombie commented on #1129
@pickfire I've implemented the hook and now have a better feeling about this :+1:
Implementation:
https://github.com/ZainlessBrombie/yew/blob/eed567dcac7fb5ff9f10e36b593c4dce3fcb1551/yew-functional/src/lib.rs#L331-L393
Example:
https://github.com/ZainlessBrombie/yew/blob/eed567dcac7fb5ff9f10e36b593c4dce3fcb1551/yew-functional/tests/lib.rs#L16-L54

[2020-07-03 19:48] ZainlessBrombie commented on #1129
One advantage of the method you suggested over use_state is that we have a consistent getter, instead of passing the value only.
This is advantageous when external code needs to see the current, not last passed, state. Seeing the last passed state is still possible if the value implements clone / is an Rc

HookedValue<T, F> could be HookedValue<T> if we move the closure to the heap, which I am not

[2020-07-04 03:42] jstarry opened #1371 "Yewtil is not stdweb compatible"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1371)

**Problem**
Yewtil depends on `yew` which enables `web-sys` by default. Yewtil's `yew` dependency should specify `no-default-features`

tag @hgzimmerman

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $50.00)

[2020-07-04 12:47] jstarry commented on #1356
This has been resolved!

[2020-07-04 12:47] #1356 closed

[2020-07-04 12:47] jstarry commented on #1352
Resolved by #1349

[2020-07-04 12:47] #1352 closed

[2020-07-04 13:07] #1364 closed

[2020-07-04 13:08] jstarry commented on #1364
@sehkone and @juchiast could you please try out `master` and let me know if it works as expected? Once you confirm, I'll push out `0.17.2` with the fix!

[2020-07-04 13:28] #1367 closed

[2020-07-04 13:46] sehkone commented on #1364
@jstarry It works as expected. I really appreciate your efforts and thank all of you.

[2020-07-04 14:03] #1369 closed

[2020-07-04 15:06] jstarry commented on #1364
Fix has been released in 0.17.2!

[2020-07-04 16:59] pickfire commented on #1129
I wonder why do we need to have `F` in the generics in the first part, I wonder if something like `OnceCell` will help? The results looks interesting, but I wonder if we can have `use_effect(|| *counter.borrow_mut() += 1)` (since there is no dependencies here or even just `*counter.borrow_mut() += 1` without having to specify `use_effect`?

As for ergonomic, I think we could utilize `Deref` instea

[2020-07-04 20:08] ZainlessBrombie commented on #1129
The reason I am using F is because the closure does not have a nameable type so we need F if we want to use a closure on the stack, but a custom struct should do the trick too. The update method is in a dyn Box anyways so that makes that possible :)

No. Both would cause an infinite render loop. We could check for the value being 0 and then set it, but also use use_effect for better test coverage.

[2020-07-05 01:21] bijiezhu commented on #483
Hi I am new here. I created a draft here:
https://github.com/yewstack/yew/compare/master...bijiezhu:expose_inputevent_to_oninput?expand=1

I want to use InputEvent inside the
fn oninput_handler(this: &Element) -> InputData {....} function.
My approach is cast the Element into InputEvent, and put it into inputData.

However, there are two problems:
1) when I cast this object into InputEvent, it ret

[2020-07-05 01:21] bijiezhu commented on #483
@jstarry

[2020-07-05 05:43] pickfire commented on #1129
Yes, not desirable for non primitive type but it is desirable for primitive types, that is the reason why standard library differentiate between `unwrap_or` and `unwrap_or_else`.

What you said for the rest does seemed to make sense.

What happens if people have a mut ref? Will there be sort of foot gun here?

[2020-07-05 05:45] derust opened #1377 "yew-router/examples/minimal fail to build"
~/yew/yew-router/examples/minimal$ cargo web start
Compiling yew v0.17.2 (/home/user/yew/yew)
error: failed to run custom build command for `yew v0.17.2 (/home/user/yew/yew)`

if the cargo-web have problem with yew, is there other ways to run the example?

[2020-07-05 06:19] philip-peterson commented on #1377
Still needs a proper fix PR, but I got it to compile with:

+Cargo.toml:
[code]

Then `wasm-pack build --dev --target web .`

[2020-07-05 06:40] kellpossible commented on #1210
FYI we have `send_future` now for `ComponentLink` and `AgentLink` in the `yewtil` crate (https://github.com/yewstack/yew/blob/master/yewtil/src/future.rs#L62), does that cover this usecase?

[2020-07-05 08:23] philip-peterson commented on #1250
I got this branch to work locally after changing a few things:
* used local, `master` clones of yew, yew-router, and yew-styles
** this required that yew-styles was referencing the local yew in its `Cargo.toml` as well
* re-ordered the routes so that `/` is at the bottom
* removed some references to yew-styles components (but this might not have been necessary)

I suspect this is may have been rel

[2020-07-05 13:47] dancespiele opened #1378 "yew throw error when try to render svg in a vnode props after Mouseevent is triggered"
**Problem**

I have a component which I pass a vnode in one of its props, in that it has a svg inside of a div tag,
that div tag has a onclick event. Until this point it works and the svg is shown. Now I trigger the onclick event, and I get this error:

[code]
* If I put a text for example instead of the svg, it works without get any error.
* If I use the same logic outside of the props it works w

[2020-07-05 14:11] siku2 commented on #1378
Could you please add a link to the relevant code for the component?

[2020-07-05 14:12] dancespiele commented on #1378
@siku2  I added already `crate/src/page/modal_page.rs`

[2020-07-05 15:27] jstarry commented on #1210
Yeah, sounds good, thanks for pointing that out!

[2020-07-05 15:27] #1210 closed

[2020-07-05 16:49] ZainlessBrombie commented on #1129
Rust will not allow it - it is not possible to have a mut ref + any other ref out there at the same time.
It's plainly not possible (except for very unsound unsafe code).

[2020-07-05 16:50] ZainlessBrombie commented on #1129
Fair

[2020-07-05 17:45] muhuk commented on #905
I have found some sort of a solution that works in my use case.  I need to pass a non-cloneable struct from parent to child.  So I am now passing a callback with `IN` of `ComponentLink<Child>` to child in props.  Then in child's `create` I pass a clone of its link to parent.  Just wanted to share.

[2020-07-06 05:43] IThawk commented on #1366
how to run .wasm file?

[2020-07-06 07:03] teymour-aldridge commented on #1366
You can’t run it directly – you need to import it from Javascript and then run it.

You can use `wasm-pack` to automatically generate the boilerplate code to do this.

You might also find the starter templates useful.

https://github.com/yewstack/yew-wasm-pack-template <https://github.com/yewstack/yew-wasm-pack-template>

https://github.com/yewstack/yew-wasm-pack-minimal <https://github.com/yewsta

[2020-07-06 07:24] philip-peterson opened #1379 "Static Site Generation (SSG) Brainstorming"
I wanted to get the ball rolling on thoughts regarding SSG, or Static Site Generation. I feel this will be the first step to supporting isomorphic apps, and double as a nice interface for using SSR. Also, I believe isomorphism can be wholly contained within the SSG paradigm to form one consistent interface.

To kick us off, I started a simple skeleton that represents how an SSG app within Yew woul

[2020-07-06 12:47] liquidblock commented on #1346
I was in need of server send events as well. Therefore i created this little library: https://github.com/liquidblock/yew-sse
Unfortunately i did not test nor document it (and i did not create an example), but used it like this:
[code]
`self.sse` is of type `yew_sse::services::sse::EventSourceService` and initialized with `EventSourceService::new()`.
`self.task` is of type `Option<yew_sse::services

[2020-07-06 12:48] jstarry commented on #1351
Duplicate of https://github.com/yewstack/yew/issues/221

[2020-07-06 12:48] #1351 closed

[2020-07-06 12:53] jstarry opened #1380 "TodoMVC example should use yew-router"

[2020-07-06 12:58] jstarry opened #1381 "Link to examples from relevant sections of Yew docs"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1381)

#### Description
I'd like to see more of a connection between the Yew docs and the examples we have.

For example, If I'd like to know how `NodeRef` works, I should be able to easily find the `node-ref` example.
Similarly, if I'm looking at th

[2020-07-06 13:12] teymour-aldridge commented on #1381
I think this would be cool.

[2020-07-06 19:27] philip-peterson commented on #533
Just saw this on my feed today, a Sass compiler built in pure Rust: https://github.com/connorskees/grass

[2020-07-07 00:57] philip-peterson commented on #1250
Looks like there's no PR to make; all you should need is to re-order your routes and use this configuration:

[code]

[2020-07-07 01:50] philip-peterson commented on #1250
@jstarry we can probably close this issue.

[2020-07-07 04:37] philip-peterson commented on #1269
Been thinking about this some more...

I'm not sure whether this is possible. It seems like macros are not able to parse arbitrary UTF8 sequences from files... which some custom tag names have (within restriction). That said, the capitalization issues are probably at least something we can fix.

This isn't quite true, dynamic tags have to begin with a non-hyphen. There is some question though abou

[2020-07-07 11:30] siku2 commented on #1269
@philip-peterson Just a quick clarification:

I was talking about how it's currently implemented, not how it should be. You can see the runtime check that is inserted here: <https://github.com/yewstack/yew/blob/151b5b7db954e6d3f5f6ad5be0c0991131adde26/yew-macro/src/html_tree/html_tag/mod.rs#L110-L124>

<br/>

You're right, I mentioned that literal tags need to consist of valid rust identifiers. If

[2020-07-07 11:39] teymour-aldridge commented on #1269
I personally think that dynamic tags aren’t necessary and are just unnecessarily increase binary sizes.

IMO they’re a “solution in search of a problem.”

They make Yew unsafe because the statics of a program don’t line up with the dynamics (by their nature) which makes it easy for mistakes to creep in (this isn’t really idiomatic Rust which I think is fundamentally about being safe – safe in the

[2020-07-07 12:16] strasdat opened #1384 "Create full feature battery-included tutorial for yew"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24500%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1384)

**Create full feature battery-included tutorial for yew**

Should include:
 - Fool proof step by step guide to install relevant dependencies.
 - Guide to setup a new yew project (ideally without the need of cloning a repo).
 - Guide how to bu

[2020-07-07 12:31] siku2 commented on #1269
@teymour-aldridge Just to clarify: I don't particularly care whether Yew supports dynamic tag names or not - I'm playing the devil's advocate here. This discussion also isn't only about dynamic tag names. The same thing is possible with `VTag::new` but with even less restrictions.

Here's an example of something that dynamic tags make possible:
Let's say we have a typography component for headings

[2020-07-07 13:24] teymour-aldridge commented on #1269
Thanks for this explanation – it’s really helpful!

I also now see why dynamic tags can be useful.

[2020-07-07 14:55] strasdat opened #1385 "Frontend backend communication?"
#### Question

What are the best alternatives to communicate from front-end rust/yew to back-end rust? Somewhere I read that some folks use GraphQL. But I'm wondering whether there is a more direct, more rusty approach...

Am I just unaware of corresponding technology, or do we have to invent something?

[2020-07-07 14:59] teymour-aldridge commented on #1385
Sascha Grunert has published a [project building a web application](https://github.com/saschagrunert/webapp.rs) with Yew which uses the Cap'n Proto protocol for data transfer which is really neat.

Yew also provides a [Fetch service](https://docs.rs/yew/0.17.2/yew/services/struct.FetchService.html) and [WebSocket service](https://docs.rs/yew/0.17.2/yew/services/struct.WebSocketService.html) which

[2020-07-07 16:40] siku2 commented on #1378
@dancespiele I finally got the chance to take a look, sorry for the delay!

The issue is actually in your `Modal` component. Its `onclick` listener fires when you click on the icon and executes the following code:
https://github.com/spielrs/yew_styles/blob/no-render-svg-vnode-props/crate/yew_styles/src/components/modal.rs#L181-L192

The issue here is the call to `class_name()`. You see, it works p

[2020-07-07 18:28] dancespiele commented on #1378
Thanks a lot @siku2! I will try to work around as you suggest and in case that I can I will close the ticket.

[2020-07-07 19:39] philip-peterson commented on #1269
I agree with what you say @siku2 , having the macro would be useful for construction using `VTag::new`. If we do have a `tags` module though it would be best IMO to have the tag names lowercased, because then when you see an title cased symbol you’ll know it’s a type / component.

For the example provided with the dynamic tag name, would that value passed into `@{}` not be a string currently? If i

[2020-07-07 21:04] dancespiele commented on #1250
I will check if with the new version works, otherwise the issue is not the configuration or the order of the router, even I can work around including the component inside of another

[2020-07-09 02:20] eugene-beliaev opened #1388 "Watch mode?"
#### Question
Hey everyone!
Is there a way to run the build of the project in watch mode? I.e. when I change the code, I don't need to run build command again as it rebuilds automatically.

#### What I've tried (optional)
I searched related issues in the repo but didn't find

[2020-07-09 07:24] teymour-aldridge commented on #1388
You can set up a "bundler" such as Webpack which will handle this for you.

I'd suggest having a look at one of the [starter templates](https://github.com/yewstack/yew-wasm-pack-template) for how to do this.

[2020-07-09 12:50] codec-abc commented on #1384
I am also very interested in a tutorial with Yew. While I think a step by step is good for getting started easily it would be a great value to also insist on the bigger picture. I found my way around the tooling and environment and my project is running I lack the vision on how to map my problem to Yew. So a few design rules about how to split an app into components and use agents would help peopl

[2020-07-09 19:12] dancespiele commented on #1378
I changed to class_list and works. Thanks @siku2 !

[2020-07-09 19:12] #1378 closed

[2020-07-10 00:15] strasdat commented on #1384
@codec-abc

Please feel free to modify my proposal/wording:

Guide to setup a new yew project (ideally without the need of cloning a repo).
Guide how to build the web-app and serve it locally.
Guide how to iterate / debug code changes.
Introduction to component and html in incremental / interactive fashion.
(from hello world towards a more complete app such as TODO list.)
The tutorial should rely

[2020-07-10 06:47] philip-peterson commented on #1377
@derust this should be fixed in #1401, plus will be easier to run the router examples.

[2020-07-10 07:19] codec-abc commented on #1384
Unfortunately, I cannot earn the bounty, at least not for all the points you cited, because I don't master Yew well enough to do it. What I wanted to say is that IMO the tutorial should be a 2 parts one. The first one should be how to get started (the doc does a good job to explain it already bit could be refined) and the second should be how to design and structure a Yew application using Message

[2020-07-10 10:43] hgzimmerman commented on #1365
What server are you using to serve the requests?

The server needs to be able to serve the `index.html` (which should then load any other web content - wasm blobs, css, etc...) when you GET a route that the frontend can route. The server needs to reply with the `index.html` instead of 404ing when it can't find an item in order for the router to work. There are example servers in the `yew/yew-route

[2020-07-11 00:01] intendednull opened #1405 ""error: type parameters with a default must be trailing" when deriving Properties"
**Problem**

Unable to use default type parameters when deriving Properties.

**Steps To Reproduce**
[code]

**Expected behavior**
Able to use default type parameters in properties.

**Screenshots**
[code]

**Environment:**
 - Yew version: `master`
 - Rust version: `nightly`

**Questionnaire**

- [ ] I'm interested in fixing this myself but don't know where to start
- [ ] I would like to fix and I

[2020-07-11 00:19] intendednull commented on #1405
This seems to be the offending sections
[code]

[2020-07-11 00:41] intendednull commented on #1405
It may not be possible to support this, a better error message would definitely help though!

[2020-07-11 06:02] EndilWayfare opened #1406 "Agent Ergonomics: `Box<dyn Bridge<A: Agent>>` is offputting"
One of the friction-points I've encountered with Agents is the type boilerplate that has to go into `Component`s that connect to them. It's a relatively petty thing, but something about repeating `Box<dyn...` rubs me the wrong way.

The first-order solution I thought of was a type alias:
[code]
The naming convention seems nicely parallel

The recent relaxing of `Agent::{Input, Output}` trait bound

[2020-07-11 14:30] p-alik commented on #1016
I run in the issue also. What causes the issue and how it could be solved?

[2020-07-11 15:49] teymour-aldridge commented on #1016
My suspicion is that is an error caused by rules around how ES5 (a Javascript specification – not sure if it's ES5 of ES6) defined Javascript modules. I'd suggest making sure the relevant  `<script>` tags have type "module" i.e. `<script type="module">` and checking if that makes a difference?

[2020-07-11 16:28] p-alik commented on #1016
The exception disappears if this line
https://github.com/yewstack/yew/blob/1e609b4af86abd7e1a10e0be18ed10e4588aacc9/examples/todomvc/static/index.html#L10
is modified as suggested. But in this case my browsers (Firefox 75.0, Chromium  81.0.4044.113) show an empty page.

[2020-07-12 06:15] jstarry commented on #1406
@EndilWayfare I agree that the `Box<dyn ...>` syntax doesn't look very pretty. But I think this is a Rust syntax issue for trait objects as well as user preference thing. Do you think this could be solved by introducing type aliases in your own app?

[2020-07-12 06:16] #1405 closed

[2020-07-12 06:17] EndilWayfare commented on #1406
Yeah, that's what I'm doing right now. My broader question is whether a trait object is actually necessary. It definitely is with the current design, but I can't help but think that there's some shenanigans that would make static dispatch work.

[2020-07-12 07:23] jstarry commented on #1406
@EndilWayfare ah, I see!

Yeah, that sounds like a worthwhile endeavour! @mkawalec would you like to help with these shenanigans 😉

[2020-07-12 15:34] lukidoescode commented on #533
CSSinRust is now compatible with yew 0.17.* (https://crates.io/crates/css-in-rust). Check out https://github.com/lukidoescode/yew-fullstack-boilerplate on how to use it 😉 I'd appreciate any PRs.

[2020-07-13 06:52] jstarry commented on #483
Hey there @bijiezhu, sorry for the delay! Looks like @XiNiHa went ahead and made a PR so this should get fixed soon 👍

As for your problems:
1. `Element` represents the input element itself, so it won't be castable to an event
2. Both websys and stdweb expose data through trait impls. In `stdweb` [you will notice](https://docs.rs/stdweb/0.4.20/stdweb/web/event/struct.InputEvent.html#impl-IEvent) t

[2020-07-13 06:56] #483 closed

[2020-07-14 08:34] alexschrod opened #1412 "Add support for shallow rendering"
Shallow rendering is very useful for unit testing components in isolation. You can read [React's documentation on it](https://reactjs.org/docs/shallow-renderer.html) to get a better sense of what exactly it is, but a quick explanation is that it renders the component, but not any child components. In other words, if component `Foo`'s rendering is
[code]
then a shallow render would output
[code]

*

[2020-07-14 08:40] alexschrod opened #1413 "Expose component testing code to outsiders"
I wanted to test my component's output, and I was informed of `TestLayout`:
https://github.com/yewstack/yew/blob/a4eb9650825c2d9f808e1b811011b7773e1ddf7a/yew/src/virtual_dom/mod.rs#L327

Unfortunately, it's private to the crate, so it cannot be used by outsiders. Consider making `TestLayout` public or possibly create something more suitable for general use that could help with testing component ou

[2020-07-14 08:44] jstarry commented on #1412
Thanks @alexschrod! This sounds really useful and I appreciate your interest in implementing it yourself!

I would start by describing what you think the API would look like so we can agree on that before implementation.

When you get to the implementation, here are some tips:
- `VComp::apply` is where component nodes are reconciled .
- `Scope::mount_in_place` is where we queue tasks for component

[2020-07-14 08:46] jstarry commented on #1413
Thanks for the issue!

I think it makes sense for this functionality to live in a `yew-test` crate. It can start with a simple with a way to render a component to an empty dom and assert the shape of the resulting html.

[2020-07-15 07:21] alexschrod commented on #1412
I had written a bunch of stuff here, but Windows decided to pull the rug from under me and reboot, causing it all to go \*poof\*!

The gist of it was that I think we should try to emulate [Enzyme's shallow API](https://enzymejs.github.io/enzyme/docs/api/shallow.html) as closely as possible, while sticking to Rust idioms over JS ones, obviously.

[2020-07-15 23:55] EndilWayfare opened #1414 "`mount_to_body` calls `Component::create` twice?"
**Problem**
Root component is created twice when page first loads.

This causes havok with synchronizing initial load of agents. I have a configuration-reading agent that runs at startup. It reads configuration data which can fail, so I want to initialize a global-error-reporting agent and a subscribed component that lists off the errors as they come in. I don't want the configuration-reader to st

[2020-07-16 00:03] EndilWayfare commented on #1414
UPDATE: Just confirmed that the `destroy` function does not get called for the first instance of the component! Presumably, it's still sitting in there somewhere OR doesn't get properly registered with the resource-reclamation system.

[2020-07-18 15:52] siku2 opened #1418 "Proposal: Replace bash scripts with a Rust CLI"
## Proposal

Currently Yew uses a number of bash scripts for various maintenance tasks. Examples include the `run_stable_checks.sh` and `examples/build.sh` scripts.
This is problematic for Windows contributors who either don't have bash installed or don't know that they do (for example through git). The scripts might also depend on executables that aren't typically found in a Windows environment.

[2020-07-19 04:30] jstarry commented on #1250
I'm going to close this @dancespiele, feel free to reopen if you're still having issues!

[2020-07-19 04:30] #1250 closed

[2020-07-19 09:58] jstarry commented on #1414
@EndilWayfare I just tried this and it works fine, only a single create call. Perhaps there's something else going on in your app that's causing this?

[2020-07-19 09:59] jstarry commented on #1366
@IThawk feel free to open a new issue if you get stuck again! Also feel free to join our Discord server: https://discord.gg/VQck8X4

[2020-07-19 09:59] #1366 closed

[2020-07-19 10:18] jstarry commented on #1034
This was implemented in 0.17.0 but was reverted in 0.17.2 due to expectations from developers that renders are always done after an update. Details here: https://github.com/yewstack/yew/issues/1364

[2020-07-19 10:18] jstarry commented on #1034
@kellpossible that does sound like a nice feature, I think we should have a separate issue for that

[2020-07-19 10:18] #1034 closed

[2020-07-19 10:22] jstarry opened #1420 "Update MSRV to 1.45.0 and remove proc-macro-hack"
### Description

Rust 1.45.0 allows proc macro invocations in expressions which means that Yew doesn't have to use the `proc-macro-hack` crate to enable this feature anymore.

Not sure what the impact of removing `proc-macro-hack` will be, but it could potentially improve the compilation performance a bit.

[2020-07-19 10:46] jstarry commented on #1385
Yeah, I think it's on you to pick your transport protocol (http or ws), request protocol (jsonrpc, graphql, etc), and encoding (json, binary, capn proto). Yew has wrappers around `fetch` and `WebSocket` which could be used to build a request protocol but they aren't needed. Ideally the rust / wasm ecosystem evolves such that `graphql`, `jsonrpc`, etc client libraries support wasm targets by buildi

[2020-07-19 12:42] siku2 commented on #864
I hope it's alright if I close this in favour of #864

[2020-07-19 12:42] #864 closed

[2020-07-19 12:59] jstarry commented on #864
Ah, thanks!

[2020-07-19 14:35] siku2 opened #1421 "Update and add issue links to the docs"
The documentation contains a few references to issues from the now archived [yewstack/docs](https://github.com/yewstack/docs) repository.
Since the docs repository is read-only, the same issues should be re-created here and the links in the docs should be updated to point to the new issue.

## "Contribute to our docs" links

- [ ] Page: [Components Lifecycle Diagram](https://yew.rs/concepts/compon

[2020-07-19 22:20] EndilWayfare commented on #1414
Weird. Everything is configured based on the yew.rs Quick Start.

I'm including the app in `index.html` like this
[code]

Other than that, I'm using `wasm-pack` with `webpack`. Any idea where I might look for where things start going wacky?

[2020-07-20 14:38] teymour-aldridge opened #1426 "Add documentation for the WebSocket service."
**Describe the feature you'd like**
There's currently no documentation for the WebSocket service. Some documentation would be useful! Ideally this would explain to people how they can setup WebSocket connections and manipulate them. An explanation using short code snippets would be useful.

**Additional context** _(Optional)_
There's already some API documentation – the documentation we're after i

[2020-07-20 16:41] AgarwalPragy opened #1428 "Add documentation for html_nested! macro"
This is about:
- [x] Undocumented code

**Problem**
#843  introduces a macro `html_nested!` that adds support for iterable nested children access.

There is no documentation on yew.rs for the the `html_nested!` macro

-- --
Macro is currently hidden from docs
[code]
because

-- --

**Example** - faulty code using `html!`

[code]

above code gives the error:
[code]

To fix, use `html_nested!`

[cod

[2020-07-21 08:58] Clementol opened #1432 "Yew nextjs"
#### Question
Please will yew follow the pattern of reacjs and nextjs.

[2020-07-21 13:38] siku2 commented on #1101
I would like to continue the discussion on this as there have been numerous users with the same problem.
A lot of users are confused by the `RouteService::set_route` method which changes the URL in the browser but doesn't update the router.
I believe this is partially a documentation issue but also an unfortunate name choice for the method. The docstring does state "Sets the **browser's url** bar

[2020-07-22 11:29] #1331 closed

[2020-07-22 21:02] DerKnerd opened #1438 "Fetch request gets aborted immediatly"
**Problem**
When I try to execute a fetch request using the `FetchService` the request gets aborted immediatly.

**Steps To Reproduce**
You can use this code to reproduce the issue:

[code]

**Expected behavior**
The request should resolve with the data.

**Screenshots**
 -

**Environment:**
 - Yew version: 0.17.2
 - Rust version: 1.44.1
 - Build tool, if relevant: `wasm-pack`
 - Web library: `web

[2020-07-22 21:39] siku2 commented on #1438
`FetchService::fetch` (and other methods) return a `FetchTask` which controls the lifetime of the request. When it is dropped, the request is cancelled. This is by design but sadly it isn't documented very well.

The solution is to store the `FetchTask` in your component (use `Option<FetchTask>` if you don't want to create the fetch request in the `create` method).

[2020-07-22 21:42] EndilWayfare opened #1439 "Correct way to handle `NodeRef` reassignments?"
#### Question
I'm using refs to register event listeners for non-Yew-supported event types. Following the `node_refs` example, it makes sense to use the `rendered` method to do setup on first render. But what happens when the value of the ref changes? E.g. if the `Node` being `ref`d is rendered conditionally? In React, this is where I would reach for a "callback ref" passed a class method or a fun

[2020-07-22 23:33] siku2 commented on #175
I'm unable to reproduce this with Yew 17.2. Of course that's a silly thing to say because it's been over two years since this issue has been opened.

I will admit that I have no idea what caused this issue or how (and if) it was explicitly fixed.
I took a look at the code that was used at the time and it doesn't seem possible to me for such an error to have occurred.
That isn't to say that this is

[2020-07-22 23:33] #175 closed

[2020-07-23 00:19] philip-peterson commented on #1414
@EndilWayfare It would be helpful if you could post a link to a branch or commit on Github to help reproduce this issue.

[2020-07-23 16:54] hamza1311 opened #1441 "Ability to read HTML code from a file"
**Describe the feature you'd like**
Ability to read HTML code from a file with macro like `html_from_file!` that parses from HTML (or similar) file. In case of invalid input, it fails at compile time.

**Is your feature request related to a problem? Please describe.**
The current html! *really* messes up IDEs. Although this can be solved with an IDE plugin which will also be needed for reading fro

[2020-07-23 17:43] DerKnerd commented on #1438
Thank you, that solved the issue. Works like a charm, btw. awesome framework :slightly_smiling_face:

[2020-07-23 19:26] siku2 commented on #1438
I'm gonna go ahead and close this issue then

[2020-07-23 19:26] #1438 closed

[2020-07-24 03:46] happysalada commented on #1127
Does the title of this issue mean that there is a way for a component to receive a state when connecting to a worker agent?

I have been looking for a way to have a synchronous connection, exactly for the purpose of receiving initial state. I couldn't find anything, in the examples and the code that would enable a worker agent to do this.

to be clear, I looked at the multi-threaded and the pub_su

[2020-07-24 03:52] jstarry commented on #1127
@happysalada there isn't currently a way. But it would be a very nice feature to add!

[2020-07-24 05:11] alexschrod opened #1444 "Incorrect error output for mistakes in HTML fragments"
**Problem**
The macro parser doesn't correctly handle errors in HTML fragments.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Put the following into a `html!` invocation:
[code]
2. Attempt to compile the code
3. See that the error you get is "error: unexpected token"

**Expected behavior**
If you look at the code in `yew-macro\src\html_tree\html_list.rs`,
https://github.com/yewstack/

[2020-07-24 05:14] alexschrod commented on #1444
My *guess* is that this happens because something in here says "I'll handle this one" from their `peek()` calls, but then shouldn't actually have done so.
https://github.com/yewstack/yew/blob/9aff041c536afda436bf5879b482c1193dbae0d1/yew-macro/src/html_tree/mod.rs#L41-L72

[2020-07-24 07:54] intendednull commented on #769
Imo it makes most sense to follow struct shorthand:
[code]
I'm not really a fan of implicit values like `hidden`. Implementing them seems a bit unnecessary, just to avoid writing `hidden=true` (which reads better anyways).

[2020-07-24 13:23] alexschrod commented on #1444
Also, while it's only bad for compilation times, due to all the peeking, this code effectively parses everything twice, doesn't it? Plus it may also partially parse things that aren't even the thing in need of parsing.

[2020-07-24 13:28] siku2 commented on #1444
You're right, unfortunately Yew performs a lot of duplicate parsing. This is something I've thought about a lot and I think our best bet is to get rid of the `Peek` traits entirely. It should be possible implement this using a few lookaheads to distinguish between multiple variants.
This is a huge endeavour though and as such probably deserves it's own issue.

[2020-07-24 19:07] philip-peterson commented on #1418
While we are tackling this with #1419, just for the sake of discussion I'd like to throw out the idea of using rhai for some of the simpler tasks. https://docs.rs/rhai/0.17.0/rhai/ Rhai is a rust-based scripting language that has a slightly different syntax but shares many of the same ideas and is more lightweight than Rust. It's not necessarily ready for prime time, but worth looking into (IMO) i

[2020-07-24 22:25] siku2 commented on #1365
Closing because this question seems to have been answered adequately. If you have any further issues or questions, don't hesitate to open a new issue.

[2020-07-24 22:25] #1365 closed

[2020-07-25 09:49] alun opened #1446 "Recommended way to format html and rust code within the `html!` macro"
#### Question

What is the recommended way to format html and rust code within the `html!` macro invocation?

#### What I've tried (optional)

rustfmt 1.4.14

[2020-07-25 13:33] siku2 commented on #1446
Sadly Rust doesn't provide a way for macros to format the code they're given.
The only option right now is to format the code by hand.

For the Rust code within the macro there's a trick you can use that might help. You can copy the code out of the macro to a normal function anywhere in your code and run `cargo fmt`. Of course you won't be able to compile this code but rustfmt can still format it.

[2020-07-25 17:07] alun commented on #1446
I'm seeing some relevant discussion here https://github.com/rust-lang/rustfmt/issues/3434
I looks like people suggest to add

[code]

With my current rustfmt version `skip` looks to be a default behaviour. Maybe there is a way to enable it explicitly via config.
Although I don't see anything related in the doc https://rust-lang.github.io/rustfmt/?version=master&search=macro

[2020-07-25 17:11] teymour-aldridge commented on #1446
The problem is that `rustfmt` can format *Rust* programs, but it has no idea as to how to format the contents of procedural macro invocations.

[2020-07-25 21:41] MTRNord opened #1449 "Uncaught RangeError: Maximum call stack size exceeded"
**Problem**
Well, I get the error that's in the title but wasn't able to narrow it down. I have a stacktrace https://paste.ubuntu.com/p/jb226bFWrn/ but I am not sure how useful it is. (It is 4382 lines therefor in the paste)

**Steps To Reproduce**
Steps to reproduce the behaviour:
That's also not 100% certain. I know it is because I use a public agent/worker and it happens after an unknown amount

[2020-07-25 21:43] MTRNord commented on #1449
I do know for certain that it happens with this app https://github.com/daydream-mx/Daydream/pull/18/commits/024552abb7fad7766ac403152d69dde59921f6e8 (Run it with first installing cargo-make and then running `cargo make run`. Also a quick npm install is required. All rust deps get installed automaticly). If you want to actually test it by running it you will need a https://matrix.org account. (Its

[2020-07-25 22:19] hamza1311 opened #1450 "The event types passed to `on*` callbacks are completely documented"
This is about:
- [ ] A typo
- [ ] Innaccurate/misleading documentation (e.g. technically incorrect advice)
- [x] Undocumented code
- [ ] Outdated documentation
- [ ] Other

**Problem**

The event types passed to `on*` callbacks are completely documented. The source for these can be found [here.](https://github.com/yewstack/yew/blob/master/yew/src/html/listener/listener_web_sys.rs)

**Details about

[2020-07-25 22:33] hamza1311 opened #1451 "Allow use of for loops with `for .. in .. { ... }` syntax in `html!`"
**Describe the feature you'd like**
Allow using for loops like:
[code]

**Is your feature request related to a problem? Please describe.** _(Optional)_
Current solutions hurt readability when used inside deeply nested html and imo, aren't that concise.

**Describe alternatives you've considered** _(Optional)_
There are two alternatives to this (mentioned [here](https://yew.rs/docs/concepts/html/li

[2020-07-26 10:34] #1444 closed

[2020-07-26 11:31] siku2 opened #1453 "Make it easier to run benchmarks"
## Problem

The pull request template asks people to open a pull request against a different repository and add a link to said PR. A GitHub Action workflow then runs the benchmarks and posts a comment with the results. At least it would do that if it didn't fail at the latter because it doesn't have sufficient permissions to comment.

We also have the same benchmarks running in this repository whe

[2020-07-26 12:28] AgarwalPragy opened #1454 "Make yew's #[derive(..)] macros re-exportable."
**Describe the feature you'd like**

Consider the following structure of nested crates common to a project:
[code]
The `common` crate re-exports `yew` for feature crates to use

The features crates use `yew` via the common crate:

**Current behavior:**
The re-exported derive macros (`#[derive(Properties)]`) don't work, unless the feature crates explicitly include `yew` in their respective Cargo.to

[2020-07-26 18:17] PatrickMcLennan opened #1455 "'no SubmitEvent in `events' -- I can't seem to find the SubmitEvent."
#### Question
I need to get the SubmitEvent in order to perform a `preventDefault`  Following the docs [here](https://docs.rs/yew/0.6.0/yew/events/struct.SubmitEvent.html), I would assume that...

`use yew::events::SubmitEvent`

would work, and it does not.  Where can I find this struct in order to define it properly?

#### What I've tried (optional)
`use yew::events::SubmitEvent`
`use yew::events

[2020-07-26 19:02] siku2 commented on #1455
`SubmitEvent` only exists in `stdweb`. If you're using `web-sys` the appropriate type is `FocusEvent`. See [`GlobalEventHandlers.onsubmit`](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onsubmit).

We'll hopefully have better documentation for the event types soon (#1450)

[2020-07-27 19:18] teymour-aldridge commented on #1450
A table under the "Listener" header in `docs/concepts/html/elements.md` would be great!
https://github.com/yewstack/yew/blob/master/docs/concepts/html/elements.md#listeners

[2020-07-30 14:53] #1450 closed

[2020-07-30 15:38] siku2 commented on #1455
#1450 has been resolved (but the new documentation isn't deployed to `yew.rs` yet). Closing this.

[2020-07-30 15:38] #1455 closed

[2020-07-30 19:54] siku2 opened #1460 "Add a section explaining web-sys to the documentation"
This is about:
- [ ] A typo
- [ ] Innaccurate/misleading documentation (e.g. technically incorrect advice)
- [ ] Undocumented code
- [ ] Outdated documentation
- [x] Other

**Problem**

A lot of users learn about `web-sys` for the first time through Yew. It appears that a lot of first-time users aren't aware of how it can be used to interact with Javascript.

Unfortunately the official resource on

[2020-07-30 21:20] slushy-chivalry commented on #1101
What about the way [router_link](https://github.com/yewstack/yew/blob/master/yew-router/src/components/router_link.rs) does it? It doesn't feel too verbose to me (perhaps just me) and avoids hard-coding route strings.

[code]

[2020-08-01 12:11] tuckerthomas commented on #1263
Any chance I can take a look at this?

[2020-08-02 11:13] mir-smith opened #1461 "Example "game_of_life" has mismached "cellules_width""
**Problem**
In "examples/game_of_life/src/lib.rs" the "Model" instance created at line 161 has the value 53 for "cellules_width" and the length calculation of the "cellules" vector. But the CSS expects a width of 50.

**Steps To Reproduce**
Clear the grid and draw a "blinker" (three adjacent horizontal or vertical live cells). Three vertical cells all die. Three horizontal cells do blink but in an

[2020-08-02 18:52] #1461 closed

[2020-08-02 19:33] ctron opened #1463 "Provide `batch_callback_once` in `Scope`"
**Describe the feature you'd like**

For the `callback` method of the `Scope` struct a method named `callback_once` exists, which accepts an `FnOnce` parameter.

I think a similar method (e.g. `batch_callback_once`) should be provided for the `batch_callback` function.

**Is your feature request related to a problem? Please describe.** _(Optional)_

A closure which gets called only once, makes is

[2020-08-02 19:47] siku2 commented on #1463
Agreed, since we already have the `callback_once` method I see no reason why we shouldn't provide the same for `batch_callback`.

[2020-08-03 00:02] jkelleyrtp commented on #1026
Hey all, just made the macro. I didn't see it anywhere in the crate, so here's the source code if anyone wants to drop it in.

[code]
Here's how I'm using it in my yew components:

[code]

I think this puts the boilerplate at react levels which makes me a very happy camper.

[2020-08-03 11:38] PatrickMcLennan commented on #1455
Thanks for the answer / clarification @siku2 .

[2020-08-04 05:51] jkelleyrtp commented on #1384
Hi, I'd be very happy to take this on. I use Yew a lot, and parts of it has actually crept into my day-job.

Here's how we use Yew:

- wasm-pack
- wasm-bindgen

I'm thinking about making the whole thing in markdown so we can either produce a book.toml or as an addendum to the current Yew gitbook.

[2020-08-04 16:03] kellpossible commented on #1281
I think the docs might still need to be updated for this

[2020-08-04 22:57] jkelleyrtp commented on #1384
Here's what I've got so far, with big plans to add in more later.
https://www.notion.so/Tools-287da281a74d4bc1bc2ff3b4e9372e86

[2020-08-05 00:36] AndrewMorsillo commented on #576
I'm very new to rust, just starting to learn and investigate yew but I have plenty of react/TS experience and (IMO) the best thing to ever happen in the JS/TS world for state management is mobx-state-tree. It's worth a look at how mobx and mobx-state-tree work. https://mobx-state-tree.js.org/intro/philosophy

IMO mobx-state-tree is light years ahead of the redux pattern. Like not even close. There

[2020-08-05 19:02] guslen commented on #1418
Maybe I misunderstood the intention of the issue. But it sounds as if the build script for yew when you work on it should not depend on a certain hence the os specific scripting language but something like https://github.com/sagiegurari/cargo-make to automate ci and help with setup of new devs?

[2020-08-05 20:02] sportfloh commented on #1388
This could also be accomplished with cargo-watch and a small shell script
[code]

[2020-08-06 19:26] siku2 commented on #1281
@kellpossible, totally forgot about that.
Fix: #1469

Thanks for bringing it up

[2020-08-06 19:36] siku2 commented on #1418
I haven't had the chance to use `cargo-make` yet, is it mature enough to handle more complex tasks?

Yes, that's what I had in mind as well. Separate tools for different purposes.

If cargo-make is capable of handling the task it would make for a much better developer experience than having to compile an entire CLI first.

[2020-08-07 07:25] guslen commented on #1418
@siku2 it seems pretty stable for whatever in Rust can be considered stable :)
that's the official repository https://github.com/sagiegurari/cargo-make . I haven't had the chance to use cargo-make yet either. But judging by the number of features and length of documentation it seems pretty solid.

[2020-08-08 14:30] #221 closed

[2020-08-09 00:58] bytebuddha opened #1476 "Add support for std::fmt::Debug inside html macro expressions"
Hello, first i really love this project, great work! I'm new to yew and i haven't come across a solution to this yet but if one already exists please let me know

**Describe the feature you'd like**
I would like to be able to choose whether to use use std::fmt::Display or std::fmt::Debug when rendering expressions in the html! macro.  For example take this code:
[code]
Provided some_variable imple

[2020-08-09 09:33] alun commented on #1446
One nice (more or less) workaround I've found : format selection as html msvsc plugin https://marketplace.visualstudio.com/items?itemName=adrianwilczynski.format-selection-as-html

[2020-08-09 11:58] Terkwood commented on #1287
There are also yew abstractions over local (and session) storage which  can be used.

- TodoMVC example https://github.com/yewstack/yew/blob/aa1a7c4e9659de6651633be4081ded3a3a8258db/examples/todomvc/src/lib.rs#L57
- docs https://docs.rs/yew/0.17.2/yew/services/storage/index.html
- a tutorial was written on dev.to https://dev.to/davidedelpapa/yew-tutorial-04-and-services-for-all-1non

[2020-08-11 12:58] kellpossible commented on #1101
Perhaps there are some ideas in this fork that I've been hacking away on that could be brought upstream?

https://github.com/kellpossible/switch-router/blob/master/src/service/mod.rs

I like this idea, and after using routes expressed as variants in my own projects, it's very productive to have IDE autocomplete, and nice to know that I won't make a typo.

[2020-08-11 15:36] testforvln opened #1477 "Web-sys examples not compatible with microsoft edgehtml"
**Problem**
Many yew code examples using web-sys cannot work on Microsoft Edge(Edgehtml)

**Steps To Reproduce**
1. Follow steps in https://github.com/yewstack/yew/blob/master/docs/getting-started/build-a-sample-app.md;
2. Open chrome, normal;
3. Open Microsoft Edge, blank page. The console shows no error message.

**Expected behavior**
The same page content as in chrome.

**Environment:**
 - Yew

[2020-08-11 21:10] siku2 commented on #1477
I don't have access to a Windows machine right now so I can't test this myself. Could you attach the contents of the network tab (a screenshot should do)?
You say "**Many** yew code examples [...]", are there examples that do work? And if so, which ones?

[2020-08-11 21:29] siku2 commented on #1476
I'm not sure about this one... This only sounds useful for debugging and personally, I've never felt the need for something like this (The console already covers most of my debugging needs).
Using `format!` doesn't feel that verbose to me and it has the benefit of being more explicit and obvious.

The new syntax also loses any potential advantage as soon as we're dealing with more than one variabl

[2020-08-12 01:57] testforvln commented on #1477
No, I have found no examples that work with edge, which is not the newly published browser based on chromium but the old one that supports the EdgeHTML standard.
The Microsoft Edge page is like below
![image](https://user-images.githubusercontent.com/1694611/89965029-4b90eb00-dc7e-11ea-9bc6-120a87455efb.png)

[2020-08-12 13:41] siku2 commented on #1477
Turns out that while EdgeHTML (> 16) supports [ES6 modules](https://caniuse.com/#feat=es6-module) (`type="module"`), it does not support [dynamic imports](https://caniuse.com/#feat=es6-module-dynamic-import).
The `wasm.js` file uses a feature from dynamic imports to generate the URL of the WASM file (`wasm_bg.wasm`) when you call `init()`. Edge, for some reason, doesn't even try to execute the fil

[2020-08-12 13:46] siku2 commented on #1477
@teymour-aldridge, what do you think about adding a section dedicated to browser compatibility to the docs?

[2020-08-12 13:58] teymour-aldridge commented on #1477
That sounds good. We might also be able to link to an external source for this :)

[2020-08-12 18:35] bytebuddha commented on #1476
Understood, I dont have much of a use for this aside from debugging so i think your right. thanks for your time!

[2020-08-12 18:35] #1476 closed

[2020-08-14 04:30] octaltree opened #1478 "std::format for application/x-www-form-urlencoded"
**Describe the feature you'd like**
I want yew::format::urlencoded::UrlEncoded<T>(T) format request to application/x-www-form-urlencoded and parse response.

**Is your feature request related to a problem? Please describe.** _(Optional)_
I don't know why this feature is not implemented.

**Describe alternatives you've considered** _(Optional)_
For my app, I implemented this with serde_urlencoded.

[2020-08-14 10:12] codec-abc commented on #1384
A few days ago I discovered @sheshbabu [tutorial](http://www.sheshbabu.com/posts/rust-wasm-yew-single-page-application/) for a single page application with Yew. To be honest, it is really good and does a good job at doing something more complex than a simple counter. I especially like that it give a way to design application and split it in smaller part as its evolves. It also gives great insight

[2020-08-14 11:29] sheshbabu commented on #1384
@codec-abc Thanks for the kind words! ❤️ Let me know how I can help 😊

[2020-08-14 11:52] codec-abc commented on #1384
@sheshbabu The mains questions here is will it be okay for you if you work end up in a tutorial? Same for the Yew developers (I think the tutorial would be a great addition but I am not a maintainer so we need to check this with them). Another question would be do you want explicit work attribution (link to the original article, etc..)?

Once these questions sorted, there will be questions about h

[2020-08-14 12:05] sheshbabu commented on #1384
@codec-abc Sure, I'm okay with it but some parts like FetchService, Agents might require rewriting or rewording. Will wait for the Yew developers' decision 😊

[2020-08-14 12:08] codec-abc commented on #1384
@jstarry @siku2 Do you have opinions on this?

[2020-08-14 12:33] siku2 commented on #1384
I love the idea of having a more complex tutorial in the documentation! @teymour-aldridge is in charge of the documentation so let's include them in this discussion as well.

Side note: if you're on Discord, we have a dedicated #documentation channel if you wish to discuss this live.

[2020-08-15 08:35] #1280 closed

[2020-08-15 13:09] jstarry commented on #1026
@jkelleyrtp this is beautiful 😢  I can't wait to use this!

To me, this was one of the main blockers for officially announcing the functional API / hooks. I'd really like to have this released inside `yew-functional` alongside the next yew release. An accompanying tutorial / blog post would be the cherry on top.

[2020-08-15 15:01] #1420 closed

[2020-08-15 15:53] jkelleyrtp commented on #1026
I can do both, just put a tutorial together for a small yew + rocket app which uses this.

[2020-08-15 16:18] jstarry commented on #1263
@tuckerthomas yeah, that would be great!

[2020-08-15 16:22] pickfire commented on #1026
The design space is quite huge, I wonder if we should just settle down with the first found method based on other existing stuff. I wish the API could be even simpler and more ergonomic.
[code]
Rather than
[code]

[2020-08-15 16:32] jstarry opened #1485 "Docs site is not redirecting properly"
#### Problem
- Navigate to https://yew.rs/docs/getting-started
- Redirects to https://yew.rs/docs/getting-started/docs in an infinite loop

[2020-08-15 16:34] jstarry opened #1486 "Sidebar titles are broken on Chinese versions"
#### Problem
https://yew.rs/docs/zh-CN/intro/
https://yew.rs/docs/zh-TW/intro/

Note the misconfigured sidebar

[2020-08-15 16:37] siku2 commented on #1486
The content also still uses the mdbook syntax instead of Docusaurus'. For instance at the bottom of <https://yew.rs/docs/zh-CN/getting-started/project-setup/cargo-web/>.

[2020-08-15 17:24] coolreader18 commented on #1026
That probably wouldn't be optimal; it isn't always clear when stuff like DerefMut triggers, which is why the impl shouldn't really have side effects. Though, you could probably have a type that implements Deref and has a `set()` method; that would probably be a very nice API.

[2020-08-15 19:04] tuckerthomas commented on #1263
Sounds good, I'll see what I can do

[2020-08-16 04:06] #1485 closed

[2020-08-16 04:06] #1486 closed

[2020-08-16 04:07] jstarry opened #1488 "Chinese docs still use the mdbook syntax instead of Docusaurus'."
The content also still uses the mdbook syntax instead of Docusaurus'. For instance at the bottom of <https://yew.rs/docs/zh-CN/getting-started/project-setup/cargo-web/>.

_Originally posted by @siku2 in https://github.com/yewstack/yew/issues/1486#issuecomment-674420791_

[2020-08-16 06:07] #1488 closed

[2020-08-17 19:21] sagiegurari commented on #1418
just saw this issue and wanted to say that i would be more than happy to help out if needed.
with cargo make you can break those scripts to tasks and sub tasks and create flows.

anything too complex to define declaratively as a task can be scripted with any scripting language you want (including bash) and have a different script implementation per OS (optional).
however, cargo-make does come with

[2020-08-17 19:46] siku2 commented on #1418
@sagiegurari, really appreciate the offer!
I'm pretty much convinced at this point that cargo-make would make a great fit for Yew.
Usually, I prefer the simplicity of "Just" but cargo-make is much more cross-platform friendly and seems more ambitious in terms of scope.
For the past week or so I've been reading into the documentation but I haven't had the chance to sit down and actually implement i

[2020-08-18 03:36] jstarry opened #1502 "NodeRef should be used in rendered method"
This is about:
- [ ] A typo
- [x] Innaccurate/misleading documentation (e.g. technically incorrect advice)
- [ ] Undocumented code
- [ ] Outdated documentation
- [ ] Other

**Problem**
https://yew.rs/docs/en/concepts/components/refs/ explains how to cast a `NodeRef` in the `update` method but the `Component` is not guaranteed to be mounted at that point. We should recommend using `rendered`

[2020-08-18 03:58] #1502 closed

[2020-08-18 08:29] sagiegurari commented on #1418
@siku2 i started a draft PR to show how to migrate, i'll probably continue it for more scripts.
tell me if it makes sense or not?
i started with run_stable_checks.sh

[2020-08-19 06:20] jkelleyrtp opened #1505 "use_state setter is *highly* unergonomic"
There's definitely some rough edges around the functional API, with some good ideas on how to make it better.

![image](https://user-images.githubusercontent.com/10237910/90598899-ec713000-e1c1-11ea-96be-e5e9167ca665.png)

A very common use case in React-land is to use the same setter in two different locations in the component. When use_state returns a box, this is impossible. It's required to wr

[2020-08-19 08:34] jstarry commented on #1505
Yeah, that's definitely a rough edge. Thanks for bringing this up, I agree with your conclusion

[2020-08-20 06:25] LironHazan opened #1507 "Cargo build failure due to `yew-macro` compilation errors"
Hey,
I tried to run the sample app by following the documentation but faced some issues:

**Steps To Reproduce**
-1. Follow the build-a-sample-app doc: https://yew.rs/docs/en/getting-started/build-a-sample-app/
Result: First failure:

C02Y504VJHD3:yew-app lironh$ wasm-pack build --target web --out-name wasm --out-dir ./static
Error: crate-type must be cdylib to compile to wasm32-unknown-unknown. A

[2020-08-20 06:29] jstarry commented on #1507
Hi @LironHazan! You'll have to update your rust version. Yew currently requires 1.42.0 or higher. The upcoming release will require 1.45.0+ so best to update to latest stable 👍

[2020-08-20 06:30] jstarry commented on #1507
You can see that the `matches` macro was added in `1.42.0` here: https://doc.rust-lang.org/std/macro.matches.html

[2020-08-20 06:31] LironHazan commented on #1507
yes sorry I just updated my version and it works!
   stable-x86_64-apple-darwin updated - rustc 1.45.2 (d3fb005a3 2020-07-31)
  nightly-x86_64-apple-darwin updated - rustc 1.47.0-nightly (32c654a97 2020-08-19)
maybe worth mentioning that in the docs? @jstarry

[2020-08-20 06:34] jstarry commented on #1507
@LironHazan for sure! where would you expect to see that? We have a badge in the readme but it seems it's not too obvious

![Screen Shot 2020-08-20 at 2 32 43 PM](https://user-images.githubusercontent.com/1076145/90725086-2f322580-e2f2-11ea-988f-98b8ef42cc6d.png)

[2020-08-20 06:40] LironHazan commented on #1507
Yeah I didn't notice the badge as I was following the docs this time (https://yew.rs/docs/en/getting-started/build-a-sample-app/) maybe add it to the docs as a pre req as well :)

[2020-08-20 06:41] jstarry opened #1508 "Specify minimum Rust version in docs"
Yeah I didn't notice the badge as I was following the docs this time (https://yew.rs/docs/en/getting-started/build-a-sample-app/) maybe add it to the docs as a pre req as well :)

_Originally posted by @LironHazan in https://github.com/yewstack/yew/issues/1507#issuecomment-677316273_

[2020-08-20 06:42] jstarry commented on #1507
Cool, created a new issue for that, thanks for the feedback!

[2020-08-20 06:42] #1507 closed

[2020-08-20 06:58] LironHazan commented on #1507
Sure! I'm excited to start using yew!

[2020-08-20 09:08] chrysn opened #1509 "WebSocket: Allow setting a protocol"
**Describe the feature you'd like**

The WebSocket browser API can indicate a particular protocol (basically a sub-protocol of WebSockets) when creating a socket. This is currently not exposed in the WebSocketService API, but should be.

**Is your feature request related to a problem?**

For implementing [CoAP over WebSockets (RFC8323)](https://tools.ietf.org/html/rfc8323), setting this is mandato

[2020-08-20 09:11] jstarry commented on #1509
No current plan, I'll create an issue for a builder-style API. The binary / text split is getting messy

Thanks for the issue and the interest in fixing 👍

[2020-08-20 09:16] jstarry opened #1510 "Redesign WebSocket API to be configurable without combinatorial explosion of API methods"
**Describe the feature you'd like**
Builder-style API for creating a `WebSocketService` in a configurable way.

**Is your feature request related to a problem? Please describe.** _(Optional)_
Every time we add a new feature to the `WebSocketService` the api method surface area can increase substantially.

**Additional context** _(Optional)_
Discussion here: https://github.com/yewstack/yew/issues/1

[2020-08-20 12:40] #968 closed

[2020-08-21 22:51] kellytk opened #1513 "Evaluate the use of tracing"
[`tracing`](https://github.com/tokio-rs/tracing) now [supports WebAssembly](https://github.com/tokio-rs/tracing/pull/946).

[2020-08-24 11:21] mkawalec commented on #947
Claiming this :)

[2020-08-24 15:32] mkawalec commented on #1122
claiming this as well, as it's going to be an integral part of https://github.com/yewstack/yew/issues/947

[2020-08-24 18:17] ori155 commented on #943
I'd like to claim that, although I'm a novice in yew so it might take me some time.
Anyway - I'll do my best :smiley:

[2020-08-24 18:18] jstarry commented on #943
Hey @ori155 actually let's hold off on this one because we may be switching to a new event delegation system.

[2020-08-24 20:54] ori155 commented on #943
Cool, I'll wait with that.
@jstarry thanks for the heads-up.

[2020-08-25 18:35] ericandre615 opened #1522 "Some Functionality to delay Component unmounting"
**Describe the feature you'd like**
I would like the ability to delay the destruction/unmounting/dropping of a Component in order to do things such as having transition animations when a component is to be removed from the DOM or hidden.

**Is your feature request related to a problem? Please describe.**
The use case I have is for transition animation when a `Component` is `exiting`.  Currently in

[2020-08-25 18:38] dancespiele opened #1523 "Get previous route (yew router)"
#### Question
does Yew Router provide to get the previous route like [react-router-last-location](https://www.npmjs.com/package/react-router-last-location)?
I haven't seen anything in the documentation about it

[2020-08-26 08:45] Mingun opened #1524 "How to create components by code for example in for loop?"
#### Question
I'm trying to create a `Menu` component similar to [nested_list](https://github.com/yewstack/yew/tree/master/examples/nested_list) example. I successfully create them, so creating menus looks good and compiler guaranties, that `<Menu>` contains only `<MenuItem>` elements:
[code]
Now I want to compose that Menu component with `TreeTable` component and add menu that can manipulate visi

[2020-08-26 08:58] Mingun commented on #903
I think, that `?` is unnecessary. Why just not allow `Option<T>` instead of `T` as attribute value and do not render attribute if option contains `None`?

[2020-08-26 10:56] siku2 commented on #903
You're right, it's not strictly necessary. We could use `Into<Option<T>>` for the attributes which would allow `attr=value`, `attr=None`, and `attr=Some(value)` but using the question mark syntax does give as a few more options.

For example, not all attributes can be optional (`key`, `ref`, boolean attributes). When using the question mark syntax we can emit a custom error message for these cases

[2020-08-26 11:11] Mingun commented on #903
For error messages seems reasonable

[2020-08-26 12:03] siku2 commented on #1523
No, the router does not keep track of the history. The state and history is handled by the Javascript [History](https://developer.mozilla.org/en-US/docs/Web/API/History) API which only allows access to the current state (that's also the reason why react-router-last-location has that big disclaimer "Last location != Previous browser history state").

You can however manually keep track of the previ

[2020-08-26 15:13] dancespiele commented on #1523
I think that is what I need. Thanks a lot!

[2020-08-26 15:13] #1523 closed

[2020-08-26 23:16] siku2 commented on #1524
You're looking for the [`html_nested!`](https://docs.rs/yew/0.17.3/yew/macros/index.html) macro which works exactly like the `html!` macro but returns the actual component type instead of `Html`.
[code]

[2020-08-27 05:17] subsys-R9boq8 commented on #1317
Whoa dude, if you hate the word _master_ that much I'm sure you can help everyone hurt by the word so much that they find it hurtful every time they see the word **tell the Oxford English Dictionary (or Star War) to remove these words**? I'm sure this project will change "master" to main or whatever if Oxford English Dictionary happily take your little advice and changed their mind.

_Slavery is a

[2020-08-27 09:03] bytebuddha opened #1526 "Router Component Authentication"
#### Question
I'm building a generic admin panel, I'm struggling implementing an authentication system that can work with the router component. In short it works by sending the browser a list of permissions then when a route is changed i can check this list and either allow the route change or redirect to an unauthorized error page.

Is there a way to do this with the Router component?

#### What

[2020-08-27 17:37] Mingun commented on #1524
Thanks for that macro! I wonder why it's not documented? When this work for single element, unfortunally, this not work for `for` loops. So this works
[code]
but this not
[code]
and this
[code]

[2020-08-27 17:41] teymour-aldridge commented on #1524
I think this has come up before. I'll create an issue calling for it to be documented if there isn't already one.

[2020-08-27 17:42] teymour-aldridge commented on #1524
We already have an issue! https://github.com/yewstack/yew/issues/1428

[2020-08-27 17:48] siku2 commented on #1524
@Mingun ah, you're right, using `for` implicitly converts the items to `Html` too.

This should work:
[code]

[2020-08-27 18:01] siku2 opened #1527 "Regression in `ToNodeIterator` for `HtmlIterable`"
**Problem**

#1452 changed the implementation of `ToNodeIterator` for `HtmlIterable` to use the helper function `yew::utils::into_node_iter`.
This cleaned up the code a lot, but it has the unfortunate consequence that it always returns `Iterator<Item=VNode>` now.
This violates an invariant imposed by the `ToNodeIterator` trait:

`T` is no longer inferred by the compiler but instead explicitly set

[2020-08-27 18:15] Mingun commented on #1524
@siku2 , thank! With small change thats work. Type should be `Vec<VChild<MenuItem>>`:
[code]

[2020-08-27 18:18] siku2 commented on #1524
oh right, forget to wrap it in `VChild`.
FYI, the fact that it wasn't working with `{ for ... }` is a bug, I opened an issue for this here: #1527.

[2020-08-27 18:25] Mingun commented on #1524
Ok, so I think that this issue can be closed, because there is already a task for documentation, and now also a bug. Thanks for you help!

[2020-08-27 18:25] #1524 closed

[2020-08-27 18:56] Mingun commented on #1527
@siku2, are you sure that you pointed to correct issue? #1415 seems unrelated

[2020-08-27 18:58] siku2 commented on #1527
Great catch, should've been #1452

[2020-08-27 20:21] #1527 closed

[2020-08-28 22:17] #1418 closed

[2020-08-29 02:48] thedodd opened #1533 "Ergonomic pattern for passing along on* callbacks to children"
**Describe the feature you'd like**
I am in the process of creating a Bulma component library for Yew. For many of the components, users will need to attached callback handlers to respond to events. There are A LOT of different event types, and I'm looking for a way to be able to collect any on* event handlers attached to the component, and pass them down to the component's concrete HTML elements

[2020-08-29 07:56] Mingun opened #1534 "Extend nested_list example with examples of runtime-generated list using html_nested!"
This is about:
- [ ] A typo
- [ ] Innaccurate/misleading documentation (e.g. technically incorrect advice)
- [ ] Undocumented code
- [ ] Outdated documentation
- [x] Other

**Problem**
Currently nested_list example shows only how to create components with restricted children type for static lists. But in many use cases list would contain dynamic data. So it is good to include example of using `htm

[2020-08-29 10:08] Mcfloy opened #1535 "Allow the usage of &str when using onclick attribute on an element."
**Describe the feature you'd like**
It would be more easy to call javascript methods by passing a string correctly encoded rather than implementing a callback using the Msg system.

**Is your feature request related to a problem? Please describe.** _(Optional)_
In my example I'm calling the Spotify API to retrieve the tracks of a playlist and display it in an table like Spotify would do. In this t

[2020-08-29 11:26] #1428 closed

[2020-08-29 12:07] siku2 commented on #1535
I can see why that can be useful in some cases but passing around Javascript code in a string violates plenty of ideals both Rust and Yew stand on with type safety being the biggest victim.

I can help you solve the lifetime issues you're running into though.
Because you didn't include the error, I'm forced to assume that you ran into something like this:
[code]

As the error points out, the issue

[2020-08-29 12:22] siku2 commented on #1533
That's something I've wanted for a really long time now. Not only for callbacks but for all kinds of props.
I've been thinking about using an approach similar to the `serde(flatten)` attribute which would allow something like this:
[code]

This way we can adhere to "composition over inheritance" but still have some syntactic sugar.
What do you think?

[2020-08-29 16:48] thedodd commented on #1533
@siku2 nice, I like that. Yea, the composition approach would be great. I suppose with an approach like this, it would mostly be modifications to the `Properties` derive macro? I've done a fair bit of proc-macro/derive macro work, so I'm definitely happy to help out!

[2020-08-29 18:23] Mcfloy commented on #1535
Thank you for the time you took to answer me, I didn't provided the error because I thought this wasn't the purpose of this ticket. But I'm really glad you explained me how to prevent the compiler error and indeed the fix you provided worked perfectly. I wouldn't have thought of using clone twice, but after that it made a lot more sense on why.

I agree with you on the type safety that would be mi

[2020-08-29 18:23] #1535 closed

[2020-08-29 20:20] siku2 commented on #1533
Yes, it needs a clever idea to make it work with the `html!` macro though, because it is completely unaware of the actual `Properties` struct. One idea would be to implement  `DerefMut` for the property builder.

Feel free to give this a shot. The relevant code is in the `yew-macro` directory. The derive macro for `Properties` can be found in the [`derive_props`](https://github.com/yewstack/yew/tr

[2020-08-30 14:04] stmtk1 opened #1536 "I couldn't build with master branch"
#### Question
I cloned this repository, and I couldn't run ``` cargo  build``` becouse of these errors. How can I fix?

[code]

#### What I've tried (optional)
``` git clone https://github.com/yewstack/yew/ && cd yew && cargo build ```

### environment
MacOS Catalina (version 10.15.6)
MacBook Pro(Retina)

[2020-08-30 14:05] jstarry commented on #1536
@stmtk1 you'll need to update rust to at least v1.45

[2020-08-30 14:33] siku2 commented on #1536
Since we already have a build script anyway. should we use it to enforce the MSRV? With something like [`rustc_version`](https://docs.rs/rustc_version/0.2.3/rustc_version/) we could at least generate a useful error message.

[2020-08-30 14:53] stmtk1 commented on #1536
I used v1.43.0 and I updated to v1.45.2.
after run ``` rustup target add wasm32-unknown-unknown ```, it works. thanks, @siku2 and @jstarry.

[2020-08-30 14:54] #1536 closed

[2020-08-30 15:16] stmtk1 commented on #1536
I just want to run ``` examples/run_example.rs game_of_life```, and it didn't work. So I check I can run just ``` cargo build```.

[2020-08-31 18:37] Mingun opened #1538 "Why Component required to be 'static?"
#### Question
I see, that `'static` now required for getting `type_id` of components, but this is really necessary? I'm currently work on implementation of TreeTable component. The design of TreeTable model assumes, that it can contain references, and on other hand, do not require to store any state, so I can write such model:
[code]

Now I have following working code:
[code]
But if I try to uncom

[2020-09-01 15:53] stmtk1 opened #1539 "create boid example"
**Describe the feature you'd like**
I wrote boid example with yew.

**Questionnaire**

- [ ] I'm interested in implementing this myself but don't know where to start
- [x] I would like to add this feature
- [ ] I don't have time to add this right now, but maybe later

[2020-09-01 16:31] siku2 commented on #1539
I'm closing this in favour of just the pull request. You don't need to open an issue if you already have a PR ready to go!

[2020-09-01 16:31] #1539 closed

[2020-09-01 16:52] stmtk1 commented on #1539
Thank you for closing this issue.

[2020-09-06 16:10] siku2 opened #1544 "Track companies using Yew"
This issue serves to gather a list of the companies that already use Yew so we can add a list to the README and the official website.

[2020-09-06 16:30] DukeFerdinand commented on #1544
Thanks for making this, I'll post here after I can run it by our lead dev :ok_hand:

[2020-09-06 20:41] dancespiele opened #1545 "yew router doesn't work corretly with parameters"
**Problem**

I created this route `/user/{user}`, when I try to access directly by url to the route, for example `/user/test`, I get the next error `Loading module from “http://localhost:1234/user/yew_parcel.js” was blocked because of a disallowed MIME type (“text/html”)` however I can access to the route by event action.

**Steps To Reproduce**
Steps to reproduce the behaviour:
1. Clone yew-parce

[2020-09-07 13:41] siku2 commented on #1545
It looks like your issue is that you're using relative URLs in your "index.html" file.
When you visit `/user/test` it tries to load "yew_parcel.js" from `/user/yew_parcel.js`.
I assume your server is set up to return the index file for 404s so `/user/yew_parcel.js` will actually give you "index.html" which is why it has the mime type "text/html" and is blocked by the browser.

This issue doesn't o

[2020-09-07 14:03] rfwatson opened #1546 "Improve console/logging support"
**Describe the feature you'd like**

Improved integration with console/logging in the browser, especially:

* ability to `console.log` any JsValue*, without pre-encoding to a &str in Rust
* support for variadic args when logging

\*or the std_web equivalent, if possible

**Is your feature request related to a problem? Please describe.** _(Optional)_

Debugging large objects (e.g. arrays containing

[2020-09-07 17:17] dancespiele commented on #1545
Yes, that resolve the issue, thanks a lot!

[2020-09-07 17:17] #1545 closed

[2020-09-07 23:39] DukeFerdinand opened #1547 "Latest yewtil/yewtil_macro breaks with "pure" feature enabled"
**Problem**

Throws error from yewtil_macro when compiling `yewtil` -> `no "function_component" in root`. At least one thing seems to be puling in `yewtil_macro v0.1.0` so I'm not sure if that's the lastest version or not.

**Steps To Reproduce**
Steps to reproduce the behavior:
Clone _this_ repo based on the yew wasm-pack repo:
https://github.com/DukeFerdinand/yewtil-test

**Expected behavior**
S

[2020-09-08 16:22] jstarry commented on #1546
@rfwatson have you seen the following crates:
https://crates.io/crates/wasm-logger (web-sys)
https://crates.io/crates/web_logger (stdweb)

[2020-09-08 16:29] jstarry commented on #1547
@DukeFerdinand thanks for the report! Looks like yewtil-macro hadn't been released in awhile. I just published `yewtil` v0.3.2 and `yewtil-macro` v0.2.0. Can you try those and see if it fixes your issue?

[2020-09-08 16:39] DukeFerdinand commented on #1547
@jstarry Fixed :raised_hands:

[2020-09-08 16:40] #1547 closed

[2020-09-08 16:52] siku2 commented on #1546
@jstarry This issue is based on a discussion we had on the Discord server ([here](https://discordapp.com/channels/701068342760570933/703449306497024049/752527369771941888)). The problem with these crates is that the formatting happens on Rust's end. This prevents browsers from displaying JavaScript objects with the same inspection tools as you would get when logging them through `console.log`.

[2020-09-08 16:56] jstarry commented on #1546
Ah that makes sense, thanks

[2020-09-08 21:33] Ciantic commented on #1154
It maybe "pretty easy now", but I can't figure out how do I convert even most simples example to a string:

[code]

(Trying to do a really simple static site generator.)

[2020-09-09 07:16] charleschege opened #1548 "Documentation for boolean attributes"
Special handling for boolean attributes like `<div contenteditable></div>`, where `contenteditable` should be coded as `contenteditable=true`, should be documented in the yew docs

[2020-09-09 07:17] jstarry commented on #1548
Thanks @charleschege!

[2020-09-09 11:02] Silentdoer opened #1549 "When is the stable release of 1.0.0 coming?"
RT

[2020-09-09 11:20] jstarry commented on #1549
I think it will happen when the pace of breaking changes to the API slows down. There's still a fair amount of churn with every new release and a few big changes in the pipeline

[2020-09-09 22:35] #903 closed

[2020-09-10 17:43] siku2 opened #1550 "Optional Attributes Chapter 2"
Optional attributes were implemented in #1537, but they require the use of a special syntax `?=`. This was somewhat required for the first implementation because of the internal handling of attributes but the very same PR also changed that so it's no longer a requirement.

Initial discussion: https://github.com/yewstack/yew/pull/1537#discussion_r486073804.

## Required changes

1. Tag attributes w

[2020-09-12 06:21] jstarry commented on #1550
@siku2 I agree will all the required changes, thanks for the write up. Also hoping we don't run into type inference problems 🤞

[2020-09-12 17:01] chrysn commented on #1105
I'm using an adapter that (if I understand the issue right) is roughly such an adapter, most easly viewed [as its introducing patch](https://gitlab.com/chrysn/verdigris/-/commit/34b0a78a68115e57f275fe89b0ac0a1f4d5bb692).

Using an adapter is a bit awkward as it means that at least where it is used with a Router, the actual route enum needs to be packed into and out of the adapter.

Might it not be

[2020-09-14 01:25] jstarry opened #1556 "Worker agents will not get destroyed if bridge is dropped too soon"
**Problem**
When a worker agent bridge is dropped, all queued messages get dropped as well. This means that if the worker has not yet connected to the bridge, it will not receive any messages (including destroy) when it does

#### Proposed Changes
TBD

[2020-09-14 14:19] BarbossHack commented on #1449
I have the same error in a project using Yew lastest version [(gitlab-monitor-rs)](https://framagit.org/Grokafar/gitlab-monitor-rs), after a certain amount of time (~11 minutes), it panics with error "Uncaught RangeError: Maximum call stack size exceeded"

[code]

[2020-09-14 14:42] jstarry commented on #1449
Thanks everyone, we'll make sure this gets released as a patch release for v0.17 or at the very least in v0.18 soon. If anyone has time, I suspect @jplatte is right

[2020-09-14 16:10] ja573 commented on #1096
@teymour-aldridge this'll get you an instance of route. How'd you get the corresponding enum (as in `AppRoute::home`)?

[2020-09-15 00:56] siku2 commented on #1061
I guess this can be closed now that #1063 is done.

[2020-09-15 00:56] #1061 closed

[2020-09-15 02:18] intendednull opened #1560 "An alternative to neq_assign_by"
**Describe the feature you'd like**
It might be useful to provide a method similar to `neq_assign_by` that doesn't flip the resulting value.

**Is your feature request related to a problem? Please describe.** _(Optional)_
I found myself a little confused here:
[code]
Output:
[code]
I needed to use `&&`, but my train of thought was "render if session changed **or** id changed".

**Describe alternat

[2020-09-15 15:31] siku2 commented on #1546
Where should we go with this now that [weblog](https://docs.rs/weblog/0.1.0/weblog/) is a thing?
Should we deprecate the `ConsoleService` and re-export the `weblog` macros instead?

Either way I think we should deprecate/remove the current `ConsoleService` now that there are plenty more powerful alternatives around.

[2020-09-16 02:57] jstarry commented on #1546
I'd like to see all the services eventually move to external dependencies so I'm totally fine with this

[2020-09-16 07:08] rfwatson commented on #1546
Happy to work on a patch to integrate the weblog crate if it's useful.

[2020-09-16 12:39] siku2 commented on #1546
@jstarry yeah, that's what I'm thinking as well. Glad we're on the same page there.

<br>

@rfwatson there are still a few features missing from `weblog` which are present in `ConsoleService`. Particularly the `count*`, `group*`, and `time*` function families and `assert`. Having these would make the transition a lot smoother.

There are also some other console features which `ConsoleService` does

[2020-09-16 14:23] #937 closed

[2020-09-18 17:10] siku2 opened #1563 "Fix documentation redirects"
Some testing revealed that the offender here is actually a missing redirect.
Because of the trailing slash `/docs/:lang/` doesn't 't match any redirects, but because of our rewrite configuration Firebase serves `/index.html`.
Our [index file](https://github.com/yewstack/yew/blob/master/website/static/index.html) then forwards to `/docs/en/intro` when loaded so that's why we end up there.

So two t

[2020-09-18 19:25] bakape opened #1564 "Attach event listener registry to root App (instead of body) for multi-app pages"
Follow up for #1542

https://github.com/yewstack/yew/pull/1542#discussion_r487747981

**Is your feature request related to a problem? Please describe.** _(Optional)_
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe alternatives you've considered** _(Optional)_
A clear and concise description of any alternative solutions or features you've con

[2020-09-19 11:08] cecton opened #1566 "Performance questions"
#### Questions

##### Context

I'm making a port of [blueprintjs.com](https://blueprintjs.com) to yew which you can find there: https://github.com/cecton/blueprint-rs

I made the [Tree component](https://blueprintjs.com/docs/#core/components/tree) which you can find [here](https://github.com/cecton/blueprint-rs/blob/main/src/tree.rs).

I have put 500 directories with 500 files each to make it stru

[2020-09-19 15:24] jstarry commented on #1566
Very cool project!

Yeah, `children` is not a surprising cause of this issue. It'd be really helpful if you can pinpoint where the inequality bug is happening. I think the likely cause is when `children` contains components. See here: https://github.com/yewstack/yew/blob/master/yew/src/virtual_dom/vnode.rs#L215

I don't think anything specific is blocking a fix for that besides time at this point.

[2020-09-20 03:39] jstarry opened #1568 "Router switch example should be converted to a suite of tests"
[Context](https://github.com/yewstack/yew/pull/1401#issuecomment-656597325) from @hgzimmerman:

I think it should be converted into a test/ directory instead - but that's outside of the scope of this PR.

[2020-09-20 03:44] #1243 closed

[2020-09-20 03:57] jstarry opened #1569 "Freeze support of stdweb at v0.18"
#### Problem
Maintaining support for two browser binding libraries requires a lot of effort, duplicate code, and ugly cfg macros which make it hard for newcomers to make contributions. If forced to choose one, we should pick the library that the Rust community uses, supports, and enjoys using more. That library is clearly `web-sys`, not `stdweb`.

The biggest problem with supporting `stdweb` going

[2020-09-20 09:33] cecton opened #1573 "Move yewprint to yewstack organization"
Hello,

[Someone suggested](https://www.reddit.com/r/rust/comments/ivrmbr/i_started_a_port_of_blueprintjscom_to_yew/g5xujkm/?utm_source=reddit&utm_medium=web2x&context=3) that I should move [yewprint](https://github.com/cecton/yewprint) (aka blueprint-rs) to the yewstack organization to get more interest and contributions.

If you're okay with this I can transfer ownership.

[2020-09-20 09:59] jstarry commented on #1573
Hi @cecton!

I'm not strongly opposed but I don't think it's really necessary. I get that the desire is to grow a community around the project which I'm more than happy to help with!

I have some suggestions and I'd be curious what you think of them. Tagging @siku2 as well for input.

First, generating interest and awareness is really important for any new library. Yew already has a large communit

[2020-09-20 10:25] cecton commented on #1573
I guess I'm not fully convinced myself it would help to have it under yewstack. I think the most important is that at some point people see that the project is maintained by multiple people so it won't die easily. But it's quite early for now anyway.

I will make a PR to reference the project in your doc, it's a great point!

I think yewprint should also have a doc-like site like Blueprint https:/

[2020-09-20 11:37] jstarry commented on #1573
Sounds good! Would you be looking to host a doc site on a subdomain of yew.rs or host separately?

[2020-09-20 12:42] cecton commented on #1573
I have the domain rm.rs which I could use but yew.rs would be good too!

:thinking: yewprint.yew.rs soungs a bit weird though...

[2020-09-20 12:46] siku2 commented on #1568
I guess I'll take care of this in #1559. I intended to remove it entirely first but reusing it as a test makes sense.

[2020-09-20 12:54] siku2 commented on #1573
@jstarry totally agree with this approach.

I don't think adding a subdomain for each library is sustainable in the long run.
We could have something like `lib.yew.rs` (similar to <https://lib.rs/>) where libraries get their own directory like `lib.yew.rs/yewprint`?

off topic: I saw the comment on Reddit and I'm so happy that you decided to rename it to "yewprint" :D

[2020-09-20 14:02] cecton commented on #1573
I think we can power that with yewprint at some point :grin:

It's so catchy :grin:

[2020-09-20 15:20] jstarry commented on #1573
I like the lib.yew.rs idea too! I think we have a way forward here so I'm going to close this. Thanks for reaching out @cecton it has spawned some fun ideas 👍

[2020-09-20 15:20] #1573 closed

[2020-09-20 15:40] jstarry commented on #795
I'm going to wind down this discussion. We had some good discussion in [this issue](https://github.com/yewstack/yew/issues/1573) on how to better promote community libraries which should help 👍

[2020-09-20 15:40] #795 closed

[2020-09-20 17:53] siku2 opened #1575 "Router switch can't pass down query string (and other special parts)"
Best explained by looking at the following example:

[code]
This feels like it should work. In fact, [one of the example in yew-router uses this exact pattern](https://github.com/yewstack/yew/blob/master/yew-router/examples/router_component/src/b_component.rs#L25) (`BRoute` is used like `PostsRoute` here).

The route "/posts/?page=5" will still match `PostsRoute::List` instead of `PostsRoute::List

[2020-09-21 05:30] onelson opened #1576 "Is there a way to read from a Store directly or get a callback for every bridge opened?"
#### Question

In the [store example](https://github.com/yewstack/yew/blob/master/examples/store/src/lib.rs#L44-L47), it's noted that the store will fire a callback when the bridge connects but this only seems to be true of the *first bridge*, and not for the connecting of each subsequent bridge.

In my program, I have the root `App` component open a bridge, and it gets that initial message from t

[2020-09-21 22:17] #850 closed

[2020-09-21 22:17] #1534 closed

[2020-09-21 22:17] #1568 closed

[2020-09-21 22:17] #171 closed

[2020-09-21 22:17] #1289 closed

[2020-09-21 22:17] #1368 closed

[2020-09-21 22:17] #1377 closed

[2020-09-21 22:25] siku2 commented on #101
Pretty sure this was fixed some time ago

[2020-09-21 22:25] #101 closed

[2020-09-21 22:30] siku2 commented on #1380
Now that examples list "improvements" we should add this to TodoMVC's list and close this.

[2020-09-22 02:25] thedanvail commented on #1346
I'm going to start taking a look at this

[2020-09-22 02:33] jstarry opened #1578 "Fetch requests are error prone"
Context: https://discordapp.com/channels/701068342760570933/703449306497024049/757782313974104074

Proposed Changes:
- Drop format module
- Use serde serialization types in fetch service
- Get rid of confusing `Into<FORMAT<&T>>` API
- TBD

[2020-09-22 02:41] jstarry opened #1579 "Fix fetch service documentation"
Problem:
https://yew.rs/docs/en/next/ does not list `Fetch` in the `Services` section in the sidebar

[2020-09-22 02:45] jstarry opened #1580 "Migrate FetchService to Gloo project"
When rethinking the Fetch service, we should consider implementing for the gloo project. See here for the relevant issue: https://github.com/rustwasm/gloo/issues/4

[2020-09-22 10:49] kellpossible opened #1581 "Confusing error message for component with children when no children are supplied"
I have a component with

[code]

and when using the component with no children:

[code]

I get the following error message:

[code]

**Expected behavior**
I would expect that the component should work without children supplied, or at least provide a more informative error message.

**Environment:**
 - Yew version: `v0.17`
 - Rust version: `1.47.0-beta.3`
 - Target, if relevant: `wasm32-unknown-unk

[2020-09-22 11:03] Turakar commented on #1243
Thank you 👍

[2020-09-22 13:27] siku2 commented on #1581
This is a hard problem to solve.
The biggest problem here is that the `html!` macro has no knowledge of the `Properties` struct.
A consequence of this is that we have no idea whether the component has a `children` field or not.
In return, this means that we cannot simply pass an empty `Children` because that would break `Properties` that don't have a `children` field at all.

Improving the error m

[2020-09-22 16:04] #1380 closed

[2020-09-22 19:43] siku2 opened #1583 "Create an index page for the hosted examples"
<https://examples.yew.rs/> currently 404s. It would be nice if we featured a list of examples there.

[2020-09-22 21:07] gwutz opened #1585 "Harmonize route macro with Rocket.rs"
#### Question

I realized that the definition of a route with yew-router is different syntax-wise with rocket. Apparently i don't know how other frameworks define these dynamic parts but i would like to propose to harmonize maybe the syntax with rocket.

[code]

[2020-09-22 21:13] siku2 commented on #1585
I quite like that idea. Rocket seems like a good source to draw inspiration from for the redesigned router.

[2020-09-23 01:47] #1579 closed

[2020-09-23 16:06] seanybaggins opened #1587 "Unable to run examples with trunk version 0.5.0"
**Problem**
Web pages are plank when serving examples with trunk version 0.5.0.

Running trunk version 0.4.0 seams to resolve this issue.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Install trunk version 0.5.0 (latest version as of writing this issue). `cargo install trunk --version 0.5.0`
2. Go to the `examples/game_of_life` directory (I chose the game of life example, but any exa

[2020-09-23 16:18] siku2 commented on #1587
I can't believe it literally only took a day to break. I thought I could finally take a break from the examples :laughing:

[2020-09-23 16:23] seanybaggins commented on #1587
Yes.

[code]

[2020-09-23 16:24] thedodd commented on #1587
Looks like a regression in Trunk related to serving the `index.html` by default. Trunk is returning a `404`. I believe I've already got the fix in place. Standby.

[2020-09-23 16:26] thedodd commented on #1587
Yup, I put the middleware after the handler itself ☠️ ... just putting the middleware first fixes the issue. A stupid regression. Will have to add some regression tests for this in Trunk.

[2020-09-23 16:27] thedodd commented on #1587
@seanybaggins I'll push a 0.5.1 trunk release right now.

[2020-09-23 16:43] thedodd commented on #1587
Ok, 0.5.1 release is being built right now. I tested it on this example, and it fixes the issue. Thanks for the report @seanybaggins!

[2020-09-23 16:44] thedodd commented on #1587
@siku2 this makes me wonder if we should setup some more in-depth regression tests in trunk to clone this repo & spawn and test builds for each of the examples. Thoughts?

[2020-09-23 16:45] seanybaggins commented on #1587
@thedodd Thanks for the quick fix.

[2020-09-23 17:04] thedodd commented on #1587
@seanybaggins ok, you should be good to go now. Let me know if you run into any other issues.

[2020-09-23 17:04] seanybaggins commented on #1587
@thedodd Are you okay if the ticket closes or would you like to continue discussion with @siku2?

[2020-09-23 17:12] thedodd commented on #1587
@seanybaggins you're good. I'll chat with Siku on discord and we can coordinate regression/example tests in the Trunk repo. Thanks!

[2020-09-23 17:28] #1587 closed

[2020-09-23 17:54] siku2 commented on #1587
Thanks a ton for taking care of this!

[2020-09-26 20:19] JosephLenton commented on #1310
In the past it was common to have a thin client  which would call the server to render some HTML, and then replace some of the page with that HTML. I know them as rendering 'fragments' (as you are asking the server for a fragment of a page).

A major downside is that interacting with the UI now has the overhead of a network request. It is noticeable to users. The server also cannot do everything.

[2020-09-26 21:39] onelson commented on #1310
GitHub itself worked this way for a long time, though I'm not sure about today; "pjax" patterns. There was a recent article on "turbolinks" from Basecamp where they are doing essentially this for their primary navigation - page transitions are intercepted and xhr fetches pull down pre-rendered html from the server, then finally patched into the dom.
I'm not sure the past is as distant as all that.

[2020-09-27 00:26] jacob-pro opened #1590 "File Upload to HTTP Server with Multipart Form"
#### Question

I can see there is an example of file [uploads ](https://github.com/yewstack/yew/blob/master/examples/file_upload/src/main.rs) however I am not sure how I upload a file to a HTTP server in a multipart form?

In the JS world I would send a [FormData ](https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects#Retrieving_a_FormData_object_from_an_HTML_form) body

[2020-09-28 19:04] onehundredfeet commented on #533
This looks great. Is there a way of providing a sass or css file that overrides these defaults? It would be great to give to an artist for them to tweak.

[2020-09-29 15:41] #1371 closed

[2020-10-02 17:07] bytebuddha opened #1600 "Make VComp.type_id public"
I'm trying to create slots like in vue, accept using a Custom Component to represent the slot instead of just a name.

**Describe the feature you'd like**
Make VComp.type_id public

**Is your feature request related to a problem? Please describe.** _(Optional)_
I'm working on a component framework for bulma [yewlma](https://github.com/Type-3/yewlma). I'm trying to implement a hero component that h

[2020-10-02 21:29] lukechu10 commented on #1026
How about something that looks like this:
[code]

[2020-10-03 00:32] siku2 commented on #1600
I'm not opposed to opposing the `type_id` field through a getter method, but have you considered using `Children<T>` where `T` could be an enum of all the valid child types?

That would look something like this:
[code]

[2020-10-03 17:35] bytebuddha commented on #1600
Hmm i did not know i could do that!. Thank you It works better this way. I found the `nested_list` example after reading your comment it has a good example of this

[2020-10-03 17:35] #1600 closed

[2020-10-05 05:05] lukechu10 opened #1602 "yew-functional rust-lld error"
**Problem**
I want to try out the new `yew-functional` package. When I try to build using webpack and wasm-pack-plugin in development mode, I receive a link error when I use `yew-functional`.

This error only occurs under the `wasm32-unknown-unknown` target and `development` mode. There is no problem when compiling for default (native) target or when comping in `release` mode.

I have not tried co

[2020-10-05 05:08] lukechu10 commented on #1585
Or maybe just add an alias.

[2020-10-05 17:01] lukechu10 commented on #1602
I think I solved the problem. It was because `yew` was from `crates.io` and `yew-functional` was from `git`. If I changed `yew` to point to `git`, the problem disappeared.

A question, what is blocking `yew-functional` to be published on `crates.io`. I would be glad to help but I don't know where to start.

[2020-10-05 18:09] jeffreyscottgraham opened #1603 "collapsable tree widget from json data?"
Hello Everyone,

I am trying to determine if I should try Yew (I am completely new to it and rust).

Given my newbness, am wondering if there exists a module/widget that
takes JSON data and displays it in a collapsable (and maybe even syntax-hightligted) tree?

Any pointers deeply appreciated.

Thanks in advance.

[2020-10-05 18:38] lukechu10 commented on #1505
Hmm, would it be possible to have a smart pointer that implements `Copy`? Ideally, the state (`searchinput`) could use this too to prevent `clone()`.

[2020-10-05 20:26] lukechu10 commented on #1602
I am going to close this issue because the problem seems to be because of `cargo` and `rustc` and not `yew`.

[2020-10-05 20:26] #1602 closed

[2020-10-05 23:39] lukechu10 commented on #1505
That's the main problem. `Rc` cannot implement `Copy` because it also implements `Drop`.

[2020-10-06 04:21] lukechu10 commented on #576
Would it be possible to do something like https://github.com/torhovland/blazor-redux but for yew.rs in rust?

[2020-10-06 08:15] VersBinarii commented on #1388
I highly recommend using webpack with webpack-dev-server. It works really well and also simplifies the entire build setup greatly.

[2020-10-06 09:40] hamza1311 opened #1604 "Implicitly convert value to Some(value) for Option<T> props"
**Describe the feature you'd like**
Implicitly converting `value` to `Some(value)` for a prop with type of `Option<T>`. Consider the following props
[code]
If no prop value is passed for `foo` then that field will be initialized as `None` but when a value is to be passed, it must be passed as `foo=Some(value)`. It should be able to be passed as `foo=value` where `value` has a type of `String` (`&s

[2020-10-06 10:24] hamza1311 commented on #1388
You can (and should) use [trunk](https://github.com/thedodd/trunk).

Yew's docs: https://yew.rs/docs/en/next/getting-started/project-setup/using-trunk/

[2020-10-06 11:10] siku2 commented on #1604
We already have a transformer for `T -> Option<T>`. Are you getting an error when trying to use it?

[2020-10-06 13:56] hamza1311 commented on #1604
It exists? I never knew that and searching in the docs revealed nothing so I never tried it out. I guess this is more of a documentation request than a feature request.

[2020-10-06 14:13] siku2 commented on #1604
You're right, the documentation on props and their behaviour is very much lacking. I'm hoping to address some of that in #1599.

[2020-10-06 14:25] siku2 commented on #1388
I'm closing this issue because the updated documentation for 0.18 addresses this with Trunk.
We also have documentation on how the same thing can be accomplished with a Node.js setup if one happens to be in the unfortunate position to use that.

[2020-10-06 14:25] #1388 closed

[2020-10-08 09:39] mothsART commented on #1585
Actix project seems good inspiration too : https://github.com/actix/actix-web

Syntax look like this

[code]

[2020-10-08 09:48] gwutz commented on #1585
Good point! Question is if we could have both.

[2020-10-08 12:33] #720 closed

[2020-10-08 12:46] siku2 opened #1606 "Update to Trunk 0.7.0"
# Chores

1. Update examples to new format (particularly `multithread`)
2. Documentation probably has a few outdated snippets as well
3. Update `yew-trunk-minimal-template`
4. Use Homebrew package for CI

[2020-10-08 23:00] siku2 commented on #1108
Closing this because Trunk now provides this feature during development. In #1559 we merged the router examples with the main set and ended up removing the server templates.
For production environments, I think it's reasonable to expect users to be able to configure their server framework for SPAs. An ever growing list of server templates sounds like a nightmare to maintain and keep up to date.

[2020-10-08 23:00] #1108 closed

[2020-10-09 03:59] thedodd commented on #1575
I find myself in need of this at the moment.

[2020-10-09 04:02] thedodd commented on #1245
I think this is important as well. Some more recent discussion on this issue: #1575

@Olavhaasie FWIW, you can still create an additional `RouteService` instance elsewhere in your app and access `get_query` at times when you need it. That is what I am currently doing, I also have a `RouteAgent` configured for triggering routing changes which work properly with the Routing components (button & link

[2020-10-09 12:22] GalAster commented on #1073
Hi, @shivshankardayal, I also need a static highlight.

How about [syntect](https://github.com/trishume/syntect), it can be used as following:

[code]

[2020-10-09 22:22] seanybaggins commented on #1606
@siku2 Quick question. In the documentation it says...
[code]

But in the examples using trunk, the projects are binaries. Not libraries.

Are there any pitfalls to be aware of when building them as binaries and not libraries?

Are there any pitfalls to omitting the
[code]
from the cargo.toml?

[2020-10-09 23:21] seanybaggins commented on #1606
Hi @siku2. Thanks for such quick reply. I was not looking at the nightly documentation :).

I did notice trunk not properly serving some of the examples. I raised an issue the trunk repo. #thedodd/trunk/issues/75.

Thanks for building the tool :)

[2020-10-09 23:23] siku2 commented on #1606
Yeah that's exactly what this issue here is about. I haven't had the chance to update the examples to Trunk 0.7.0 yet

[2020-10-09 23:27] seanybaggins commented on #1606
Oh okay. So its not a problem with trunk 0.7.0? Just location/configuration of files?

[2020-10-09 23:36] siku2 commented on #1606
Exactly. Take a look at the release notes for Trunk 0.7 if you're curious.

[2020-10-10 09:44] hamza1311 commented on #1073
@GalAster, using `syntect` in this current form on WASM is not a good idea.

This will increase your WASM binary size by around 2MBs for no good reason (loading unused syntaxes and themes). You should be only loading what you need (see: https://github.com/trishume/syntect/issues/135#issuecomment-700306068)

Also, `syntect` can use either `rust-onig` or `fancy-regex`.
If you use the default `regex-

[2020-10-10 21:06] K4rakara opened #1613 "Variant derive macro"
**Describe the feature you'd like**
As it is, making components that only accept children of a specific type is a bit verbose and a pain. As a start, we could make that process easier by creating a derive macro that behaves like this:

[code]

**Questionnaire**
- [x] I'm interested in implementing this myself but don't know where to start (more or less)
- [x] I would like to add this feature
- [ ]

[2020-10-10 21:58] #1606 closed

[2020-10-11 15:25] jacob-pro opened #1615 "define_router_state() Macro is broken for #[cfg(feature="")] types"
**Problem**
When using define_router_state() with yew_router only `Route` and `RouteService` get defined, the cfg feature test does not work because the macro generates code in our own crate rather than the yew_router crate, and is therefore looking at the wrong features.

[2020-10-11 23:02] jacob-pro commented on #1414
I'm almost certain this is being caused by the `web_logger` line - try removing it, and logging directly to the console (https://rustwasm.github.io/docs/wasm-bindgen/examples/console-log.html) and see if it still gets created twice

[2020-10-11 23:32] jacob-pro commented on #1414
Can you check that it is not actually your `fn run_app()` that is being run twice? I was accidently starting mine twice because of the `wasm_bindgen` annotation and then again in the initial js file itself.

[2020-10-14 08:20] EndilWayfare commented on #1414
@jacob-pro, D'oh, that's exactly what it was. I was using the [yew-wasm-pack-template](https://github.com/yewstack/yew-wasm-pack-template/blob/master/src/lib.rs) as a guide, and didn't notice that the `#[wasm_bindgen(start)]` in the Quick Start got changed to just `#[wasm_bindgen]`. So then the
[code]
in `bootstrap.js` was responsible for the "doubling" behavior. Just `import("./pkg")` is sufficie

[2020-10-14 08:20] #1414 closed

[2020-10-15 20:11] #1563 closed

[2020-10-17 10:35] fstuess commented on #1449
Any workaround on this for in between releases? Thanks!

[2020-10-17 13:42] ctron opened #1622 "Optional component in properties"
**Describe the feature you'd like**
A clear and concise description of what you want to happen.

Currently a component can have children. However, with JSX you can also set a single component to a property, optionally:

[code]

**Is your feature request related to a problem? Please describe.** _(Optional)_

Currently you can do this is a list of children, but not with a single one.

You can achiev

[2020-10-17 14:10] siku2 commented on #1622
This is already possible using `VChild<COMP>`:

[code]

We should definitely document this better though!

[2020-10-17 19:35] ctron commented on #1622
@siku2 Thanks for the explanation! That should definitely go into the documentation. However it solves my issue only partly, as I am trying to add an optional component.

When use your example, I must provide a sidebar. When I wrap `VChild<Sidebar>` with `Option<>`, I get the following error:

[code]

[2020-10-17 19:42] ctron commented on #1622
Ok, I was able to work around this using:

[code]

[2020-10-17 19:42] siku2 commented on #1622
You forgot to convert it to `Html`. Also, you can't use `Option<T>` directly.

You're looking for something like this:
[code]

[2020-10-17 20:38] ctron commented on #1622
You also can inline the `html_nested`:

[code]

[2020-10-17 20:57] ctron commented on #1622
@siku2 thanks for your help!

[2020-10-18 06:27] jstarry opened #1623 "Properties derive macro calls `prop_or_else` function even when prop is set"
#### Problem
The function specified in `prop_or_else(fn)` is called even if the prop is explicitly set. If the function is performance intensive, this could cause app performance issues.

#### Proposed Change
Optional properties should be option wrapped in the WrapperProps struct that is generated by the derive macro rather than eagerly calling the prop_or_else function to initialize the prop valu

[2020-10-18 10:06] jstarry commented on #1449
@fstuess I'll put out a patch release soon, just found the issue!

[2020-10-18 13:39] fstuess commented on #1449
@jstarry this is really great news! Thank you, very cool!!

[2020-10-18 15:59] #1449 closed

[2020-10-18 16:18] jstarry commented on #1449
This is finally fixed in v0.17.4, thank you to all who contributed to this issue, the examples and circumstances around the bug were helpful in tracking down the cause 👍

[2020-10-21 09:37] mkawalec commented on #576
Generally it is possible to implement any data sharing pattern in Rust. In some cases it can be done even more effectively than in JS, as we can truly share data immutably with no runtime cost. It would be awesome to see more data management innovation in web Rust, so feel free to implement it :)

[2020-10-21 12:05] #1604 closed

[2020-10-21 14:07] #1508 closed

[2020-10-22 04:46] andersonevitt commented on #1081
I'm confused, what should I do if I still want to use cargo-web or can I not use it all?

[2020-10-23 19:01] JonasZ95 commented on #1533
I'm working on a bootstrap library for Yew right now and stumbled over the same issue. My idea to solve this would be to use `-` as a way to express the flattening which works kinda well because `-` is never allowed as Identifier. Each flattened props would get assigned a unique prefix It would look like this:
[code]

[2020-10-24 11:05] joprice commented on #870
Might be unrelated, but I saw this when I defined routes out of order, where an earlier definition was a prefix of the later one. This specific case is mentioned in the docs, but maybe the warning could mention it or link to the docs, or mention an error code.

[2020-10-24 22:02] joprice commented on #870
Nevermind I see this in other cases now.

[2020-10-25 08:26] cecton opened #1629 "Optional attributes in 0.17.4 is not working"
**Problem**

Today I tried to change the version of yew in yewprint to 0.17.4 which includes optional attributes but [it failed](https://github.com/cecton/yewprint/pull/61).

To be sure that it's a bug I tried to copy the "counter" example from yew and I added an optional attribute. This is the repository: https://github.com/cecton/test-yew-optional-attributes

[code]

I added a GitHub Action so y

[2020-10-25 11:04] mattferrin commented on #1505
TypeScript dev here whose Rust experience is mostly limited to exercism.io toy problems, but typing `.clone()` doesn't bother me too much. It might even help readability to have to write:
[code]
I don't have enough knowledge yet to know if the preceding:
[code]
line can be abstracted away though, but it would be nice.

[2020-10-25 12:44] siku2 commented on #1629
Optional attributes are set for version 0.18, they're not released yet.
You might be confused because the GitHub release is tagged on the "master" branch but I hope @jstarry published the crate based on thehttps://github.com/yewstack/yew/tree/v0.17 branch.

[2020-10-25 13:19] cecton commented on #1629
Hmmm that explains a lot. Maybe the tag is wrong then? 0.17.4

Yes, I think the tag is wrong https://github.com/yewstack/yew/commits/0.17.4?after=724ac1d4813b8e74b94602c0875d6f18ff81ad3e+34&branch=0.17.4

[2020-10-25 13:35] cecton commented on #1629
Ah yeah that's what you just said sorry 😪 sleeping issues

Ok so maybe this tag should be corrected.

[2020-10-25 13:35] #1629 closed

[2020-10-25 14:28] jstarry commented on #1629
Ah yeah, good point. I'll fix the tag

[2020-10-25 14:48] #1505 closed

[2020-10-25 14:48] jstarry commented on #1629
Tags are fixed, sorry @cecton!

[2020-10-25 14:51] jstarry commented on #1081
@andersonevitt I recommend checking out trunk: https://github.com/thedodd/trunk

Alternatively, you will have to use `yew-stdweb` to use `cargo-web`. But we will soon feature freeze `yew-stdweb` so I don't recommend it if you can avoid it

[2020-10-25 17:07] siku2 opened #1631 "`with props` syntax doesn't error if multiple props are provided"
**Problem**

The following works but only uses `props2` and silently discards `props1`.
[code]

**Expected behavior**
The macro should error.

**Environment:**
 - Yew version: master

[2020-10-25 18:27] lukechu10 commented on #1505
Even though #1630 is definitely an improvement, I don't think it completely solves the problem. React hooks in JS/TS is still a lot more concise and eloquent than the current way in Rust in my opinion.

The problem here is that what ever smart pointer cannot be implicitly "cloned" into the closure because it cannot implement `Copy`: https://stackoverflow.com/questions/40014703/why-is-stdrcrc-not-c

[2020-10-25 21:58] mattferrin commented on #1505
I suspect we're getting into the weeds of what makes Rust Rust, compiler enforced memory management. F# and ReasonML/OCaml are both languages whose ecosystems fully support React hooks and require less minutia (at the cost of greater memory consumption and garbage collection). If Rust can do what you are hoping for as a low-cost abstraction, I would be interested in achieving that level of enlight

[2020-10-26 03:25] lukechu10 commented on #1505
I managed to create a prototype. Here is the macro:
[code]
And here is how I use it:
[code]
I am a bit surprised that Rust allows you to do this. `$capture` in the macro uses the variables that are overridden inside the macro instead of those outside of the macro. This seems a bit unhygienic by it works.

I still haven't tried this out in an app yet but I will do soon.

[2020-10-26 04:00] jkelleyrtp commented on #1505
Why re-invent the wheel? https://docs.rs/closure/0.3.0/closure/

However, I would prefer to limit the amount of macros required to write ergonomic reactive code. Right now, my functional components all use a proc macro to implement the function component trait, use derive macros for props, use macros to draw the html, and use macros to clone the Rcs into the closure scope. It would be nice to not

[2020-10-26 06:27] jkelleyrtp commented on #1505
Okay, hacked something together.

I really want to port [recoiljs](https://recoiljs.org) to Rust. I think it would fit well in the Yew ecosystem (relies on subscriptions + message passing) and it hooks into the global state. This solution would expose a use_recoil which pulls into a global "any map." Below, it's listed as a "use_state2".

This concept exposes a recoil selector, but instead of a di

[2020-10-26 07:37] jkelleyrtp commented on #1505
With the ^ code, I've got a basic prototype of recoil's atom working across components using use_recoil.
[code]

I will probably add a derive macro for making atoms easier to construct. Something like

[code]

[2020-10-26 07:45] mattferrin commented on #1505
I think porting a RecoilJS equivalent to Rust is really important work. It's state API is very well thought out.

[2020-10-26 15:23] lukechu10 commented on #1505
Maybe this should belong in #576

[2020-10-26 18:17] quinnjr commented on #1441
I would really like to see this idea made into Yew proper.

For example, I have Angular template partials that are ~100 LOC that get really messy to deal with without proper editor/IDE support. I'd rather take an existing Angular project and just import the html files into a Yew application than copy-pasting them into the html! macro. Plus, I personally find it easier to maintain by splitting the

[2020-10-27 01:07] intendednull commented on #1505
Dropping [yew-state](https://github.com/intendednull/yew-state) here because it can also fill this role:

[code]

[2020-10-27 02:01] intendednull commented on #576
[yew-state](https://github.com/intendednull/yew-state) provides simple CoW shared state management. Has other neat features like persistent storage, custom scoping, and a functional interface.

[2020-10-27 05:19] lukechu10 commented on #576
This can't work because `RefCell` isn't `Send + Sync`.

[2020-10-27 12:34] Follpvosten commented on #1533
For the original issue, the proposed syntax examples leave out an important detail: How would a MyListComponent implementation pass on all of the events to a child?
I'd guess something like `with` could be used:
`<div with self.props.events />`
But of course it would also need to support specifying other standard HTML attributes alongside that
[code]
and that would also have to work for wrapped co

[2020-10-27 17:27] lukechu10 opened #1632 "How to implement library for storing mutable global state"
#### Question
First of all, thank you for all the work on this framework. This is probably one of the coolest projects in Rust that I have seen.

I am trying to create a library for managing global state with functional components (#1026). I want to have an API that is similar to Redux. It should look something like this:
[code]

#### What I've tried
I am having difficulty creating a global store.

[2020-10-28 03:59] lukechu10 commented on #1026
Is there anything preventing `yew-functional` to be published on crates.io? I wrote a library using `yew-functional` but I can't publish it because crates.io does not allow me to use git dependencies.

[2020-10-28 04:05] lukechu10 commented on #1129
Is the API stable enough now to write some documentation for it?

[2020-10-28 06:43] intendednull commented on #1632
I'm also trying to tackle this problem over at [yew-state](https://github.com/intendednull/yew-state)!

[2020-10-28 15:39] siku2 opened #1633 "Improve macro hygiene"
I keep running into places where Yew's macros aren't as hygienic as they could be. Especially now that the MSRV is 1.45.0 (which brings a few more macro features like `mixed_site`) it's time to do a full sweep and solve all the remaining issues:

- Ensure all trait methods are invoked unambiguously
- Use fully qualified paths everywhere (including primitives from `::std::primitive`)
- ~~Use a conf

[2020-10-28 17:12] siku2 opened #1634 "Define prop execution order"
The execution order of prop value expressions is in alphabetic order based on the prop key. Let's look at an example:

[code]

Normally Clippy warns about execution order in struct expressions, but we don't have the tools to do this, especially not in the `html!` macro. The easiest way to avoid confusion here is to define the execution order as the one defined by the user.

To achieve this for com

[2020-10-28 17:14] jkelleyrtp commented on #1026
I guess I should make a PR with the macro and tutorial :)

[2020-10-29 08:41] BarbossHack opened #1635 "Uncaught RangeError: Maximum call stack size exceeded"
**Problem**
I still have the bug described in this issue https://github.com/yewstack/yew/issues/1449

**Steps To Reproduce**
Well, I only have this error on my rust [gitlab-monitor](https://framagit.org/Grokafar/gitlab-monitor-rs) after a certain amount of time (this time it was after 4 hours, it was 11 minutes before the fix)

**Expected behavior**
To not exceed call stack

**Screenshots**
![imag

[2020-10-29 08:46] BarbossHack commented on #1635
Oops, i did not wanted to close this issue ..

[2020-10-29 12:30] jstarry commented on #1635
Oh, interesting. Sorry you keep hitting this! Thanks for the report, sounds like I'll need to dig in again 😝

[2020-10-29 13:03] damooo commented on #41
Hey guys, i want to point towards [sapper](https://sapper.svelte.dev) svelte projects.

Svelte is a compiler unlike react, in that it compiles svelty-js to imperative js in many modes. like it can compile for browser target, and for ssr target. ssr compiled js is basic string concatenation in node. This way, ssr is blazing fast.

Here too we may compile it to a `wasm` target, and an `efficient` ru

[2020-10-29 13:17] chpio commented on #41
@damooo i don't think that you can even compare non-vdom svelte/imba/... (or [my poc lib](https://nest.pijul.com/onio/foo) in rust, that's blocked on GATs right now.) libs to vdom libs like react/yew etc. the basic principles are very different.

[2020-10-29 13:51] hamza1311 opened #1636 "Use Rust's `..` syntax instead of `with` in `html!`"
**Describe the feature you'd like**
Replace the confusing `with props` syntax with Rust's `..` syntax.  Consider this example
[code]

**Is your feature request related to a problem? Please describe.** _(Optional)_
The current syntax (`with ...`) is confusing and reads badly. Consider this:
[code]
The above snippet is somewhat fine but in a case where the `props` variable is renamed to something el

[2020-10-29 13:55] KSXGitHub commented on #41
@damooo I don't know why you brought this up in an issue about **server side rendering** in which DOM manipulation mechanism is irrelevant.

[2020-10-29 16:07] damooo commented on #41
@KSXGitHub .

I just wanted to point out svelte's approach to ssr. Svelte compiles it's components to multiple targets, like for client, and for server. server-targetted build doesn't have anything to do with dom, but an effective ssr-specific component, which only performs string concatenation to generate html.

[2020-10-29 16:22] KSXGitHub commented on #41
@damooo Ah, I didn't read all if your comment, sorry. Anyway, back to the topic, Rust has zero-cost abstraction which can be used to transform a Yew component into a string concatenation.

[2020-10-29 17:58] Ciantic commented on #41
@KSXGitHub is there an example of this? I couldn't figure out an API for that last time I tried. I wanted to create stating site generator for my blog, and not use web assembly at all, just generate strings from components and store them to HTML files.

[2020-10-29 18:53] stoically commented on #41
@Ciantic A bit random, but if your goal is really just to generate strings from HTML then maybe the `html-to-string-macro` example from [syn-rsx](https://github.com/stoically/syn-rsx) is interesting - could be used in a build script I guess

[2020-10-29 21:07] #1258 closed

[2020-10-30 08:34] BarbossHack commented on #1635
Hmm, I tried to update/rebuild my project and let it run all the night and I did not get this error again... I will make some more tests and tell you if it was just a false positive or not

[2020-10-31 01:44] NickHu commented on #1026
Is there anyway to thread the `prev: Rc<State>` through the reducer without cloning, in the case where `State` does not implement `Copy` but merely `Clone`?

[2020-10-31 16:41] K4rakara commented on #1636
:+1:  Might try my hand at this once I'm done with my current PR

[2020-10-31 16:58] lukechu10 commented on #1026
I don't understand. Can't you just clone the `Rc`?

[2020-11-01 00:26] NickHu commented on #1026
The function you have to pass to `use_reducer` has signature `(Rc<State>, Action) -> State`. `Rc::clone` has type `Rc<T> -> Rc<T>`. Say you have an `Action` which in some case should just thread the previous state through. In general it's not possible to downcast an `Rc<T>` to a `T` because it may have multiple strong references. My question is that in this particular case, for the reducer functio

[2020-11-01 20:40] pohuing opened #1639 "Broken link on yew.rs"
This is about:
- [ ] A typo
- [ ] Innaccurate/misleading documentation (e.g. technically incorrect advice)
- [ ] Undocumented code
- [ ] Outdated documentation
- [x] Other

**Problem**
The https://yew.rs/docs/en/ website's logo links to a nonexistant page
It links to https://yew.rs/en which yields a 404 about firebase having no index.html in /en nor a 404.html in /

I use up to date Firefox if tha

[2020-11-01 20:43] pohuing commented on #1639
This issue also exists on the other languages

[2020-11-02 08:10] BarbossHack commented on #1635
Well I don't know what happened but after a weekend, no bug 🤷‍♂️ So I close the issue^^

[2020-11-02 08:10] #1635 closed

[2020-11-02 17:12] siku2 commented on #1441
This proposal needs some clarification. If the idea is to have a macro that behaves exactly like `html!` (i.e. we pretend that the content of the HTML file is located at the call site) we end up with a few issues.
Apart from all the technical issues like macro hygiene, source span erasure, and breaking incremental compilation, I also find it very dubious to access the call site's local variables f

[2020-11-02 18:04] siku2 commented on #1639
Thanks for pointing this out!

[2020-11-02 18:27] #1639 closed

[2020-11-03 13:14] ZainlessBrombie commented on #1026
@NickHu That's actually a good point :thinking:
Maybe we should either return an Rc<State> _or_ return an enum of ReducerResult::Change(State) / ReducerResult::Unchanged, where the latter does not cause a rerender. The former is more lenient while the latter encourages best pratice of not internally modifying the state.

[2020-11-03 15:11] NickHu commented on #1026
Is there any conceptual reason why the old State should be kept around in memory anyway? Part of the benefits of rust is that with move semantics you can modify things in place safely where otherwise you would need immutability.

[2020-11-04 14:52] NickHu commented on #1026
@jkelleyrtp Seems like you were beaten to it: https://github.com/yewstack/yew/pull/1638

[2020-11-04 15:01] ZainlessBrombie commented on #1026
@NickHu yes, the state needs to be accessed by the component invoking the hook, but the hook+reducer also needs to hold onto it, so we need to use an Rc. So there is no way we can have ownership of the state & edit in place.

[2020-11-04 15:16] NickHu commented on #1026
@ZainlessBrombie My usecase (and I think this may be fairly common) is to have a State struct with a bunch of fields, where a lot of reducer actions only end up modifying a specific field. In this case I find myself using struct update syntax; something like this

[code]

The problem is if I have other fields of `State` which are not `Copy` (say, a large hashmap), I don't want to be cloning that e

[2020-11-06 10:35] ZainlessBrombie commented on #1026
Hm. I see what you mean, but State is meant to be immutable, mutable state is what use_ref is for :thinking:
Maybe we need a hook that just provides a trigger for a rerender?
Also a Cow could be useful there.

[2020-11-07 13:09] quinnjr commented on #1441
@siku2 I can't speak as to the original poster's intent, but my desire would be for some macro that does the work of reading the desired html file and running the `html!` macro on those contents. Admittedly, I'm not the best with writing Rust macros, but I would envision that a macro that simply reads the file to an `&str` and then calls the html macro (it should just be feeding it to the html fun

[2020-11-07 15:33] teymour-aldridge commented on #1441
I think the problem here is mostly around formatting with the HTML macro (and possibly editor support, though I think that the problem there is with IntelliJ-Rust and the solution to that is to use rust-analyser which is open source, and also runs in an open source editor). I believe that it should be possible to construct a tool to format html macro invocations specifically – or perhaps look into

[2020-11-07 15:56] hamza1311 commented on #1441
This was my intent when I created this issue but after using implementation from @teymour-aldridge's fork of it, I realized that Rust code in html files doesn't play nice, especially with linters. To give you an an example, IntelliJ shows me this for a simple event listener:
![image](https://user-images.githubusercontent.com/47357913/98445602-4981df80-213a-11eb-8228-5bff2b0a5cbb.png)
These are the

[2020-11-08 11:20] quinnjr commented on #1441
@teymour-aldridge I disagree with your assessment of modularization of html from models/controllers/view-models. Preprocessing like you've said with javascript has become the fad of the modern web, but preprocessing has been a part of the web, with modularization, since ye old good days of Perl and the initial introduction of PHP. Rust already has other templating libraries, such as a port of [han

[2020-11-08 12:31] teymour-aldridge commented on #1441
I feel like it’s better to minimise the use of macros and make use of the already very expressive nature Rust has –  I feel like macros are an escape hatch that we don’t need to use, because the language provides all the necessary features.

[2020-11-08 16:04] quinnjr commented on #1441
@teymour-aldridge

Thinking solely in the context of generating the VDom for Yew here, but the only other option for doing so would be to ship a live template rendering engine alongside the application code which would be extremely costly for performance. On top of that, you're looking at even more performance overhead with the current 'Yew way' of breaking larger partials into smaller functions.

[2020-11-08 16:08] teymour-aldridge commented on #1441
At the end of the day, everything has to end up as Rust code and I think we could provide better abstractions over that code so that you could just construct a series of function calls which would be inlined and optimised away by the compiler – there’s nothing that specifically requires the use of a macro. I haven’t investigated this very much, but it’s something that (if I every get time) I’d lik

[2020-11-08 17:14] quinnjr commented on #1441
We're stating to get off topic, but inlining functions and macro expansion are two very different things. Inlining a function is only going to replace the function call at the site during compilation; it doesn't invoke the function call to create. As well, generally, inlining improperly will be a negative for performance, even with compiler optimizations.

As I said, using functions for generating

[2020-11-08 17:17] teymour-aldridge commented on #1441
I may not be communicating things very clearly here – I think that it should be possible to write some functions wrapping the virtual DOM which have no (or very limited) performance cost and allow one to write Rust code instead of some Rust-HTML hybrid.

Something like “hyperscript?” https://github.com/hyperhype/hyperscript

I may be wrong here :)

[2020-11-08 18:35] quinnjr commented on #1441
Looking at hyperscript, it's essentially just a functional-looking wrapper for `document.createElement`.

That's, again, a runtime hit, but on the javascript side. You're looking at something that will perform worse than static html, especially at the scale of a modern webapp.

@teymour-aldridge maybe we should split future discussion of this off into another feature request thread? We're starting

[2020-11-08 18:42] teymour-aldridge commented on #1441
Agreed :)

This sort of discussion is also not ideal for a Github issue thread, but definitely worth having.

[2020-11-09 11:11] hamza1311 commented on #1129
What kind of integration are we talking about here? A special API or what?

[2020-11-09 13:52] siku2 commented on #1129
@hamza1311 let's split this issue up into several issues for the different tasks (that's the original purpose of this issue after all :) ) and continue the discussion there.

[2020-11-09 13:58] hamza1311 commented on #1129
@siku2, that's actually a good idea but I'd wait until my hooks documention PR before creating those issues (I'll create that PR after https://github.com/yewstack/yew/pull/1638 is merged.) Those 2 PRs should resolve most of points highlighted here and we will create new issues for remaining ones.

I asked that question because I was trying out the hooks and found out that `use_ref` works perfectly

[2020-11-09 14:15] siku2 commented on #1129
@hamza1311 I think we should create the issues anyway, even if we're just going to close them right away. That way they show up in the "Done" column of the project board which makes it easier to tell what's already been done.
The issue doesn't have to be much, really just the title is fine and a link back to this issue.

[2020-11-09 14:58] quinnjr commented on #1441
@teymour-aldridge It'd be better to open another thread so the project has a written, searchable record of what was discussed.

[2020-11-09 15:38] hamza1311 opened #1642 "Integrate use_ref with NodeRef"
This was initially posted in #1129. This issue tracks its progress.

I'd love to have what @jstarry meant by this "integration" explained here because as it stands, `use_ref` works well with `NodeRef`. Example:
[code]

Here's the output displayed after clicking on "Refresh" button:
![image](https://user-images.githubusercontent.com/47357913/98562072-75809a80-22cb-11eb-850b-415225d8f22a.png)

[2020-11-11 20:11] bjunc commented on #1310
Hi all,

As someone with a fair amount of JS and Elixir experience, I can say that @onelson assumptions on how LiveView works are mostly accurate. I might be able to add some additional context.

High-level, state and initial page markup are stored in the server (Phoenix). Upon page load, content can be traditionally rendered (eg. for SEO). A socket connection is made, where UI events (eg. clicks)

[2020-11-13 18:53] jkelleyrtp opened #1644 "Better API for hooks"
**Describe the feature you'd like**

The current hook API could use some work. The current format pushes all of the logic into a single function with an internal hook scope.

Here's `use_state` for example:
[code]
From a purely aesthetic standpoint, this is very awkward structure and is fairly opaque to what's actually going on behind the scenes. We have a few parts - an initializer (the second ar

[2020-11-16 14:48] hamza1311 opened #1647 "Consumer for contexts in struct components"
**Describe the feature you'd like**
Unlike function components, there is currently no way to consume contexts in struct components. There should be a way to consume contexts in struct components.

**Is your feature request related to a problem? Please describe.** _(Optional)_
It doesn't really solve a problem which didn't already have a solution but lack of a way to consume contexts in only struct

[2020-11-17 15:27] titaneric commented on #1421
Look forward to hearing the good news here, I really want to know the life cycle in Yew since I want to practice the Vue example in Yew. BTW, the diagram on previous issue is good!

[2020-11-17 15:59] WeaponMan opened #1649 "Video Element property muted"
**Problem**
Video property muted=true generates muted="muted" and that doesnt work anymore in recent browsers.

**Steps To Reproduce**
Create video with a source and add muted=true on it and listen to the audio playing.

**Expected behavior**
Muted is bool property I expect when I set muted=true only muted property without the value generated.

**Environment:**
 - Yew version: v0.17
 - Rust versio

[2020-11-17 17:51] siku2 commented on #1649
The way Yew adds attributes is the one recommended by the HTML standard. The issue here most likely isn't with the attribute itself but with the video being added dynamically instead of statically (See [this](https://stackoverflow.com/a/51755171) StackOverflow answer).

[2020-11-19 19:25] WeaponMan commented on #1649
Thats sad to be honest.
Anyway solved it by web_sys apis with call back on dataloaded.
Thank you for the info tho

[2020-11-19 19:25] #1649 closed

[2020-11-21 16:30] siku2 commented on #1649
Linking #1322 because setting the `muted` property rather than specifying an attribute might fix it.

[2020-11-21 16:36] #1613 closed

[2020-11-24 14:44] jstarry opened #1652 "Deprecate App struct in favor of function based interface"
Since we no longer really need the `App` struct at all, have you thought about deprecating it in favour of a more function-based interface?
[code]

This might even bring the API closer together with `yew::start_app` and the like.

_Originally posted by @siku2 in https://github.com/yewstack/yew/pull/1646#discussion_r528387328_

[2020-11-28 13:42] kay-is commented on #1581
I had a similar issue.

[code]

This threw an error at call-site when I didn't pass an `active` prop, which makes sense.

The strange thing was the actual error message *"no method named children found for struct ..."*

I had the impression I did something wrong with the `children` prop because the example on the Yew website uses a tuple struct, but in the end, it was because the `active` prop was

[2020-11-29 00:51] jkelleyrtp opened #1656 "Callbacks should be made within the lifetime of the component's scope"
**Describe the feature you'd like**
Currently, callbacks made within functional components are annoying to work with. The requirements on callback don't necessarily require `'static`, but are pretty much `'static`. Note, this means that closures can't contain references to borrowed data, meaning any values used by other state mechanisms need to be cloned into the closure.

However, this wouldn't b

[2020-11-29 10:03] hamza1311 opened #1657 "Listeners should take Into<Callback<Event>> instead of Callback<Event>"
**Describe the feature you'd like**
Currently, listeners take value of type `Callback<Event>`. They should take ` Into<Callback<Event>>` instead.

**Is your feature request related to a problem? Please describe.** _(Optional)_
There is no `self.link.callback(...)` abstraction in function components so it becomes to do `Callback::from(|e| ...)` every time there is a need to pass a callback.
[code]

[2020-11-29 10:04] hamza1311 commented on #1656
I think the lifetime should be from component being rendered to component being destroyed (re-render would call the hooks again.) I'm not sure if that is possible though.

[2020-12-02 10:26] chrysn commented on #364
Having async operations available would also help in dealing with heavily asynchronous APIs accessed through web-sys. In the tests I'm currently doing that appears to work well, and I'm using code like

[code]

For some applications, it may suffice to document that this works (provided it's correct w/rt when emit may be called). This shouldn't stop any deeper integration of async patterns into yew

[2020-12-02 16:23] teymour-aldridge commented on #364
I really like this solution (it feels satisfying as I read the short code excerpt) 🙃.

[2020-12-10 04:43] lukechu10 commented on #533
How about the way vueJS does it: https://vue-loader.vuejs.org/guide/scoped-css.html#deep-selectors

You could add an unique id to every component, modify the css which should be pretty simple, and recursively add an attribute to every DOM element in the component, perhaps at render time.

[2020-12-10 22:04] lukechu10 commented on #1642
Can this issue be closed since it seems like it works already?

[2020-12-10 22:36] rozgo opened #1658 "html! macro broken in latest rust stable and rust-analyzer/vs-code"
After latest automatic rust-analyzer update, html! macro complains:

could not resolve macro - rust-analyzer (macro error)

![image](https://user-images.githubusercontent.com/92162/101837375-96275480-3b04-11eb-96b1-283256ae4f95.png)

Could not resolve macro html
![image](https://user-images.githubusercontent.com/92162/101837996-82302280-3b05-11eb-94ab-a4f926ba2c5f.png)

Seems purely cosmetic, as e

[2020-12-11 17:10] mori5321 commented on #1658
I experienced the same issue.

[2020-12-11 20:54] lukechu10 commented on #1658
It is a bug with rust-analyzer, not yew: https://github.com/rust-analyzer/rust-analyzer/issues/6788, https://github.com/rust-analyzer/rust-analyzer/issues/6716 and https://github.com/rust-analyzer/rust-analyzer/issues/6756

[2020-12-12 10:43] cecton commented on #1636
I just tried but I don't think it is possible to do.

This is the kind of error I get:
[code]

I think `ref=...` can parse any expression after the `=` but the `..` is considered part of the expression.

If we really want the `..` we would need to deprecate the syntax `ref=expr` in favor of `ref={expr}`. Now that the expression is braced, we can safely parse the `..`

:disappointed: sorry for the

[2020-12-12 12:04] siku2 commented on #1642
It's still unclear what is actually desired here.  `use_ref` currently brings nothing to the table that helps with `NodeRef` (it's actually much more verbose than using it with `use_state`) because `NodeRef` already comes with interior mutability.

The entire hook API is a bit all over the place so I believe this issue is justified to discuss a better approach to this.

[2020-12-12 12:32] siku2 commented on #1657
Sadly, without specialization this is gonna be somewhat hard to implement with #1637 in mind...
I have thought about this and I like the idea of not having to write `Callback::from` but there are a few things to keep in mind:

- we want to unify element props with component props so this needs to work for any prop with type `Callback`
- thanks to the decision to go with implicit optional attribute

[2020-12-14 05:38] MakotoE opened #1661 ""No route matched" warning in yew-router"
#### Question

I am getting this warning in my web browser on an app using yew-router.

[code]

I edited the counter example to add the router, passing both `render` and `redirect` props.

[code]

How do I change this code to fix the warning?

#### What I've tried (optional)

I looked at the router example but it's quite a complex program and I don't know what it does differently than mine.

[2020-12-16 11:46] pvdklei opened #1663 "Document how to enable VSCode html autocomplete support"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2410%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1663)

I am doing a test run with Yew, and on of my main struggles seems to be that I can't use any html autocomplete commands. Will there be (or is there) any vscode (or other editor) plugin that enables this?

---

<details>
<summary>
<b>IssueHunt

[2020-12-16 18:56] hube12 opened #1664 "IndexMap build error on yew v0.17.4"
Compiling yew v0.17.4 from trunk serve give this error
[code]

**Steps To Reproduce**
Steps to reproduce the behavior:
[code]

clone the boid web app, install wasm dependencies and trunk, run trunk serve, get error

**Expected behavior**
Mod.rs should not have that kind of error

[2020-12-16 22:24] thedodd commented on #1664
@hube12 if you build your app outside of trunk using `cargo build --target wasm32-unknown-unknown` do you still get the same error? I ask because technically that is all Trunk does at the end of the day — other than the processing of the non-Rust assets (html, sass, css, &c).

[2020-12-16 22:41] hube12 commented on #1664
[code]

[2020-12-16 23:03] thedodd commented on #1664
@hube12 that's about what I expected. Looks like this doesn't really have anything to do with Trunk `:)`. I hereby yield to the maintainers (@siku2 @jstarry & others).

[2020-12-17 01:45] devnought commented on #1658
I'm also seeing this in boy `rust-analyzer` and when trying to build on the command line.

The following is when I try to compile the `counter` example on stable (1.48):
[code]

It does compile when I add the `recursion_limit` attribute, but I feel like I shouldn't have to do that.

[2020-12-17 20:38] siku2 commented on #1664
As mentioned on Discord, this error looks like `indexmap` thinks it's being built without the standard library. In that case `IndexMap` no longer defaults to the `RandomState` hasher from `std` but instead requires a custom one through a type argument, thus the error.
I don't know *why* it thinks there's no standard library though, there's likely something special about your setup that causes it.

[2020-12-18 14:31] teymour-aldridge commented on #1663
I would imagine not.

`html!` is a procedural macro (the Rust compiler feeds the code inside `html! {...}` to a Rust program which is part of Yew which outputs Rust code that manipulates the DOM). Writing autocomplete software for this would probably be quite complicated. IDE software for programming languages tends to be pretty involved software (`rust-analyzer` contains 135k+ lines of Rust code)

[2020-12-18 14:44] teymour-aldridge commented on #1632
I think this should be fine. `thread_local!` only becomes an issue when you send things across thread boundaries. When you do this, the any references from the spawned thread to the item in the `LocalKey` will refer to a newly initialized thread-specific `LocalKey` rather than the previous one.
Do you plan to use the WebAssembly thread spec later in your application (if not it shouldn't be an issu

[2020-12-18 14:49] teymour-aldridge commented on #1590
Any browser-defined Javascript functions will map 1-to-1 to some mechanism inside the `web_sys` crate, so you can just think about how you would do it in Javascript and [search `web_sys`'s documentation for the appropriate items](https://docs.rs/web-sys/0.3.46/web_sys/?search=). If you need to use async code [this solution](https://github.com/yewstack/yew/issues/364#issuecomment-737138847) is quit

[2020-12-18 14:54] teymour-aldridge commented on #1385
I'm working on a [GraphQL client](https://github.com/rhapsodomancy/myoxine) (still very early on in the process, but it looks like it might show some promise), which is something like a Relay or Apollo GraphQL clone. You might be interested in it.

[2020-12-18 18:58] hamza1311 opened #1666 "Consuming Web Components is very unergonomic"
As I recently found out while writing a wrapper for [Material Web Components](https://github.com/material-components/material-components-web-components), consuming web components in yew is far from an ergonomic and pleasant experience.

## Problems I ran into
Note: all of these problems are not strictly related to Yew but I'm mentioning them in case someone else finds themselves stuck.

* Importin

[2020-12-18 20:01] kellpossible commented on #1385
Tarpc looks excellent, can't remember if it has wasm support yet.
I'm currently using websockets + serde + serde_json for a work project. Might swap out serde_json for something else later if it becomes a bottleneck, but it does make testing/debugging easy.
For an rpc framework, jsonrpc is pretty simple and could be implemented yourself if none of the existing rust libraries fit your needs.

[2020-12-18 21:34] jacob-pro commented on #1590
Yeah thanks, I realise its possible to do by calling the appropriate Javascript functions directly, but I was already using the Yew Fetch API for all my other API routes.
I currently only need to upload small files (just a photo upload) so I'm just reading them into memory and encoding them into a multipart myself.
(https://github.com/kiwi-joinery/kiwi-admin/blob/master/src/api/gallery.rs#L87)

[2020-12-18 21:36] teymour-aldridge commented on #1590
I'll try and work out how to handle larger files (file uploads are not something I'm particularly experienced with) and add it to the documentation!

[2020-12-20 11:48] jacob-pro commented on #1590
There is actually an issue open for this already
https://github.com/yewstack/yew/issues/1190

[2020-12-20 12:44] teymour-aldridge commented on #1590
Cool – I guess we can close this one and keep only that one then?

[2020-12-20 13:16] #1590 closed

[2020-12-20 22:58] pvdklei commented on #1663
I get that writing a complete new analyser for this is not a priority, but I just meant enabling the default settings. But either way, I didn't look good enough the first time, and I just found a way to enable it!

In your vscode `settings.json` file, you can include:
[code]

Maybe you can add this to your website (and for other editors), because this is the first thing I noticed when I started us

[2020-12-21 00:59] pvdklei commented on #1663
I also felt like creating a component takes a bit of boilerplate code, and copying and pasting other (example) components is not really nice. Having a snippet for this is very nice! I added the json part below, maybe make a vscode extension for this, and other usefull tools? Only takes a few secs I believe

https://user-images.githubusercontent.com/54803002/102729124-a5da4080-432f-11eb-93fc-ad6d18

[2020-12-23 06:43] jkelleyrtp opened #1669 "Move all yew-xxx crates into a packages folder."
The main folder is getting unwieldy. It would totally wreck the git history, but I suggest moving all the pacakges/crates into an explicit packages folder.

We do this at my monorepo company and quite a few other crates in the ecosystem do the same, and their repos are much cleaner than those that don't.

Those that do:
- https://github.com/SergioBenitez/Rocket
- https://github.com/servo/servo
- h

[2020-12-23 22:15] jkelleyrtp opened #1670 "Break the primary yew crate apart into discrete chunks"
As part of SSR, I've been wrenching on the main yew branch. However there are a bunch of extra bits that seem to bloat the primary crate. In my branch, I've done these things

- Move the format module out into its own module (yew-format)
- Move the agents into their own crate (yew-agents). Agents don't need to be built into the VDOM framework, and are further bloated when trying to target other pl

[2020-12-23 22:22] jkelleyrtp opened #1671 "Provide a first-class tool to build yew projects"
I've been working on my own local development tool, yew-pack for the past month or so.

https://github.com/jkelleyrtp/yew-projects/tree/master/packages/yew-pack

Our current lineup of examples are great, but for a newbie, a bit convoluted to get up and running. We should provide (or endorse!) a first-class tool to develop yew projects. Trunk and wasm-run are also great tools. Ultimately, it should

[2020-12-24 13:12] hamza1311 commented on #1671
I think where we stand today with today with `trunk` is good enough that doing anything more would cause more harm than good. There was [this discussion](https://canary.discord.com/channels/701068342760570933/701068343431528490/781191215440855092) about Yew CLI tool.

`yewpack build` = `trunk build`
`yewpack develop` = `trunk serve/watch`
`yewpack test` = `trunk test` (https://github.com/thedodd/t

[2020-12-24 16:40] jkelleyrtp commented on #1671
I like trunk, but never heard of it until recently. I think Trunk would take off more if the docs, examples, and guides here in the Yew repository selected it as the unofficial (or official!) tool of choice for building, developing, and testing yew apps.

Uh, yeah, I guess they all sound cool but do the same thing.

In writing yew-pack (which is honestly just a stripped down version of Trunk, beca

[2020-12-24 17:09] hamza1311 commented on #1671
It does [here](https://yew.rs/docs/en/next/getting-started/project-setup/using-trunk). ["Build a sample app"](https://yew.rs/docs/en/next/getting-started/build-a-sample-app) portion of the docs also uses trunk.

I think taking a look at https://github.com/intellij-rust/intellij-rust/issues/6367 or proc-macro support (https://github.com/intellij-rust/intellij-rust/issues/1786) would be a starting p

[2020-12-24 17:23] jkelleyrtp commented on #1671
Pfffft, I never saw #1559 - glad it happened! Though, each example is a subcrate in the top-level Cargo.toml. I imagine trunk can work with just examples?

[2020-12-24 17:23] #1671 closed

[2020-12-25 19:40] davnav opened #1673 "getting error "import requires a callable""
#### Question
I am trying to build and small rat-maze problem solution . For solving the maze I created a function method for Cell ( which is actually grid in my program) .I need to call the struct method from button click. When I tried to use the function from the struct created  (which is also implemented as Component), the code compiled successfully., but when I ran it , getting below error in

[2020-12-27 03:52] davnav commented on #1673
I managed to solve it when I added the path as a field in the Cell. So closing this.

[](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=01bff7af34d6b7f886da074470d33bc9)

[2020-12-27 03:52] #1673 closed

[2020-12-27 06:58] jstarry commented on #1522
Hey @ericandre615, I think the common pattern here is to use higher order components. You could wrap a component in `<Transition>` and have it conditionally destroy a component when an animation finishes. Would that solve your problem (assuming you still have it 3 months later 😅  )

[2020-12-28 03:16] nwneisen commented on #1421
I'd like to work on this as a way to start getting familiar with the project.

[2021-01-01 16:07] madmaxio commented on #1346
@liquidblock , do you plan to merge your crate as a service?

[2021-01-02 16:20] Oyelowo commented on #576
Recoil and Jotai might also be worth considering for inspiration:

https://github.com/facebookexperimental/Recoil
https://github.com/pmndrs/jotai

[2021-01-03 09:56] SOF3 opened #1676 "associated function `build` is private"
**Problem**

HTML macro fails with the error `associated function `build` is private`.

[code]

**Steps To Reproduce**

I import `use yew::prelude::*;` with a submodule `mod menu;` with the code
[code]

with the Properties definition for `Menu`:

[code]

I cannot find this error anywhere, so I suppose I'm running into a corner case.

**Environment:**
 - Yew version: 0.17.4
 - Rust version: 1.49.0

[2021-01-03 09:59] SOF3 commented on #1676
cargo-expand gives

[code]

[2021-01-03 10:02] SOF3 commented on #1676
cargo-expand also shows
[code]
for the properties.
It appears that `Properties::Builder::build()` is declared as a `fn build(self)` without public visibility.
This is probably because my `struct Properties` is private.

But it is actually not necessary to make my `struct Properties` public, because it is only used as an associated type in the `impl Component for Menu` in the same module.

Should I

[2021-01-03 10:04] SOF3 commented on #1676
Never mind, this actually leads to E0446 even if the builder passes.

[2021-01-03 10:04] #1676 closed

[2021-01-03 18:13] Xavientois opened #1677 "Properties derive macro fails on empty struct"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1677)

**Problem**
When using `#[derive(Properties)]` on a struct containing no members, it causes a compiler error.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Create struct with no members: ex. `pub struct Model`
2. Try to derive `Pr

[2021-01-03 18:16] Xavientois commented on #1677
I am wanting to use this to create `PureComponent`s in order to clean up my code. Basically, what I found as a workaround is to just implement the trait explicitly:
[code]

[2021-01-04 16:16] ericandre615 commented on #1522
Hey @jstarry, I haven't finished working on this yet, but I had shifted to basically a TransitionGroup style component that sort of does, I think, what you're suggesting. It basically manages it's children. I'm not sure the best way to go about it, but what I am trying is to recursively iterate the children the `TransitionGroup` component is given and it basically tries to manage the lifetime of t

[2021-01-04 20:49] #1522 closed

[2021-01-06 03:24] thedanvail commented on #1346
I've returned after a hard fall/winter to look at what @liquidblock has and to try to merge it into the code base. As this is my first foray into open source development, if anyone could offer up some time to walk me through a few things, I'd be REALLY grateful. I've gone through and read the yew/CONTRIBUTING.md file along with the external links listed in said file. For now, I'll get myself acqua

[2021-01-06 19:42] tv42 opened #1678 "TodoMVC example: cannot double-tap to edit on Chrome for Android"
**Problem**

The TodoMVC example zooms in and out, instead of editing todo entries.

**Steps To Reproduce**

1. Visit https://yew-todomvc.netlify.app/ with Chrome on Android phone.
2. Enter a todo entry.
3. I now want to edit that todo entry.
4. Instructions say "Double-click to edit a todo"
5. Double-tap the todo entry.
6. Observe browser view zooming in/out, toggling between fitting the GUI and

[2021-01-07 00:35] theduke opened #1679 "Router Switch is order dependant"
**Problem**

With the below router definition, the router will always match the `Home` route and ignore the other definitions.

Maybe `"/"` has some special match-all semantics?

Making `Home` the last variant will make things work properly.

This is highly confusing behaviour, I spent quite a bit of time tracking this down.

[code]

**Environment:**
 - Yew version: `0.17.4`
 - yew-router: `0.14.0

[2021-01-07 12:22] hamza1311 commented on #1679
This behavior is [documented](https://yew.rs/docs/en/concepts/router#how-to-use-the-router) but I do think it should be made order independent if possible.

[2021-01-07 15:53] theduke commented on #1679
It's not documented though that `"/"` is essentially a `"/*"` wildcard.

Would also be good to add the warning from your link to the crate docs. (I never checked the web docs, just docs.rs).

[2021-01-07 17:28] siku2 commented on #1679
This is working as intended, even if is confusing and not appropriately documented.
This is something that should be addressed in router v2.

Off the top of my head I believe there are cases where we need to rely on the order to resolve parsing ambiguities so I don't think we can get rid of it entirely without losing flexibility or redesigning the system. That being said, cases where a route is de

[2021-01-07 17:33] siku2 commented on #1679
This is something that bothers me as well. It isn't directly related to the ordering but I think it should be addressed as well, because the implicit wildcard is quite confusing.

[2021-01-08 04:55] Th3-M4jor opened #1681 "yewtil-macro currently doesn't build"
**Problem**
`yewtil-macro` has a build error, `syn::export` doesn't exist.

unresolved import `syn::export`
 --> /home/major/.cargo/git/checkouts/yew-7424ad4d701b481c/60fed58/yewtil-macro/src/function_component.rs:4:10
  |
4 | use syn::export::ToTokens;
  |          ^^^^^^ could not find `export` in `syn`

error: aborting due to previous error

For more information about this error, try `rustc --e

[2021-01-08 18:17] #1681 closed

[2021-01-08 20:00] oOBoomberOo commented on #1381
I would like to work on this but to clarify, does "Yew Docs" here mean the yew tutorial hosted on [yew.rs](https://yew.rs) or the one hosted on [docs.rs](https://docs.rs/yew)?

[2021-01-08 20:47] teymour-aldridge commented on #1381
I would imagine both would be good, but primarily the stuff on yew.rs (which is contained in the `docs/` directory if memory serves me right).

[2021-01-09 21:29] liquidblock commented on #1346
I prefer to be referred to by they/them pronouns.

----

The reason as to why I did not create a PR of my crate as a service in yew is because of my missing documentation, tests and examples.
For the tests (and maybe also the example) there probably needs to be some kind of server that has an Server Send Event interface that can be tested against.
Could that SSE testing server be started from the

[2021-01-09 21:38] madmaxio commented on #1346
@liquidblock Good idea is to use warp as a server - it does have SSE support https://github.com/seanmonstar/warp/blob/master/examples/sse_chat.rs, https://github.com/seanmonstar/warp/blob/master/examples/sse.rs.
As for output types, IMHO it should be similar to WS service.

[2021-01-09 21:45] thedanvail commented on #1346
@liquidblock I’m sorry - I shouldn’t have assumed. I’ll remember to use non-specific language in the future.

[2021-01-09 21:45] thedanvail opened #1687 "@liquidblock I’m sorry - I shouldn’t have assumed. I’ll remember to use non-specific language in the future."
@liquidblock I’m sorry - I shouldn’t have assumed. I’ll remember to use inclusive language in the future.

_Originally posted by @thedanvail in https://github.com/yewstack/yew/issues/1346#issuecomment-757371902_

[2021-01-09 21:46] #1687 closed

[2021-01-09 21:49] thedanvail commented on #1346
@liquidblock id love some help if you have the time to offer it. I’m with my partner this weekend, so I’ll be very sparse with communications, but on Monday, I’ll be back to it and maybe we can work together 😀

[2021-01-09 23:18] siku2 commented on #1687
I assume this issue was created entirely by accident. To avoid having it show up in search results we should probably remove it, @jstarry?

[2021-01-09 23:23] thedanvail commented on #1687
Yep, on mobile. Sorry.

[2021-01-10 23:45] oOBoomberOo commented on #1381
Submitted my draft PR, I would like to hear some feedback on the current link style if you don't mind.

[2021-01-11 00:19] liquidblock commented on #1346
@thedanvail do you have a Discord account? There is a yew Discord server (the link is in yews readme).
Discord might be better suited for synchronous communication. I have some time on Monday, probably somewhere between 3pm-7pm UTC.

[2021-01-11 15:05] fraillt opened #1696 "Adding callback_future_once on LinkFuture trait (yewtil crate)"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1696)

It would be nice to have `callback_future_once`, as it matches nicely with `callback_once`.
also it looks much cleaner.
[code]
vs.
[code]

Implementation is pretty simple as well.
[code]

Does it needs more discussion, or maybe I can make a PR?

[2021-01-11 18:37] thedanvail commented on #1346
@liquidblock I do - I'll hop into that one. Unfortunately, I'm in CST time, so that's coincided with my work day, but I'll still do my best to knock out what I can! If I have problems/questions, would you mind if I messaged you?

[2021-01-12 03:32] #1669 closed

[2021-01-15 20:23] saona-raimundo opened #1702 "Controlling webpage rendering: beyond DOM events"
**Problem**
The `update` method does not guarantee a re-render of a component, even if a DOM event is sent.
There can be two DOM events and the rendering is done only for the second event, while the first event is never shown.

**Steps To Reproduce**
The idea of this example is to have a heavy computation which should happen whie the browser shows a "Loading" message. It is build from the yew samp

[2021-01-16 12:56] edkv commented on #533
My dream is to have a component-oriented solution like Yew, but to be able to use some custom styling/layout language instead of HTML/CSS, something like [iced](https://github.com/hecrj/iced) has, or like [elm-ui](https://package.elm-lang.org/packages/mdgriffith/elm-ui/latest/). The biggest issue I see with CSS is that styles are separated from HTML and the view is splitted into two parts as a res

[2021-01-17 14:11] xosxos opened #1704 "How to use the #[function_component()] attribute?"
**Problem**
I am trying to use the Hooks API with the `#[function_component()]` attribute.

This gives me the following: `error: cannot find attribute 'function_component' in this scope`

I am using `yew 0.17.4`  and in the file I am importing yew like so: `use yew::prelude::*;`

Is the `function_component` attribute a feature that should be added when declaring dependencies in the Cargo.toml? Or

[2021-01-17 14:19] siku2 commented on #1704
yew-functional simply isn't released yet. You can't use `#[function_component]` without depending on the git version of yew (and yew-functional as it's currently in a separate crate).

See the [project board](https://github.com/yewstack/yew/projects/3)  for more details about the current state.

[2021-01-17 14:20] teymour-aldridge commented on #1704
@siku2 beat me to it :D

[2021-01-17 14:21] siku2 commented on #1704
Haha, I'm sorry. I'm sure your response would've been more elaborate though :)

[2021-01-17 14:37] teymour-aldridge commented on #1704
Relatively similar I would imagine.
No worries :D

[2021-01-17 14:43] xosxos commented on #1704
Ah I see! It looks very promising. I actually see a lot of possibilities combining Tailwind with Yew as soon as creating components require a little less boilerplate. Very exciting stuff !

[2021-01-17 15:08] #1704 closed

[2021-01-17 18:09] saona-raimundo commented on #1702
Using `TimeoutService` solves the problem: delaying the message that performs even one nanosecond works well!

In short, I had this `update` function:
[code]
And I had to change it to:
[code]
which asks now to record the `TimeoutTask` somewhere in the `Model` (in this case in `self.state`).

This is also the "trick" that I had to use in JavaScript.

Is there any way to solve this without delaying

[2021-01-19 05:31] lukechu10 commented on #1702
You can use `Duration::from_secs(0)` to execute the task when the thread is idle (so after the next update).

There is however, a use-case where this workaround does not work :(
I am trying to create a playground for a scripting language that I created: https://github.com/lukechu10/ellalang-playground
I have the default `print` function rerouted to output data into a readonly `textfield` element.

[2021-01-19 22:17] saona-raimundo commented on #1477
Hi! I just wanted to say that I also run into this problem.
The proposed solution by @siku2 of changing `wasm.js`, together with adding a Text Encoder and Decoder (see [wasm-bindgen guide](https://rustwasm.github.io/docs/wasm-bindgen/reference/browser-support.html#caveats)), worked well!

Is this gonna change with trunk? (I am using wasm-bindgen now)

[2021-01-20 09:05] teymour-aldridge commented on #1477
I would recommend trying it and seeing what happens. If it doesn't work a patch could be submitted to update this behaviour in Trunk.

[2021-01-23 01:58] jstarry opened #1708 "Agent v2"
#### Problem
The current `Agent` trait API includes a way to handle "messages" and "input" and it's not immediately clear when to use each of these. Messages are unidirectional and primarily intended for internal agent usage. Input messages are for bidirectional communication and have a corresponding output message type and are intended for external client usage.

#### Suggested Changes
- Rename "

[2021-01-23 02:23] jstarry commented on #1702
Hey @saona-raimundo, yes this exactly the "trick" you need to use since you're running the computation in the main thread which is also used for rendering in web applications and managed by the browser event loop. For both you and @lukechu10 I recommend using web workers (check out Yew's "public" [agents](https://yew.rs/docs/en/concepts/agents)) to do heavy computation off the main render thread.

[2021-01-23 02:24] jstarry commented on #1696
No more discussion needed, sounds nice to have, PR is welcome @fraillt!

[2021-01-23 02:56] jstarry commented on #1678
Thanks for the report, fixed here: https://github.com/yewstack/yew-wasm-pack-template/pull/30

[2021-01-23 02:56] #1678 closed

[2021-01-23 03:01] jstarry commented on #1677
Thanks for the report! If you're still interested in fixing the issue, you can start here: https://github.com/yewstack/yew/blob/45b6cb8b07ffd0398c58efcce0ad30e410c7b661/packages/yew-macro/src/derive_props/mod.rs#L26-L29

To fix the bug we would need to support `Unit` variant of the [`Fields` enum](https://docs.rs/syn/1.0.58/syn/enum.Fields.html)

[2021-01-23 03:13] jstarry commented on #1663
Adding a section in the [docs](https://github.com/yewstack/yew/tree/master/docs) (yew.rs) would be great! Bonus points for creating the extension 😉

[2021-01-23 03:15] jstarry commented on #1658
Looks like the rust-analyzer issues have been fixed, feel free to re-open if you are still experiencing this issue

[2021-01-23 03:15] #1658 closed

[2021-01-23 03:16] #1664 closed

[2021-01-23 03:25] #1381 closed

[2021-01-23 03:31] jstarry commented on #1666
Thanks for the write up @hamza1311

Can you please create a new issue to track support for both of these?

Agreed that https://github.com/yewstack/yew/issues/1322 covers these

Agreed that the scope of https://github.com/yewstack/yew/issues/1550 should include this issue

[2021-01-23 11:50] hamza1311 commented on #1678
I think this also needs to be fixed in `examples/todomvc`

[2021-01-23 12:22] #1696 closed

[2021-01-23 15:55] jstarry commented on #1676
Ah yeah, appears that the properties magic only works with public properties types? Sorry you bumped into this

[2021-01-23 23:20] teymour-aldridge commented on #1441
So I think the broad conclusion was that this is not practical to do.

@quinnjr I've written a small crate called Malvolio (https://github.com/lovelace-ed/lovelace – look in `utils/malvolio`) which might give you a better idea as to what I'm thinking of.

I agree that if we were to read from a file this would need to be done with a macro for performance reasons.

I guess we can close this?

[2021-01-23 23:54] teymour-aldridge commented on #1446
I've produced a crate called Malvolio (available on crates.io) which allows you to construct HTML trees using the builder pattern and use them inside Yew components. Because the API is macro-free it works with rustfmt.

It can be incrementally adopted but is currently lacking support for child components (which I intend to add in a future release) and listeners (support for those is also planned.)

[2021-01-24 00:02] siku2 commented on #1441
Agreed

[2021-01-24 00:02] #1441 closed

[2021-01-24 11:30] siku2 commented on #1678
Thanks for the heads-up, should be fixed now.

[2021-01-24 18:57] lukechu10 commented on #1702
I am having trouble creating a `Private` agent for this one project I am working on: https://github.com/lukechu10/ellalang-playground. Right now, I just use a a `Job` agent but my project is an interpreter for a language and for long running computations, the thread just freezes. There doesn't seem to be many guides on how to use `Private` agents. Any guidance would really be appreciated :)

[2021-01-25 02:40] entire commented on #1663
Would be interested in this as well.

[2021-01-25 07:27] atmnk commented on #1064
This can be done using type alias like below
`use yew::prelude::*;
pub type IntComp = ValueHoldingComponent<u64>;
pub type StringComp = ValueHoldingComponent<String>;

pub struct App {
    link: ComponentLink<Self>,
}

impl Component for App {
    type Message = ();
    type Properties = ();

    fn create(_: Self::Properties, link: ComponentLink<Self>) -> Self {
        App {
            link,

[2021-01-25 11:58] teymour-aldridge commented on #1677
@Xavientois I just wanted to check if you're interested in doing this (otherwise I'm happy to do it – but no worries if you are interested!)

[2021-01-25 13:08] Xavientois commented on #1677
I am definitely interested, but am pretty busy with schoolwork. I'll take a crack at implementing it tonight. If it seems too involved, I'll let you know @teymour-aldridge and you can go for it.

Thanks for checking!

[2021-01-25 13:10] teymour-aldridge commented on #1677
You’re welcome.

There’s no hurry (from my perspective!)

[2021-01-25 13:37] saona-raimundo commented on #1702
Hi! Thank you for the comments!

I agree that webworkers (i.e. Agents) is the way to go, but I have not been able to figure out how to use them.

The [pub_sub](https://github.com/yewstack/yew/tree/master/examples/pub_sub) example is for communication between components, while the [multi_thread](https://github.com/yewstack/yew/tree/master/examples/multi_thread) example seems to be in construction,

[2021-01-25 14:33] teymour-aldridge commented on #1585
My initial feeling was that it would be better to have only one or the other, but I think in this case it would actually be nice to have both.

I'm happy to submit a patch, if that's something the maintainers are interested in.

[2021-01-25 14:35] hamza1311 commented on #1663
If I were to PR this in, where exactly on the website will the docs go?

[2021-01-25 14:36] teymour-aldridge commented on #1663
Maybe add a section titled something to the effect of "tips for developing Yew applications?"

[2021-01-25 16:36] sharpninja commented on #1384
I'm a 25 year veteran of web development.  I'm tackling Rust a s pivot in my career.  Learning Yew through implementing this seems like a fun challenge.  I'll be starting immediately.

[2021-01-26 13:06] pvdklei commented on #1663
By next Monday I will have time to write a nice section about it, and create a (small) extension. I can maybe even transfer it to vim. If anyone's already doing it, let me know so we don't do double work!

[2021-01-26 13:31] hamza1311 commented on #1663
@pvdklei, I've started working on the documentation aspect in #1716. If you want to help with these docs, please do so there.

[2021-01-26 18:33] entire commented on #1139
+1 to this -- @tommket I also had difficulty understanding what was a good way to Yew work with building and running a WASM app.

Also for whatever it's worth, I looked at `wasm-pack`, `cargo-web`, and I ended up going with https://github.com/thedodd/trunk -- I thought this was a nice way to get Yew up and running. Would love to see documentation for that as well included alongside `wasm-pack`.

[2021-01-26 19:22] worikgh opened #1718 "Cannot log in to discord"
Clicking on links provided take me to a "invite"

Since my email is already registered clearly I have already done that step.  I am looking enter, not join, the discord thingee.

[2021-01-26 19:46] hamza1311 commented on #1139
[`trunk`](https://github.com/thedodd/trunk) is the recommended build tool to use so I'm not sure if there's a need for a tutorial for `wasm-pack`/`webpack` now. I can't think think of a reason why you wouldn't use `trunk`.  There's a tutorial on getting started with trunk which you can find [here](https://yew.rs/docs/en/next/getting-started/project-setup/using-trunk). There is also a [template](ht

[2021-01-27 02:01] philip-peterson commented on #1718
See if this link works for you. Could use an update in the README/wiki too: https://discord.gg/WypH7n3trW

[2021-01-27 17:30] siku2 commented on #1702
Let's open a new issue for this.

[2021-01-27 17:50] siku2 commented on #1139
I agree that Trunk has mostly superseded the wasm-pack/webpack combo so I guess this issue can be closed.

[2021-01-27 17:50] #1139 closed

[2021-01-28 07:59] saona-raimundo commented on #1702
It could be a bit old, but I think this would be the issue asking for an example #929

[2021-01-28 09:00] saona-raimundo commented on #1477
Today, I tried today following [the steps in the next release fo building a new yew-app](https://yew.rs/docs/en/next/getting-started/build-a-sample-app), and Edge did not run the app. I checked the produced files and the `index_<code>.js` file has the "Edge-problematic" line.
(Sorry to bother, just trying to be helpful)

[2021-02-01 21:52] davidbailey00 opened #1723 "Broken links in website documentation"
This is about:
- [ ] A typo
- [ ] Innaccurate/misleading documentation (e.g. technically incorrect advice)
- [ ] Undocumented code
- [ ] Outdated documentation
- [x] Other: broken links

**Problem**

`Get started with...` links in _Project Setup_ (https://yew.rs/docs/en/getting-started/project-setup) are broken as they point to `.md` whereas the correct URLs end without an extension

**Details abo

[2021-02-01 22:01] davidbailey00 commented on #1723
I just noticed this seems to be fixed in the `master` version of the docs site so I assume this is already fixed - I'll leave this issue open in case further steps can be taken to fix this on the stable docs but I'm happy for it to be closed :)

[2021-02-02 02:23] hamza1311 commented on #1723
Is the issue still present for you in  [next version of docs](https://yew.rs/docs/en/next/getting-started/project-setup/)? Those links are working in both versions for on Firefox Nightly (Android)

[2021-02-02 02:26] davidbailey00 commented on #1723
No, the next docs are okay which is what I meant by my last comment 👍🏻

[2021-02-02 05:44] hamza1311 commented on #1723
Oh, I somehow missed that. I guess the only thing we could do is wait until release

[2021-02-02 09:32] ZiiMakc opened #1724 "Router example error"
**Problem**
Yew router example panics on authors route:
`index-53cbec149f542d75.js:300 panicked at 'could not initialize thread_rng: getrandom: this target is not supported'`

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Download example on master and run it.
2. Open authors route.

**Expected behavior**
No error

**Environment:**
 - Yew version: `master`
 - Rust version: 1.49.0
 - T

[2021-02-02 09:45] #1723 closed

[2021-02-02 18:23] siku2 commented on #1724
I think this was mentioned on Discord before, but it's great to have a dedicated issue for it.
My guess is that it has something to do with `rand::thread_rng()` (the error even states this) as the `AuthorList` component makes use of it [here](https://github.com/yewstack/yew/blob/master/examples/router/src/pages/author_list.rs#L82) and is the only component to do so.

I believe this has something t

[2021-02-05 17:41] #1724 closed

[2021-02-05 22:43] #1631 closed

[2021-02-05 22:56] siku2 opened #1732 ""Publish Examples" actions workflow broken"
Recently the publish examples workflow started failing seemingly out of nowhere.
Might have something to do with an update in Trunk? I guess it just stopped automatically creating missing parent directories.

The workflow file can be found here: [.github/workflows/publish-examples.yml](https://github.com/yewstack/yew/blob/master/.github/workflows/publish-examples.yml)

## Possible fixes

- create

[2021-02-06 01:36] Tweoss commented on #1438
Hi,
I also ended up confused by the immediate return and was able to resolve it by placing the task in the component. Is it possible to add this to the FetchService documentation for others if they find this to be an issue?

[2021-02-06 08:21] teymour-aldridge commented on #1438
We do have a section on this, but I'm not sure if it's detailed (or prominently displayed) enough?

<img width="799" alt="Screenshot 2021-02-06 at 08 20 42" src="https://user-images.githubusercontent.com/42674621/107113055-358e6c80-6854-11eb-83a9-7e542dd143a2.png">

[2021-02-06 14:27] siku2 commented on #1438
I'm honestly not sure how we could possibly make it any more clear that this is how tasks work... Rust emits a warning if you discard a task and all the different forms of documentation mention it explicitly.

I guess some parts of the documentation haven't been released yet?

[2021-02-06 19:18] Tweoss commented on #1438
Yup! Personally, I ended up printing out the error code (408) and thought that it was a result of headers not being configured correctly (from the tip right below the screenshot mentioned). Perhaps including the 408 code (which doesn’t seem to be documented elsewhere on yew) with the task being dropped or, if it isn’t in already there, adding it to docs.rs?

[2021-02-10 17:57] #1632 closed

[2021-02-10 18:08] lukechu10 commented on #1026
For the `use_state` hook, wouldn't it be more ergonomic if it only returned a struct rather than a tuple? It could be something like this:
[code]

So we could use it like this:
[code]

This way, when cloning the state into a closure (for callbacks), we only need to clone one `Rc` instead of two which should improve performance and ergonomics.

[2021-02-11 04:15] lukechu10 opened #1737 "Generic components with lower case type: "expected a valid html element""
**Problem**

When using a generic component with a type param in lower case, there is an "expected a valid html element" error.

**Steps To Reproduce**
The following code does not parse
[code]

**Edit:** it seems like there is only an error when the generic type is in lowercase (e.g. `bool`). PascalCased types don't seem to cause any problem.

**Expected behavior**
Should parse correctly.

**Scree

[2021-02-11 18:20] lukechu10 commented on #1737
**Update**

Doesn't seem to occur with self-closing tags.
![image](https://user-images.githubusercontent.com/37006668/107680503-cac5a280-6c52-11eb-804b-e744152dcdce.png)

[2021-02-11 19:35] siku2 commented on #1737
You've uncovered a ridiculous issue here... This problem here lies with the peek mechanism Yew uses next to the parsing logic.
The parser itself would've been fine this construct (*probably* ;) ) but Yew starts by peeking at the code first to determine what kind of HTML it has to parse in the first place.
The reason why you get this specific error is because the peeking logic has a bug which resul

[2021-02-11 23:47] lukechu10 opened #1739 "Support generic functional components"
**Problem**

Currently, functional components created using `#[function_component]` do not support generics. It would be nice if one could simply write this:
[code]

**Questionnaire**

- [ ] I'm interested in fixing this myself but don't know where to start
- [x] I would like to fix and I have a solution
- [ ] I don't have time to fix this right now, but maybe later

[2021-02-12 02:08] lukechu10 commented on #1737
@siku2

I am not familiar (at all) with `syn` but would it be possible to just reuse `syn`'s default `.parse()` for [`syn::TypePath`](https://docs.rs/syn/1.0.60/syn/struct.TypePath.html)?

Does `syn` support infinite lookahead or LL(k) grammars? I previously used a parser combinator library, [`nom`](https://github.com/Geal/nom) before which seems pretty similar (the slice start seems pretty simila

[2021-02-13 08:52] edg-l commented on #1658
![image](https://user-images.githubusercontent.com/15859336/107846079-245bd780-6de1-11eb-937b-7f26fce0c9f0.png)
I still get it.

[2021-02-13 12:53] siku2 opened #1742 "Add a comment to the router example explaining the need for a <base> tag"
If you just copy paste the switch implementation from the router example you will find that it doesn't work at all if your HTML doesn't have a `<base>` tag.
This is somewhat hinted at in the README but we should add a comment in the source code as well.

A good location for this might be just above the `PublicUrlSwitch`:
https://github.com/yewstack/yew/blob/03abde607b03ebe7161ed5df0ca8d0738e67d306

[2021-02-14 20:07] felipesere commented on #1412
Maybe React-Testing-Library can provide some inspiration? https://testing-library.com/docs/react-testing-library/api
In a different issue I saw a mention of `yew-testing` as a crate. Is that a thing?

I'm curious what a minimal set of steps would be to get something to render, maybe just into a string for comparison?

[2021-02-14 20:41] teymour-aldridge commented on #1412
It probably could :D

I'm currently writing wayyyyy to many Yew-related crates, so I might pick up writing a testing library as well.

In terms of testing I have an example for how to do something that works right now in the broad area of testing – https://github.com/lovelace-ed/lovelace/blob/main/utils/malvolio/tests/test_yew_rendering.rs. No shallow rendering support atm, but I would imagine tha

[2021-02-14 22:20] #1742 closed

[2021-02-15 11:13] ctron opened #1744 "Allow passing in VNode as Children"
**Problem**

Having a component with properties like this:

[code]

It looks like you need to manually convert everything before assigning:

[code]

**Steps To Reproduce**
Steps to reproduce the behavior:
1. See code above

**Expected behavior**

I would expect this to be auto-converted:

[code]

I guess the proper fix to this would be to create an implementation of the `Transformer` trait for VCo

[2021-02-15 11:45] siku2 commented on #1744
Something to consider for #1637

[2021-02-16 12:04] yuchanns commented on #1026
With a functional component, how can I use the props in a closure?
[code]
Then I got:
[code]
Here is my `Cargo.toml`:
[code]

[2021-02-16 17:33] teymour-aldridge commented on #1677
@Xavientois were you able to make any progress? (no worries if not, I appreciate that life gets busy sometimes :D).

I don't want to place any pressure atoll on you, and I'd be happy to (try and) help if you're stuck.

[2021-02-16 17:36] Xavientois commented on #1677
Hey @teymour-aldridge, not yet. Life got super busy lately, so I haven't had a chance to make any real progress. I have taken a look at the code in order to make sense of it, but haven't managed to implement anything meaningful.

I don't want to hold up development, so it's okay if someone else wants to jump on this. If not, it's still my intention to give it a try when I have the time (maybe late

[2021-02-16 17:38] teymour-aldridge commented on #1677
There's 0 hurry :).

I hope everything is ok on your end :D

If you need any help feel free to reach out :-)

[2021-02-16 17:41] teymour-aldridge commented on #1580
So I think the key thing is to introduce a mechanism for handling callbacks into gloo. I think what makes sense is to introduce a callback mechanism into gloo which very closely mirrors Yew's and stick some `From<yew::Callback>` implementations into gloo behind a feature flag.

With that done it should be a fairly easy lift (after adding some things like a builder syntax).

I'm happy to do this.

[2021-02-16 17:46] teymour-aldridge commented on #1168
I have produced a crate which does something which is not exactly this, but is reasonably close (and enables formatting!)

It's called [Malvolio](https://crates.io/crates/malvolio).

[2021-02-16 17:50] teymour-aldridge commented on #1183
We might want to remove the crate entirely?

[2021-02-16 17:54] teymour-aldridge commented on #533
I have one possible solution: https://github.com/lovelace-ed/lovelace/blob/main/utils/mercutio/src/lib.rs

Note that it depends on Malvolio (another crate I've written) and I can't publish the next version of that until Rocket cuts its next release 🤷🏼

[2021-02-17 14:30] hamza1311 commented on #1580
Why do you think gloo should be based on callbacks for something like fetch? `async` functions work well and are more idiomatic Rust. Those can be used from Yew like any other future.

[2021-02-17 14:32] teymour-aldridge commented on #1580
Oh that's totally true. It's just that the current code we have works with callbacks, but rewriting it to use `async` does make more sense :D

[2021-02-18 11:10] astraw commented on #1346
In case it is useful, I have this little library which I have extracted from some of my other code: https://github.com/strawlab/yew-event-source . You are welcome to incorporate as much or as little as you like directly into yew.

[2021-02-19 21:06] DenisKolodin commented on #1569
I've thought about it dozen times. It would be impossible to create `yew` without `stdweb` since it was a bridge between Rust and JS worlds, today we have to give a lot of respects to great `stdweb` project, but remove it to make `yew` simpler to maintain and closer to prod usage.

[2021-02-19 21:12] teymour-aldridge commented on #1569
`stdweb` was (is?) a wonderful library, and it's a shame that it seems to have petered out. Just one of many examples of the lack of sustainability in FLOSS, and that the infrastructure we all rely on is incredibly fragile.

[2021-02-20 01:18] intendednull commented on #1168
This problem can also be mitigated by keeping logic outside `html!`. Everything inside it can then be formatted using your editor's HTML formatter, and rust-analyzer will be able to find/rename your variables correctly.

[code]

[2021-02-20 02:04] Xavientois opened #1751 "Compiling yewtil-macro with `pure` feature fails"
**Problem**
Due to a breaking change in `syn` that has removed the `export` module, compiling yewtil-macro fails when the `pure` feature is enabled

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Create Yew project
2. In `Cargo.toml`, add the line: `yewtil = { version = "0.3", features = ["pure"] }`
3. Try to compile
4. See the following error:
[code]

**Expected behavior**
yewtil-macr

[2021-02-20 12:32] hamza1311 commented on #1751
I believe this is fixed on master. A patch should probably be released to fix this on crates.io as well

[2021-02-20 13:29] alvitawa commented on #1096
How are you supposed to do this on the current version of yew-router if you use router::Router? The Router struct makes the routeservice and a routeagent for you, but it doesn't appear to give an interface to the routeagent, so you cant ask it for the route or make it change the route.

[2021-02-20 13:45] #1677 closed

[2021-02-20 13:51] Xavientois commented on #1751
Ah okay, should I close this PR because the bug is fixed, or leave it up as a reminder to publish the patch to crates.io?

[2021-02-21 06:54] yuchanns commented on #1026
Finally I manage to resolve it! It's my fault to make things more complex. I should simply use `Callback`'s `clone` method and everything goes well.
[code]

[2021-02-21 11:38] i-schuetz commented on #1081
Why is this closed? The [documentation](cargo-web is not compatible with web-sys) is confusing currently:

Introduction > Using Cargo web:

Immediately after, the [first tutorial](https://yew.rs/docs/en/getting-started/build-a-sample-app) (that appears to use web-sys):

It doesn't say that Cargo web doesn't work.

[2021-02-21 11:42] teymour-aldridge commented on #1081
The documentation is correct(ish) for Yew `0.17.3`. The latest version (from master) is at https://yew.rs/docs/en/next/ where this has been accordingly updated.

Cargo web _does_ work, but support will be removed in the next release. If you want to use stdweb (strongly discouraged) you can with (yew-stdweb)[https://lib.rs/crates/yew-stdweb].

[2021-02-21 12:05] i-schuetz commented on #1658
I still have this issue, yew 0.17 and Rust-Analyzer 0.2.489 (most recent version).

[2021-02-21 12:56] xosxos opened #1753 "Compiling use_context hook example fails"
This is about:
- [ ] A typo
- [x] Inaccurate/misleading documentation (e.g. technically incorrect advice)
- [ ] Undocumented code
- [ ] Outdated documentation
- [ ] Other

**Problem**

The `use_context` hook example does not work.
[https://yew.rs/docs/en/next/concepts/function-components/pre-defined-hooks](https://yew.rs/docs/en/next/concepts/function-components/pre-defined-hooks)

**Steps To Repr

[2021-02-21 12:57] i-schuetz commented on #1081
Cargo web was removed from the new docs. This prevents the confusion 👍

[2021-02-21 14:15] siku2 commented on #1753
@hamza1311, care to take a look? :)

[2021-02-21 14:25] i-schuetz opened #1754 "Could not resolve macro `html`"
**Problem**
VSCode / rust-analyzer can't resolve the `html` macro.

Navigating into the macro works however:

[code]

I also checked that these settings are in my workspace settings:
[code]

**Steps To Reproduce**
I followed the intro tutorial from [here](https://yew.rs/docs/en/next/getting-started/build-a-sample-app) and [here](https://yew.rs/docs/en/getting-started/project-setup/using-cargo-web)

[2021-02-21 14:28] siku2 commented on #1754
Just linking this back to #1658 since I assume this is a deliberate duplicate.

[2021-02-21 14:29] siku2 commented on #1754
Could you also try this with the latest version from git?

[2021-02-21 14:46] hamza1311 commented on #1753
This happens because `use_state` returns a `Rc<Theme>` and `ContextProvider<T>`'s `context` prop accepts a `T` and fails when it receives a `Rc<T>`. We can fix the example in 2 ways:
1. Deref and clone `ctx` value before passing: `context=(*ctx).clone()`
2. Double-`Rc` the value
[code]

---

The bigger problem is the hooks API as neither of those solutions are elegant. A better API was proposed in

[2021-02-21 17:41] i-schuetz commented on #1754
It works with master, thanks! 🎉

[2021-02-21 17:45] i-schuetz commented on #1754
The complete version I tried was 0.17.4 btw (the latest one)

[2021-02-21 18:11] xosxos commented on #1753
I went with ```(*ctx).clone()``` and its working and I am happy !

Also worth mentioning that the following line in the example needs to be without the ```Rc<>``` to get it to work.
[code]

Although a lot of work remains to be done with the hooks, overall I am very very very impressed by the progress..!

[2021-02-23 02:18] lukechu10 commented on #1753
The underlying problem is still #1656. Then there wouldn't be any need for `Rc`s. `ContextProvider` might even take a reference without cloning but I am not sure if that is possible. I'm guessing child components are destroyed first but I might be wrong. If they are indeed dropped first, we can be sure that the reference would be valid in the child components as long as the `ContextProvider` has n

[2021-02-23 03:06] lukechu10 opened #1757 "More ergonomic use_state hook"
**Problem**
This is a continuation of https://github.com/yewstack/yew/issues/1026#issuecomment-776905732

For the `use_state` hook, it would be more ergonomic if it only returned a struct rather than a tuple. It could be something like this:
[code]

It would be used like this:
[code]

This way, when cloning the state into a closure (for callbacks), we only need to clone one `Rc` instead of two whi

[2021-02-23 03:44] lukechu10 opened #1758 "Remove requirement for braces in html! macro"
**Problem**

The `html!` macro currently requires braces (`{` and `}`) for any expressions used as children (such as for raw text nodes). This is not a parsing limitation and could potentially be made more ergonomic.
[code]

**Unanswered questions**
Should only string literals be allowed or any valid expression? If the later is decided upon, that would mean we could also write
[code]

**Questionna

[2021-02-23 03:48] lukechu10 commented on #1548
Why can't `<div contenteditable></div>` be handled as is by the parser? If it's possible, it would make it more similar to vanilla html and could prevent a few headaches.

[2021-02-23 04:22] lukechu10 commented on #1636
If you look at the ast for
[code]
It looks like:
![image](https://user-images.githubusercontent.com/37006668/108801746-66a4b780-754b-11eb-9938-0a516ab49ea1.png)
(sorry for the screenshot, it took it from https://astexplorer.net/)

The `..` is represented by `Dot2` and not part of the expression so I don't see why this is not feasible. If nobody is taking this issue, I'm up for it. :)

[2021-02-23 05:25] cecton commented on #1636
In the previous example I showed the parser took `node_ref.clone() .. props3` as a single expr, which is syntactically correct in Rust.

Though I would love to be proven wrong because clearly the .. syntax is my favorite.

I personally believe we should enforce the block brackets around the props values that need expressions and only allow simple literal strings without the brackets. That will def

[2021-02-23 11:59] siku2 commented on #1548
I think this is still mainly a documentation issue. Sure, we could add that syntax for convenience but then I fear users will start asking how to disable a boolean attribute instead. Enforcing a strict key=value syntax is also easier to handle for components, which can't easily support boolean attributes like that.
If you want to add the special handling for this though then by all means, go ahead

[2021-02-23 12:02] siku2 commented on #1636
I'm actually quite in favor of this anyway. Not only can this provide better error messages in case of unfinished expressions, but it also separates the Rust code from the HTML a bit better while mirroring the syntax that's already used for blocks.

[2021-02-23 12:06] siku2 commented on #1758
I absolutely support this - I just haven't got to it because there are far more pressing issues.

I would prefer to only support string literals for this. We already have other plans to make flow control more ergonomic.

[2021-02-23 12:57] pickfire commented on #1757
[code]
I believe this could be more ergonomic.

[2021-02-23 16:54] lukechu10 commented on #1758
Actually, I don't think we could parse any arbitrary expression, e.g.
[code]

This would be a nightmare to parse! We would need extremely powerful speculative parsing to tell whether the `<` in the `<p>` tag is a operator or part of a html tag.
It reminds me of the proposal to remove the turbofish syntax. I guess only allowing string literals is the right choice.

[2021-02-23 17:17] siku2 commented on #1758
That is absolutely out of the question, yes. Not just is it a nightmare to implement and test, it's also extremely inefficient.
By string literals I'm exclusively talking about `"string like this"`.

[2021-02-23 17:55] siku2 commented on #757
Closing this in favor of #1758

[2021-02-23 17:55] #757 closed

[2021-02-23 18:43] i-schuetz commented on #593
I can't get `focus()` to compile, for some reason:
[code]

[code]

What am I missing?

[2021-02-23 18:47] teymour-aldridge commented on #593
I would recommend using web-sys (because stdweb is not presently maintained, unfortunately).

The method `focus` looks to be defined for `HtmlElement` but not `Element`, so you probably want to convert your `Element` into an `HtmlElement`.

[2021-02-23 18:58] lukechu10 commented on #1758
I'll try to to implement this if nobody minds. I'm guessing I'll just extend the `Peek` and `Parse` implementations on `HtmlBlock` to special case string literals and implicitly convert them into blocks.

[2021-02-23 21:14] tracker1 commented on #1758
I'm 👎 on this one as well... I'd much rather see this align closely to JSX syntax than string literals... as proposed, I'd expect to see `"string"` with the quotes in the actual rendered output...  JSX has kind of become a defacto standard for this type of templating and is used in several tools beyond just React.

[2021-02-23 21:37] lukechu10 commented on #1758
There's no reason why `<p>{"string"}</p>` would be closer to JSX.

[2021-02-24 06:03] i-schuetz commented on #593
This works

[code]

[code]

[2021-02-24 11:01] jiclivi opened #1760 "Error writing to cache: ENOENT: no such file or directory, stat './build.rs'"
**Problem**

$ yarn run build
yarn run v1.22.5
$ cross-env WASM_PACK_PROFILE=release parcel build static/index.html --public-url ./
✨  Built in 4.85s.

dist/yew_app_bg.3cd74227.wasm    299.68 KB     18ms
dist/static.8ca7f5d3.js.map       33.57 KB      8ms
dist/favicon.d7052eb9.ico         22.68 KB     14ms
dist/static.8ca7f5d3.js           20.97 KB    5.09s
dist/styles.3e92f739.css.map       1.63

[2021-02-24 11:40] i-schuetz commented on #473
I found this looking for a "react native"-like yew implementation and finding this discussion very interesting... Rust is perfect for mobile development (or pretty much everything 😉). I compromise currently with native UIs + shared Rust binary but it would be great to be able able to write everything in Rust and yew is amazing to work with!

[2021-02-24 11:53] i-schuetz commented on #473
Btw, I published this project that does exactly that: https://github.com/i-schuetz/rust_android_ios. Here you find this approach too: https://github.com/xi-editor/xi-editor

I came here looking specifically for "all in 1" though, as it still saves time, and as you can see from frameworks like React Native and Electron there's high demand for it. The best UX will probably always be using the approa

[2021-02-24 11:54] i-schuetz commented on #473
@JeffGillin I published this project that does exactly that: https://github.com/i-schuetz/rust_android_ios. Here you find this approach too: https://github.com/xi-editor/xi-editor

I came here looking for "all in 1" though, as it still saves time, and as you can see from frameworks like React Native and Electron there's high demand for it. The best UX will probably always be using the approach abo

[2021-02-24 17:02] siku2 opened #1762 "Enable French translation for the docs"
The language needs to be enabled in order to select it on the website.

[2021-02-24 17:04] lukechu10 commented on #1762
On it!

[2021-02-24 17:05] lukechu10 commented on #1762
I'm guessing that I need to add `website/i18n/fr.json`

[2021-02-24 17:59] #1762 closed

[2021-02-24 18:05] #1739 closed

[2021-02-24 18:09] lukechu10 opened #1766 "Enable const generics component tests for yew-functional-macro"
https://github.com/yewstack/yew/blob/8d96a447ba2121492c2621a05741cf9c8c634976/packages/yew-functional-macro/tests/function_attr/generic-pass.rs#L23-L31

_Originally posted by @siku2 in https://github.com/yewstack/yew/pull/1756#discussion_r582180569_

[2021-02-24 18:12] siku2 commented on #1766
Once it lands, we can easily bump the Rust version used for tests to 1.51 without having to change the MSRV.

[2021-02-24 20:38] quenbyako commented on #1384
@sharpninja any progress?)

I've already stocked up popcorn, this is the most expensive issue in the issuehunt, Can't wait for 500 bucks to reach the contributor

🍿🍿🍿🍿🍿🍿🍿

[2021-02-24 22:11] siku2 commented on #1760
Personally, I don't have enough information to help you with this. I need more information about your setup / config, changes that you made, and so on.
Also, if you're interested in a smoother experience: the recommended build system is [Trunk](https://github.com/thedodd/trunk).

[2021-02-25 01:06] thedanvail commented on #1346
Update: Slowly but surely making progress. A lot of this is new to me, so there's a lot of learning to be done, but I'm getting there!

[2021-02-25 01:18] thedanvail commented on #1346
Hello everyone,

Regrettably, I think this is just beyond my skill level right now. I'd rather say this outright than just disappear into the ether. It'd be to the point where I was just riding off the coattails of whomever I would ask for help. So, I have to drop this from my plate; if anyone else can pick it up, please feel free! Thanks to @liquidblock for their help this far, and hopefully, whe

[2021-02-25 01:21] lukechu10 commented on #1679
We could potentially inspire from the Rocket [here](https://rocket.rs/v0.4/guide/overview/#routing) and [here](https://rocket.rs/v0.4/guide/requests/#dynamic-paths). The grammar for Rocket routes is [here](https://api.rocket.rs/v0.4/rocket/attr.route.html#grammar).

Even though I am not familiar with Rocket, it seems like routing is order independent. For ambiguous routes, there is a well defined

[2021-02-25 01:54] lukechu10 commented on #1585
This might also related with #1679

[2021-02-25 07:36] jiclivi commented on #1760
Thank you！
No build.rs file, I try to create build.rs file

[2021-02-25 07:36] #1760 closed

[2021-02-25 08:45] astraw commented on #1346
@thedanvail thanks for the update. Please come back anytime!

Since there are two crates that implement SSE mentioned above (liquidblock's https://github.com/liquidblock/yew-sse and my https://github.com/strawlab/yew-event-source), it seems the most substantial hurdle for inclusion directly into yew is writing an example. (And possibly a test case, although the websocket service does not have that

[2021-02-25 10:39] #1753 closed

[2021-02-25 10:41] #1663 closed

[2021-02-25 18:49] lukechu10 commented on #1679
I think I know how to do this: we create a DFA (deterministic finite state automata) for each route. Then we combine the DFAs together into one finite state automata for all the routes. If an end node can match two different routes and these two different routes have the same priority, throw an error and abort.