[2019-10-31 17:04] Chicker opened #722 "Todomvc example doesn't compile"
#### Description

**I'm submitting a bug report**

I have a problem with yew's examples. I've copied `todomvc` example to another folder, then changed the `yew` version to `0.9` in `cargo.toml` and I got errors like these:

- method `view` is not a member of trait `Component`
- the trait bound `Model: yew::html::Renderable<Model>` is not satisfied
- and so on...

It seems that the latest release o

[2019-10-31 17:22] jstarry commented on #722
Thanks for the report @Chicker!

This is expected because breaking changes were introduced in version 0.9. The examples in the repo have all been updated to be built correctly with 0.9. Sorry for the inconvenience but until we reach 1.0 you can expect more breaking changes like this 😄

[2019-10-31 17:22] #722 closed

[2019-11-03 17:35] jstarry opened #724 "Add an example project using Parcel JS"
#### Problem
https://parceljs.org/ can be used to build / package a Yew-based webapp but we don't have an example for doing so yet

#### Solution
Review https://github.com/spielrs/yew-parcel-template and possibly move / fork it under the yewstack org

[2019-11-03 19:57] hgzimmerman commented on #724
I believe that @dancespiele has some working code using parcel (https://gitter.im/yewframework/Lobby?at=5db2102fa3f0b17849820526)

I don't know the state that their code is in (eg. public, private, public but modified to the point its not usable in a minimal example), but they might have something that could be pared down to a minimal example.

https://github.com/rustwasm/rust-parcel-template Woul

[2019-11-03 20:15] jstarry commented on #724
Thanks @hgzimmerman! I created this issue before realizing that they already created the template: https://github.com/spielrs/yew-parcel-template

[2019-11-03 20:19] dancespiele commented on #724
@jstarry I think already you have seen my template based in https://github.com/rustwasm/rust-parcel-template . I'm worry how the restricted is Apache license, I don't know a lot about it. Maybe I can create another repository which is not based in that rust-parcel-template with only MIT license. What do you think?

[2019-11-03 21:29] hgzimmerman commented on #724
INAL, but https://internals.rust-lang.org/t/rationale-of-apache-dual-licensing/8952/2 provides a quick overview for the use of the dual license within rust, and by extension, the broader community building on top of rust.

In short, MIT + clause about patent infringement  == Apache 2.0; AFAIK.

No one stands to lose anything by dual-licensing w/ Apache, as if someone is involved in a patent disput

[2019-11-03 22:31] dancespiele commented on #724
ok thanks for the information then I will keep the dual license

[2019-11-04 05:32] #665 closed

[2019-11-07 15:07] lizhaoxian opened #726 "WebSocketService connect panic on malformed URL"
#### Description

yew::services::websocket::WebSocketService::connect
this function has an unwrap

        let ws = WebSocket::new(url).unwrap();

for a malformed URL, this will result in a panic.

#### Expected Results

[code]

#### Actual Results

[code]
when panic happen, there is no proper way to handle it, the best solution is to have an Err returned.

#### Context (Environment)

- Rust: v1.3

[2019-11-07 16:00] jstarry commented on #726
Thanks for the report, I agree we should go with your solution! I can get a fix together this weekend, if you need it sooner, feel free to send a PR

[2019-11-07 16:57] lizhaoxian commented on #726
#727

[2019-11-07 23:49] hgzimmerman commented on #576
Even though this is closed, an alternative to using agents would be to stick your global state in a `Rc` pointer, and pass that down through props. This way, its super cheap to propagate (only a ptr clone and a ref-count increment). You can pass a callback to the root for updating this global state to components that are responsible for updating it.

While the Agent-based approach is acceptable, I

[2019-11-08 00:26] kellytk commented on #576
@hgzimmerman The agent-based design does indeed incur additional overhead.  While I'm content with my implementation for the time being, I'm also not convinced that it's the optimal solution.

I had briefly implemented the design you describe in my transition from a flat properties-based solution to the agent-based solution.  Having used the three designs I think it's a promising avenue for experi

[2019-11-08 17:11] hgzimmerman commented on #576
I'm working on a novel smart pointer, trying to come up with a solution better than `Rc` for Yew. Its not ready to be used, and doesn't offer anything over `Rc` except in rare situations, but it has gotten me to think about how smart pointers work in Yew over the past few days, and some of that thought crosses into concerns about global state.

I think that there are four approaches to global stat

[2019-11-10 20:03] hgzimmerman commented on #576
I have a working demo (yew master only though) here for an ergonomic `Rc`-alike pointer: https://github.com/hgzimmerman/yewtil/blob/master/src/ptr/mrc.rs
and an example here: https://github.com/hgzimmerman/yewtil/blob/master/examples/mrc_irc/src/main.rs

I'll "dogfood" this myself over the coming months and report back how it works, but I think its a nice little ergonomic upgrade over normal `Rc`s

[2019-11-10 23:38] hgzimmerman commented on #726
With the issue merged, this can be closed now.

[2019-11-11 00:19] hgzimmerman opened #732 "Support full InputEvent API"
#### Description

**I'm submitting a Feature Request**
`oninput` returns custom InputData events, and that contains a `string` that represents the entire editable text content of the element, but actual InputEvent.data field should just contain the inserted character(s) - so the naming scheme here is slightly off. This isn't inherently wrong by itself.

I think exposing the full behavior of the [I

[2019-11-11 00:33] hgzimmerman opened #733 "Support non-literal-closures for VTag event handlers"
#### Description

**I'm submitting a bug report/feature**

When creating callbacks inside the `html!` macro, you can use tuple-function syntax (eg: `callback=Some` if `Option<_>` is the component's message type) instead of providing a normal closure (eg  `callback=|x| Some(x)`) when you create components.
For some reason, this isn't possible for event handlers in `Vtag`s. where `oninput=Some` will

[2019-11-11 00:41] #726 closed

[2019-11-11 00:54] hgzimmerman commented on #679
Hey @serzhiio, I'm going to try to look into this problem soon.
What would really expedite the process would be a minimal project that causes the bug to be reproduced (at least semi-reliably, as this appears to be a data-race bug).

If you could provide a link to a repository and directions to cause the bug to appear, I will find the source of the error, develop a mitigation against it, and hopefu

[2019-11-11 01:30] jstarry opened #734 "Speed up cargo install wasm-bindgen-cli"
#### Problem
Had to [comment out](https://github.com/yewstack/yew/pull/730/files#diff-354f30a63fb0907d4ad57269548329e3R33-R36) the conditional cargo install because it [wasn't installing](https://travis-ci.com/yewstack/yew/jobs/254966965#L960) the `wasm-bindgen-test-runner` binary

[2019-11-11 02:16] #686 closed

[2019-11-11 02:48] #734 closed

[2019-11-11 02:52] #648 closed

[2019-11-11 03:00] hgzimmerman commented on #636
Hey, @Boscop, now that minimal futures support exists, lets explore this idea more.

So is what you are proposing effectively like:

[code]
Add various macro sugar to enable just putting the `|_,_| {}` inline in the html macro.

I'm not so sure about this being easily achievable, or practical in light of what existing design decisions have been made, but is this approximately what you are wanting?

[2019-11-11 18:04] mdtusz opened #738 "How to use Messages with wrapper components?"
#### Description

**I'm submitting a question.**

I'm trying to create some wrapper components that exist mostly for presentation and organization and have run into the issue that I can't make use of any events/messages in the child components since they are expecting the _parent_ component's `Message` type. As a simple example:

A `Foo` wrapper component that does nothing but wrap children in a d

[2019-11-11 18:10] jstarry commented on #738
@mdtusz thanks for the report! Soon I'll write up better documentation for this but as of right now:

(From https://github.com/yewstack/yew/pull/589)

#### Unsupported
- Passing required properties from (P) -> (C)
- Allow sending messages from (C) -> (B)

#### Terminology
(B) Base component that renders components nested inside each other
(P) Parent component that has a children property and can r

[2019-11-11 18:11] jstarry commented on #738
I'll have to think more about a better way to handle this 😬 open to ideas!

[2019-11-12 14:00] jstarry opened #739 "Implement Clone for ComponentLink"
#### Problem
Users cannot currently clone component links for Futures

[2019-11-12 14:28] jstarry commented on #732
Closing in favor of https://github.com/yewstack/yew/issues/483

[2019-11-12 14:28] #732 closed

[2019-11-14 03:08] anlumo opened #740 "Make NodeRef API Compatible with wasm-bindgen"
#### Description

Feature request: I'm trying to integrate a crate that uses wasm_bindgen types to interact with the DOM. For this, components need to be able to pass these references to functions of this crate. However, the current NodeRef API only returns DOM elements wrapped by stdweb, which are incompatible.

I've spent a few hours now looking into ways to directly convert between `stdweb::web

[2019-11-14 03:31] jstarry commented on #740
Hey there @anlumo, thanks for the issue! We have an issue tracking `web-sys` support here. It needs some love 😛 but will get done soonish! When it is done, it will make NodeRef web-sys compatible as you are requesting.

[2019-11-14 03:31] #740 closed

[2019-11-14 03:50] #739 closed

[2019-11-14 21:38] hgzimmerman opened #742 "Add send_future_batch to ComponentLink"
#### Description

**I'm submitting a feature request**

Similar to `send_back_batch` which takes a closure that returns a `Vec<Msg>`, and re-rendering happens if _any_ of these return `true` as their `ShouldRender` return value, an async variant of this might be a useful to compliment `send_future`.

This has the application of someone joining a series of fetch requests together and re-rendering o

[2019-11-15 01:30] kellytk opened #743 "Generate arbitrary HTML fragments with simple anonymous functions"
#### Description

**I'm submitting a ...**

- feature request

I would like to be able to generate HTML fragments with anonymous functions.

[code]

[2019-11-16 20:19] jstarry commented on #743
@kellytk thanks for the feature request. I think maybe we just need better documentation around this.

I think if you want reusable fragments, you can use two different patterns:
1. Create a new Component
  - In your example, you would create a reusable Button component
2. Create a generic function
  - In your example, you would write `view_button<C>(label: String) -> Html<C>`

In your example cod

[2019-11-16 20:29] jstarry commented on #742
Thanks @hgzimmerman! This is actually making me realize that we didn't need to add `send_back_future` to the main framework. It's just a nice wrapper around the existing ComponentLink api. Now that ComponentLink implements Clone, we can just move the link into the future.

What do you think about adding `send_future` and `send_future_batch` to a middleware type crate? Maybe add it to `yewtil`?

[2019-11-16 22:26] hgzimmerman commented on #742
I think that's reasonable.

[2019-11-16 22:45] hgzimmerman commented on #742
I think once a lot of the current Readme's content is moved into external documentation, a section could be added to enumerate related crates to Yew, where yewtil, the router, various templates, along with other supported ecosystem crates people come up with could be featured.

I'll try to migrate current futures functionality to Yewtil in a couple of days, at which point I'll open a PR removing i

[2019-11-18 08:54] Follpvosten opened #745 "yew-macro: Handling of boolean properties"
#### Description

I'm submitting a **feature request** (I intend to work on this myself if I can find the time).

* Since `bool` defaults to `false`, the property being missing already implies `false`, which is great. However, I'd really like it to work the other way around too: If a bool property is *present*, it should imply `true` (meaning I can write `<MyComp myprop />` instead of `<MyComp myp

[2019-11-18 20:40] hgzimmerman commented on #742
Actually, I think that a `send_self_batch` is needed on component link in order to implement the external `send_future_batch` because access to the underlying `scope` isn't provided.

[2019-11-18 20:58] jstarry commented on #742
Ah yeah you're totally right, let's add that then!

On Mon., Nov. 18, 2019, 3:40 p.m. Henry Zimmerman, <notifications@github.com>
wrote:

[2019-11-19 21:16] kellytk opened #750 "[stdweb] Add support for the `type` attribute to the `button` element"
#### Description

**I'm submitting a ...**

- feature request

[2019-11-21 12:33] TGotwig commented on #223
Maybe we could add an example with Fibonacci for demonstrating this?

[2019-11-21 19:58] hgzimmerman commented on #223
Hey, I think that this example is outdated, as can be seen by the fact that it uses the `Env<Context, Self>` parameter in `update`, which was removed around v0.4.0 or v0.5.0.

It was replaced with an actor system, which uses Agents to coordinate concurrent tasks.

In short, you send a message to an agent over a bridge to that agent, Yew's "runtime" spawns an instance of the agent if one doesn't al

[2019-11-22 19:42] hgzimmerman commented on #636
To follow up on this, I think sticking functions to update state inside `html!` is currently possible, without utilization of async/await.

[code]

I'm going to try this out in the Yewtil crate, and see if it is possible.

[2019-11-25 07:43] rumblefrog commented on #389
I'm assuming this is the commit since it's the only diff on the branches: https://github.com/serzhiio/yew/commit/f25227614cee34f0904f8811da95312376031c2a

[2019-11-26 06:55] ProfessorChill opened #755 "Access variables from parent components"
#### Description

**I'm submitting a ...**

- question - please describe the problem you're trying to solve and give as much context as possible.

**TLDR**; I have a component that needs to access a struct that the parent component is holding however I don't know how to access that variable.

Firstly, very sorry, I tried to do something like this for 9 hours and I just can't wrap my head around it

[2019-11-28 01:47] jstarry commented on #738
@mdtusz I've created a PR to fix this issue. Could you please try out the branch and let me know if it fixes your problem?

[2019-11-28 01:49] jstarry commented on #733
@hgzimmerman this will no longer be supported for both components and tags when this change lands: https://github.com/yewstack/yew/pull/756 FYI

[2019-11-28 01:52] jstarry commented on #745
These both sound like great features, would gladly review PRs to fix them! Could you please split this issue into two? One for boolean handling and one for Option conversion?

[2019-11-28 02:04] jstarry commented on #755
Hey, thanks for the question @ProfessorChill. It looks to me like you're following the right patterns but yes it's quite boiler-platey. The reason it's a good pattern to pass messages back to the parent (in this case StoryDisplay) is that you want the parent to re-render whenever it's "state" changes. The only mechanism for that is through msg updates.

You could make your life a bit easier though

[2019-11-28 02:05] jstarry commented on #742
@hgzimmerman can this be closed?

[2019-11-28 02:07] jstarry commented on #691
I'm thinking this might get blocked by https://github.com/yewstack/yew/pull/756 as well, thoughts?

[2019-11-28 02:08] jstarry commented on #718
@pbartyik sorry for the delay, emscripten support is broken on Rust beta / nightly 🤕

[2019-11-28 14:54] jstarry commented on #108
Closing in favor of #41

[2019-11-28 14:54] #108 closed

[2019-11-28 14:56] jstarry commented on #162
Duplicate

[2019-11-28 14:56] #162 closed

[2019-11-28 15:00] jstarry commented on #251
This will be resolved by https://github.com/yewstack/yew/pull/756

[2019-11-28 15:00] jstarry commented on #241
This has been fixed for awhile

[2019-11-28 15:00] #241 closed

[2019-11-28 15:03] jstarry commented on #199
Closed due to old emscripten version

[2019-11-28 15:03] #199 closed

[2019-11-28 15:06] #273 closed

[2019-11-28 17:44] jstarry commented on #75
I added build environment directions here: https://yew.rs/docs/getting-started/build-environment

[2019-11-28 17:44] #75 closed

[2019-11-28 17:48] jstarry commented on #403
Fixed by removing the link to wasm-and-rust. Those instructions are outdated

[2019-11-28 17:48] #403 closed

[2019-11-28 18:05] jstarry opened #757 "String literals are not allowed in html! macro"
#### Description

Yew's `html!{}` macro deviates from JSX by not allowing text literals.

##### Proposed Syntax:

[code]

##### Current Syntax
[code]

[2019-11-28 18:08] jstarry opened #758 "Virtual DOM is too coupled to Yew Framework"
#### Description

Yew's Virtual DOM implementation is too coupled to the framework and should be moved to a different crate if possible. This would allow other backends to be used with Yew in the future.

[2019-11-28 18:10] jstarry commented on #136
#### Yew 1.0 Update

We are getting closer to releasing a v1.0 version of Yew and I wanted to address some of the requests here and provide updates :)

Nested Components v1 was completed in https://github.com/yewstack/yew/pull/589 and will be matured in v2 here https://github.com/yewstack/yew/pull/756 (along with the removal of generics in the virtual dom)

Fixed here: https://github.com/yewstack/

[2019-11-28 18:10] #136 closed

[2019-11-28 18:13] mdtusz commented on #757
I actually like the strictness of not allowing string literals and keeping a separation between the DOM structure created and the "contents". Has this feature been requested lots?

[2019-11-28 18:13] jstarry opened #759 "Emscripten support is broken on rustc stable/beta/nightly"
Needs investigation

[2019-11-28 18:14] jstarry commented on #757
@mdtusz it hasn't, just wanted to document the request. It will likely be marked as `won't fix`

[2019-11-28 18:15] jstarry commented on #718
Closing in favour of https://github.com/yewstack/yew/issues/759

[2019-11-28 18:15] #718 closed

[2019-11-28 18:49] jstarry commented on #616
Closing in favour of refs approach

[2019-11-28 18:49] #616 closed

[2019-11-28 18:59] jstarry commented on #587
Thanks @hgzimmerman we've made a lot of progress on the things you've listed here! I've written up a roadmap doc here: https://yew.rs/docs/roadmap let's work together to flush that out 👍

[2019-11-28 18:59] #587 closed

[2019-11-28 19:15] jstarry commented on #314
I've added documentation to https://yew.rs/docs/ and https://yew.rs/docs/getting-started let me know if they have the material you had in mind! Thanks for the issue!

[2019-11-28 19:16] jstarry commented on #578
https://yew.rs/docs/

[2019-11-28 19:16] #578 closed

[2019-11-28 19:24] jstarry commented on #411
@kellytk I believe this is doable with refs now.

This code is untested but should be enough to get you started:

[code]

[2019-11-28 19:24] #411 closed

[2019-11-28 19:59] pbartyik commented on #718
thanks!

[2019-11-29 05:08] jstarry commented on #294
Pretty certain this has been fixed.

[2019-11-29 05:08] #294 closed

[2019-11-29 08:07] kellytk commented on #758
Related issue: https://github.com/yewstack/yew/issues/482

[2019-11-29 13:27] hgzimmerman commented on #742
Yes, this can be closed.

[2019-11-29 13:27] #742 closed

[2019-11-29 13:30] hgzimmerman commented on #691
I think the ergonomic benefits of #756 outweigh the benefits of this potential pattern.
I'll close this after that PR lands.

[2019-11-29 13:42] hgzimmerman commented on #757
I like the strictness and singular way to do things as they stand, but I do sometimes find it frustrating to not be able to copy+paste HTML from some external site (like some CSS framework guide showing how to use their classes) and instead have to meticulously wrap  every bit of text in `{"` and `"}` to appease the html! macro.

I don't think its too much of a problem if its implemented or not.

[2019-11-29 21:08] hgzimmerman commented on #733
I see that this is fine given that `oninput=self.link.callback(Some)` should now work. Granted, you are typing more characters, but at least "tuple-functions" should work as intended in both vtags and components.
Close this upon completion of #756.

[2019-11-30 05:23] akshaynanavati opened #762 "Unexpected end of input when using html! macro"
#### Description

**I'm submitting a Question**

I'm unsure how to fix the following error: `error: unexpected end of input, expected token tree`. I've googled for this, looked at examples, and I'm not sure what I'm doing wrong.

I am essentially trying to do something [this](https://github.com/yewstack/yew/issues/392). I have the following:

[code]

But, when I go to compile, I get the following

[2019-11-30 09:15] aivel opened #763 "selectionStart property of an input field"
Hi guys, I have **a question**

There is a `selectionStart` property of an input element (http://help.dottoro.com/ljtfkhio.php)

What is the best way to access the value of this property from within the rust code of a Yew app?

Yew: 0.10.0

[2019-11-30 10:08] ralfbiedert commented on #314
The docs look great and I found them easy to follow and the actual landing page `/docs` is a clear improvement over the previous `README`.

I still think its narrative speaks primarily to a specific **subset of Rust developers** (those familiar with React, Elm, actix, async-await, wasm-bindgen; as the landing page primarily explains along those concepts).

I'd argue the page could be even better i

[2019-11-30 15:24] jstarry commented on #762
Thanks for the report @akshaynanavati!

You have encountered one of the few syntax deviations that Yew has from React. We strive to inform with nice compiler messages when this happens, but there's indeed a bug in the html macro parser when detecting the error in your `html!` invocation. The expected results are actually:

[code]

The compiler error instruction will get fixed in the next minor ver

[2019-11-30 15:27] jstarry commented on #763
Hi @aivel, great question. I'd recommend checking out this example on how to use a `ref` to interact with a rendered element: https://github.com/yewstack/yew/tree/master/examples/node_refs

The key parts are [here](https://github.com/yewstack/yew/blob/master/examples/node_refs/src/lib.rs#L58) and [here](https://github.com/yewstack/yew/blob/master/examples/node_refs/src/lib.rs#L31)

[2019-12-01 09:32] rumblefrog commented on #279
Wrong issue link? Shouldn't it be #389 ?

[2019-12-01 21:12] Zydnar opened #765 "Error while running cargo web start inside yew/examples/nested_list directory"
#### Description

**I'm submitting a bug report**

I get following error while  running `cargo web start` inside `yew/examples/nested_list` directory:
[code]
Problem is here:
https://github.com/yewstack/yew/blob/d03f59185f5a81e5a6aed29cdb56329c5a757228/examples/nested_list/src/list.rs#L158
https://github.com/yewstack/yew/blob/d03f59185f5a81e5a6aed29cdb56329c5a757228/examples/nested_list/src/list.r

[2019-12-01 21:44] jstarry commented on #765
Thanks @Zydnar! I agree with your proposed solution, would you mind creating a PR?

[2019-12-02 00:02] jstarry commented on #279
Yes, thanks!

[2019-12-02 00:20] thienpow opened #766 "How to get scroll position?"
i need to hide and show a custom appbar.  wonder what i can do in rust.

[2019-12-02 05:24] thienpow commented on #766
i am able of getting the page_y_offset from window... but not able to update the state via Msg that trigger update function

<img width="727" alt="Screenshot 2019-12-02 at 1 22 06 PM" src="https://user-images.githubusercontent.com/9796623/69932645-dd006880-1506-11ea-8ed6-c76fdf0012f8.png">

[2019-12-02 05:40] jstarry commented on #314
Great feedback, I've updated the docs, let me know your thoughts! Thanks in advance :+1:

[2019-12-02 07:17] thienpow commented on #766
my current workaround is to ignore dealing with state... instead go directly to document query_selector.

<img width="734" alt="Screenshot 2019-12-02 at 3 15 23 PM" src="https://user-images.githubusercontent.com/9796623/69937801-a4688b00-1516-11ea-9e0e-b464d51a4db0.png">

[2019-12-02 13:22] Nachasic commented on #18
IMO having custom elements with shadow DOM would be a killer feature, as it would allow for an effective data hiding with HTML classes and IDs. I'm still new to Rust, but I'd like to help implementing that if someone with more experience jumps on the issue.

[2019-12-02 14:34] #765 closed

[2019-12-03 10:13] Follpvosten commented on #745
Alright, I'll do that now.

I actually came across a similar situation to what you described in #756 - I have something like:

[code]

Being able to omit the `=placeholder` if there's a variable with the exact name of the property in scope would be a very nice improvement. I guess I'll create an issue for that as well.

[2019-12-03 10:15] Follpvosten opened #768 "yew-macro: Handling of Option<T> properties"
#### Description

I'm submitting a **feature request** (I intend to work on this myself if I can find the time).

While `Option<Callback>` works as expected (the prop takes a closure and defaults to `None`), that doesn't really apply to other `Option<T>` properties, leading to a small amount of boilerplate (which might accumulate quickly).

For example: If I have a property of type `Option<String>

[2019-12-03 10:26] Follpvosten opened #769 "yew-macro: Allow omitting redundant property names"
#### Description

I'm submitting a **feature request**:

Going along with #745, this would be a very nice usability improvement (as also mentioned in #756).

For example, this:

[code]

Could be written like this:

[code]

This is getting rid of a lot of redundance in the long run by allowing the developer to omit the `=property` when a variable with the property's name is in scope.

[2019-12-03 13:55] aivel commented on #763
@jstarry thank you!

[2019-12-03 13:55] #763 closed

[2019-12-03 15:05] jstarry commented on #766
Hi @thienpow, happy you were able to find a workaround! Here's an approach that should work with state (NOTE: I didn't test any of this code)

First, you'll want to create a scroll callback. This step is crucial because it links the callback to your component. Behind the scenes, Yew will make sure to call your component's update method with the `Msg`

[code]

Then, inside your closure you can call

[2019-12-03 20:57] ralfbiedert commented on #314
Looks much cleaner, great improvement! I like that it focuses on a handful of strong points, and they resonate with me.

That pretty much covers my "onboarding" issues, thank you so much!

A few smaller design changes could be done later, but I don't think they are essential and probably just my taste:

- Maybe consider having a small diagram or "visual" code snippet for each of the 3 points (comp

[2019-12-04 00:40] thienpow opened #771 "Router/Routing can't handle enter url from address bar or pressing refresh button"
tried running the Routing example, it will return error Cannot GET /a if you enter the URL http://localhost:8000/a manually.

how to handle this if user copied/bookmarked the url and trying to return to this page?

[2019-12-04 01:48] jstarry commented on #771
@hgzimmerman do you mind looking into this?

[2019-12-04 01:48] #766 closed

[2019-12-04 01:48] #755 closed

[2019-12-04 02:08] hgzimmerman commented on #771
This is expected behavior.

Either you need to prepend all routes with a `#`, which causes everything after it to not be sent to the server, or you need the server to return the index.html's content when you encounter URL for a resource what would otherwise be a 404 (eg, one of your routes).

Using `#` is generally a bad practice (or is at the very least dated), and cargo web doesn't support the 4

[2019-12-04 17:27] hgzimmerman opened #1108 "Provide template servers that use 404-redirection"
**Description**

Because cargo web doesn't support serving the index.html content, some template servers should be provided in order to provide this functionality as well as to demonstrate how to implement it within their own server.

Servers should include:

- [x] Warp
- [ ] Rocket
- [ ] Actix-web
and anything else someone is willing to contribute.

----
All servers should:
* Optionally(?) host a

[2019-12-04 21:54] mdtusz commented on #768
Personally, I think having the explicit handling of option types is a good thing because `None` is not the same as a default value. For example:

[code]

vs

[code]

While at first glance, this may seem like it won't matter since `Vec` defaults to an empty vec, but if you want to differentiate between an _empty_ and a _none_ value, it is an important difference. By keeping the `Option` field somet

[2019-12-04 22:40] hgzimmerman opened #774 "Remove redundant class string is_empty checks in VTag"
#### Description

**I'm submitting a feature request
A real easy change here.
Because `Class::push` was made to check if a class string was empty ([here](https://github.com/yewstack/yew/blob/master/src/virtual_dom/mod.rs#L61)), there are a couple of unneeded checks in VTag that do the same thing ([here](https://github.com/yewstack/yew/blob/master/src/virtual_dom/vtag.rs#L100)).

I propose that the

[2019-12-04 23:15] jstarry commented on #774
Down with that!

[2019-12-04 23:27] hgzimmerman commented on #774
Just noticed https://github.com/yewstack/yew/blob/45574e53aec7c9e4b40bb5254039d43539051aa2/src/virtual_dom/mod.rs#L128 as well, which should be used to replace the current implementation of `add_classes`.

[2019-12-05 19:13] mdtusz opened #775 "Add `default` value for properties"
#### Context

When creating a component, there are often cases where the component can and should function without having an explicit value provided as a prop. While currently, props structs will provide a default value for a field if `Default` is implemented for it's type, this is not always the value that is desired or required by the component. For example, a `bool` will default to `false` and

[2019-12-07 05:39] thienpow commented on #771
thanks @hgzimmerman i finally got it working with #
i think i understand how to handle the /path/subpath/ at webserver if not using #

btw i was not able to get the <Router> tag response to the change of route by following the sample in example/router_compoent folder, so i am using this
RouterAgent::bridge method as shown in the image

<img width="1038" alt="Screenshot 2019-12-07 at 1 28 02 PM" sr

[2019-12-07 15:36] izissise opened #776 "Use stdweb spawn_local to execute futures"
#### Description
Allow to use `send_future` with cargo web and asmjs-unknown-emscripten target by using stdweb `spawn_local` future feature.

An example of using future with stdweb https://github.com/koute/stdweb/blob/master/examples/futures/src/main.rs

#### Context (Environment)

- Rust: v1.39.0 stable

- yew: v0.10.0

- target: asmjs-unknown-emscripten

- cargo-web: v0.6.26

[2019-12-08 18:47] #743 closed

[2019-12-08 18:47] #762 closed

[2019-12-08 20:11] jstarry commented on #733
Closed because https://github.com/yewstack/yew/pull/783 removes support for transforming closures into callbacks

[2019-12-08 20:11] #733 closed

[2019-12-08 20:12] jstarry commented on #738
Fixed by https://github.com/yewstack/yew/pull/783

[2019-12-08 20:12] #738 closed

[2019-12-08 20:41] jstarry opened #785 "Nested component creation is unergonomic"
#### Description
Yew requires children vnodes to be moved into a `FnOnce` closure. This move happens behind the scenes and results in confusing compiler error messages.

Example 1:
[code]
Results in the following error because `on_hover` is referenced in a closure internally
[code]

Example 2:
[code]
Results in the following error because it's not allowed to reference `&self` inside a FnOnce closu

[2019-12-09 04:57] jstarry commented on #69
Closing as duplicate

[2019-12-09 04:57] #69 closed

[2019-12-09 04:59] jstarry commented on #154
Fixed

[2019-12-09 04:59] #154 closed

[2019-12-09 05:01] jstarry commented on #184
Closing because we now have https://github.com/yewstack/yew_router

[2019-12-09 05:01] #184 closed

[2019-12-09 05:03] jstarry commented on #251
Removed the magical event macro here: https://github.com/yewstack/yew/pull/782

[2019-12-09 05:03] #251 closed

[2019-12-09 05:07] hgzimmerman commented on #691
I think the approach of removing the type parameter from `Html` outweighs the value represented in this Issue. Closing.

[2019-12-09 05:07] #691 closed

[2019-12-09 05:22] jstarry commented on #330
Question was answered

[2019-12-09 05:22] #330 closed

[2019-12-09 05:26] jstarry commented on #275
@huangjj27 would you like to give it another shot now that https://github.com/yewstack/yew/pull/783 removes the COMP type restriction?

[2019-12-09 05:26] #275 closed

[2019-12-09 05:29] jstarry commented on #269
@huangjj27 I'm not sure what you mean by this feature request. Can you please explain?

[2019-12-09 05:29] #269 closed

[2019-12-09 05:32] jstarry commented on #239
Timer example is working on latest master

[2019-12-09 05:32] #239 closed

[2019-12-09 05:33] #218 closed

[2019-12-09 05:35] jstarry commented on #250
Doc tests are fixed now

[2019-12-09 05:35] #250 closed

[2019-12-09 05:36] jstarry commented on #265
Fixed

[2019-12-09 05:36] #265 closed

[2019-12-09 05:50] hgzimmerman commented on #205
The [dashboard example](https://github.com/yewstack/yew/blob/master/examples/dashboard/src/lib.rs#L72) shows how to make fetch requests, although they are kicked off by a user action. In order to make it run as soon as the component is instantiated, move the relevant code inside `update`'s `FetchData` variant to `create` or `mounted` to make it run immediately.

[2019-12-09 05:52] #205 closed

[2019-12-09 05:52] jstarry commented on #298
Showcase can now be run in release mode

[2019-12-09 05:52] #298 closed

[2019-12-09 05:54] jstarry commented on #215
Closed due to fetch service support

[2019-12-09 05:54] #215 closed

[2019-12-09 11:11] ralfbiedert commented on #314
I tried to create a PR but still had trouble getting the site to render properly.

Things I was experimenting with:

- Side-by-side images for "What is Yew" section turned out to be difficult in the current flow. For this style of page it's probably fine.
- Added a "Created with Yew" instead to lighten up flow, just an idea, can probably live without it.
- Added a more prominent "Getting Started"

[2019-12-09 11:19] ralfbiedert commented on #314
More compact version:

![capture2](https://user-images.githubusercontent.com/301288/70431818-22301780-1a7e-11ea-9dfd-da0e6edf6637.PNG)

[2019-12-09 12:57] prettynatty opened #790 "bincode dependency conflict"
#### Description

**I'm submitting a bug report**

Yew depends on specific bincode version. It leads to version conflict when yew is used with other crates depending on newer bincode version (1.2.0):

#### Expected Results

no bincode conflicts

#### Actual Results

[code]

my-package and my-other-package are two crates in the same workplace without dependency on each other.

#### Context (Environ

[2019-12-09 15:58] hgzimmerman opened #791 "Remove the router example."
#### Description

**I'm submitting a feature/removal request**

Put your description here

The router example that was contributed by myself a year and a half ago has been made more fleshed out and usable in the `yew-router` crate.
While it does show how to create a custom service, it offers what is now a pretty poor subset of functionality found within the official router.

I suggest that it be r

[2019-12-09 16:34] hgzimmerman commented on #89
There does exist this [comparison chart](https://github.com/flosse/rust-web-framework-comparison#frontend-frameworks), which has some sparse bits of data on various Rust web frameworks.

I believe that domafic hasn't been updated in 3 years, and in the sense that it hasn't been maintained, I don't think a comparison is justified.

The other big contenders for a "react/elm alike frontend framework

[2019-12-09 16:37] hgzimmerman opened #792 "`send_future` is no longer needed"
#### Description

**I'm submitting a  feature request**
Put your description here

@jstarry and I have talked about removing the `send_future` function on `ComponentLink`. Our current consensus revolves around it being possible to implement this using the existing `send_message` function on that datatype to accomplish the same thing.

Yewtil, the utilities crate for Yew already has a replacement r

[2019-12-10 05:17] jstarry commented on #343
I would love to see alternative html markup approaches for yew! Since yew's virtual dom module is public, anyone is free to write a crate which provides a different syntax. I think it would be best if it would start as a separate repo and then we could find a way to give users a choice in their preferred syntax. I'm going to close this (and other issues about syntax) and we can revisit when actual

[2019-12-10 05:17] #343 closed

[2019-12-10 05:18] jstarry commented on #324
I would love to see alternative html markup approaches for yew! Since yew's virtual dom module is public, anyone is free to write a crate which provides a different syntax. I think it would be best if it would start as a separate repo and then we could find a way to give users a choice in their preferred syntax. I'm going to close this (and other issues about syntax) and we can revisit when actual

[2019-12-10 05:18] #324 closed

[2019-12-10 05:19] jstarry commented on #6
Closing since  `asmjs-unkown-emscripten`, `wasm32-unknown-emscripten`, and `wasm32-unknown-unknown - debug` have been supported for some time (debug and release)

[2019-12-10 05:19] #6 closed

[2019-12-10 05:20] jstarry commented on #191
I believe everything in this issue has been addressed

[2019-12-10 05:20] #191 closed

[2019-12-10 05:22] In-line opened #795 "Proposal: Community supported component library"
Like React material-ui, reactstrap and so on.

[2019-12-10 05:23] #115 closed

[2019-12-10 05:28] jstarry commented on #341
I believe it would be possible but I'm personally not in favour of this approach. As an alternative, html elements are now able to self-close when they do not have children. So, instead of:

[code]

You can now right:

[code]

Hope that helps!

[2019-12-10 05:28] #341 closed

[2019-12-10 05:31] jstarry commented on #329
The original question was answered, please open up follow up issues if you need 😄

[2019-12-10 05:31] #329 closed

[2019-12-10 05:42] jstarry commented on #322
This should no longer be an issue

[2019-12-10 05:42] #322 closed

[2019-12-10 05:49] kellytk commented on #758
Related issue: https://github.com/yewstack/yew/issues/343

[2019-12-10 05:51] jstarry commented on #790
Hey @prettynatty, unfortunately we've been blocked on https://github.com/yewstack/yew/pull/714 for awhile now. I'll try getting `bincode` devs attention once more. Thanks for the issue!

[2019-12-10 05:53] hgzimmerman commented on #795
There has been some work before on this, most notably [yewstrap](https://github.com/yewstrap/yewstrap), but they tend to stall after a while.

Recent changes to how `Html` works should make sure that there is an ergonomic payoff to creating these libraries. Before now, you wouldn't be saving a huge amount of effort by making these libraries due to how callbacks/Html worked.
These kinds of librarie

[2019-12-10 06:12] jstarry opened #796 "Improve development setup guide for Yew contributors"
#### Problem
The current docs here https://github.com/yewstack/yew#development-setup are not as detailed as they could be:
- ./ci/run_tests.sh should be broken down into the individual tests
- Need instructions for setting up a webdriver for running the wasm bindgen tests:
    - https://rustwasm.github.io/docs/wasm-bindgen/wasm-bindgen-test/browsers.html
    - https://rustwasm.github.io/docs/wasm-

[2019-12-10 06:23] kellytk commented on #795
Is it possible that components could be made interoperable between compatible Rust-based frameworks?
 https://github.com/rustwasm/gloo may be a useful coordination nexus.

[2019-12-10 06:30] hgzimmerman commented on #795
Given how each framework/library has their own component implementation and VDom representation, I think it is hard or impossible to define some common standard for component definitions.

[2019-12-10 06:44] jstarry commented on #790
No longer blocked, we'll make sure this gets fixed for v0.11

[2019-12-10 06:52] Follpvosten commented on #768
I mostly agree with your point; then there's only this point left:

[code]

instead of

[code]

i.e. accepting `Option<Into<T>>` instead of only `Option<T>`.

[2019-12-10 07:05] #791 closed

[2019-12-10 17:39] #792 closed

[2019-12-10 18:18] hgzimmerman opened #800 "Create an Issue for every outstanding // TODO"
#### Description

**I'm submitting a feature request**

So with a 1.0.0 release in the foreseeable future, it seems like a reasonable course of action to address any missing features, code-structure issues, or subtle bugs before that is released. Thankfully, many of these problems have been annotated with `TODO`.

I suggest that we enable this [cargo fmt lint](https://github.com/rust-lang/rustfmt/

[2019-12-10 21:57] crud-boy opened #801 "Whether to treat link events as messages like elm"
[code]
[error code link](https://github.com/yewstack/yew_router/blob/master/examples/minimal/src/main.rs)
Why not handle url change events and url interception in the update function
I'm new to rust, I can't find the link.callback function in the examples I write now
Examples in the project, many mistakes, no way to learn

[2019-12-10 22:43] hgzimmerman commented on #801
This question might be better addressed towards the [yew_router ](https://github.com/yewstack/yew_router) crate.

To attempt to answer your questions -
Not every component needs to handle url change events, hence one is usually designated to handle that responsibility (by owning the RouteService and registering a callback to it), or that responsibility is offloaded to an agent, which is then respo

[2019-12-13 03:17] jetli opened #803 "A Yew Realworld live demo"
Hi,

I'm working on a Yew version of [Realworld](https://github.com/gothinkster/realworld) frontend app, utilizing Rust and WebAssembly. It's full-functional right now. Can we add this as a relatively larger live demo, besides the todomvc demo?

It also includes yew-router usage, and yewtil usage of NeqAssign/Mrc/Irc will be added to improve performance soon. I'm also following recent refactorings

[2019-12-13 03:24] thienpow opened #804 "nested components, cant get callback working."
This is working, with single parent...

<img width="915" alt="Screenshot 2019-12-13 at 11 19 26 AM" src="https://user-images.githubusercontent.com/9796623/70766966-7ac32580-1d9a-11ea-8603-37fda8f19bda.png">

then nested with multi parents, eg below img with a container, it moved, then i have no way to pass the callback...
<img width="1252" alt="Screenshot 2019-12-13 at 11 20 44 AM" src="https://us

[2019-12-13 03:36] jetli commented on #803
I just noticed [see-rs](https://github.com/seed-rs) has a similar repo from a contributor:  https://github.com/seed-rs/seed-rs-realworld , and mentions it on README

[2019-12-13 06:50] jstarry commented on #804
Sorry about this issue, it's being tracked here: https://github.com/yewstack/yew/issues/785

I have a proposed fix here: https://github.com/yewstack/yew/pull/786

Would you like to try that branch and give feedback? Feel free to discuss on #785

[2019-12-13 06:50] #804 closed

[2019-12-13 07:32] meepeek opened #805 "Can I use component/package from npm ?"
#### Description

**I'm submitting a ...**  question

Writing everything from zero is quite a task. I wish I could use the component available while reimplement some in yew. Also, mobx like state management is necessary for me.

[2019-12-13 11:48] #801 closed

[2019-12-13 13:45] ctaggart commented on #776
I realize this is different, but some may find it useful. I just tried using the `spawn_local` from wasm-bindgen for a function marked `#[wasm_bindgen]` and it worked. I'm using yew from master branch.

https://docs.rs/wasm-bindgen-futures/0.4.5/wasm_bindgen_futures/fn.spawn_local.html
https://github.com/rustwasm/wasm-bindgen/search?q=spawn_local&unscoped_q=spawn_local

[2019-12-13 15:05] hgzimmerman commented on #776
Oh, interesting.

Although it has since been removed and replaced with this stdweb based spawn_local in the yewtil crate, there are eventual plans to re-add a wasm-bindgen based implementation you could choose to use. This is more simple than the prior implementation, and should make gating either behind a feature flag much easier.

[2019-12-13 15:25] hgzimmerman commented on #803
I'm all for including it within the README, with the caveat that if it eventually becomes unmaintained we would remove it (as long as you are willing to merge PRs from us that update the yew dependency, you shouldn't have to worry much about that, especially post 1.0.0).

Also don't worry too much about the Mrc/Irc pointers - I think of those as being really useful for when you copy large sets of

[2019-12-13 15:28] ctaggart commented on #776
With `async move`, I was able to  call `emit` on `branch_received: Callback<String>`.
[code]

[2019-12-13 17:03] hgzimmerman commented on #805
Your mention of external state management makes me think that you want to integrate Yew components as part of an existing React (or equivalent) project.

In that case, I would point you towards https://docs.rs/yew/0.10.0/yew/app/struct.App.html#method.mount_with_props which would attach a Yew component with a given set of properties to an element. You would have to write a shim exposing this funct

[2019-12-13 17:09] hgzimmerman commented on #803
I think that at the very least that while Yew is still young, that there should be a separate `Projects.md` for projects that aren't explicitly owned by the Yew project, but are publicly viewable and can serve as full-blown examples for people to take inspiration from. This page would be linked from the `Readme.md`.

[2019-12-13 21:07] meepeek commented on #805
Thanks for the reply. based on that, there's something more I would like to ask:

1. I'm still not understand the example given. I think it starts in src/main by default, but there's no imports, how the pieces connected ? Is it looking in the file 'lib' by default like conventional file naming in ruby on rails ? Where's to put npm library ? How will it call objects from nodejs exports ?
2. Is ther

[2019-12-13 22:19] hgzimmerman commented on #805
1. `npm_and_rest` is the name of the library and you don't need to explicitly import items in Rust (2018 edition) if you can refer to them by their absolute path. Hence `npm_and_rest::Model` acts effectively as both the import and use of that item; likewise with  `yew::start_app`. The naming of this lies a little when it comes to where the JS code is gotten from. You can see in the `index.html` in

[2019-12-13 23:15] jetli commented on #803
Sounds cool to me,  I'm willing to maintain it in long-term, and we can collect more examples/projects. I might try to use Mrc/Irc for article list pages which may contains large list or text.

[2019-12-15 02:41] #790 closed

[2019-12-15 02:41] #413 closed

[2019-12-16 20:45] trivigy commented on #785
Any known workarounds to this issue?

[2019-12-16 21:27] jstarry commented on #785
Are you experiencing this issue when building on the PR?

[2019-12-16 21:43] trivigy commented on #785
@jstarry No on the contrary. The PR solves the issue. Thanks to the PR I also figured out how to do a workaround in the meantime by cloning but I would recommend for merging!

[2019-12-17 00:58] hgzimmerman opened #1107 "Rename Switch trait"
**Description**

While `Switch` is an ok name for what it does, I think something along the lines of `Routable` would be more appropriate.

I don't intend to make this change for 8.0, but would like to create this issue so that interested parties can prepare their codebase for this change.

-----
This change will come in 3 pieces.
1. Add Routable alias (0.8.0)
2. Rewrite macro & Trait to use Routa

[2019-12-17 03:00] thienpow commented on #803
can create a awesome-yew
something like awesome-react
https://github.com/enaqx/awesome-react

[2019-12-17 03:02] jetli commented on #803
@thienpow  haha, I just started to do this: https://github.com/jetli/awesome-yew

[2019-12-17 03:47] thienpow commented on #785
maybe we should use dodrio vdom?

<img width="890" alt="Screenshot 2019-12-17 at 11 44 37 AM" src="https://user-images.githubusercontent.com/9796623/70963245-de16c580-20c2-11ea-8090-99fa74705e5b.png">

[2019-12-17 10:36] ctaggart opened #816 "static send_app_message ?"
I've wrapped a bunch of browser APIs for my app using wasm-bindgen. I want to use  `link: CompentLink<Self>` and then call `self.link.callback` to pass a new message to `update` when the callback is called, but the Closure::once_into_js **currently** requiring a static lifetime. https://github.com/rustwasm/wasm-bindgen/issues/1914

Any ideas on how I might workaround this issue? I was thinking may

[2019-12-17 14:08] MuhannadAlrusayni commented on #533
Here is my thoughts on building styling system.

I think there are two different places that we need to handle style:
1. a default style for every component.
2. a unique style for every component instate.

# A default style for every component

Every component can have it's own default style, let's say a `Button` component have this default style:
[code]

At this point we need to defined the behav

[2019-12-17 16:55] ctaggart commented on #816
I was able to do a `link.callback(Msg::SignIn).emit(token);` in the callback after `let link = self.link.clone();`.

[2019-12-17 16:55] #816 closed

[2019-12-17 17:15] jetli commented on #803
An initial awesome yew is almost done: https://github.com/jetli/awesome-yew
I also created a logo for it. Welcome to contribute 😎

[2019-12-17 18:07] hgzimmerman commented on #803
Looks great! I'll give it a few more days and then I'll open a PR to add a link to it on Yew's Readme.md.

Feel free to open a PR if you think its ready before then. I'd stick it at the bottom of the Overview section.

[2019-12-17 18:21] jetli commented on #803
Cool, I will open a PR to upstream https://github.com/sindresorhus/awesome next month, it requires that a repo must have been around for at least 30 days.

[2019-12-17 23:39] hgzimmerman commented on #776
Since the corresponding PR in the appropriate repo was merged, I think that this issue can be closed.

[2019-12-18 00:40] hgzimmerman commented on #771
I think that this can be closed now, given that an example server exists in the router repo, and that better support for fragment routing is planned. The question author appears to have come to a suitable solution.

[2019-12-18 05:07] #776 closed

[2019-12-18 13:41] #771 closed

[2019-12-18 20:17] jetli commented on #803
CI by Github actions is added here: https://github.com/jetli/rust-yew-realworld-example-app/blob/master/.github/workflows/rust.yml and a build is passed here: https://github.com/jetli/rust-yew-realworld-example-app/runs/354610615

CD by GitHub actions is also added here: https://github.com/jetli/rust-yew-realworld-example-app/blob/master/.github/workflows/cd.yml and a build is passed here: https:/

[2019-12-19 17:04] hgzimmerman opened #1105 "Provide a minimal example using a generic fragment adapter"
**Description**

https://github.com/yewstack/yew_router/pull/211 Made it possible to have proper fragment routing by wrapping a normal parser with an adapter that also implements Switch and matches anything up to a `#`.

An example should be created to demonstrate ho to create the adapter.

It should use the full featureset of the library, but be contained to just a single main.rs file in the same

[2019-12-19 19:28] jetli commented on #803
Standalone desktop app support is added by this new crate: https://github.com/jetli/rust-yew-realworld-example-app/tree/master/crates/conduit-webview, now yew app can be run as a desktop app 🎉 , it looks like a slim Electron app in just ~3MB size.

<img width="800" alt="desktop" src="https://user-images.githubusercontent.com/1142758/71202872-f57acc00-22d7-11ea-936c-e902258bcf87.png">

[2019-12-20 20:12] hgzimmerman commented on #402
To narrow the scope of this issue, the `Global` reach shouldn't be investigated because it hasn't been implemented [at all](https://github.com/yewstack/yew/blob/master/src/agent.rs#L672).

[2019-12-21 05:49] jstarry opened #819 "Cannot access props from VComp"
The only way to access props from a virtual component node is through the intermediary VChild node. This makes it impossible to access props of a child component which is a VNode type.

#### Proposed Solution
Add `get_properties` and `get_properties_mut` methods to VComp and refactor away VChild

[2019-12-21 07:02] trivigy commented on #819
Seems like some sort of a design deficiency. Shouldn't every node by definition has a way to retrieve its properties and its children? Even if those are unset.

[2019-12-21 15:49] ctaggart commented on #558
I figured out some answers to my earlier questions.

Yes, stdweb is compatible with wasm-bindgen stuff like js-sys. I compile my yew project with:
[code]
With this in my `lib.rs`:
[code]

I [mentioned](https://github.com/yewstack/yew/issues/776#issuecomment-565483222) last week that wasm-bindgen-futures 0.4.5 supports `spawn_local`.

[code]

[2019-12-23 01:45] trivigy commented on #819
@jstarry any suggestions on how to resolve this? I am working on a material based component library and this is definitely a blocker for me. I want to fix this. I went through the html macro and understand how that works. The issue as I see it has to do with VNode not allowing for properties and children. There is a whole different approach for that. If you give me some guidance on how this could

[2019-12-23 07:22] MuhannadAlrusayni commented on #819
Same here.

It would be great if a component can access and manipulate it's children props.

[2019-12-23 12:26] alex-caelus commented on #679
I too have this issue. Unfortunately I don't have any publicly available code to share and I'm not sure what triggers this problem to appear so I can't create a MWE for you either. Just wanted to let you know that more people are seeing this.

[2019-12-23 16:09] trivigy commented on #819
@MuhannadAlrusayni This can be done already. https://github.com/yewstack/yew/blob/master/examples/nested_list/src/list.rs#L80-L90 This issue is addressing a very specific edge case:

When `for` loop is used, the nesting fails.
[code]

[2019-12-23 20:08] hgzimmerman commented on #679
Its good to know that it can be replicated, even if you can't provide an example yourself.
Can you corroborate the set of circumstances that cause this bug to present itself. Eg. sending messages rapidly, only happening when on a Public/Private (eg webworker context) Reach?

Any additional info will be of use.

[2019-12-24 02:32] jetli commented on #803
Since [awesome-yew](https://github.com/jetli/awesome-yew) is available now, I'm closing this issue

[2019-12-24 02:32] #803 closed

[2019-12-27 09:02] alex-caelus commented on #679
It's in a webworker context. Not many messages, but perhaps there has been a short (e.g. 1) queue of messages anyway because the webworker do some cpu intensive tasks which keeps it busy. Don't really know, but here is my stack trace from the main browser thread where the error appears.

[code]

[2019-12-29 02:53] #785 closed

[2019-12-29 03:18] jstarry opened #830 "Too much boilerplate for components"
**Is your feature request related to a problem? Please describe.**
In order to create a component that has a bit of smarts in it, a developer needs to store the props, link, and probably some callbacks and state into the component struct.

**Describe the solution you'd like**
Each component lifecycle method should pass in a reference to the link and props to alleviate the burden on the developer t

[2019-12-29 17:54] hgzimmerman commented on #830
Wouldn't the signature for `change` be the following instead to remove the now redundant `props`, given that the `ctx` associated with the component could be updated behind the scenes:
[code]

Also, some methods on `ComponentLink` require a mutable reference, eg:
[code]
Its conceivable that you could just clone the borrowed reference to link to gain ownership if you wanted to call that method, but

[2019-12-29 18:51] trivigy opened #834 "Generic component false positive error during `html` macro generation"
This is a regression bug issue. Because of the changes done in #831 a generic component is not parsed correctly during `html` macro processing.

[code]

[code]

A setup like this generates an error:
[code]

[2019-12-29 23:37] TGotwig opened #836 "supports_svg-test fails"
**Problem**
When I run `cargo test`,
it fails for me because of the `supports_svg`-test:
[code]

**Steps To Reproduce**
Run `cargo test supports_svg`

**Expected behavior**
No error 🙂

**Environment:**
 - Yew version: v0.10, `master`
 - Rust version: 1.40.0
 - OS: macos

[2019-12-30 01:31] jstarry commented on #836
@TGotwig which target are you using? Try running:

`cargo test --features wasm_test --target wasm32-unknown-unknown`

[2019-12-30 01:54] TGotwig commented on #836
@jstarry running that command gives me the following error:
[code]

Currently I have the following block in `.cargo/config`:
[code]

I think it would be good if I could pass tests without modifying that file, but how 🤔

[2019-12-30 01:56] jstarry commented on #836
@TGotwig those should fine, try following the steps here: https://github.com/yewstack/yew#running-tests

[2019-12-30 02:49] TGotwig commented on #836
@jstarry Now it works 😊
Currently I try to run a specific test together with --nocapture but something goes wrong:
[code]

It gives me:

[code]
Why is this `not supported`? 🤔

[2019-12-30 02:52] jstarry commented on #836
Yeah so annoying! I ran into this too recently. It's just a limitation of the wasm bindgen test runner for now

[2019-12-30 02:52] #836 closed

[2019-12-30 20:52] hgzimmerman commented on #679
I've created a demo that attempts to send messages in a loop to an Agent with Reach = Public that performs some mutation to state within that Agent.

In addition, I've added buttons so that you can remove the bridge while these messages are being responded to by the agent.

Thusfar I haven't been able to reproduce the error on firefox 70.0.1, compiling with cargo web 0.6.26, using rust 1.39.0.

Th

[2019-12-30 21:22] hgzimmerman commented on #679
Your reported problem seems different from the original part of this thread - in that it appears to be when a bridge/agent is destroyed part-way through a long running computation, versus the prior one I can only assume was caused at bridge _creation_ time (which seems odd).

Additional questions @alex-caelus :

1. Does this happen consistently given a certain set of actions?
2. Does it happen whe

[2019-12-31 05:03] #834 closed

[2019-12-31 16:07] daxpedda commented on #558
See the referenced PR's. Shouldn't be too far away now.

[2020-01-01 12:34] alex-caelus commented on #679
Please take a look at my PR (https://github.com/hgzimmerman/yew_web_worker_borrowmut_panic/pull/1). After looking a bit more into it I made the connection that I create multiple bridges to the same worker and that is what is causing triggering the issue.

[2020-01-01 18:22] derekdreery commented on #558
I have lots of experience with wasm-bindgen, and want to use yew for a web site, so I'd be happy to help if you've got any questions, or work that needs doing.

[2020-01-01 18:36] derekdreery commented on #533
I'm having a play with writing a css parser from rust tokens, and it seems to be going well. It's available at https://github.com/drerekdreery/style. The idea is that you can do things like

[code]

from within a macro in rust code, making using css/styles feel really natural.

[2020-01-01 22:26] daxpedda commented on #558
Thats amazing! My experience with both wasm-bindgen and yew was very limited until now 😄.
I'm already done with everything, I've a couple of tiny patches I will push now and the examples/tests locally that I will push tomorrow.

A code review would be very appreciated!

[2020-01-02 13:32] hgzimmerman commented on #679
Ok, with the contribution of alex's PR, the error message that is present in the OP of this issue is able to be reproduced.

The observation that I can quickly make is that this bug is caused by another instance of `Model` being created when the agent is working on a long-running task.
More specifically, the creation of the second `Model` will attempt to create a bridge to the same web-worker base

[2020-01-03 15:07] ctaggart opened #839 "if and else have incompatible types: VChild VNode"
After updating from yew master Dec 15 72ca3bb700d813f972b1ea3df6c12083ea3cb700 to Dec 31 f7313348f61d4fb085a2f5db2ac09c808d843acd, this code breaks for me and I'm not sure why.

[code]

[2020-01-04 00:42] daxpedda commented on #558
@derekdreery everythings done from my side, a code review would be very welcome!

[2020-01-04 10:22] derekdreery commented on #558
I've been playing with yew with all the PRs merged and it all seems to work fine :). I'm planning to build a reasonably sized website with yew so I'll see how it works with the web-sys backend :). Code all looks good to me, only suggestion I might make is to consider `cfg_if` for making the different cfg stuff clearer.

[2020-01-04 13:35] daxpedda commented on #558
Thanks! I tried it in #818.

[2020-01-04 13:42] anlumo commented on #795
https://github.com/Follpvosten/yew-mdc (work in progress)

[2020-01-04 18:35] #839 closed

[2020-01-04 20:20] trivigy commented on #839
@ctaggart I am fixing your bug as we speak. Checkout https://github.com/yewstack/yew/pull/843/files#diff-e95c964116dd713eb3a7a8ad7d9bd81cR254 to make sure this newly added unittest is reflective of your issue. On my end I can confirm that it is since it generates the same error. I also understand why and how this error is generated. Hoping to fix this in the next few hours.

[code]

[2020-01-04 20:21] trivigy commented on #839
@jstarry Can you please reopen this issue so we could track it here. Here is the PR to fix it https://github.com/yewstack/yew/pull/843.

[2020-01-04 23:18] trivigy commented on #839
@ctaggart #843 fixes this issue.

[2020-01-04 23:34] trivigy commented on #774
@hgzimmerman Was this proposal already addressed? I am looking through your links and not sure I fully understand the context or what needs to be done.

[2020-01-05 00:08] hgzimmerman commented on #774
Sorry, the linked line numbers corresponded to the master branch, which has changed, causing them to point to irrelevant lines
The first link provided should be https://github.com/yewstack/yew/blob/84a9ed0e09bbcee596f9919f6e215724325e58c4/src/virtual_dom/mod.rs#L60
and the second should be https://github.com/yewstack/yew/blob/84a9ed0e09bbcee596f9919f6e215724325e58c4/src/virtual_dom/vtag.rs#L120

I

[2020-01-05 02:28] trivigy commented on #830
I assume that `Context<Self>` will be owned by one of those `xyzState` objects under the hood and passed around borrowed references. if one would want to mutate something inside of props, how would that be possible? Or would this now mean that we'll have to keep `Context` inside of the component struct?

[2020-01-05 02:47] hgzimmerman commented on #830
I assume that you would clone prop references to acquire ownership of their values if you wanted to mutate them later.

[2020-01-05 06:26] trivigy commented on #830
@hgzimmerman any chance you could share a pseudo-code example of how you image that would be? Just want to wrap my head around what this change might eventually look like.

[2020-01-05 09:50] jstarry commented on #830
Part of the idea is that props would be immutable. Component state would be separate and would be mutable.

[2020-01-05 12:35] trivigy commented on #830
@jstarry wouldn't that mean such design would be contradictory to how html5 works? How would one go about changing say `<input value="John">`. By its design nature it is suppose to be mutable. I am applying same logic to custom components.

[2020-01-06 01:48] #774 closed

[2020-01-06 09:39] jstarry commented on #819
Fixed in https://github.com/yewstack/yew/pull/843

[2020-01-06 09:39] #819 closed

[2020-01-06 09:39] jstarry commented on #795
I believe @trivigy is also working on a material design component library. Maybe the two efforts can be combined?

[2020-01-06 09:42] jstarry commented on #676
I added a few templates, they are in the repo here: https://github.com/yewstack/yew/tree/master/.github/ISSUE_TEMPLATE

[2020-01-06 09:42] #676 closed

[2020-01-06 09:54] jstarry commented on #533
Wow, awesome @derekdreery! Looks like the yew html macro could depend on your style macros under the hood. Is that what you had in mind?

[2020-01-06 12:49] #394 closed

[2020-01-06 13:22] kellytk commented on #533
I agree with

from https://github.com/yewstack/yew/issues/533#issuecomment-513581931.

[2020-01-06 14:28] jstarry commented on #830
From reddit (https://www.reddit.com/r/rust/comments/ektzvd/announcing_the_v011_release_of_yew/fddpiqx/)

[2020-01-06 15:26] derekdreery commented on #533
Happy to help out however you want to use them.

The lib I'm working on does typecheck your CSS, so only valid types of property values are allowed for a given property name.

[2020-01-06 17:36] madmaxio commented on #375
Found https://github.com/yewstack/yew/tree/master/examples/js_callback

[2020-01-06 17:36] #375 closed

[2020-01-06 23:44] ctm commented on #389
I ran into this issue last night when I was tired and I spent a bit of time chasing my tail before understanding what was going on.

I don't claim that my PR (#847) is the proper way forward, but it works for me. If there's a better way to do it, I'll be happy to help if I can, but it does seem like being able to use binary-only formats with WebSockets is worthwhile.

Similarly, I don't know that

[2020-01-07 13:46] jstarry opened #850 "Examples could be more accessible if hosted by Yew"
It would be nice to have the examples hosted somewhere.. maybe yew.rs/examples

[2020-01-08 03:54] jstarry opened #852 "There is no Pogressive Web App example project"
We should have an example project, probably in the form of a starter template that shows how to build a PWA (https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps).

In doing so, we should determine if Yew needs any new features to support PWA's

[2020-01-08 06:41] jstarry opened #854 "Enable wee-alloc by default for web-sys feature"
**Is your feature request related to a problem? Please describe.**

`wee_alloc` helps decrease the wasm binary size of yew apps but is not compatible with `stdweb`. When yew supports `web-sys`, it would be nice to enable it by default as most users would presumably want it.

[2020-01-08 13:48] davidkna commented on #854
Has anyone tested how this affects performance and memory usage? I assume it'll both be worse since wee_alloc aims to be very simple.

[2020-01-08 14:06] daxpedda commented on #854
I did not test it, but from the [description]() I think it will, but the [default wasm allocator]() doesn't seem to be very performant either according to their [readme]().

I just tested it and it's not possible to overwrite a global allocator once it's defined, so the user would have to turn on `no-default-features`.

Are we alright with this?

[2020-01-08 14:38] kellytk commented on #854
@davidkna IIRC when creating https://github.com/yewstack/yew-wasm-pack-minimal I evaluated `wee_alloc` and didn't observe sufficiently improved performance to use it.  Having been several months that may be obsolete.

I would be interested to see a comparison for each of Yew's [examples](https://github.com/yewstack/yew/tree/master/examples).

I propose that performance optimization issues be tagge

[2020-01-08 16:28] daxpedda commented on #854
The reason to use `wee_alloc` is not performance, but binary size.
I have tested this in multiple projects already and the difference is significant.

[2020-01-08 16:36] kellytk commented on #854
@daxpedda I include that with it and I still believe optimizations shouldn't occur outside of more rigorous infrastructure.

[2020-01-08 16:41] daxpedda commented on #854
I don't disagree, just pointed out that it's not about run-time performance.
On a side note, are we going to test for binary size in our CI too? 😮

[2020-01-08 17:23] kellytk commented on #854
@daxpedda It would be difficult to accurately gauge the performance impact of changes otherwise.

[2020-01-08 17:35] wojciechkepka opened #857 "Can't run example from website"
**Problem**

I'm trying to run the example from the website and i get an error.
**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to https://yew.rs/docs/getting-started/build-a-sample-app
2. Copy the code, creating necessary files
3. run `cargo web start`

**Expected behavior**
app available at http://[::1]:8000

**Environment:**
 - Yew version [0.11.0]
 - Rust version [1.40.0]
 - Targ

[2020-01-09 00:25] jstarry commented on #857
Thanks for the report, dupe of https://github.com/yewstack/docs/issues/16. Should be fixed now!

[2020-01-09 00:25] #857 closed

[2020-01-09 00:28] jstarry commented on #854
Yeah, let's track binary size in CI as well.

I agree with @davidkna, it's a bit presumptuous to assume that devs care more about binary size than performance. Let's not enable it by default, we can instead rely on our docs to inform users: https://yew.rs/docs/advanced-topics/optimizations#wee_alloc

[2020-01-09 00:28] #854 closed

[2020-01-09 00:43] jstarry opened #858 "Track binary sizes for each Yew release"
We should have a good idea of what binary size a user can expect from the framework.

Maybe a table with columns for `stdweb` and `web-sys` and rows for various project / feature (services, agents, etc) complexity configs

[2020-01-09 00:44] jstarry commented on #854
I added an issue for binary size tracking here: https://github.com/yewstack/yew/issues/858

[2020-01-09 00:46] jstarry commented on #805
Seems like all questions have been addressed

[2020-01-09 00:46] #805 closed

[2020-01-09 00:56] kellytk commented on #854
@jstarry

For a scenario where software's assets are transferred across a network to the client at runtime, I classify binary size as an aspect of performance.  For example, it may be worth a larger binary size, and associated additional initial load delay, for an ongoing reduction in CPU overhead of a complex and data-intensive SPA .

[2020-01-09 01:05] jstarry commented on #854
Agreed that it's an aspect of performance. We just shouldn't be assuming what tradeoffs a dev wants to make

[2020-01-09 02:02] jstarry opened #859 "Websocket messages that do not deserialize are ignored"
**Is your feature request related to a problem? Please describe.**
The websocket service drops messages that cannot be "formatted" correctly and does not log or return any error to the user when this happens.

**Describe the solution you'd like**
1. Either add logging (or panic) on debug builds when this happens.
2. Allow users to receive callbacks for message format errors

[2020-01-09 02:28] #389 closed

[2020-01-09 12:19] jplatte commented on #769
This conflicts with attributes that don't need a value like [hidden](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/hidden). I don't know how yew currently handles those, but personally I don't like the syntax you propose for implicitly using a variable as the value for some HTML attribute, because of this conflict.

What about instead of

[code]

this could be expressed as

[

[2020-01-09 13:37] Follpvosten commented on #769
@jplatte Yes, after thinking about it a while, this makes sense. #745 is the one that *matches* the usual HTML API, but you're right, it only makes sense for booleans to do it the exact same way.

I like the `x` => `x=` idea.

[2020-01-09 14:24] daxpedda opened #861 "Switch from `failure` to `anyhow` and `thiserror`."
**Is your feature request related to a problem? Please describe.**
I am currently working on converting `yew` to `web-sys`.

Returning a `Result` from some of the services, like for example websocket or storage, is bad for the user experience without having our own error type (unless we just want to continue using `&str` as the error type).

This problem is supposed to be solved by [`failure`](htt

[2020-01-09 15:30] norci opened #1104 "document for route pattern"
I wish the document will be updated, for URL pattern matching.
such as this code:
[code]
At first "/" was the first url in AppRoute, then all the other urls did not work.
I tried to move "AppRoute::Index" to the bottom of "match switch", it did not work too.
Finally the problem was solved by moving "/" to the bottom of AppRoute.

This behavior is strange. For I thought the url pattern will be chec

[2020-01-09 18:34] Manish-Giri commented on #800
Hello, I'd like to work on this..

[2020-01-10 12:00] hgzimmerman opened #1106 "Add a cargo check for target wasm32-unknown-unknown to CI"
**Description**

The lack of this check allowed a build failure to sneak past me when publishing 8.0.0. To prevent it from happening, the CI script should be updated to also run a check using  `cargo check --target wasm32-unknown-unknown`.

[2020-01-10 19:43] tarkah commented on #604
I'm facing this issue as well, using yew_router to change between components. I'm also getting the following error message when I switch routes, along with the above error message.

[code]

[2020-01-10 23:37] hgzimmerman commented on #604
That warning is because of some mechanism shared by both the dispatcher and bridge that expects a callback to exist. The dispatcher does not have such a callback, causing this message to be triggered. That problem might deserve its own issue though.

[2020-01-11 00:12] tarkah commented on #604
Ahh, ok. Is that impacting performance in any way or can those messages be ignored?

[2020-01-11 00:52] jstarry opened #864 "May not need proc_macro_hack anymore"
https://www.reddit.com/r/rust/comments/emwjs1/heres_a_pr_showing_how_easy_it_is_to_remove_a/?utm_medium=android_app&utm_source=share

[2020-01-11 11:55] ctaggart commented on #861
I was just going to suggest this as well. I went with anyhow and work and in my app, mainly because web-sys switched from failure anyhow and [their reasoning](https://github.com/rustwasm/wasm-bindgen/pull/1851) sounded good to me. It has been working well.

[code]

I'm still hoping the error handling with web-sys gets improved a bit. https://github.com/rustwasm/wasm-bindgen/issues/1742

[2020-01-11 12:41] jetli commented on #803
The project is added to [Realworld](https://github.com/gothinkster/realworld#frontends) repo officially, in Frontends section with title `Rust + Yew + WebAssembly`. 🎉

[2020-01-11 15:22] jstarry commented on #803
Amazing! You rock 😎

[2020-01-12 02:59] kellytk opened #865 "Help triage open issues by suggesting missing labels"
[Labels](https://github.com/yewstack/yew/labels) help a contributor understand how they could help whether that's taking ownership of a feature, fixing a bug, writing more docs, or discussing a proposal.

How to proceed:

1) Familiarize yourself with the [list of labels](https://github.com/yewstack/yew/labels).
2) Read through [open issues](https://github.com/yewstack/yew/issues?q=is%3Aopen+is%3Ai

[2020-01-13 03:20] jstarry commented on #604
@tarkah could you please create a new issue for handler id warning? It's unrelated to this issue. Thanks!

[2020-01-13 19:33] tarkah opened #870 "Handler Id Warning"
**Problem**
I'm getting the following warning when switching between different routes using yew_router.  I have 5 different components that I switch between when route changes using `Router::render`. One of the components has a table with 100 rows, this warning returns ~100 times when I switch off that route.  Whereas one route is just an index page with static text, and it returns the warning 4 t

[2020-01-13 22:50] nurebrahimkanakan commented on #800
hello

[2020-01-13 23:25] nurebrahimkanakan commented on #870
_****_

[2020-01-14 00:11] jplatte opened #871 "Feature request: Allow non-`mut` local variables in html!'s for expression"
**Is your feature request related to a problem? Please describe.**

I just noticed that when passing a local variable into `html!` as part of `{ for my_var }`, it is an error for that local variable not to be `mut`.

**Describe the solution you'd like**

As far as I can tell without having looked at the code, this could probably be solved by using `std::iter::IntoIterator::into_iter(#expr)` instea

[2020-01-15 09:22] jstarry commented on #871
@jplatte thanks for the nicely written issue! I put up a fix in PR, would you mind trying it out?

[2020-01-15 09:57] #871 closed

[2020-01-15 12:10] Nachasic commented on #18
After doing some research on this I've found out this.

1. In order to implement a custom element, one must inherit from browser-native `HTMLElement` using prototype inheritance;
1. Right now there is now way to describe prototype inheritance using RustWASM. There is an RFC and a PR with POC implementation (https://github.com/rustwasm/rfcs/pull/11), but judging by the discussion, this issue turned

[2020-01-15 13:55] #861 closed

[2020-01-15 14:57] AlephAlpha commented on #768
This can be fixed by adding implementations to the [`Transformer`](https://docs.rs/yew/0.11.0/yew/virtual_dom/trait.Transformer.html) trait:

[code]

I'm not sure if I should make a pull request for this.

[2020-01-17 04:28] samuelvanderwaal commented on #769
I'm pretty junior but would be willing to take a stab at this if someone is available to review it and point me in the right direction.

Looks like the HtmlProp parsing is defined here: https://github.com/yewstack/yew/blob/master/crates/macro/src/html_tree/html_prop.rs#L23. Is this going to be the right place to implement this feature?

[2020-01-17 04:44] jstarry commented on #769
@samuelvanderwaal yup, that's the place!

[2020-01-18 02:15] hgzimmerman commented on #870
Hi, as the maintainer of the Router, I have some input on this.
The Router makes use of agent Dispatchers, which are just like Bridges, but lack a callback used direct messages back to components.

The warning message you see is the result of a message being attempted to be sent back to a component from an agent, but there not existing a callback to facilitate that. What this warning message is ef

[2020-01-19 00:33] jplatte opened #882 "Returning the same Component with different properties in consequent view call breaks DOM update"
I've created a minimal reproduction in [this repository](https://git.sr.ht/~jplatte/wtf_yew). The first commit contains a tiny app similar to the starter app that works. The second commit moves some bits into a separate component, and no longer works.

 - Yew version: v0.11
 - Rust version: rustc 1.42.0-nightly (859764425 2020-01-07)
 - Target: dunno, using `cargo web`
 - `stdweb` version: v0.4.20

[2020-01-19 00:39] jplatte commented on #882
To be 100% clear, I meant no offense when choosing the repository name `wtf_yew`; I simply named it that because it was a WTF moment for me when I found that introducing components could easily break the whole app. I wasn't *expecting* that level of experimental, but am still not deterred from using it yet :D

Thanks for making yew! :)

[2020-01-19 00:52] #882 closed

[2020-01-19 00:53] jplatte commented on #882
Welp, so it was my fault because I didn't implement `change`, but IMO that should maybe not be so easy...

[2020-01-19 01:36] jstarry commented on #882
Ah dang, sorry you ran into that. Hmm maybe we should remove the default implementation for that trait. Mind creating an issue so that we can discuss?

[2020-01-19 06:13] jstarry opened #884 "Too easy to `cancel` inactive Tasks"
**Problem**
The `Task` interface has a method called `cancel` which is intended to allow devs to cancel long running tasks. However, this API is easy to misuse accidentally. For example, our examples encourage risky usage [here](https://github.com/yewstack/yew/blob/master/examples/dashboard/src/lib.rs#L170) and [here](https://github.com/yewstack/yew/blob/master/examples/timer/src/lib.rs#L80). Thes

[2020-01-19 06:16] jstarry commented on #371
Closing in favour of https://github.com/yewstack/yew/issues/884

[2020-01-19 06:16] #371 closed

[2020-01-19 06:37] jstarry opened #885 "Not using `gloo` for FileReader service"
#### Description
Integrating `web-sys` support has allowed `yew` to depend on `gloo` for ergonomic web APIs. However at the time of writing, `gloo` hasn't implemented the [proposed api for files](https://github.com/rustwasm/gloo/blob/master/rfcs/001-mid-level-file-api.md)

#### Proposed Solution
We should consider upstreaming `ReaderService` changes from https://github.com/yewstack/yew/pull/868 to

[2020-01-19 11:56] mezeipetister opened #886 "std::thread allowed to compile, but does not work"
**Problem**
Hi, I am new to web-assembly in Rust, and maybe this is a wasm question, but I tried to test Yew, and wrote an update function for a model using Arc<Mutex<T>>  variable, and tried to start a background process using std::thread. - Now i know this is not the way things work, but the point: the compiler compiled the code without any warning, and I found the bug opening the browser consol

[2020-01-19 13:39] #768 closed

[2020-01-19 15:59] jstarry commented on #886
Thanks for the nice words! There's not really anything we can do to prevent this in this project. It's more of a rust compiler team thing. I guess this sort of thing is the tradeoff for being able to use std in wasm :)

[2020-01-19 15:59] #886 closed

[2020-01-19 16:02] jstarry commented on #886
I think this is the info you are looking for https://rustwasm.github.io/docs/book/reference/which-crates-work-with-wasm.html

[2020-01-19 16:21] #775 closed

[2020-01-20 13:48] mezeipetister opened #887 "non blocking API call"
Hi guys,

this is a help request.
**Question**
How can I do a background process, which is not blocking? If I use a timeout service - as in one of the example in issues - but once the timeout callback fires, its blocking.

I am trying to check the Agent, but inside the examples/multi treading examples I cannot see how to send back data. I can register a callback to the agent, and I can send back a

[2020-01-20 15:30] hgzimmerman commented on #887
You don't need web-worker based Agent to achieve concurrency - a Job/Context Agent works just as well (running on the main UI thread, but still not explicitly blocking). You would only want a separate thread if you wanted to perform some long-running computation but not have that block the main UI thread.
Alternatively, you can use futures, and when your future completes, it can send a signal to a

[2020-01-20 21:10] mezeipetister commented on #887
Hi! Big thanks!
I have tried FetchService, and it's indeed not blocking the main thread. It solved my issue.

[2020-01-21 02:14] fromrileywithlove commented on #533
My preference is to use css modules, or css that's localised to the component, keeping components from conflicting with each other automatically. To this end there is the [css-modules](https://crates.io/crates/css-modules) crate, which simply aliases all of the class names in a css file and imports a list of those aliases into rust.

The author of the crate was recently harassed into deleting thei

[2020-01-21 12:44] mezeipetister commented on #887
Thank you for the help!

[2020-01-21 12:44] #887 closed

[2020-01-21 12:48] mezeipetister opened #888 "Yew is production ready?"
Hi Guys!

Another Yew question: is Yew production ready?
I am planning to start using it in production to build up our internal e-commerce POS UI for our sales team.

We are using rust for the backend, and we would like to use a solution for a web GUI as well, with the same strong compiler quality guarantees.

Do you think Yew is production ready in terms of stability? We do not mind if features a

[2020-01-21 12:53] jstarry commented on #888
Hey there,

Great question! It certainly isn't nearly as battle tested as other frameworks but I would venture to say it's pretty stable at this point. I think the biggest risk for crashes is browser compatibility. If your use-case only involves modern browsers used by an in-house sales team, then I think it's relatively low risk! If you had an external facing site for customers, that'd be a diffe

[2020-01-21 12:56] jstarry commented on #888
Please take a look at the [Roadmap](https://yew.rs/docs/more/roadmap) for info on what's coming up in the pipeline. Notably, we don't have any examples or guides for how to properly test a Yew app, for example. I would consider that a blocker for production readiness. But if you're willing blaze the trail for others, I wouldn't let the lack of that stop you. In fact, it would be great if you could

[2020-01-21 14:30] ctaggart commented on #888
It all depends on the situation and your team's level of comfort with new tech like WebAssembly. I started working on an app that used Yew in August and published it earlier this month. Yew is a wonderful project and I highly recommend it, but there will be some growing pains. I'm very excited about the upcoming web-sys support. You have to keep the [rustwasm](https://github.com/rustwasm) tooling

[2020-01-21 15:28] tracker1 commented on #888
As others have mentioned, for internal apps, and if you're comfortable with the tooling, go for it.

I would consider a  peer project with node+puppeteer+jest (or mocha, jasmine) for testing your workflows on a running app against a test api service.  Mainly because imho puppeteer is about as nice a test framework combination as you're likely to see and puppeteer

[2020-01-21 17:10] mezeipetister commented on #888
Thank you guys!

[2020-01-21 17:22] mezeipetister opened #889 "Agent help"
Hi Guys,

I have tested Yew, and one last thing is missing to understand to me: how Agent works.
Could you help me on it? I did read the github readme, yew.rs Agent page, and played with the examples/mutli_thread sample project, but I am not sure I get it right.

In the readme you write we can use Agent like a global state machine. But how can an Agent call a subscriber component?

From my underst

[2020-01-21 18:07] mezeipetister commented on #889
Let’s give an example: can I use an agent to create a watch? An agent that using interval service to set the current time in a variable, components can subscribe with a callback and then can somehow the agent push the new time to the registered components? Or the registered components need to set their own interval service and send a request to update its own timer from the agent?

[2020-01-22 02:27] jstarry commented on #889
Hey, good question! I think we should improve documentation for this!

You can absolutely do what you want to do 😄

Yes, you can only have one callback function and it must match `Agent::Output`. In my project, I used an enum for my `Agent::Output` and then can define many types of messages which are handled using a `match` in the subscriber.

A worker can update all registered components. The key

[2020-01-22 06:49] mezeipetister commented on #889
Nice! Thank you! I tried an example using the one from Yew readme, but I have an issue:

My example code:

[code]

If I try to create the bridge with a callback using Msg::AgentCounterChannel(agent::Response), then I have this error msg:

[code]

If I use Msg::Hit, it works nicely.

It sounds like I am missing some trivial thing, but I cannot see what it is.

[2020-01-22 07:29] jstarry commented on #889
Your issue is here:

The `Msg::AgentCounterChannel` enum variant acts as a function. In this case your closure is returning a function. Instead, try this:

[code]

Here's a more terse variant.

[code]
It works because `Msg::AgentCounterChannel` acts as a function which takes a response from the agent and therefore can elide the need for a closure.

P.S. the `.clone()` is unnecessary

[2020-01-22 07:32] mezeipetister commented on #889
Everything works like a charm! Thanks! Now i understand how agent/worker works in Yew, amazing.

[2020-01-22 07:35] jstarry commented on #889
@mezeipetister Excellent! Happy to help! If you have a moment, I would really appreciate if you could update our README so others don't run into this issue 😄

[2020-01-22 07:35] #889 closed

[2020-01-22 08:59] mezeipetister commented on #889
Ok, sent a pull request.

[2020-01-22 10:06] jstarry opened #891 "Fix CI tests"
CI is failing with:

[code]
https://travis-ci.com/yewstack/yew/jobs/278251505

[2020-01-22 13:57] jetli commented on #888
Hi, I've got a repo here https://github.com/jetli/rust-yew-realworld-example-app, a sort of "real world" example for yew, you can check it out for evaluation purpose, it's not that complex, but relatively full featured as a simple medium clone.

It includes jwt token based authentication, api request, url routing, user sign up/sign in, user settings editing, article publishing by markdown, list/de

[2020-01-22 14:19] hgzimmerman commented on #888
The only things I find Yew lacking is ecosystem and compile times, and we don't really know how it stacks up performance-wise against other frameworks at the moment.

There aren't a whole lot of packages that interoperate specifically with Yew, so that ends up meaning doing some work yourself that you otherwise wouldn't have to in another framework. That situation might improve over time though on

[2020-01-23 04:27] samuelvanderwaal commented on #769
Ok, I have taken a look at this and have some ideas. The most straight-forward approach seems to be to copy the input ParseStream and turn the parsed Expr from a result into an Option, something like this:

[code]

I am not sure if using `clone()` is expensive in this context but if so, another approach is to use `lookahead` and/or possibly `cursor` to try to determine if we get an expression or n

[2020-01-23 06:12] jstarry commented on #769
`clone()` is fine. Performance is not a huge concern in the macro code, worst it can do is slow down builds slightly.

I think we have everything we need from cloning `label` though. Check out [`HtmlDashedName`](https://github.com/yewstack/yew/blob/master/crates/macro/src/html_tree/html_dashed_name.rs#L13). We could implement `TryInto<Expr>` for `HtmlDashedName` and create an `Expr` from the `Iden

[2020-01-23 11:19] elbaro opened #892 "--host lvh.me does not change origin"
#### What I've tried (optional)

[code]
Setting `--host` still sets the origin as localhost.

[2020-01-23 11:40] mezeipetister opened #893 "Create and store component in variable"
Hi Guys!

Could you help me how I can manage not displayed components state? Is there any possibility to create and display a component, and somehow reserve it but not render? Like creating Components and store them in a vector, and then render them by iterating the vector, or selecting just one item from the vector and render that one - like creating a Tab component that can load and display tabs

[2020-01-23 13:02] mezeipetister commented on #888
Thank you guys for the info. They are quiet useful.

[2020-01-24 07:03] samuelvanderwaal commented on #769
This is great, thanks! I should be able to work on it tomorrow after the day job, or this weekend.

[2020-01-24 09:49] jplatte commented on #769
One could also use `syn::parse_quote(#ident)` instead.

[2020-01-24 10:07] #891 closed

[2020-01-24 10:20] mezeipetister commented on #893
Is it a stupid or hard question?

[2020-01-24 10:44] cundd opened #895 "Wrong DOM node is changed/removed"
**Problem**
Wrong DOM node is changed/removed

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/cundd/yew-list-problem
2. Run `cargo web start`
3. Click "Add Song 1 to list!"
4. Click "Add Song 2 to list!"
5. Click "Add Song 3 to list!"
6. Click "Add Song 4 to list!"
7. Click "Remove Song 1 from list!"
8. Last node is removed from list

**Expected behavior**
"Son

[2020-01-24 13:11] mezeipetister commented on #895
Something is with your list.rs / view method.
If I change it to the following one, it works properly:

[code]

[2020-01-24 13:17] mezeipetister commented on #895
if I add change method to list_item, it works but there is still a warning message about vnode not found to remove.

[code]

[2020-01-24 13:30] mezeipetister commented on #604
@jstarry somebody is working on this issue? Is this bug something I should be concerned to use Yew in our project?

[2020-01-24 14:07] cundd commented on #895
Ah. Looks like it's my fault.

For me it wasn't clear that the ListItem will be repurposed to display new properties.

Although I didn't RTFM, this may be a bit misleading if someone stumbles upon this:

From an UI view the place of ListItem+Song1 did change. Although from the view of the implementation it didn't.

May I ask why `self.props = props;` isn't the default `change()` behaviour?

[2020-01-24 14:16] mezeipetister commented on #895
I am also new to Yew, just tried to help you out with the implementation, but I have no idea how things work in it. I was thinking the same, it's strange to implement change to the ListItem, as the props of it - in this case - does not change at all, as the whole list is going to re-render.

So I found a way how it works, but I really don't understand why it is a solution and anyway why this behav

[2020-01-24 14:17] mezeipetister commented on #895
Anybody from Yew contributors? @DenisKolodin ?

[2020-01-24 14:19] cundd commented on #895
@mezeipetister you helped me a lot!

[2020-01-24 14:42] jstarry commented on #895
Yeah, agreed that it's too easy to make the mistake. There are a few ways to tackle this:
1. Not having components manage props themselves. There's a proposal here: https://github.com/yewstack/yew/issues/830
2. Removing the default implementation of the `change` method in the `Component` trait to force implementation

[2020-01-24 14:45] jstarry commented on #604
@mezeipetister not concerning, no one is on it, feel free to take a stab at it!

[2020-01-24 14:47] mezeipetister commented on #895
@jstarry so right now, a solution can be to implement change method to all the components?

[2020-01-24 14:51] jstarry commented on #895
@mezeipetister right now, change method is implemented here: https://github.com/yewstack/yew/blob/master/src/html/mod.rs#L48

It's not a good default behaviour

[2020-01-24 15:09] jstarry commented on #893
No, it's not. Please be patient when asking questions.

I think nested children is what you're looking for. Take a look at this example: https://github.com/yewstack/yew/blob/master/examples/nested_list/src/list.rs#L88 and here are relevant docs: https://yew.rs/docs/concepts/html/components#nested

[2020-01-24 15:09] #893 closed

[2020-01-24 15:10] #895 closed

[2020-01-24 15:10] #888 closed

[2020-01-24 15:12] jstarry commented on #892
@elbaro is this a `cargo-web` issue or a `yew` issue?

[2020-01-24 16:09] mezeipetister commented on #893
Thank you!

[2020-01-25 01:12] IcyDefiance opened #896 "There's some weird behavior when a node ref is attached to a component"
**Problem**
I created a minimal demonstration here: https://github.com/IcyDefiance/yew-noderef-bug

This demonstration has 3 components:
1. `App` just renders `UsesRef`
2. `UsesRef` renders `Div`, attaches a node ref to it, and triggers updates on itself until the node ref is available. Inside `mounted` and `update` it prints the node ref in the console.
3. `Div` just renders a div

When configure

[2020-01-25 01:12] jstarry commented on #769
Great suggestion, wasn't aware of that macro!

[2020-01-26 16:35] jstarry commented on #214
This API has been changed since this issue was written, if the type constraints are still too strict (they may be), please reopen

[2020-01-26 16:35] #214 closed

[2020-01-26 20:23] Boscop opened #1103 "Child state should survive route changes"
I was modeling my router after the `component` example:
https://github.com/yewstack/yew_router/blob/7c57e1e36670d330de5b8ee0f5969bf95ef05979/examples/router_component/src/main.rs#L55-L63

Currently, when I go back to my previous route (component), it has lost its state..
Would it be possible to remember children's states when the route changes?
(I was using PureScript's Halogen framework before an

[2020-01-26 20:34] Boscop opened #1102 "Borrowing from `self` in routes"
I was reading the yew-router guide yesterday, which has this code: https://github.com/yewstack/yew_router/blob/master/examples/guide/chapters/02_router_component.md#example
[code]
Presumably, state passed as attributes to `BModel` could borrow from self at the time the guide was written (like `<BModel foo=&self.bar />`). But this example (and others from the guide) don't compile anymore..

I'd rea

[2020-01-27 02:32] jstarry commented on #896
Thanks for reporting this and thanks for the minimal example @IcyDefiance! I hope to have time to debug in the next few days.

[2020-01-28 00:12] #884 closed

[2020-01-29 14:48] AlephAlpha opened #903 "Feature request: Optional attributes of an HTML tag"
**Is your feature request related to a problem? Please describe.**
Sometimes I would like to have an optional attribute in an HTML tag.

For example, when I have a value `href` of type `Option<String>`, and want to use it as an optional attribute of an `<a>`, I have to write

[code]

When I have multiple optional attributes within one tag, the code will grow exponentially.

Or alternatively,

[cod

[2020-01-29 16:46] mdtusz commented on #903
A relatively quick alternative for this is to do something like:

[code]

Still a bit longer, but minimizes the difference between yew code and regular rust.

[2020-01-30 07:21] samuelvanderwaal commented on #769
Using `syn::parse_quote()` is nice but using it I'm not sure that we need `TryInto` instead of just `Into`. If we're using the `name` field of `HtmlDashedName` it will always be a valid `Ident` so the macro should never panic. So it seems like this should work:

[code]

[code]
This compiles but I haven't set up any specific tests for it yet.

[2020-01-30 08:25] jplatte commented on #769
That doesn't do what you want. It has to be

[code]

Otherwise you're converting every HtmlDashedName to literally the expression `self.name`.

[2020-01-30 08:28] jplatte commented on #769
But you're right about the conversion being infallible, so it makes sense to impl `From` or `Into` rather than one of the `Try`s.

[2020-01-30 18:28] jplatte commented on #757
I think it's important that `html!` accepts pretty much any valid HTML. Allowing plain text is probably the most obvious thing, but there are other examples too. I could imagine making the following legal:

[code]

(yes, that is valid HTML5)

Also, I think yew should recognize tags that HTML5 specifies to be self-closing (to make `<meta>` and `<input>` be equal to `<meta />` and `<input />`.

Mayb

[2020-01-30 18:49] mdtusz commented on #757
While `html!` outputs html, the input _isn't_ html and is a lot closer to jsx and other html-likes. I think it's probably prudent to keep it strict. It can be slightly annoying to have to remember and fix closing tags, but it is in line with "the rust way" of keeping things correct.

If the desire is to be able to have pure input html, perhaps a `raw_html!` macro could be useful?

[2020-01-30 20:32] tracker1 commented on #757
Just my $.02, but sticking as closely as possible to JSX syntax is probably a very good thing given the broad adoption of the syntax... which means literal text should be allowed, and non-xml input would not be allowed.

Along the same lines would be empty tag support, in case you need it (such as for a dictionary list item).

[code]

[2020-01-30 22:18] hgzimmerman commented on #757
Another minor detail I've recalled about this topic is that I believe that syn is much faster at parsing quote-delimited strings instead of arbitrary text tokens.
I think it would be prudent to benchmark compile times before such a change would be merged because there might be the possibility of drastically slowing down compile times.

[2020-01-31 02:54] samuelvanderwaal commented on #769
Ah, after reading more about the `quote!` macro, using the `#var` syntax makes sense. Thanks!

[2020-01-31 02:58] samuelvanderwaal commented on #769
@jstarry No rush, but when you get a chance, let me know if you like this solution and how you'd like me to approach testing it before putting in a PR.

[2020-01-31 03:18] samuelvanderwaal commented on #865
I'll do this.

[2020-01-31 03:19] samuelvanderwaal commented on #903
Missing labels:
* ergonomics

[2020-01-31 03:26] samuelvanderwaal commented on #892
Missing labels:
* info needed
* won't fix (looks like a `cargo web` issue: `--host` is a `cargo web start` option)

[2020-01-31 03:32] jstarry commented on #892
@elbaro please reopen if you think this is an issue with `yew` but sounds like it's not.

[2020-01-31 03:32] #892 closed

[2020-01-31 04:07] samuelvanderwaal commented on #795
Missing labels:
* info needed

[2020-01-31 04:10] samuelvanderwaal commented on #745
Missing label:
* good first issue

[2020-01-31 04:15] tarkah opened #904 "Error dropping ReziseTask when going back a page with Yew Router"
**Problem**
When navigating back a page, off a component that has a resize task, I am getting the following error:

[code]

It's worth noting that I am using yew_router.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Use yew_router
2. Be on a page with a component with a resize task
3. Hit backspace / back to navigate to the previous page
4. See error

**Environment:**
 - yew v0.11
 -

[2020-01-31 04:26] samuelvanderwaal commented on #453
Missing label:
* proposal

[2020-01-31 04:28] samuelvanderwaal commented on #431
Missing label:
* info needed

Or maybe just close it as it wasn't reproducible and has been over a year.

[2020-01-31 04:29] samuelvanderwaal commented on #410
Missing label:
* feature

[2020-01-31 04:30] samuelvanderwaal commented on #402
Missing label:
* bug

[2020-01-31 04:30] samuelvanderwaal commented on #401
Missing label:
* question

[2020-01-31 04:32] samuelvanderwaal commented on #353
Missing label:
* question

Looks like the question was answered and this can be closed.

[2020-01-31 04:33] samuelvanderwaal commented on #351
Missing label:
* bug

[2020-01-31 04:34] samuelvanderwaal commented on #350
Missing label:
* question

[2020-01-31 04:34] samuelvanderwaal commented on #347
Missing label:
* question

[2020-01-31 04:36] samuelvanderwaal commented on #284
Missing label:
* example

[2020-01-31 04:36] samuelvanderwaal commented on #282
Missing label:
* proposal

[2020-01-31 04:37] samuelvanderwaal commented on #245
Missing label:
* example

[2020-01-31 04:37] samuelvanderwaal commented on #244
Missing label:
* feature

[2020-01-31 04:38] samuelvanderwaal commented on #226
Missing label:
* question

[2020-01-31 04:38] samuelvanderwaal commented on #204
Missing label:
* question

[2020-01-31 04:39] samuelvanderwaal commented on #182
Missing label:
* question

[2020-01-31 04:40] samuelvanderwaal commented on #175
Missing labels:
* question
* bug

[2020-01-31 04:41] samuelvanderwaal commented on #170
Missing label:
* question

[2020-01-31 04:41] samuelvanderwaal commented on #165
Missing label:
* question

[2020-01-31 04:42] samuelvanderwaal commented on #149
Missing label:
* Proposal

[2020-01-31 04:42] samuelvanderwaal commented on #140
Missing label:
* proposal

[2020-01-31 04:43] samuelvanderwaal commented on #129
Missing label:
* proposal

[2020-01-31 04:44] samuelvanderwaal commented on #124
Missing label:
* bug

Looks like the upstream issue was solved so I think this can be closed.

[2020-01-31 04:44] samuelvanderwaal commented on #94
Missing label:
* question

[2020-01-31 04:45] samuelvanderwaal commented on #90
Missing label:
* feature

[2020-01-31 04:46] samuelvanderwaal commented on #44
Missing label:
* feature

[2020-01-31 04:47] samuelvanderwaal commented on #29
Missing label:
* question

I believe this can be closed.

[2020-01-31 04:47] samuelvanderwaal commented on #18
Missing label:
* proposal

[2020-01-31 04:48] samuelvanderwaal commented on #5
Missing label:
* performance

[2020-01-31 04:48] samuelvanderwaal commented on #332
Missing label:
* feature

[2020-01-31 04:50] samuelvanderwaal commented on #865
I went through all the open issues and added suggested labels and a few suggestions for closing some of them.

[2020-01-31 07:30] jstarry commented on #769
@samuelvanderwaal I prefer to iterate on PRs and I think this is ready to start work!

I'm admittedly a bit unsure of the syntax still. Maybe we could add a feature flag for it for now? We could pass the feature through yew to yew-macro. Something like `"unstable/prop-shorthand"`? @jplatte @Follpvosten would that work for you?

And I would want this syntax sugar to work for both "tags" and "compon

[2020-01-31 07:36] jstarry commented on #795
@trivigy @Follpvosten @gmorus y'all have any thoughts on how we could better coordinate efforts here? I think more visibility could help. Building a component library is quite a large endeavour.

[2020-01-31 07:47] jstarry commented on #453
@crocwolf could you please split up these suggestions into separate issues? I'm closing due too many proposals in one issue.

---

* I think `selector.append(component)` is already covered by https://yew.rs/docs/concepts/components/refs

* Unsure if multi-lingual support would ever be baked into Yew but I think an example project would be a great start.

* Isomorphic apps would be an awesome featu

[2020-01-31 07:47] #453 closed

[2020-01-31 07:48] jstarry commented on #431
Not reproducible

[2020-01-31 07:48] #431 closed

[2020-01-31 07:51] jstarry commented on #402
@kellytk could you please check to see if you still see issues on Firefox for Public agents? Global agents aren't implemented yet as per https://github.com/yewstack/yew/issues/283

[2020-01-31 07:59] #353 closed

[2020-01-31 08:00] Follpvosten commented on #795
So, yew-mdc is very much a work in progress right now, and its development currently also very focused on our internal usage - I'm only implementing the functionality we need, *when* we need it, and formal releases don't really fit into this development model I think.

I'm also not sure how external contributors would fit into this, but I would definitely be interested in some coordinated efforts.

[2020-01-31 08:04] jstarry opened #905 "Document how to send messages to children components"
Not sure how formal the support for this feature should be, but at the moment is possible using the approach in the nested list example here:
https://github.com/yewstack/yew/blob/master/examples/nested_list/src/app.rs

So I think it deserves a write up in the docs

[2020-01-31 08:05] jstarry commented on #350
There is a way to do this as shown in https://github.com/yewstack/yew/blob/master/examples/nested_list/src/app.rs

I've created an issue to write some documentation about this approach here: https://github.com/yewstack/yew/issues/905

[2020-01-31 08:05] #350 closed

[2020-01-31 08:06] jstarry commented on #347
VNode is now cloneable so I believe this is solved

[2020-01-31 08:06] #347 closed

[2020-01-31 08:08] jstarry commented on #284
This is similar to https://github.com/yewstack/yew/issues/905 but aims to use agents instead of weak component links

[2020-01-31 08:10] jstarry commented on #244
I believe this was fixed here: https://github.com/yewstack/yew/pull/253

[2020-01-31 08:10] #244 closed

[2020-01-31 08:11] jstarry commented on #226
@Boscop did you ever solve this? Seems like a candidate for a new service

[2020-01-31 08:15] jstarry commented on #170
This is supported with https://docs.rs/yew/0.11.0/yew/fn.start_app_with_props.html

[2020-01-31 08:15] #170 closed

[2020-01-31 08:15] jstarry commented on #165
@mdtusz do you mind chiming in here?

[2020-01-31 08:16] jstarry commented on #165
I feel like we will want to add a webgl canvas example soon

[2020-01-31 08:21] jstarry commented on #129
I feel like this is outside the scope of Yew, but certainly a pattern that is bound to be popular for Yew projects. Closing for now, but happy to reopen if the community needs examples or tutorials for how to set this up.

[2020-01-31 08:21] #129 closed

[2020-01-31 08:21] jstarry commented on #124
Fixed upstream

[2020-01-31 08:21] #124 closed

[2020-01-31 08:21] Follpvosten commented on #769
@jstarry I'm open to a feature flag; right now, this doesn't apply to me as much as it used to, mostly because I've started to like using semantically sensible names for my callbacks (like `onclick=do_something`), but it'll still be useful for other stuff.

[2020-01-31 08:23] jstarry commented on #94
This is a dupe of https://github.com/yewstack/yew/issues/533

[2020-01-31 08:23] #94 closed

[2020-01-31 08:26] astraw commented on #129
Perhaps relevant for future passers-by: [bui-backend](https://github.com/astraw/bui-backend) has a demo with a seed frontend (it used to be yew). Also, it uses server sent events plain HTTP POST requests rather than websockets.

[2020-01-31 08:28] jstarry commented on #129
Cool thanks for sharing @astraw!

[2020-01-31 08:30] #29 closed

[2020-01-31 08:32] jstarry commented on #332
Closing because Yew has ref support now: https://yew.rs/docs/concepts/components/refs

[2020-01-31 08:32] #332 closed

[2020-01-31 08:34] jstarry commented on #192
This has been fixed awhile ago

[2020-01-31 08:34] #192 closed

[2020-01-31 08:34] jstarry commented on #865
@samuelvanderwaal thank you!!!!!

[2020-01-31 08:34] #865 closed

[2020-01-31 08:36] jstarry commented on #800
@Manish-Giri you still want to tackle this?

[2020-01-31 08:38] jplatte commented on #769
@jstarry im happy to try this out by exchanging the crates.io dependency by a git dependency and/or add a cargo feature.

[2020-01-31 08:43] Manish-Giri commented on #800
@jstarry Sorry, I had already started working on this, but had to step away for a couple of weeks due to interview prep. I’ll get back on this right away.

[2020-01-31 08:44] jstarry commented on #800
Great, interviews are more important :) Appreciate your help on this!

[2020-01-31 08:45] Manish-Giri commented on #800
Thank You for bearing with me on this 🙇

[2020-01-31 09:09] jstarry commented on #769
Cool, thanks. Let's go with a feature then for now

[2020-01-31 12:41] krampenschiesser opened #906 "Implementing change for callbacks"
#### Question

I am implementing a button of a third party JS framework (onsen).
Anyway a button always receives a callback for the onclick event.
Now when I try to implement ```fn change(&mut self, props: Self::Properties) -> ShouldRender {```
my problem is how can I check a callback for equality, can I just ignore it?
For visual rendering it shouldn't be required but if somebody adds just a diff

[2020-01-31 12:44] krampenschiesser opened #907 "Implementing change for children"
#### Question

I am implementing a button of a third party JS framework (onsen).
Anyway a button always receives children in the form of icons or its text.
Now when I try to implement fn change(&mut self, props: Self::Properties) -> ShouldRender {
my problem is how can I check that the children didn't change?
I could render and then compare the HTML but that's excessive.
Is there any easier way (e

[2020-01-31 16:22] jplatte commented on #757
I hadn't considered JSX. If it's also much more strict than HTML, that's a reason to be a little stricter as well.

I hadn't previously considered how `html!` input is parsed. I wonder why it would be that much slower. Personally I've always heard that compiling `syn` takes much more time than its actual parsing.

[2020-01-31 16:37] mdtusz commented on #906
This is something that I have found to be an issue in some situations since the callbacks are added as event listeners on each render - if you open the devtools and check the number of event listeners it steadily increases until GC cleans things up, then the cycle repeats.

I believe this `TODO` is relevant here and would ease some of the difficulty here:

https://github.com/yewstack/yew/blob/mast

[2020-01-31 17:18] mdtusz commented on #757
@tracker1 fyi fragments like

[code]

already work!

[2020-01-31 20:53] mdtusz commented on #165
@Boscop I've added an example (#908) although I imagine you have figured this out since originally opening the issue :upside_down_face:

[2020-02-01 11:05] jstarry opened #909 "Documentation comment for Component mounted method needs improvement"
#### Current comment:

#### Suggested Improvements
* VDOM should be DOM
* I'm not positive that only after `mounted` is it "safe to receive messages from agents". If so, we should expand on why

[2020-02-01 13:08] da-x opened #910 "Are third-party javascript libs adding DOM elements are in conflict with yew's DOM management?"
Toying a bit with webdev recently (I am far from being a web developer), I've been trying to integrate a [Google sign-in button](https://developers.google.com/identity/sign-in/web) into one of the prominent yew [examples out there](https://github.com/saschagrunert/webapp.rs). At first, the button did not appear at all, and later I managed to make it appear only once after initial load, and not aft

[2020-02-01 19:47] Kelerchian opened #911 "Re-render in async callback"
Hi @DenisKolodin

I saw this issue https://github.com/yewstack/yew/issues/364 and I thought:
Is there any plan to create async callback which in it, component view() can be triggered multiple time

[code]

This is similar to what we can do in the js world and it'll be an interesting addition to yew

[code]

Btw, I'm new to requesting features in OSS projects so let me know if it's not the good way

[2020-02-02 10:52] jstarry commented on #896
@IcyDefiance this issue helped uncover quite a few issues, thanks! Please test out the branch in the linked PR to make sure it works for your use-case 😄

[2020-02-02 12:59] stevepryde opened #914 "Does drag-and-drop work in Chrome?"
#### Trying to create a simple drag-and-drop demo. It works in Firefox but not Chrome

Firefox: 72.0.2
Chrome: 79.0.3945.130
OS: Manjaro Linux.

Other versions:
[code]

#### What I've tried
It seems to work using HTML/JS. The only difference with the yew-generated HTML is that it doesn't include the `ondragstart` in the HTML. I assume this event handler is attached later?

Here's the basics of wha

[2020-02-02 13:15] jstarry commented on #911
Hey @Kelerchian thanks for the question!

This is already possible :)

The Yew way of calling `this.setState(...)` is by sending a message to the component using a `ComponentLink`. Then your component can choose whether to re-render based on that message by returning true in its `update` method. See here: https://yew.rs/docs/concepts/components#update

The key point is that `ComponentLink` can be

[2020-02-02 13:16] jstarry commented on #911
Sorry didn't mean to close, let me know if this helps :)

[2020-02-02 13:34] jstarry commented on #914
@stevepryde thanks for the question! Could you add some details on what isn't working in Chrome?

We don't have any special handling for drag/drop.. we are relying on `stdweb` for that functionality. So it's unlikely to be a Yew issue.

If you're feeling adventurous, you could try out the `web-sys` branch and see if that fixes your issue (implying that it's a `stdweb` bug)

Your `Cargo.toml` would

[2020-02-02 13:55] jstarry commented on #910
Hey there @da-x! Welcome to the world of web dev!

That is a tricky situation. Google is doing some magic to render that button and indeed Yew could very well interfere with that magic.

The problem is most likely that the div you're rendering (the one that Google eventually turns into a sign-in button) is inside of a Component that gets re-rendered. When that happens, Yew tries to be smart and on

[2020-02-02 14:14] Kelerchian commented on #911
Many thanks, @jstarry. That explains the stuff and reminds me that yew's and react's paradigm and technical challenge are not exactly the same. I'm gonna close the issue.

I'm curious, though, is this design intended or caused by some technical difficulties (like mutable reference are only allowed in certain lifecycles)?

Also, I just saw there is this issue https://github.com/yewstack/yew/issues/

[2020-02-02 14:14] #911 closed

[2020-02-02 14:23] Kelerchian commented on #314
Hi, guys

Just a suggestion: It'll be great if the examples folder is shortly advertised more inside the first few paragraphs so that people who prefer to read code AND who are not used to Rust codebase convention are informed that there are the examples folder. @jstarry helped me close an issue just now and it made me realize that yew has a lot of gems inside the examples folder. It's just hard t

[2020-02-02 14:29] jstarry commented on #907
Can't think of a better option than comparing the virtual nodes that Yew manages. It will be performant because this diff is what Yew is already doing on each render anyways.

[2020-02-02 14:39] jstarry commented on #906
@mdtusz we should have an issue for that but I think it's a different issue. The code you linked to is for vtag which manages html element listeners. @krampenschiesser is asking about component callbacks.

I think we can solve this by putting an id in the callback. As long as you don't create callbacks in `view()`, you will be passing in callbacks that can be matched by their id.

@krampenschiesse

[2020-02-02 14:43] jstarry commented on #906
Sorry, didn't answer your question...

This depends. If you use the passed in callback in your view method like this:

[code]

You would need to re-render in order to not call the wrong callback.

If you only call the passed in callback in `update`, then you wouldn't need to re-render, and you could just assign the callback and be good as you said 👍

[2020-02-02 14:44] jstarry commented on #904
@tarkah sorry, ResizeTask drop was totally broken. Thanks for reporting this! Do you mind reviewing the linked PR and trying it out in your project?

[2020-02-02 14:53] jstarry commented on #911
Design is intended. Denis originally designed Yew such that each component acts as its own actor and updates only on messages to keep logic (hopefully) straightforward.

Totally agree. We do have https://yew.rs but it still needs some work

Interesting, kinda like RPC style? I think the messaging naming goes well with the actor design but I can definitely see where you're coming from!

This could

[2020-02-02 15:11] IcyDefiance commented on #896
Awesome, I've tested it [here](https://github.com/IcyDefiance/styled-yew/compare/fix/nodref) and it works. Thanks for figuring that out.

[2020-02-02 15:12] #896 closed

[2020-02-02 15:12] jstarry commented on #896
Sweet! No problem

[2020-02-02 16:18] jstarry commented on #679
@hgzimmerman RefCell is a single threaded lock. How about using try_borrow_mut?

[2020-02-02 16:22] #455 closed

[2020-02-02 16:28] #359 closed

[2020-02-02 16:29] #223 closed

[2020-02-02 16:38] jstarry commented on #910
Actually I think an approach like this may work: https://stackoverflow.com/a/30296546

Also, just found this related issue: https://github.com/yewstack/yew/issues/90

[2020-02-02 17:38] tarkah commented on #904
Thanks for the quick fix! I probably won't be able to test it until tomorrow, but I'll let you know as soon as I do.

[2020-02-02 19:13] da-x commented on #910
Thanks! I've added a `js!{}` block in the `fn mounted()` of the login component to call the `gapi.signin2.render` function, and it seems to have fixed the issue.

[2020-02-02 19:13] #910 closed

[2020-02-02 21:12] tarkah commented on #904
Just got a chance to test this and the fix works! Thanks again for the quick turnaround on this.

Now I've got a new issue popping up when I navigate away from the page... I can open a new issue for this unless you happen to know what might be happening at first glance:

Yew is panicking with error message "agent was not created to process messages" which appears to be coming from `AgentEnvelope`

[2020-02-02 21:19] stevepryde commented on #914
At a guess, it looks like the ondragstart event is not being recognised by Chrome. The button doesn't appear to be draggable at all in chrome. The `draggable="true"` attribute appears in the DOM in Chrome so really the only other candidate is the ondragstart event handler. It works fine in Firefox.

Thanks for the suggestions. I'll give the `web-sys` branch a try and maybe that will point me in th

[2020-02-03 01:52] #904 closed

[2020-02-03 02:42] jstarry commented on #904
@tarkah not sure off the top of my head. Could you please create an issue for that?

Also, have you tried out the yew `web-sys` branch yet? Hoping to get more people to try it out before merging 😄

[2020-02-03 02:46] jstarry commented on #870
@hgzimmerman why is the dispatcher trying to send a message to the component?

[2020-02-03 02:50] jstarry commented on #435
I'm open to this but I think we would still want to give developers the ability to fine-tune re-renders.. something like https://reactjs.org/docs/react-component.html#shouldcomponentupdate

[2020-02-03 03:21] tarkah commented on #904
Will do!

I'd love to try it out, but I'll have to wait until yew_router adopts it as well. I'm definitely eager to try it out!

[2020-02-03 11:55] stevepryde commented on #914
Well I managed to get it running on the `web-sys` branch only to find that it still does not work in Chrome (and does work in Firefox).

Cargo.toml now has:
[code]

The drag event just doesn't start. Interestingly it does pick up the ondragover event when dragging text over the drop target.

[2020-02-03 12:25] stevepryde commented on #914
Also I'm getting warnings in the console about calling `prevent_default()` in a passive event handler. Wondering if that might be related.

[2020-02-03 14:08] Kelerchian commented on #911
Only for in-component interactions. For example:
`self.rerender()`, `self.activate()`

The reason is that it's unintuitive to 'send message to self' to trigger some rerender. It'll also be manageable since function call are encouraged to only be used as `private`

For inter-component interactions, Current, way is the way. C# event/observable syntax is nice too but it seems to be easier to do in ru

[2020-02-03 15:16] johanbrandhorst opened #919 "Support reading Fetch response bodies as streams"
**Is your feature request related to a problem? Please describe.**
When making web requests to servers, the returned data is sometimes streamed so that early results can be used immediately, instead of waiting for the whole request to finish. It also allows the use of never-ending streams which continuously stream data (as an alternative to websockets).

**Describe the solution you'd like**
The ye

[2020-02-03 18:25] jplatte opened #920 "Feature request: ScrollService"
Hey! I think similar to `ResizeService` it would be good to have a `ScrollService` in yew. I'm not sure whether it could easily be parameterized over either listening to scroll events on `window` or an individual element (a `'scroll'` event listener on `document.documentElement` or `document.body` never fires if the whole page is scrollable, so that's not the solution). Here's my current solution

[2020-02-04 07:44] diurnambule commented on #852
I saw that [woz (rust pwa generator) ](https://woz.sh/), has an [issue](https://github.com/alexkehayias/woz/issues/3) to create an example of pwa genaration with yew...

[2020-02-04 07:49] jstarry commented on #852
Ah yeah, somehow slipped my mind to link to that here. Thanks @diurnambule!

[2020-02-04 11:52] stevepryde commented on #914
Got it working.

It seems the problem may be nothing to do with the framework at all, and something to do with chrome not liking the "draggable" attribute on a button? Could also be a conflict between the `pure` css library and chrome.

Anyways, I've switched to a div for the draggable element and it works in both chrome and firefox, so I've switched back to the master branch and all is well.

[2020-02-04 11:52] #914 closed

[2020-02-04 12:16] jstarry commented on #914
@stevepryde ah wow, didn't expect that! Thanks for reporting back and happy you got to the bottom of it 👍

[2020-02-04 12:16] #907 closed

[2020-02-04 13:11] stevepryde commented on #914
Well, I almost got to the bottom of it. Drag and drop works manually but it turns out selenium appears to have a bug with drag and drop. It starts the drag but doesn't drop the element, leaving it attached to the mouse cursor.

It doesn't work via python either (same behaviour) and I verified that my code is sending the identical action chains request compared to the python selenium library. There

[2020-02-04 15:16] jstarry commented on #914
Good to hear! If there were any places you feel the documentation could have been better, please let me know. I want the experience to be really smooth for newcomers :)

[2020-02-04 23:28] tarkah opened #921 "non-passive EventListener for web-sys"
I'm helping create the web-sys feature for `yew_router`, see https://github.com/yewstack/yew_router/pull/235, and an issue has come up with the underlying gloo EventListener. The event listener is created as `passive=true` as default in Chrome / Firefox, and therefore ignores `event.prevent_default()`. This is an issue as the `RouterAnchor` component of `yew_router` uses an `<a>` tag with `onclick

[2020-02-05 07:35] jstarry commented on #921
@tarkah thanks for this report! I think it could make sense for Yew to support event listener options.

At this point, it's possible to manually add event listeners using refs instead of setting them up with the html macro. I wonder if that's enough 🤔I guess it depends on how much of a pain point this is. If there was a way to introduce those options without regressing the simplicity of setting ca

[2020-02-05 17:44] tarkah commented on #921
Hey, thanks for the response and for the recommendation on the PR about NodeRef! I was able to easily attach a custom event listener to that and use it as the ref inside the `<a>` tag.

This fits the bill perfectly. I agree that the simplicity of callbacks is preferred, so I don't think it's worth muddying the waters over something that was so easy to accomplish, once pointed in the right directio

[2020-02-05 20:08] hgzimmerman commented on #679
Should we just spin in a loop until the `try_borrow_mut` returns `Ok`? Its obviously better than panicking, but would probably cause minor performance problems if you frequently encounter circumstances that cause it to spin.

[2020-02-05 20:20] kellytk opened #922 "impl From error using FetchService"
#### Question

How can the error be resolved?

#### What I've tried (optional)

FetchService get data structure in JSON format

    #[derive(Debug, Deserialize)]
    pub struct Data {
        value: String,
    }

    pub enum Message {
        FetchReady(Result<Data, anyhow::Error>),
    }

    let request = Request::get(String::from("/data.json"))
        .body(Nothing)
        .unwrap();

    l

[2020-02-06 15:15] jplatte commented on #922
It seems like `failure`s `Error` type is part of `yew`s public API. You can't just replace `failure` with `anyhow` in the fetch service examples.

[2020-02-06 15:15] jplatte commented on #922
To be a little more precise, [the Text type](https://docs.rs/yew/0.11.0/yew/format/type.Text.html) seems to be what's causing the issue here.

[2020-02-06 15:28] jstarry commented on #922
@kellytk which version (or branch) of yew are you using? We recently changed from `failure` to `anyhow` on master so this might be tripping you up

[2020-02-06 15:39] jstarry opened #923 "Add a link to the latest release branch in the Readme"
#### Problem
It's a common source of confusion that the examples in master are not compatible with the latest release of Yew

[2020-02-06 15:40] jstarry commented on #923
We could link here: https://github.com/yewstack/yew/tree/v0.11.0/examples

[2020-02-06 15:47] jstarry opened #924 "Clean up README and direct devs to doc site"
#### Problem
We have a lot of great content on yew.rs/docs but don't do a great job of directing people there. The majority of the content README in the github repo already exists on the docs site and can be removed.

I would prefer the readme to be a lot more minimal. With just the high level links that people need to get where they need to go. It's also nice to show the contributors to the proje

[2020-02-06 15:54] jplatte opened #925 "Replace uses of `anyhow` with error types"
As can be seen in #863, there's not a lot of code that uses `anyhow`'s `anyhow!` or `bail!`, and no code at all using its `Context` trait. Replacing those parts with more explicit error types would make it easier to handle the error cases, while dropping a dependency with a non-trivial amount of runtime magic and hardly complicating the code at all.

[2020-02-06 15:56] jstarry commented on #925
Thanks @jplatte, it'd be great to do this before the next release since we're already making breaking changes for the error return types. Would you be willing to tackle this?

[2020-02-06 15:56] jplatte commented on #922
Solved over on Gitter: https://gitter.im/yewframework/Lobby?at=5e3c302bea9ba00b84b64a99

[2020-02-06 16:01] jplatte commented on #925
Sure! :)

[2020-02-06 16:26] #922 closed

[2020-02-06 16:55] liquidblock opened #926 "ordering of classes different when reordering or re-adding"
**Problem**
If changing the order of classes on an element (or re-adding classes to an element) does not reflect the specified order in the DOM of the browser.

**Steps To Reproduce**
Steps to reproduce the behavior:
1) display the following Html in a view:
[code]
2) change the order of the classes in the view, after an update occured:
[code]
3) inspect the class of the element in the browser:
[co

[2020-02-06 17:15] jstarry commented on #926
Thanks for the issue! And thanks for the interest in fixing this, it's much appreciated :+1:

Here's the relevant code: https://github.com/yewstack/yew/blob/master/src/virtual_dom/vtag.rs#L198

Hope this helps!

[2020-02-06 18:22] liquidblock commented on #926
The issue is directly related to diff_classes and stdweb's `TokenList` (or rather the underlying [DOMTokenList](https://dom.spec.whatwg.org/#domtokenlist)).
stdweb only gives access to the `class_list()` (`classList`) and not the class property (`className`) itself and only the following methods are supported: `len`, `add`, `remove`, `contains`.

I would like to suggest the following solution:
dif

[2020-02-06 20:22] jplatte commented on #925
Well... Despite the few locations in the code that use anyhow, an error type that could be used in its place would require to be convertible from multiple (de)serialization libraries error types AFAICT. I'm afraid I don't understand that part of yew well enough to implement this change.

[2020-02-07 17:39] Fi3 commented on #350
Is there a way to pass a reference of the actual component instead that a link? I would prefer to not import the `Msg` of the receiver in each sender.
Instead of doing:
[code]
Do something like:
[code]
I don't think there will be a big advantages using the second solution maybe just a bit more readable, I'm asking just out of curiosity.
If both the first and the second pattern are viable, is there

[2020-02-08 13:38] #926 closed

[2020-02-08 13:53] jstarry commented on #925
@jplatte ah yeah that's tricky. I think we will need to rework the format macros a bit. We could add an error variant to `FormatError` for each supported format. And those variants could be enabled/disabled using cfg feature flags. Then the macros could use the appropriate error variant for each format

[2020-02-08 14:02] jstarry opened #928 "Properties 2.0 - Required unless annotated with default value"
### Properties 2.0

#### Problem
Properties without `#[props(required)]` or `#[props(default = "fn_name")]` are implicitly set to their default value.

#### Proposal
1. Properties are required unless indicated otherwise

Now that we have a [default attribute](https://github.com/yewstack/yew/pull/881) for properties, I think it makes sense to **require** it for indicating when properties are option

[2020-02-08 16:33] jplatte commented on #925
Sure.. Is there a general overview of the whole format things somewhere? That would help put things in perspective.

[2020-02-08 16:34] jplatte commented on #925
Also, regarding `yew::format::nothing::Nothing`, what's its purpose? Why is something that represent nothing not convertible to an empty (byte) string and instead always fails conversion to that?

[2020-02-08 19:08] TyrantWave opened #929 "Add example of Public/Private Agent using wasm-pack"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/929)

As yew is suggesting we use the `yew-wasm-pack-template`, an example of a working Public/Private Agent (On it's own thread) in this setup would be very beneficial to showcasing how powerful Yew could be.

---

<details>
<summary>
<b>IssueHunt Su

[2020-02-08 20:37] jplatte commented on #928
It's supposed to be `default = …`, not `default: …`, right?

[2020-02-09 01:04] jstarry commented on #928
@jplatte I believe either is supported by Rust now. I thought `default: ...` looked nicer but `default = ...` is fine too

[2020-02-09 02:28] jstarry commented on #925
I'm not a big fan of it, but it's used for GET requests currently. See here:
https://github.com/yewstack/yew/blob/master/examples/npm_and_rest/src/gravatar.rs#L47

There isn't. Here's an issue: https://github.com/yewstack/docs/issues/24

[2020-02-09 06:05] jplatte commented on #928
Yeah, either should be possible. I've just never seen the colon syntax used in attributes. AFAIK all builtin attributes use `=` (e.g. `#[path = "foo.rs"]`, `#[cfg(feature = "feat")] `).

[2020-02-09 10:00] #923 closed

[2020-02-09 10:00] #924 closed

[2020-02-10 07:17] jstarry commented on #929
There's an example in the `web-sys` branch here: https://github.com/yewstack/yew/tree/web-sys/examples/web_sys/multi_thread. Once `web-sys` is merged into `master` I'll close this issue. Thanks!

[2020-02-10 07:31] jstarry commented on #350
@Fi3 I think the second pattern is possible but it would be quite a big effort and I'm not sure the benefit would be big enough.

Another pattern you could use is `From<SenderType> for ReceiverMsg`.  So something like: `self.props.receiver_link.send_message(SenderType.into())`. I use this pattern in my own side project

[2020-02-10 07:34] jstarry opened #932 "Improve flexibility of message sending API"
The message sending api for `ComponentLink<_>` could be more flexible and user-friendly if it accepted `Into<Msg>` instead of `Msg`.

[code]

More flexibility with `Into<COMP::Message>`
[code]

[2020-02-10 07:35] jstarry commented on #350
We could make this pattern even easier with a small API change: https://github.com/yewstack/yew/issues/932

[2020-02-10 09:57] Boscop commented on #435
@jstarry Yes, that would make sense. But also having something like `PureComponent` that does the comparison:

[2020-02-10 10:10] jstarry opened #933 "Sending messages during the rendering phase can cause infinite update loops"
#### Suggested changes
Option 1. Update the scheduler queue to prevent this
Option 2. Update documentation to warn against this behaviour

[2020-02-10 10:13] jstarry commented on #435
Yeah, once we have a more sophisticated diffing algorithm we will definitely want to introduce PureComponents.

[2020-02-10 10:15] jstarry opened #934 "Yew stops propagation of events by default"
**Problem**
It's unusual that Yew chooses to stop propagation of events by default. This should be either documented if it was done for optimization reasons or removed and left to the developer to take action on

[2020-02-10 10:29] jplatte commented on #934
Since 0.1.0! https://github.com/yewstack/yew/commit/a91a23196b3352d6f84865682e8589780bea680d

[2020-02-10 10:31] jstarry commented on #934
Ha, I'm surprised you were the first person to bring this up

[2020-02-10 18:19] liquidblock opened #935 "Can not use spaces in class names when using List/Vec"
**Problem**
When using a List (a tuple within the `html!` macro) or a `Vec` of classes and one item contains spaces e.g.
[code]
- and using yew from master the resulting class string is `"hello hello world"`.
- and using yew version 0.11.0 the application crashes (not due to a panic)
    - this is very similar to #121, which was fixed by #289
    - #927 fixes the crash, but the results are non-uni

[2020-02-10 19:54] liquidblock opened #936 "Feature request: Add support of optional class names"
**Is your feature request related to a problem? Please describe.**
When using multiple class names, i sometimes want to add optional classes (of type `Option<String>`):
[code]

**Describe the solution you'd like**
I would love to be able to use `&str`, `String`, `Option<String>` (and similar) together:
[code]
This, of course, does not work with `Vec<&str>`, nor `Vec<T>` where `T: AsRef<str>`:
http

[2020-02-11 01:14] bl42 commented on #533
First off, New to rust & New to yew... Figure it would be a great place to learn both!

Recently been using a lot of Svelte and I have really enjoyed their take on styling.

[code]

They do stuff under the hood of generating classes and attaching them to the elements but it avoids concepts of theming and leaves it to the developer/css.

Ideally (for me) an API like so would exist like so where I c

[2020-02-11 03:57] jstarry commented on #533
@bl42 I like the look of that.

Minor detail: the function signature wouldn't quite work like that if the CSS was generated at compile time since we wouldn't have an instance of the component then.

I don't quite understand your vision here, could you elaborate a bit more?

[2020-02-11 04:12] jstarry commented on #936
Agreed that this would be a great feature! I was just talking in the gitter chatroom about Yew's api being more flexible in general... more in line with this: https://deterministic.space/elegant-apis-in-rust.html#intooption_

[2020-02-11 04:14] jstarry commented on #935
@liquidblock by non-unique class names do you mean that class names can be repeated?

[2020-02-11 07:24] liquidblock commented on #935
Yes

[2020-02-11 07:30] jstarry commented on #935
I'm in favour of non-unique class names if it's needed for using Semantic-UI. So in that case, we could probably just change this issue to reflect supporting that feature. Thoughts?

[2020-02-11 07:54] liquidblock commented on #936
This document is very helpful.
Maybe `Into<Option<_>>` (https://deterministic.space/elegant-apis-in-rust.html#intooption_) can be used to easily solve the problem with `E0119`. (solution 1 and 2 in my feature request)

[2020-02-11 07:55] jstarry commented on #936
You read my mind 👍

[2020-02-11 16:38] MuhannadAlrusayni commented on #533
I have developed [trait](https://gitlab.com/muhannad_alrusayni/khalas/-/blob/master/src/render.rs) with similar functionality, Component should declare their Style struct that will be used to style the component (e.g. [Entry](https://gitlab.com/muhannad_alrusayni/khalas/-/blob/master/src/el/control/entry.rs#L130)) instead of using some sort of collection that doesn't help at checking the used styl

[2020-02-11 18:15] bl42 commented on #533
My preferred output would have some "Global Styles" that I can declare for the app (on mount)

Something like
[code]
and in each component have the ability to call `color: var(--primary-text);`

We could easily store these values in Rust... but I suggest to let CSS do what it is good at.

[2020-02-11 18:49] liquidblock commented on #936
I tried to use `AsRef<str>` together with `Into<Option<_>>` (https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=33026ababfd4b4b49579d9b9e1fa0f9d) and the compiler needs some type hints (E0282).
I might overlook something or i might approach the problem the wrong way.

Maybe the problem could be solved with specialization, since the input could either be `Option<T>` or ` T` w

[2020-02-11 18:52] Boscop commented on #226
@jstarry Yes, I implemented it and it's working: https://github.com/Boscop/yew-geolocation

[2020-02-11 19:15] Boscop commented on #636
@hgzimmerman Sorry for the late response.
"So is what you are proposing effectively like:"
Not what I meant, but that would also be a nice inline feature to have.
What I mean is something like this:
https://github.com/purescript-halogen/purescript-halogen/blob/337d450fdd5e18de6f75920f808c34a173ff8d88/examples/components-multitype/src/Container.purs#L76-L78
IOW, being able to ask children what thei

[2020-02-11 19:30] Boscop commented on #350
@Fi3 Yes, it's possible by introducing your own trait, it doesn't even need to be in Yew.

[2020-02-11 20:05] liquidblock commented on #935
Semantic-UI has an closed issue, where they discussed the usage of repeating class names: https://github.com/Semantic-Org/Semantic-UI/issues/1526
An example class string would be:

There are some arguments about the HTML5 spec:

As far as i am aware of, [this is the reason](https://github.com/meteor/blaze/pull/37#issuecomment-217049065), that https://github.com/meteor/blaze does not support repeat

[2020-02-11 23:45] bacongobbler opened #937 "Implement a message queue for private workers"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/937)

#### Problem
Messages sent to private workers will be dropped until the worker is loaded

https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/agent.rs#L466-L468

#### Proposed Solution
Implement a similar solution t

[2020-02-11 23:48] bacongobbler opened #938 "virtual_dom: impl `VDiff` for `stdweb::web::Element`"
https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/virtual_dom/mod.rs#L169-L171

filing as per #800.

[2020-02-11 23:50] bacongobbler opened #939 "agent: Use agent field to control create message for this flag"
filing as per #800

The context around this particular TODO seems unclear. If anyone has context around this, would they mind posting a comment explaining what needs to be done to close out the TODO?

https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/agent.rs#L825

[2020-02-11 23:52] bacongobbler commented on #800
Hi @Manish-Giri, I have some spare cycles over here. I've started opening some new issues for the TODOs and will have a PR up once these issues have been filed. Hope that's okay!

[2020-02-11 23:55] bacongobbler opened #940 "[agent.rs] insert callback under Context::spawn_or_join"
filing as per #800

https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/agent.rs#L275

[2020-02-12 00:32] Manish-Giri commented on #800
@bacongobbler It's cool! I'll look for another issue to work on.

[2020-02-12 00:38] Manish-Giri commented on #932
@jstarry Hello, may I take this up? Another contributor has already submitted a few issues corresponding to the todos, before I could assemble all of them, so maybe I can help out here instead.

[2020-02-12 00:39] jstarry commented on #932
@Manish-Giri yes, sounds great. Appreciate the help :)

[2020-02-12 05:31] bacongobbler opened #941 "[html/mod.rs] replace `Component::destroy()` with `Component::drop()`"
https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/html/mod.rs#L53

[2020-02-12 05:33] bacongobbler opened #942 "[services/reader.rs] implement `slice` method in `stdweb`"
https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/services/reader.rs#L111

[2020-02-12 05:41] bacongobbler opened #943 "[virtual_dom/vtag.rs] Compare references of handler to do listeners update better"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/943)

https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/virtual_dom/vtag.rs#L431

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $5.00)

- [<img src='https://avatars3.githubusercontent

[2020-02-12 05:43] bacongobbler opened #944 "Send the `Connected` message when the public worker is loaded"
https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/agent.rs#L540

[2020-02-12 05:45] bacongobbler opened #945 "[agent.rs] send callback when the entry is occupied"
https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/agent.rs#L528

[2020-02-12 05:47] bacongobbler opened #946 "Send `Destroy` and `Disconnected` messages when PrivateBridge drops"
#### Problem
Private workers are not destroyed properly because `Destroy` messages are not sent when a PrivateBridge is dropped.

https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/agent.rs#L481

#### Proposed Solution
Copy public worker solution. Make it DRY if possible

[2020-02-12 05:48] bacongobbler commented on #937
Looks like a similar TODO message is also prevalent in PrivateBridge's `send`.

https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/agent.rs#L466-L468

[2020-02-12 05:54] bacongobbler opened #947 "Drop Private worker handler when bridge is dropped"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/947)

All callbacks should be dropped after being passed to the stdweb js macro

https://docs.rs/stdweb/0.4.20/stdweb/macro.js.html

https://github.com/yewstack/yew/blob/13ce079815dbc0d70c5f7c143c7354de431fda24/src/agent.rs#L471-L481

---

<details>
<

[2020-02-12 05:55] bacongobbler opened #948 "Send `Connected` message when private worker is loaded"
#### Problem
Private worker should be notified when it is connected to so that it can start sending messages

https://github.com/yewstack/yew/blob/1ede16795a8f08975708e1808c0d528f31d5c946/src/agent.rs#L426

Depends on https://github.com/yewstack/yew/issues/937

[2020-02-13 10:02] #601 closed

[2020-02-14 05:55] lastmjs commented on #18
After reading through my earlier comments and thinking about this a bit, I would like to clarify my earlier points in case they weren't clear.

IMO, I think it would be wise to consider exposing the base web components APIs as directly as possible, starting with and focusing on the custom elements API. A Yew component should be an HTML custom element, a DOM object. It should have all of the lifecy

[2020-02-14 16:28] jstarry commented on #909
It's also not explicitly stated that this method will only be called once

[2020-02-15 10:31] jstarry opened #952 "web-sys event listeners are passive by default causing unexpected behavior"
#### Problem
When event listeners are passive, it's not possible to call `event.prevent_default()`. This behavior is confusing and unexpected.

#### Proposed Solution
We should only set passive event listeners for `touchstart` and `touchmove`. See here: https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener#Improving_scrolling_performance_with_passive_listeners

[2020-02-15 12:52] #800 closed

[2020-02-16 07:38] jstarry commented on #928
@jplatte @mdtusz @AlephAlpha @hgzimmerman I just updated this issue to be a new proposal for how we handle props and would like input. This builds upon the work that @AlephAlpha already did in #881

[2020-02-16 11:18] pythoneer opened #954 "Form handling"
**Is your feature request related to a problem? Please describe.**
If you intend to write bigger applications for the web you often end up in a situation where you need to have "complicated" forms. Managing the state, structure, validation etc. all by yourself can be tedious and very repetitive. Other frameworks have at least some helping functionality or full blown solutions. I think yew is at a

[2020-02-17 16:27] drdozer opened #955 "recursion limit exceeded on virtually all html macro errors"
In any non-trivial use of the `html!` macro, if there are errors, then the compile process crashes with errors like:

```Error("recursion limit exceeded", line: 1, column: 23964)', src/libcore/result.rs:1188:5```

The error in the code isn't displayed, obviously, because the compiler has crashed before then. If the underlying error in the code is fixed, the macro runs successfully. This seems to b

[2020-02-17 19:37] jeremyscatigna commented on #479
Would love to invest time on this 🙂 @jstarry would love to get some guidance if possible

[2020-02-18 02:13] jstarry commented on #479
@jeremyscatigna Great, this is a good task to get your feet wet. You're mostly going to be digging into 2 areas of the code base. The macro and virtual dom diffing parts.

I think we only need keyed elements inside "list" nodes. The virtual dom list node code is [here](https://github.com/yewstack/yew/blob/master/src/virtual_dom/vlist.rs). You'll need to make changes to `VDiff::apply` so that inste

[2020-02-18 11:45] #284 closed

[2020-02-18 14:50] drdozer opened #1101 "programmatic routing"
I ended up with code like this within callbacks:

[code]

It works, but it feels like a lot of boilerplate. Would it be possible to hide this all behind an API something like:

[code]

I'm not sure if it should live on `Router`. But some statically accessible thing that lets us programmatically change route without needing to know all the innards. We probably need one static method for each of the

[2020-02-19 11:03] jplatte commented on #928
I like the new proposal :)

We could *maaaybe* have `#[prop_or_else(Callback::noop)]` (fn) and `#[prop_or(true)]` (value) to mirror `Option`s / `Result`s API, but I don't know if that really makes things simpler.

[2020-02-19 12:11] jstarry commented on #928
Good call, that would probably be more in line with expected behavior. It'd be closer to `Option`'s API

[2020-02-19 13:45] mdtusz commented on #928
No comments from me. Looks like a great improvement for usability and grok-ability!

[2020-02-19 20:57] captain-yossarian commented on #750
@jstarry I would like to work on this feature. Could you please tell me where to start ?

[2020-02-19 21:05] captain-yossarian commented on #664
@jstarry Is [this](https://github.com/yewstack/yew/blob/master/src/virtual_dom/vcomp.rs#L348) good place to add tests ?

[2020-02-20 02:20] jstarry commented on #664
@captain-yossarian not quite. The goal of this issue is to make sure that compiler error messages are helpful and we put those types of tests [here](https://github.com/yewstack/yew/tree/master/tests/macro). So a good place would be here: https://github.com/yewstack/yew/blob/master/tests/macro/html-component-fail.rs#L60

[2020-02-20 02:26] jstarry commented on #664
We already have some compiler error tests here: https://github.com/yewstack/yew/blob/master/tests/macro/html-component-fail.stderr#L42

Ideally these would explain to the developer that the `with props` approach and `prop1=.. prop2=..` approach are not compatible

[2020-02-20 02:31] jstarry commented on #750
@captain-yossarian sure! Here's the key piece: https://github.com/yewstack/yew/blob/master/src/virtual_dom/vtag.rs#L304

Note that we alias "type" as "kind" internally because `type` is a rust keyword

[2020-02-20 02:44] jstarry commented on #664
@captain-yossarian I just updated the issue description. It was a bit outdated and didn't call out `ref` as a special case. We specifically need tests that warn against these cases:

[code]

[code]

And it would be great if the error message explained that `value=1` approach and `with props` approach are not allowed together

[2020-02-20 18:03] captain-yossarian commented on #750
@jstarry Every time, when I run `cargo test` I'm getting next error:
error: linking with cc failed: exit code: 1
I've tried all suggestions from this thread ->  [rust-lang/rust#25289 ](https://github.com/rust-lang/rust/issues/25289)
I have:
 - installed all required packages from CONTRIBUTION.md
 - tried it on Ubuntu 18 and Windows 10
 - asked on [yew chat](https://gitter.im/yewframework/Lobby) -

[2020-02-20 20:13] captain-yossarian commented on #750
@jstarry I'm trying to debug my changes but it hard to figure out how to make things happen.
For example, I've cnahged this [line](https://github.com/yewstack/yew/blob/master/src/virtual_dom/vtag.rs#L118) of code to
[code]
But class of my button component did not change.
Also, it is looks like that `set_kind` method already exists, but I dont know how to use it properly.

[2020-02-20 20:41] captain-yossarian commented on #664
I have a problem with [tests](https://github.com/yewstack/yew/issues/750#issuecomment-589228758) :(

[2020-02-21 13:00] jstarry commented on #750
@captain-yossarian oh no, sorry to hear that! Did you go through all of the instructions here:
[Contributing - Test  Setup](https://github.com/yewstack/yew/blob/master/CONTRIBUTING.md#test)

What happens when you run:
[code]

[2020-02-21 19:17] captain-yossarian opened #956 "Error on CONTRIBUTING.md docs"
**Problem**
There is a typo in contributing [docs](https://github.com/yewstack/yew/blob/master/CONTRIBUTING.md#add-the-wasm-target)
Command `rustup add target wasm32-unknown-unknown` does not work.
It should be  `rustup target add wasm32-unknown-unknown`

**Steps To Reproduce**
Run
`rustup add target wasm32-unknown-unknown`
You will receive:
[code]

**Expected behavior**
No error

Also I think it

[2020-02-21 19:19] tarkah commented on #921
Just saw #952, I'm going to go ahead and close this

[2020-02-21 19:19] #921 closed

[2020-02-21 19:26] captain-yossarian commented on #956
I had a problem with tests, so I decided to fix it.
Also, please take a look on this [comment](https://github.com/yewstack/yew/issues/750#issuecomment-589643383)

[2020-02-21 19:27] captain-yossarian commented on #750
@jstarry Thanks a lot!

[2020-02-22 01:32] #956 closed

[2020-02-22 12:08] jetli commented on #952
@jstarry @tarkah
Sent a PR: https://github.com/yewstack/yew/pull/958, please help review.
not sure simply use `$name == "touchstart" || $name == "touchmove"` or setup a static HashSet like `LISTENER_SET` for the checking.

[2020-02-22 15:40] kellytk opened #959 "Proper use of FetchService with HEAD method requests"
#### Question

I'm attempting to use FetchService to retrieve, via a HEAD method request, content from the headers of the response, parse it into an enum, and message it to my app for further handling.

#### What I've tried (optional)

What I'm confused by is how I can implement the required `From<Result<String, Error>> for MyResult` with only `Result<String, Error>` when I need access to `meta.he

[2020-02-23 02:37] jstarry commented on #952
Fixed by https://github.com/yewstack/yew/pull/958

[2020-02-23 02:37] #952 closed

[2020-02-23 19:23] jetli commented on #959
Will this help? https://github.com/jetli/rust-yew-realworld-example-app/blob/dbaf8104eac9bbc45582713e07cd3cfd732d249c/crates/conduit-wasm/src/agent.rs#L71

[2020-02-23 21:04] kellytk commented on #959
@jetli Yes, thank you.

[2020-02-23 21:04] #959 closed

[2020-02-25 04:00] nelk opened #963 "Panic when detaching VRef wrapping node created in javascript"
**Problem**
Detaching a node created in a `js` macro (like in inner_html example) causes a panic.

I recently upgraded from an older version of yew and it looks like detaching has been added (since 0.8.0). It might just be something new that has to be added to the inner_html example.
Thanks for all the great improvements lately!

**Steps To Reproduce**
1. Use the `js` macro to create an element an

[2020-02-25 04:01] AlephAlpha opened #964 "Disappearing child component"
I'm not sure whether this is a feature or a bug.

I was trying to write a simple component with a button to hide and show a child component, but weird things happened. After reading the source code of Yew, I could understand why it happened, but it is still very counterintuitive.

Here is a simplified version of the component:

[code]

The component consists of a button and a child. When the butto

[2020-02-25 11:56] jstarry commented on #963
@nelk thanks for the report!

This issue seems to be caused by using a `VRef` node as the root node of a component. I believe it's the same issue that's causing https://github.com/yewstack/yew/issues/604 but in #604 the root node of the component is a "VTag" (html element).

The reason this is happening is because when Yew detaches a component, it is trying to detach the root element twice. For vt

[2020-02-25 12:58] jstarry commented on #964
@AlephAlpha thanks for the report and investigation!

Indeed, this is a bug, not a feature 😉

The bug is that the `VComp` clone implementation will reuse the same `MountState` as before because `VComp.state` is wrapped in an `Rc`. This is wrong. The `Rc` should be internal in the `MountState`.

I likely won't have time for a few days to refactor `VComp`, but will try to get to it soon. You're welc

[2020-02-25 21:25] drdozer commented on #479
@jstarry  do you mean that we need keys within `VList`? So for example, make it `pub children: Vec<OptionallyKeyed<VNode>>`?

Presumably in general keys can be any `K: PartialEq`? So how do we deal with the polymorphism here? Is `VList` now parameterised over key type?

Do we need to allow the user to specify if keys are require, absent, or optional in a given context? This feels like a lot of cog

[2020-02-26 01:34] jstarry opened #967 "Add macro test instructions to contributing guide"
Suggested change by @captain-yossarian

[2020-02-26 01:51] jstarry commented on #479
Hmm, good question. I don't like the look of `Vec<OptionallyKeyed<VNode>>`. We probably want every `VNode` to implement a `keyed() -> Option<String>` method or something. We could add this to `VDiff`

I think we should use string keys to avoid that. So `html!` should accept keys that impl `ToString`

Yeah this is more in line with what I am imagining. How about optional by default? I'm not sure ho

[2020-02-26 01:52] jstarry commented on #479
@jeremyscatigna another thing to consider is that we will likely need keyed lists for this change too. Analogous to [React keyed fragments](https://reactjs.org/docs/create-fragment.html)

[2020-02-26 05:50] captain-yossarian commented on #967
I'll create PR today

[2020-02-26 10:42] jstarry opened #968 "Node refs are not cleared when nodes are unmounted"
**Problem**
It's possible that a developer retains a reference to a node ref that has been unmounted. To prevent the reference of an unmounted html element, Yew should be sure to clear the `NodeRef` when unmounting.

#### Suggested Fix
1. Set vtag's node ref to `None` in its `VDiff::detach` impl
2. Set vcomp's node ref to `None` in the `DestroyComponent` runnable

[2020-02-27 19:58] gromovadarya90 opened #970 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:41] ADustyOldMuffin commented on #968
Hello, I'd like to look into contributing to this project so I was hoping I could possibly take this on.

[2020-02-27 23:34] jstarry commented on #968
@ADustyOldMuffin thanks! Let me know if you get stuck on anything

[2020-02-28 07:23] #967 closed

[2020-02-28 13:39] jhserodio opened #974 "Yew WebSite make with Yew"
Why don't use yew in the website documentation?
Has some plan for this happen?

[2020-02-28 14:02] jstarry commented on #974
@jhserodio hey, thanks for the question! Yes, it came up before but no one has had the time to build that yet. I chose to use Gitbook for docs because it's easy to setup, looks nice, and is free for open source.

I think if we build a docs site with Yew, it would make sense to wait until we can use Yew to generate static sites since a doc site isn't very interactive. Hopefully that will happen som

[2020-02-28 14:17] jstarry commented on #932
Hey @Manish-Giri, how's it going? Have you had time to look into this yet? I'm happy to help if you have any questions!

[2020-02-29 05:49] AlephAlpha commented on #928
I'm trying to implement this. Should we support the old syntax for backward compatibility?

[2020-02-29 06:16] jstarry commented on #928
No need, would complicate things too much

[2020-02-29 09:25] #558 closed

[2020-02-29 09:32] jstarry opened #976 "Figure out how to document both web-sys and stdweb"
#### Description
Need to figure out how to handle https://docs.rs documentation. Ideally we would be able to host docs for both `stdweb` and `web-sys`. There aren't a lot of `web-sys`/`stdweb` types in the Yew API really so this might not be too big of an issue.

#### Proposed Solution
* Ship a new crate for yew called `yew-stdweb` which is documented for `stdweb` types
* Default to `web-sys` in d

[2020-02-29 10:22] jstarry opened #1097 "Ease maintainability by merging into main yew repo"
**Question**
What do you think about making the main yew repo more of a monorepo? We can still ship separately to crates.io if needed but I think it would be easier to keep `yew-router` updated if it depended on `yew` directly.

[2020-02-29 11:32] #974 closed

[2020-02-29 12:37] #976 closed

[2020-02-29 15:48] #964 closed

[2020-03-01 02:43] #928 closed

[2020-03-01 08:15] #679 closed

[2020-03-01 10:42] jstarry opened #985 "Document `VRef` usage"
We have an example of `VRef` usage here: https://github.com/yewstack/yew/blob/v0.12.0/examples/inner_html/src/lib.rs#L36 but we don't document this pattern anywhere. It's a common question, for example: https://gitter.im/yewframework/Lobby?at=5e5b905b8e04426dd016384a

[2020-03-01 11:16] #604 closed

[2020-03-01 11:16] #963 closed

[2020-03-02 04:59] kellytk opened #990 "yew-macro: Make self-closing slash optional for void elements"
**Problem**
[Void Elements](https://html.spec.whatwg.org/multipage/syntax.html#void-elements)

From https://html.spec.whatwg.org/multipage/syntax.html#start-tags:

The "/" of `<br/>` is optional per the spec however Yew's `html!` macro requires it.

**Questionnaire**

- [ ] I'm interested in fixing this myself but don't know where to start
- [ ] I would like to fix and I have a solution
- [x] I do

[2020-03-02 05:07] kellytk opened #991 "Automatically prepare issues for triage"
**Describe the solution you'd like**
So that the [issue labelling work](https://github.com/yewstack/yew/issues/865) done by @samuelvanderwaal isn't lost over time, I suggest that all new issues* have a new `needs-triage` label automatically applied that's removed by a committer when assigning specific labels.

* Currently open unlabelled issues should also have the `needs-triage` label assigned to

[2020-03-02 07:05] jstarry commented on #991
Don't think this is necessary. Most new issues will be tagged as a question, feature, or bug. I typically monitor new issues as well

[2020-03-02 07:05] #991 closed

[2020-03-02 18:22] totorigolo commented on #990
From the specification you're linking, the void elements are the following:

    area, base, br, col, embed, hr, img, input, link, meta, param, source, track, wbr

Personally, I'm not a big fan of allowing this, because it looks to me that it's pure laziness that became standard. IMO implementing this would complicate the `html!` macro implementation. But I think that printing helpful error in the

[2020-03-02 20:04] kellytk commented on #990
@totorigolo

As I understand it, XHTML was oriented toward XML and HTML5(tm) is oriented toward SGML, wherein subtle differences in void and element closing exist.  https://stackoverflow.com/a/3558200 is a primer.  Irrespective, questioning the spec is out of scope here at least for myself.

I don't know if the intent of the `html!` macro is to completely conform to the HTML spec.  I would defer t

[2020-03-03 04:27] rharriso commented on #201
I have a PR updating the examples to load their styles in via the `include_str` macro:
https://github.com/yewstack/yew/pull/992

[2020-03-03 11:45] batisteo commented on #338
I don’t get it. It looks like a propeller, but doesn’t have a 120° between the 3 branches.

[2020-03-03 12:00] jstarry commented on #338
Lol feel free to suggest a new one

[2020-03-03 13:01] jstarry commented on #955
@drdozer do you have an example testcase?

[2020-03-03 13:02] jstarry commented on #41
Here's a nice post about rehydrating state on client side after a server side render: https://joshwcomeau.com/react/the-perils-of-rehydration

[2020-03-03 15:53] jstarry commented on #935
@ADustyOldMuffin you could try this issue as well. It requires less knowledge of how Yew works internally

[2020-03-03 19:10] captain-yossarian commented on #932
@jstarry if @Manish-Giri does not mind, I will pick it up

[2020-03-04 13:42] Rulliam opened #996 "[web-sys] yew 0.13 fails to compile"
**Problem**

I want to update my project from std_web to web_sys.
When trying to build an `empty` (or not) project with the new feature `web_sys`, yew 0.13 does not compile.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. `cargo new --lib project`
2. Cargo.toml
[code]
3. src/lib.rs
[code]
4. Run `cargo wasm build` or `wasm-pack build` (it will be the same error with both)
5. See error

[2020-03-04 14:05] captain-yossarian commented on #996
I have same error. Please see [comment](https://github.com/yewstack/yew/pull/960#issuecomment-594109784)

[2020-03-04 14:24] Detegr commented on #996
I have the same problem as well. I tried to fix it but it looks like my naive fix won't pass tests.

[2020-03-04 15:32] Type1J commented on #996
Same here. For reference: compiling https://github.com/test_web/yew-wasm-pack-template yields the same error as above, but before it even gets to the current project (The error seems to be from cargo compiling yew itself).

[2020-03-04 15:51] jstarry commented on #996
Are all of you on `web-sys` `v0.3.36`? I think the latest release might have broken things. Can you try on v0.3.35?

[2020-03-04 15:57] #996 closed

[2020-03-04 16:15] jstarry commented on #932
@captain-yossarian go for it

[2020-03-04 16:25] jstarry commented on #996
Yeah v0.3.36 was the issue, I just pushed yew v0.13.1 with @Detegr's fix. Thanks for the reports everyone!

[2020-03-05 02:06] jetli opened #1100 "Error when go back to root route(web_sys)"
**Describe the Bug**
On home page, click a few sub routes and then click back button of browser to go back to home page, error occurs.

**To Reproduce**
Visit demo site: https://jetli.github.io/create-yew-app/, click `About` link on the top right corner, click back button of browser, error occurs
[code]

**Related Info**
 - yew version: 0.13.0
 - yew-router version: 0.10.0
 - feature: web_sys

[2020-03-06 07:48] ZainlessBrombie commented on #351
Could you provide source code that reproduces this issue?

[2020-03-06 17:51] pythoneer commented on #954
Found this
https://github.com/jfbilodeau/yew_form
here
https://www.reddit.com/r/rust/comments/fedgwj/introducing_yew_form_a_model_binder_for_html/

[2020-03-07 15:22] dinAlt opened #1002 "The WebSocketTask treats text messages as binary when using a web-sys."
Function `did_process_binary` in `src/services/websocket.rs` returns true even if an actual message data was a text, but resulting Vec, which passed as Option to OUT::from(data) is empty.

**Environment:**
 - Yew version 0.13.2
 - Rust version 1.41.1
 - `web-sys` version 0.3.36
 - OS: linux
 - Browser chromium
 - Browser version 80

A potential fix is to return false in `did_process_binary` if res

[2020-03-07 17:35] ZainlessBrombie opened #1003 "update method receives stale props"
**Problem**
Scenario: I have a button component that receives a loading bool for display and an onclick callback
The Login page uses the button and keeps track of the loading state, passing it to the button
When the outer Component is called back on click, it passes the correctly updated props (logged) to the button, which does receive update() but with the initial props instead of the updated one

[2020-03-07 20:58] ZainlessBrombie commented on #1003
Update: In src/virtual_dom/vcomp.rs VComp::new gets called with the current props, while the closure that captured the old props is called a few lines and moments later.

[2020-03-08 03:04] jstarry commented on #1003
@ZainlessBrombie hey 👋

I dug into this and was able to find the issue. Your button is nested like this: `StyledComponent` > `CenterBox` > `Card` > `Button`. While your `Button::change` method was properly updating the button props, the other three are not. If you implement `change` in `StyledComponent` by recreating `vcomp` on new props, and overwrite props in `CenterBox` and `Box`, everything sh

[2020-03-08 03:04] #1003 closed

[2020-03-08 04:35] Boscop opened #1004 "Properties 2.0: Missing prop error is not user-friendly"
(I'm using Yew 0.13. https://github.com/yewstack/yew/pull/975, https://github.com/yewstack/yew/issues/928)
When the prop `allow_zoom` is missing from these props:
[code]
I get this error:
[code]
Ideally, the error should not mention other props that ARE passed, such as `clicked_song_pos`. It should only mention the missing prop, but not encoded in code, but in clear text, like

[2020-03-08 05:28] jstarry commented on #1004
Yeah not super ideal, the hope is that devs notice this part: `PropsBuilderStep_missing_required_prop_allow_zoom`.

If anyone comes up with a better approach, I'd be very happy!

[2020-03-08 05:50] jstarry commented on #1002
Thanks for the bug report! I went ahead and fixed this myself because I've been meaning to add test coverage anyways.

[2020-03-08 07:33] dinAlt commented on #1002
Ok, should i close an issue, or do anything else now? I'm just not very good in github collaboration...

[2020-03-08 07:33] jstarry commented on #1002
No need, once the PR is merged, the issue will be auto-closed

[2020-03-08 07:34] jstarry commented on #1002
If you have the time, feel free to look over my changes to see if they are correct

[2020-03-08 08:06] dinAlt commented on #1002
Yes, text messages are works now, and your fix is definitely better, than just checking a vec length)

[2020-03-08 08:08] ZainlessBrombie commented on #1003
Oh dear. Ok yes I understand, it's because the children are kept internally and are thus stale.
And explains why I have read through literally the whole virtual_dom part of the library and could only determine that everything was sound :smile:
While I am a little frustrated I didn't realize this myself, thank you very much for taking care of this issue :)

[2020-03-08 08:10] jstarry commented on #1003
Don't sweat it, it's too unintuitive IMO! As soon as someone picks up #830 things will be much better because Yew will hold onto props internally

[2020-03-08 08:24] jstarry commented on #929
The multithread example is fixed as of https://github.com/yewstack/yew/pull/1006 but I'd like to wait until https://github.com/rustwasm/wasm-pack/pull/736 is finished before updating `yew-wasm-pack-template`.

[2020-03-08 08:28] TheNeikos commented on #944
What exactly needs to be done here? I'd gladly help!

[2020-03-08 08:50] jstarry commented on #944
Thanks for offering!

So, whenever someone connects to an agent, Yew should send a `Connected` message to the agent so that it can track who's connected. Each connection has a unique `HandlerId`.

I think we can take advantage of the existing msg queue that was setup not too long ago. Yew allows sending messages to a public worker that hasn't loaded yet, as soon as the worker loads, the queue will

[2020-03-08 09:44] #945 closed

[2020-03-08 09:45] #940 closed

[2020-03-08 10:15] jstarry opened #1008 "Destroy worker if bridge disconnected before it finished loading"

[2020-03-08 11:57] #944 closed

[2020-03-08 14:54] #955 closed

[2020-03-08 14:56] jstarry commented on #535
I think this is more of a state question, let's continue this discussion in https://github.com/yewstack/yew/issues/576

[2020-03-08 14:56] #535 closed

[2020-03-08 14:58] #1002 closed

[2020-03-08 18:20] captain-yossarian commented on #750
@jstarry I have linked my [app](https://github.com/captain-yossarian/yew-example) to latest yew version and I'm getting next errors:
[code]
[code]
AND
[code]
[code]

[2020-03-08 18:46] ZainlessBrombie commented on #850
@jstarry I wouldn't mind hosting the pages and setting up automated deployment for the examples :)

[2020-03-09 00:05] fadhlika commented on #750
@captain-yossarian I think you need to add target so it will build only to webassembly like this
`cargo build --target wasm32-unknown-unknown --features web_sys`

[2020-03-09 01:27] jstarry commented on #850
Cool! I like the idea of an examples subdomain. I have https://todomvc.yew.rs/ up already using netlify and can move that over. By the way I have https://yew.rs hosted on cloudflare right now with CDN enabled.

What do you think about using up an open source team on netlify that we can collectively manage? https://www.netlify.com/legal/open-source-policy/

[2020-03-09 08:35] ZainlessBrombie commented on #850
Excellent. I would prefer hosting on aws cloudfront though since it has no strings attached and is virtually free too :)
It also integrates well with CI so that when new examples come up, they can be added automatically

[2020-03-09 08:45] jstarry commented on #850
So long as we set up ACL so that multiple people can manage it, works for me!

[2020-03-09 09:10] ZainlessBrombie commented on #850
Yeah sure

[2020-03-09 14:19] DukeFerdinand opened #1010 "State management docs or implementations?"
Hey guys!

I'm working on a proof of concept for an internal app at my company and we're strongly considering Rust/WASM using yew :)

I just wrapped up a neat (if a bit unpolished) approach to state management that takes from both Vuex and Redux ideas using the `EventBus` middleman approach used in the pub-sub example.

#### Question

Since there's not really any resources for proper application s

[2020-03-09 14:45] jstarry commented on #1010
Oh cool to hear! And awesome, that sounds similar to what we've been noodling on here https://github.com/yewstack/yew/issues/576 I would love if there was both docs and an implementation!

[2020-03-09 15:14] DukeFerdinand commented on #1010
@jstarry Oh nice, I'll move any updates over there to keep things in once place :)

I'm a sucker for documentation so I can definitely do both! Might be a few days as the work week just started, but I'll spin something up

[2020-03-09 15:37] DukeFerdinand commented on #1010
Closing in favor of #576 discussion :)

[2020-03-09 15:37] #1010 closed

[2020-03-09 15:57] kellytk opened #1011 "Allow Callbacks to optionally send a message"
Without this I must create and send 'Noop' messages which is wasteful and boilerplate-heavy.  For context, a `<button>` I'm working on should only dispatch a message for `onkeyup` if a certain key was pressed.

[2020-03-09 16:13] jplatte commented on #1011
You don't have to create `Noop` messages. You can create a `Callback` from a function / closure ([From impl](https://docs.rs/yew/0.13.2/yew/callback/struct.Callback.html#impl-From%3CF%3E)). See for example ([this callback that only sometimes sends a message](https://git.sr.ht/~jplatte/caniuse.rs/tree/7ba14fe5/src/components/app.rs#L43-48)).

[2020-03-09 18:07] kellytk commented on #1011
In adapting the code I'm encountering an error I'd appreciate help with:

[code]

[2020-03-09 19:43] Baev1 commented on #745
Hi! I am still pretty junior, but I am interested to work on this if it is something that is still wanted? I see that something similar will be done with #769 with the syntax there potentially colliding for the syntax here?

Also after looking at the code I see that the lib doesn't "know" what type a prop is till the to_tokens call in the HtmlComponent struct (I could be wrong in this). While I co

[2020-03-09 19:57] jplatte commented on #1011
You can't use the `callback` method to create `Callback`s that never or only conditionally send messages. This is what you need:

[code]

This moves `link` into the closure. If you still need it, clone it before constructing the callback and use the clone inside like I did in the code I linked.

[2020-03-09 20:28] #1011 closed

[2020-03-10 11:25] lavara123 opened #1012 "Mobile screen?"
![Screenshot_20200310-142221](https://user-images.githubusercontent.com/12005386/76308027-033e5d00-62db-11ea-9501-2133bd48ad95.png)

[2020-03-10 12:18] ZainlessBrombie commented on #850
Sent you a mail so we can set everthing up :)

[2020-03-10 13:00] jstarry commented on #850
Replied!

[2020-03-10 13:01] jstarry commented on #1012
Hey @lavara123, this looks like a kirk issue. How about creating an issue here :) https://github.com/stkevintan/kirk-blog/issues

[2020-03-10 13:01] #1012 closed

[2020-03-10 13:20] jstarry commented on #745
@Baev1  thanks for taking a look, you're totally right about that. I think we could only have this special handling for boolean html elements: https://github.com/yewstack/yew/blob/22904ebdd9e282e15b814ca11172d1127900c2e4/crates/macro/src/html_tree/html_tag/tag_attributes.rs#L27-L49

Even then, it's probably not so useful because it's much easier to enable/disable these types of attributes using a

[2020-03-10 13:20] #745 closed

[2020-03-10 16:59] nicklaswj opened #1015 "ResizeService panics when std_web feature is enabled"
ResizeService panics on the stdweb version of yew

**Steps To Reproduce**
1. Create yew project with features = [ "std_web" ]
2. Create a Component that registers a resize callback with the ResizeService.
3. Run the project and resize the browser window.
OR: Download and run the attached example project
[yew_resize_test.zip](https://github.com/yewstack/yew/files/4313698/yew_resize_test.zip)

**Exp

[2020-03-10 17:11] ZainlessBrombie opened #1016 "Examples should be brought up to date and made prettier"
**Is your feature request related to a problem? Please describe.**
The features currently don't look very pleasing and e.g. the webgl one didn't compile. It might be a good idea to bring them up to date / do a new set of examples.

**Describe the solution you'd like**
Someone (could be me) should redo the examples with proper css styling and bring them up to date

**Describe alternatives you've co

[2020-03-10 17:14] ZainlessBrombie commented on #1016
I could also improve the performance of the style class I provided :)

[2020-03-10 18:45] captain-yossarian commented on #750
@fadhlika It works, thank you!

[2020-03-10 19:03] captain-yossarian commented on #750
@jstarry @fadhlika
When I'm trying to run either
`cargo test --target wasm32-unknown-unknown --features wasm_test std_web`
OR
`cargo test --target wasm32-unknown-unknown --features wasm_test web_sys`
OR
`cargo test --target wasm32-unknown-unknown --features wasm_test`

I'm receiving:
[code]

When if I run:
[code]
I'm getting:
[code]

[2020-03-10 21:21] jplatte commented on #750
You're telling cargo to run all tests named something with `std_web` while activating the feature `wasm_test`. You need to specify the features with `--features wasm_test --features std_web` or `--features wasm_test,std_web`.

[2020-03-11 10:43] dmilith opened #1017 "Multiple selection <select> with web_sys"
I migrated my Yew project to latest version (0.13.2) on latest Rust-stable.
I switched to web_sys backend for my project out of curiosity :)
Whole code works as expected, except one thing which worked just fine with stdweb:

[code]

Here I handle multiple hosts selection for my <select> component, but I can't get access to any (useful) function equivalent listing all selected items.

#### Question

[2020-03-11 11:26] dmilith commented on #1017
I figured out that I can access selections using kinda low level API, but it's far from previous "selected_values()" :)

[code]

[2020-03-11 14:13] jstarry commented on #1017
Ah, happy you figured that out! The yew docs should be fixed [here](https://docs.rs/yew/0.13.2/yew/html/enum.ChangeData.html#variant.Select) to address this change

[2020-03-11 14:38] jstarry commented on #1016
I'd prefer if they used an existing theme or library. One of these would be nice:
- https://materializecss.com/
- https://getbootstrap.com/

Nice!

I would prefer to keep the code very simple for the examples. It's more important that they are quick to understand and play with than look nice. I think that we could it for one of the examples, though.

So long as:
- Yew maintains support for `stdweb

[2020-03-11 14:38] jstarry commented on #1016
This one was just added, do you mind creating an issue for this?

[2020-03-11 14:55] #1015 closed

[2020-03-11 15:48] dmilith commented on #1017
Ok… so for docs I'd use functional approach here with fold… but I still think having shortcut helper-function in Yew would be a good idea when web_sys is enabled.

[code]

:)

[2020-03-11 16:17] captain-yossarian commented on #750
@jplatte event with either

[code]
or
[code]
or
[code]
I'm getting:
[code]

[2020-03-11 16:40] ZainlessBrombie opened #1021 "Examples pub_sub and webgl are missing features = ["std_web"]"
**Problem**
The examples pub_sub and std_web both don't compile since they are missing the features flag for the yew dependency.

**Steps To Reproduce**
Try compiling either of them

**Expected behavior**
Both examples should compile with either
cargo web start
or
cargo web start --features std_web
(Only the former in fact since they depend on std_web)

**Environment:**
 - Yew version 0.13.2 / mas

[2020-03-11 16:49] jstarry commented on #750
Try updating wasm-bindgen-cli

On Thu., Mar. 12, 2020, 12:17 a.m. yossarian, <notifications@github.com>
wrote:

[2020-03-11 16:49] ZainlessBrombie commented on #1021
Nevermind did a pull request anyways :D

[2020-03-11 16:50] jstarry commented on #1021
FYI there's already a PR for fixing pubsub

On Thu., Mar. 12, 2020, 12:40 a.m. Mathis, <notifications@github.com> wrote:

[2020-03-11 17:02] captain-yossarian commented on #750
@jstarry thank you, it helped

[2020-03-11 17:14] ZainlessBrombie commented on #1021
Oh yea should have checked that ^^

[2020-03-11 20:32] ZainlessBrombie commented on #1016
https://yew-ex-v1.single-page.zainlessbackend.com/
Example of how the examples would look. Code at https://github.com/ZainlessBrombie/yew-examples-redone
Mercilessly ripping from the existing examples ^^

[2020-03-11 21:13] DukeFerdinand commented on #576
@hgzimmerman New to Rust so sorry if this is a dumb question, but is there any way to gain the best of both worlds with agent-based state and `Rc` based references to it? I ran into the `.clone()` pattern of returning refs to the global state across agents, but the alternative of passing state down everywhere is not one that's sustainable. It gets very confusing very quickly haha

I've got a demo

[2020-03-11 21:14] DukeFerdinand commented on #576
Another option is maybe extract to a separate lib, like `yewx` as a play on `Vuex` from vue

[2020-03-12 04:35] jstarry commented on #1016
Love the UI update!! <3 <3

[2020-03-12 04:36] #1021 closed

[2020-03-12 06:25] ZainlessBrombie commented on #1016
Lovely, thanks! :blush:

[2020-03-12 16:44] ZainlessBrombie commented on #1016
For the todomvc one I'm getting an error
`Uncaught SyntaxError: Cannot use 'import.meta' outside a module`

Online are:
crm.examples.yew.rs
custom_components.examples.yew.rs
dashboard.examples.yew.rs
fragments.examples.yew.rs
game_of_life.examples.yew.rs
large_table.examples.yew.rs
nested_list.examples.yew.rs
pub_sub_2.examples.yew.rs
textarea.examples.yew.rs
timer.examples.yew.rs
webgl.examples.y

[2020-03-12 18:16] ZainlessBrombie commented on #1016
https://crm2.examples.yew.rs
New crm example

[2020-03-12 19:14] ZainlessBrombie commented on #1016
https://fragments2.examples.yew.rs
New fragments example

[2020-03-12 20:07] ZainlessBrombie commented on #1016
https://futures2.examples.yew.rs
This one is fresh from the web_sys documentation, not from the old example ;)

[2020-03-12 20:32] ZainlessBrombie commented on #1016
Alright on the todo-list are:
- [ ] A Websocket global chatroom (I'd use my personal server as the host)
- [ ] A multithreading demonstration
- [ ] A demonstration of mount points / having two apps in parallel
- [ ] A node_refs demonstration
- [ ] A file upload example (maybe one that displays the contents of the uploaded zip file?)
- [ ] A js callback demonstration
- [ ] A super large table demon

[2020-03-12 20:37] ZainlessBrombie commented on #1016
Also, I'll look into building some adapter for react-like functional components and redux store :)

[2020-03-12 21:12] intendednull opened #1024 "Can this component property transformation be more ergonomic?"
#### Question
I have the following properties:
[code]
I would like to use it like this:
[code]
But I'm getting this error:
[code]
It seems the types aren't matching because `LoginForm::set_email` includes its name in the definition. Is there any way to improve my function pointer type declaration so it coerces nicely?

#### What I've tried (optional)
The following is a bit verbose but works fine:

[2020-03-13 10:16] ZainlessBrombie commented on #1016
I can do this now :tada: :tada:
![image](https://user-images.githubusercontent.com/14111053/76612226-20ae3980-651c-11ea-90ef-7985acfd2bac.png)

[2020-03-13 11:13] jstarry commented on #1016
Awesome! Can you create a new issue for that and describe the API?

[2020-03-13 18:57] lukidoescode commented on #533
Hi I just published a library that is supposed to help with that. I was in need for a framework that works in a way that styled components work. Here is what I came up with: [CSSinRust https://crates.io/crates/css-in-rust](https://crates.io/crates/css-in-rust). Feel free to open Issues and/or PR's. The target is to make it work with any components framework.

[2020-03-14 10:00] ZainlessBrombie opened #1026 "Introducing: The hooks API"
**Is your feature request related to a problem? Please describe.**
Currently component classes are required to have (stateful) components. They contain state management and lifecycle methods, requiring a message to be sent back for changes. This process can be simplified with functional components that use hooks.

**Describe the solution you'd like**
Introducing: hooks. Hooks are used in React to

[2020-03-14 10:06] jstarry commented on #1026
Awesome!!

[2020-03-14 10:14] ZainlessBrombie commented on #1026
Basic component:
![image](https://user-images.githubusercontent.com/14111053/76679805-b52f9f00-65e3-11ea-874c-20c44a0e21c4.png)
A simple counter:
![image](https://user-images.githubusercontent.com/14111053/76679850-1ce5ea00-65e4-11ea-81fa-43055c5815eb.png)
use_effect to recompute a value as it changes:
![image](https://user-images.githubusercontent.com/14111053/76679872-63d3df80-65e4-11ea-8494-a05

[2020-03-14 10:16] ZainlessBrombie commented on #1026
Questions are: Should this be implemented into yew or be an external library and in case of the former where should it be placed :)
Oh also I still need to write the tests

[2020-03-14 10:45] jstarry commented on #1026
How about we start by putting it into a new crate inside `/crates` in this repo? That's the plan for `yew-router` as well.

[2020-03-14 13:35] jfbilodeau opened #1028 "Allow child component to request re-render of their parent"
**Is your feature request related to a problem? Please describe.**
Currently, there is no mechanism by which a child component can request it's parent to re-render itself. This can be cumbersome when a child component and a parent share some state. For example, a child component that wraps an `<input>` to update a state that is also shared and displayed by the parent.

Presently, the only way to f

[2020-03-14 14:10] ZainlessBrombie commented on #1026
Good idea. I refactored and optimized the code and added comments throughout the use_hook function. I'll now prepare a pull request and do the tests :)

[2020-03-14 14:11] nicklaswj opened #1031 "Agent::Connected is only called for the first bridge"
**Problem**
The function Agent::Connected for public agents is only called for the first connected bridge,
i.e. subsequent bridge connections does not result in calls to Agent::Connected.

**Environment:**
 - Yew version [e.g. v0.14, `master`]
 - `stdweb` / `web-sys`

I got two slightly different solutions: #1029  and #1030

[2020-03-14 15:11] jstarry commented on #1028
Hi @jfbilodeau, thanks for the feature request! It seems unlikely that we would make this kind of change to the framework. It feels like an anti-pattern to me, and I don't think I want component rendering to be complicated in this way. Perhaps we can discuss the problem you're having and see if we can find a cleaner way to do what you're trying to do without any changes.

The common way to do what

[2020-03-14 15:43] #1031 closed

[2020-03-14 16:14] jstarry commented on #1024
This is a great question! Made me learn a bit more about coercion in Rust :)

Looks like this bit is relevant to the problem at hand:

https://doc.rust-lang.org/nomicon/coercions.html

[2020-03-14 16:33] jstarry commented on #1024
I think `Transformer` is a pretty nice to have so I would be hesitant to remove it. Seems like the goal would be to avoid using the `Transformer` when coercion is sufficient. I'm not sure we could detect that so I think we might need a special syntax for this. I'll think on this... open to ideas as well!

[2020-03-14 20:48] TheNeikos commented on #1004
So I've thought about this, and have created a possible alternative to the current system. It would work by creating a macro for each property, that is then used by the `html!` macro.

A simplified example looks like this:

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0d463e4120f84d6f051764ea066d7876

This can be a bit odd in non-2018 editions, but in 2018 edition

[2020-03-15 01:44] jstarry commented on #1004
This looks promising! The answer is always more macros 😆

Can you elaborate a bit more on the hygiene issues and what you mean by "can't associate a macro to a struct"?

[2020-03-15 09:13] TheNeikos commented on #1004
There’s multiple issues:

- Macros can’t be added to traits or structs. So we need a way to link props to their model. I did this by adding a new attribute “#[prop_for(Model)]” which then generates the macro “ModelPropCreator!”
- You can’t associate a Macro to a type. So if someone imports “foo” and uses “foo::Model” we need to be smart and derive from that path the correct “macro” invocation. It

[2020-03-15 09:30] jstarry commented on #1004
Thanks for the context, makes sense. Might be worth hacking it out because macros would give us more flexibility.

I came across the "[Init struct pattern](https://xaeroxe.github.io/init-struct-pattern/)" on `r/rust` recently and I think it should work actually.

If we call `YakShaverInit` -> `OptionalProps`...

- [x] `impl Default for OptionalProps` is trivial using the `#[prop_or...]` attributes

[2020-03-15 11:06] TheNeikos commented on #1004
That was my initial try, but the issue is creating the actual final version. The html! Macro itself doesn’t know which fields are optional or not. So it won’t know what goes into OptionalProps or not. And you will also need to create the actual Props struct, but that can only be done with the struct constructor, which requires all fields front the get go. And you can only interpolate structs from

[2020-03-15 12:28] jstarry commented on #1004
Ah, that's right. Bummer. I guess the state builder approach lives another day.

[2020-03-15 13:28] jfbilodeau commented on #1028
Thanks for getting back to me @jstarry. Yew is a masterful piece of work, and I don't want to erode it's design. What I would like is to build are components that makes it easier to implement forms.

For example, let's say we're building an order form that allows the user to select products, quantity, cost, etc and calculates tax and total. A model is created to represent the order.

To avoid rewr

[2020-03-15 13:52] TheNeikos commented on #1004
What do you think of a syntax that looks like this:

[code]
It would solve the big issue of "which" field is missing. The only downside I see is that going from required to optional is a breaking change, whereas right now it is not. To me that doesn't sound like a big price to pay for nicer errors.

[2020-03-15 14:42] ZainlessBrombie commented on #1016
Huh multithreading is not working at all. It can't find the files needed to work the worker, seems the project has to be set up in a very specific way for that. Wonder how we can fix that

[2020-03-15 14:44] jstarry commented on #1004
I'm open to it, but yeah I would have the same concern over the pain of switching properties from required to optional and vice versa. We would need nice error messages for that 😝

[2020-03-15 14:46] jstarry commented on #1016
The web-sys multithread example? There is a readme for that, it's an unusual setup

[2020-03-15 15:16] jstarry commented on #1028
Are you referring to all of the `oninput` callbacks in your example? https://github.com/jfbilodeau/yew_form/blob/master/examples/form/src/main.rs#L123

[2020-03-15 17:38] jfbilodeau commented on #1028
That's correct. Is there a more elegant approach?

[2020-03-15 21:14] TheNeikos commented on #1028
I would start with factoring it out as a method. That way it is less long, but still clear.

[2020-03-15 22:45] ZainlessBrombie commented on #479
@jeremyscatigna whats your status? I would consider picking this up, it's a great opportunity to get into writing macros and I think this feature is important for yew :)

[2020-03-15 23:07] jfbilodeau commented on #1028
@TheNeikos, I'm not sure I follow. What would you factor out as a method?

[2020-03-16 12:07] ZainlessBrombie opened #1034 "Multiple messages could be batched to cause only 1 render"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1034)

**Is your feature request related to a problem? Please describe.**
Currently, when you sequentially send multiple messages, the number of rerenders corresponds to the number of messages sent. This could be optimized to only render once for mult

[2020-03-16 12:12] zimond opened #1035 "Children are rendered out of order sometimes (test case included)"
**Problem**
I found that sometimes yew renders children out of order. After several days of separating the behavior, I managed to create a small repo to reproduce this: https://github.com/zimond/yew_bug

**Steps To Reproduce**
Steps to reproduce the behavior:

1. Clone the repo, run `npm run start`
2. In the page, click "3", then click "0"
3. Notice that the div above the `h1` element is now under

[2020-03-16 16:03] TheNeikos commented on #1028
@jfbilodeau What I mean is that you can could create a function that creates the callback for you, like `oninput=self.send_update()` and define it like this:

[code]

[2020-03-16 16:13] jstarry commented on #1035
Thank you so much for the report and testcase! I won't have time for a few days to look into this, @TheNeikos are you interested in taking a look?

[2020-03-16 16:19] TheNeikos commented on #1035
I'm not too familiar with Yew yet, but it's a good opportunity to try!

[2020-03-16 16:43] jstarry commented on #1035
Sweet, feel free to ask questions here!

[2020-03-16 20:03] Boscop opened #1037 "How to cache rendered child VNode to avoid calling Child::change on Parent::view?"
My app's main bottleneck is the cloning and comparing of props (of one specific component that is instantiated 4 times) that are huge structs and don't change frame to frame.
This is being caused by `Child::change` being called every time `Parent` is rendered (at 30 fps, for all 4 instantiations).
Original code in `Parent::view`: `<Child foo=self.foo.clone()/>`
I decided to cache the rendered chil

[2020-03-16 20:11] Boscop opened #1038 "Support for conditional html elements: Option<VNode> should work inside html macro"
Please support conditional html elements by allowing `Option<VNode>` inside the `html` macro, so that the following compiles:
[code]
(This example uses [`bool::then`](https://doc.rust-lang.org/std/primitive.bool.html#method.then) to turn a `bool` into an `Option<VNode>` but that's just an example how I use it.)

[2020-03-16 20:20] Boscop opened #1039 "TimeoutService::spawn should take FnOnce callback"
**Problem**
`TimeoutService::spawn` takes a `Callback` which is a `Fn`, leading to having to clone captured variables inside the closure during it's only call. Captured variables that are owned by self and shouldn't need to be cloned.
E.g.:
[code]

**Expected behavior**
`TimeoutService::spawn` takes a `CallbackOnce` that is a wrapper around `FnOnce` and created by `ComponentLink::callback_once`.

[2020-03-17 09:23] TheNeikos commented on #1035
Alright, so I think I'm getting to the bottom of this:

`<VList as VDiff>::apply` tries to render a list of `[Element, VList]` having an ancestor of `[Element, Vlist]`.

This in turn, calls `<VComp as VDiff>::apply` with the other `Element` as `ancestor`. However, it sees that the components are mismatched and removes the old element! This is an issue, as we have now lost our positional anchor! In

[2020-03-17 14:18] jfbilodeau commented on #1028
Thanks @TheNeikos, but that remains code that needs to be repeated for each component that contains a dynamic form. It seems repetitive to have to include a `send_update()` or equivalent for component that has a form. Is there a more graceful approach that allows child component to indicate that a view should be updated?

[2020-03-17 14:53] alifya53 opened #1040 "cargo web start fails"
#### Question
please resolve this issue i m facing while doing cargo web start

cargo web start
   Compiling yew v0.14.1 (https://github.com/DenisKolodin/yew#c33fe73f)
   Compiling ryu v1.0.3
   Compiling anyhow v1.0.27
   Compiling proc-macro-nested v0.1.3
error: failed to run custom build command for `yew v0.14.1 (https://github.com/DenisKolodin/yew#c33fe73f)`

--- stderr
thread 'main' panicked

[2020-03-17 15:59] TheNeikos commented on #1040
Hello :wave:,

Yew currently supports two different web crates, one is called `web_sys` and the other `std_web`. The first one is the more modern one, and is probably going to be the main crate in the Rust web ecosystem. The error message `'Yew requires selecting either the web_sys or std_web cargo feature'` tells you that `yew` wants you to pick one through Cargo feature flags.

To fix this, you

[2020-03-17 16:33] TheNeikos commented on #1039
I am wondering if maybe `TimeoutService::spawn` could take an `FnOnce()` instead of a `Callback`? After all, it will only be called once either way. This way it wouldn't introduce another type.

[2020-03-17 21:57] TheNeikos commented on #1028
In my opinion that would take away control from the user. One thing I believe that Rust enables is that everything is more or less clear when you look at the source code. Taking that away would in my opinion take away one of the nicer advantages of using Rust.