[2020-03-17 23:33] Boscop commented on #1039
@TheNeikos Or that, yes :)

[2020-03-17 23:47] TheNeikos commented on #1039
You are of course correct... Not sure how I missed that.

[2020-03-18 00:02] dancespiele opened #1041 "I cannot create optional callback"
#### Question
I have a component which I want to include a optional callback.
I have this in Props
[code]

now when I call that component and include a callback in the attribute onsignal:
[code]

I get this error:

[code]

this the navbar component code:

https://github.com/spielrs/yew-styles-page/tree/add-default-callback-navbar-item/crate/yew_styles/src/components/navbar

#### What I've tried (o

[2020-03-18 08:27] jamil4321 opened #1042 "Build Failed"
#### Question
while trying to build yew example code

#### What I've tried (optional)

Home:~/Desktop/yew$ cargo web build
error: error: failed to parse manifest at `/home/jamil/Desktop/yew/Cargo.toml`

Caused by:
  can't find library `yew`, rename file to `src/lib.rs` or specify lib.path

[2020-03-18 08:35] #1042 closed

[2020-03-18 12:57] jfbilodeau commented on #1028
Taking control away from the user. Or in this case, surprise re-render, ain't a good thing. That's a good point and I conceit.

If I may solicit further feedback on an alternative idea that would not require changes to Yew, what if I were to wrap custom `Input` components in a custom `Form` component. The `Input` could notify the `Form` when a change took place and let the `Form` do the re-renderi

[2020-03-18 12:57] #1028 closed

[2020-03-18 14:17] TheNeikos commented on #1035
@zimond At first your reproduction was working, but right now I am unable to reproduce it. Can you check if this is still an issue for you? I am not sure how this could have 'fixed' itself as I reset everything. (The only thing I can imagine is a browser update in the background? But not sure how I could confirm that)

[2020-03-18 14:31] zimond commented on #1035
@TheNeikos I just ran `cargo clean` and recompiled and it is still happening. To clarify you need to exactly click "3" then back to "0", clicking other tabs will reset the ordering and cannot trigger the behavior

About the browser, I tested firefox nightly and chrome, the bug consists.

[2020-03-18 14:52] TheNeikos commented on #1035
Alright, then something weird is going on over here. I'll keep investigating

[2020-03-18 23:32] dancespiele commented on #1041
I discover that with this resolve my problem:

[code]

but with you PR will make this more idiomatic and easier

[2020-03-19 12:06] PositronicBrain opened #1096 "How do you get the current route?"
I need to get the current route to highlight the corresponding anchor in the navigation menu.

What is an idiomatic way to do it? I figured out that you could use `RouteService.getPath()` but that requires using the path string instead of the routes enum and it's not convenient, and there would still be problems with updating the view. A working example would be really helpful.

[2020-03-20 10:57] jstarry commented on #1041
Cool, I'm going to close this "question" issue then. The PR can still move forward though!

[2020-03-20 10:57] #1041 closed

[2020-03-20 10:57] jstarry commented on #1040
Thanks @TheNeikos!

[2020-03-20 10:57] #1040 closed

[2020-03-20 22:38] jkelleyrtp opened #1044 "Wasm-pack template with workers?"
#### Question
How do we get the wasm-pack template working with webworkers? I'd like to develop my main app and workers in tandem, but having to build both separately means I have to leave the webpack dev server. Wasm-pack seems to support only one wasm build per project - any guidance on where to add the build for extra workers?

https://github.com/yewstack/yew/tree/master/examples/web_sys/multi_

[2020-03-21 03:55] ctm opened #1045 "Document Firefox WebSocket flakiness?"
This is a proposal for documentation that I'm willing to write.

I ran into an issue with WebSockets in Firefox that took quite a bit of time for me to figure out. Basically a [bug, that was reported in May 2012,](https://bugzilla.mozilla.org/show_bug.cgi?id=758004) causes incoming messages to be dropped with only an error on the JavaScript console about closures. For me this was happening because

[2020-03-21 03:57] ctm commented on #1045
I hope the `feature` tag can be replaced by `documentation` and `proposal`.

[2020-03-21 22:33] jkelleyrtp opened #1046 "Private agents are only half implemented"
**Problem**

I spent a long time on this last night - still not quite sure what's happening. This might be because of #948 - but regardless, there's no `register` implementation for `private` because `private` does not implement `threaded`. When spawning a Private agent, nothing happens so (I'm assuming) the agent is released. But! if I compile it as a public worker, move the wasm/js into static,

[2020-03-21 22:42] jkelleyrtp commented on #1046
Yep, simply changing
[code]
to
[code]

works for me. Did we forget to impl threaded for private agents at some point?

[2020-03-21 22:55] TheNeikos commented on #1046
Don’t private agents run per-bridge? So you would just have to create a bridge and they would be created. AFAIK they do not get a service worker, and thus don’t need a separate binary nor be registered.

[2020-03-21 23:20] jkelleyrtp commented on #1046
The docs say:

## Types of Agents
### Reaches
Job - Spawn a new agent on the UI thread for every new bridge. This is good for moving shared but independent behavior that communicates with the browser out of components. (TODO verify) When the task is done, the agent will disappear.
Context - Bridges will spawn or connect to an agent on the UI thread. This can be used to coordinate with state betwee

[2020-03-22 02:09] dancespiele opened #1047 "How to see the complete structure Vnode generated"
#### Question
I'm trying to implement a test which compare the VNode generated from the component with a VNode expected, always it fails and I cannot log the all VNode to understand why is different, the only what I can see is this:

VTag { tag: button }

the code example:

[code]

you can find more here:

https://github.com/spielrs/yew-styles-page/blob/create-unit-test/crate/yew_styles/src/compon

[2020-03-22 07:09] TheNeikos commented on #1046
Ah, in that case I got the names mixed up! My bad!

[2020-03-22 11:20] captain-yossarian commented on #1035
@TheNeikos Hi,  if you add new child to
[code]
The code will work as expected, becouse new child does not include `Component` instance.
It looks like `Component` instance affect the logic.
Which data structure represents yew `Component` ? `stdweb::web::{Element}` ?

I think the problem might be [here](https://github.com/yewstack/yew/blob/master/src/virtual_dom/vlist.rs#L98).
@jstarry what do you t

[2020-03-22 12:54] TheNeikos commented on #1035
Yeah, I tried a few things. But from my debugging until I wasn't able to reproduce the error again, I was unable to pinpoint where things are going wrong. What I found was that components are rendered in a second pass, after other more simpler nodes are rendered. And it seems that the node in that moment then gets lost and things get appended at the end. But I can't confirm this, as wasm is hard t

[2020-03-22 12:57] jstarry commented on #1046
@jkelleyrtp you're totally right. Looks to me like the implementation for Private workers is only half implemented 🤦‍♂

Implementing `Threaded` is a good first step. Remember that handler id's aren't relevant here (same as Job) and so we have the SINGLETON_ID for this reason. The message queue is pretty important as well if you're up to it: https://github.com/yewstack/yew/issues/937

[2020-03-22 13:59] captain-yossarian commented on #1035
@TheNeikos to debug source code of yew, you can add
[code]
and then somewhere in the code just add:
[code]

[2020-03-22 14:36] #630 closed

[2020-03-22 15:47] zimond commented on #1035
`wasm-logger` is an out of box solution for logging.

[2020-03-22 16:34] jplatte opened #1098 "Why is yew_router_route_parser both a compile-time and runtime dependency"
Hi! I've been looking into contributing to yew_router again and wanted to add span information for route parsing errors. However, it's not that easy since adding `syn` as a dependency to yew_router_route_parser would probably unnecessarily bloat yew_router.

Is there any documentation / could you explain how the parsing library is used at compile time and runtime respectively?

[2020-03-22 17:44] TheNeikos commented on #1035
Yeah, logging is working fine luckily! But to understand how the algorithm works and which branches it takes etc... especially with all the indirection of traits I prefer stepping through, otherwise it does make it a bit harder to see the flow.

[2020-03-22 17:46] captain-yossarian commented on #1035
@TheNeikos I spent some time on this bug and I also don't know how it works:)

[2020-03-22 17:52] jstarry commented on #1035
Thanks for investigating! I'll take a look and see if I can give some pointers

[2020-03-23 02:41] mrh0057 commented on #1035
@jstarry and @TheNeikos I was able to trace it back to [here](https://github.com/yewstack/yew/blob/7028c809d50401931b293d02129665570ada29fe/src/virtual_dom/vcomp.rs#L197).  It looks like it's an issue since they are 2 different components being rendering.  Still looking at it to see if I can figure out how to fix the issue.

[2020-03-23 02:48] jstarry commented on #1035
Interesting, maybe a regression caused by https://github.com/yewstack/yew/pull/983

[2020-03-23 03:20] mrh0057 commented on #1035
@jstarry The noderefs are none on the VComp are none.  I checked mounted and the vcomp node field.  Looking to see if I can trace back where they are being removed.

[2020-03-23 05:09] mrh0057 commented on #1035
@jstarry Looks llike the NodeRef is returning None in Mounted and on the VComp for the ancestor node.  It is correct in the scope and shows up when calling destroy.  Haven't been able to figure out why it's not set in Mounted nor on the VComp.

[2020-03-23 06:25] jkelleyrtp commented on #1044
https://github.com/jkelleyrtp/yew_wasm_worker_webpack

Figured it out. New issues.

[2020-03-23 06:25] #1044 closed

[2020-03-23 06:33] jkelleyrtp commented on #1046
@jstarry Thanks for the pointers. It took a while to even figure out how to get a build system working with workers and webpack, until I realized web-sys is just super broke for this. I could use your help fixing this.

https://github.com/jkelleyrtp/yew_wasm_worker_webpack

cd into `www`, `npm install` and `npm run serve`. It works! In my fork of Yew, I just implemented `register` for `Discoverer`

[2020-03-23 06:36] jstarry commented on #1046
Hm perhaps, I'll take a look later. We do have an example that works without webpack here: https://github.com/yewstack/yew/tree/master/examples/web_sys/multi_thread

But now I'm wondering if the web-sys worker implementation is actually webpack compatible

[2020-03-23 06:46] mrh0057 commented on #1035
@jstarry I think it has something to do with the children and having the first value a VComp.  I added logging statements outputting the strong count of the NodeRef and it looks like the scope has a different NodeRef since the strong_count is only 1 when it gets destroyed and it has a value set for Node.  The strong count for the VComp and Mounted is 4 on the ancestor when it tries to do the updat

[2020-03-23 07:01] cit117 opened #1049 "Support for dynamic HTML element tags inside html macro"
Please support for dynamic changes to the HTML elements  inside html macro,so that the following compiles:
[code]

[2020-03-23 09:13] jstarry commented on #1035
@mrh0057 you were right on the 💰

The issue is that node refs were not set properly when components are updated 😬

The node_ref set [here](https://github.com/yewstack/yew/blob/master/src/virtual_dom/vcomp.rs#L128) is never set or linked

[2020-03-23 09:24] jstarry commented on #1049
I think this would be a fun issue to take on for someone interested in how the macro works! I think we would probably need to require that the expression inside the curly braces is exactly the same for the open and close tags to have proper compile time error checks.

[2020-03-23 09:29] jstarry commented on #1035
Power of open source collaboration 💪

[2020-03-23 09:53] TheNeikos commented on #1035
@mrh0057 Ha! I knew that part felt wrong, I didn't think of the Rc though. Thanks for solving this and giving me some peace of mind!

[2020-03-23 15:45] #1035 closed

[2020-03-23 19:10] jkelleyrtp commented on #1046
@jstarry
Got it!
The current webs-sys implementation way of launching workers is basically just doing what webpack does.

Literally, if you just let websys build the worker with
[code]
it works perfectly. This is alternative to making the new fake script, setting it's source, and trying to call wasm_bindgen on it, which doesn't exist in the scope of webpack.

I'm going to continue on with my fork

[2020-03-23 19:40] jkelleyrtp commented on #1046
Here's my solution if we wanted to add a "webpack" feature to Yew.

[code]

[2020-03-23 21:34] BafDyce opened #1053 "Using FetchService with generic callbacks?"
#### Question

For my application, I want to implement a generic function that handles making requests with the FetchService and just sends back a message.

I've got as far as that:

[code]

However, with this approach, I still have hardcoded the return value (`RegistrationResult`). So, I wanted the function to also be generic over that type (`OUT`) (Since I expected the Rust compiler to be smart

[2020-03-24 18:55] BafDyce commented on #1053
So.. I just solved. First, I split `OUT` into a more specific type `Result<O, E>` (as, in my case, i will always receive a result here). Then I added the following trait bounds to `E` and `O`: `DeserializeOwned + Serialize + 'static`. (`Deserialize` only didnt work because of this: https://stackoverflow.com/questions/57976096/how-do-i-resolve-implementation-of-serdedeserialize-is-not-general-enoug

[2020-03-25 03:31] kellytk opened #1054 "Add `created()` lifecycle method for agents"
**Describe the solution you'd like**
Similar to `mounted()` for components, `created()` for agents should run after `create()` and the agent is ready for normal operation.

**Describe alternatives you've considered**
The lack of this feature causes two disadvantages:
1) Agents using other agents must message the other agents in `create()` before they're ready to receive responses.
2) When an agent

[2020-03-26 15:24] jkelleyrtp opened #1055 "Arbitrary json through messages is broken"
**Problem**

Thanks to issues between proc-macros, serde, and bincode, you can't push "flattened" json through agent state messages which is pretty important for asynchronous work in workers.

[code]

` thread 'test_bincode' panicked at 'can't serialize an agent message: SequenceMustHaveLength', src/lib.rs:15:9 `

We can just convert to &str, but that takes a while and is another serialization ste

[2020-03-27 18:09] deep-gaurav commented on #479
Hi I implemented a very rough implementation of key to components,
Available in my fork
https://github.com/deep-gaurav/yew

If no one is working on it I can try to polish and optimize it (by using hashmaps i suppose) and convert to a PR

[2020-03-28 09:38] jstarry commented on #479
@deep-gaurav I took a look at your changes and they look pretty great! I would love if you opened a PR for it :)

[2020-03-28 17:03] jstarry opened #1057 "Add support for use_context hook"
I'm most excited for `use_context` to be used in Yew! I think it should be possible to make providers using nested components. I imagine we will match React's implementation pretty closely: https://reactjs.org/docs/hooks-reference.html#usecontext

[2020-03-28 17:04] jstarry commented on #1057
@ZainlessBrombie do you want to take this one?

[2020-03-28 17:13] jstarry commented on #1054
I don't really follow what your use-case is here. It seems to me that this is easily managed by the existing API. Can you provide an example?

This warning can be ignored by prepending the field name with an underscore. I don't think it's a big enough reason

[2020-03-28 17:29] jstarry commented on #1047
I think this is very useful to add for debugging! Sorry for the delay in commenting!

I think we should make the `Debug` implementation for nodes much better 👍 no need for new structs I think :)

[2020-03-28 18:02] jstarry commented on #1055
Thanks for the report, looks like this is just an issue with not being able to use Struct flattening with `bincode`: https://github.com/servo/bincode/issues/245

[2020-03-29 01:40] dancespiele commented on #1047
I open the PR again https://github.com/yewstack/yew/pull/1059 . I'm using the Debug implementation this time. I thing the format with this is good and complete. For example with this vnode:

[code]

I get this log:

[code]

[2020-03-29 09:05] ZainlessBrombie commented on #1057
Sure :)
In react, the context object used is created using the createContext method. This then returns the context object which is exported and later imported by other modules.
I think it would make sense to instead accept a generic type as the context, would you agree?

[2020-03-29 09:06] ZainlessBrombie commented on #1057
Also I'm gonna have to use a HashMap<TypeId, **Other**> in there somewhere to keep track of the current Context for each context type :thinking:

[2020-03-29 12:45] jstarry commented on #1057
Sounds reasonable, I haven't thought about the implementation too much yet

I wonder if `TypeId` is enough as a key though... you could have two different contexts with the same type in an app. Maybe it could work as a stack and the providers push context onto the stack for a particular type?

[2020-03-29 12:47] jstarry commented on #1057
I'm not sure how contexts would be popped off the stack though.. maybe we do need an `updated` lifecycle method for `Component` after all

[2020-03-29 12:48] ZainlessBrombie commented on #1057
Yes thats What I meant, we need to be able to nest contexts and have them run in parallel, the map is just a part of it :)

[2020-03-29 12:49] jstarry commented on #1057
what do you mean by have them run in parallel?

[2020-03-29 12:54] ZainlessBrombie commented on #1057
Bad way to put it - I meant to have two context providers next to each other like
[code]

[2020-03-29 12:55] jstarry commented on #1057
Ah yeah, understood 👍

So do you think we will need `Component::updated()`?

[2020-03-29 12:55] ZainlessBrombie commented on #1057
Don't think so, they would be pushed onto the stack before the function renders and popped off after it is done rendering, both in the view method

[2020-03-29 13:02] jstarry commented on #1057
Ah, right! Never mind 😄

[2020-03-29 14:00] deep-gaurav commented on #479
@jstarry Currently in my implementation for VDiff for every element in Vlist children a linear search is made for same key in ancestor's children, this can be very expensive for list with many children i think.
Can the Vlist children's type be changed from `Vec<VNode>` to `HashMap<String,Vec<VNode>>`

this way the unkeyed children will be in vec with key String::default(), and can be handled same

[2020-03-29 14:02] jstarry commented on #479
Hm, it's important to keep the order of list children. Maybe a new data structure can be added with a map of key to children index?

[2020-03-29 15:46] dancespiele commented on #1047
I close this ticket because better format is already implementing https://github.com/yewstack/yew/pull/1059

[2020-03-29 15:46] #1047 closed

[2020-03-29 17:27] mankinskin opened #1060 "How to serve multiple HTML pages from a single crate using yew?"
Hi, I would like to serve multiple HTML pages using WASM modules compiled from Yew.

From my understanding, I would have to compile a `.wasm` module for each `.html` page I would like to serve, but this would mean I have to create an individual crate for each module, and call
[code]
for each html page aswell. Is this the only way to do it or is there a way to compile multiple standalone WASM modul

[2020-03-29 17:56] ZainlessBrombie commented on #1057
Actually you were correct. We do need a method that runs after a component was rendered. MOre specifically we need:
[code]

This could get a bit finicky I think

[2020-03-29 22:04] ZainlessBrombie commented on #1057
I would do that myself but it seems to me that it's 20% code and 80% knowing where to place it :grimacing:
If you have the time that would be appreciated :)
Also PS I just now learned about the whole actix-web drama so I just wanna say thank you for maintaining this so cooperatively and investing your time!

[2020-03-29 22:06] TheNeikos commented on #1060
I am not certain what scenario you have. Could you maybe make a quick outline or somesuch as an overview?

[2020-03-29 22:36] ZainlessBrombie commented on #1060
So if I understand this question correctly:
Yew is aimed at [single-page-applications](https://en.wikipedia.org/wiki/Single-page_application), you might be looking for [yew-router](https://github.com/yewstack/yew_router)

[2020-03-29 22:41] mankinskin commented on #1060
@TheNeikos
Sure, I basically have this cargo workspace:
[code]
So I basically have a server and a client crate. The server crate is supposed to be run from the client directory, because that is where the `index.html` is. Currently I compile the client crate to WASM and serve the single `index.html`, which links to the generated setup code for the `.wasm` module.

What I want to do now is serve mul

[2020-03-29 22:43] mankinskin commented on #1060
@ZainlessBrombie Yes, I already use yew-router, but still, when loading any content from my server, the server always has to send the one single WASM module, and I worry that this will not scale well. I would like to serve individual WASM modules for each HTML page.

[2020-03-29 22:51] mankinskin commented on #1060
I have actually gotten it to work somewhat now, by simply splitting the client crate into separate crates and compiling them individually, then serving them through their own HTML page. So basically I simply have multiple Yew apps being served from the same server and linking each other. I think this is fine, although still a bit messy with all of the build system code. But it seems that this is t

[2020-03-30 02:12] DukeFerdinand opened #1061 "Completed my example project with reactive state! Also example contribution question"
#### Background

Hi guys, it's been a bit, but I've got a nice example project up and running!

Here's the repo: https://github.com/DukeFerdinand/yew-reactive-state

It's fairly straightforward, where you store an `Arc` of the global state in a `Store` agent (or whatever you want to call that agent), and use a `Mutable` wrapper from `futures_signals` on the fields you want to be reactive.

From th

[2020-03-30 04:50] mankinskin opened #1062 "How to create nested components with links?"
Hi, I have a nested data structure
[code]
And would like to use it as `Properties` for a view `Component`:
[code]
However it seems that the `ComponentLink`s created with `new()` are not really valid, as they cause a panic in the wasm module.

The root `TreeView` is created like this:
[code]
So that is why the initial link is valid and can be used for callbacks.

How do I create valid `ComponentLin

[2020-03-30 08:20] jstarry commented on #1061
Awesome! Thanks for taking the time to add it as an example!!

Yes, please!

It's not so important as right now we don't enforce consistency across the examples really. As long as the example has a README with instructions on how to setup and run the example, it's fine with me!

You raise a good point! Might need this soon... 🤔

[2020-03-30 08:26] jstarry commented on #1060
Interesting, if you come up with a nice approach for this, I would love to add it to the Yew docs to help other people who want to split up their wasm code. I would imagine that Yew and its dependencies makes up a bulk of the binary size though, is that not the case for your app?

[2020-03-30 08:29] jstarry commented on #1062
Hey @mankinskin, any particular reason you aren't using this approach for nested components? https://yew.rs/docs/concepts/html/components#nested

[2020-03-30 08:36] jstarry commented on #1057
Ok! I'll add that as soon as I can, I think I have a branch laying around still. Tricky part is the scheduler :)

Of course! Yew has very little drama so far, hope it stays that way! It's a lot of fun to work together with the community on things

[2020-03-30 14:02] mankinskin commented on #1062
@jstarry I am not really sure how to apply it here. The `Children` type in Props seems to expect  the child nodes to be already constructed as components, but I wanted to build the root component and its children from a nested `Properties` datasructure. Basically I would like to take a file tree or anything alike as a Rust struct and pass it to a `TreeView` `Component`, which then can render itsel

[2020-03-30 14:10] jstarry commented on #1062
I think you'll want to do something like:

[code]

[2020-03-30 14:20] mankinskin commented on #1062
@jstarry Yes, that is basically what I am doing right now, but the problem with this is that the children are conditionally rendered and also have state associated with them.
[code]
And the result of this is
[code]
When all are expaneded. But the state is not stored for the parents, so it is lost as soon as the children are not being rendered anymore. So I need some way to store child components a

[2020-03-30 14:26] jstarry commented on #1062
I'm not sure I follow what you're trying to achieve. What state is lost?

[2020-03-30 14:28] mankinskin commented on #1062
Each `TreeView` stores an `expanded: bool`, which can be toggled by clicking on it. When the `TreeView` is destroyed this state is lost.

[2020-03-30 14:41] jstarry commented on #1062
Got it, have you considered rendering the full tree in Yew and use CSS to hide/expand nodes?

Otherwise, you're going to have change how you store state. It's not possible to hold onto rendered components and their state within Yew. You'll need to find a way to work with the component lifecycle by storing the state elsewhere (most commonly higher in the tree).

* You could use callbacks that you p

[2020-03-30 14:44] mankinskin commented on #1062
Very much. Thank you!

[2020-03-30 18:03] mankinskin commented on #1062
Nice! Just for the record, this is how I got it working:
The props of each `TreeView` (`TreeData`) store an `update_parent: Option<Callback<Msg>>`. For the root component this is set to `None`. The props are the permanent state, in contrast to the state in the view components, and need to be updated explicitly.

Each parent creates this callback for each of its children when rendering them, so tha

[2020-03-30 18:03] #1062 closed

[2020-03-31 22:29] mankinskin opened #1064 "How to write a generic component"
Hi, how would you go about building a generic component with generic properties in Yew? With generic I mean a component that can render child components dependent on a Rust Type parameter.

I have been creating components by hard-coding them into a `html!`:
[code]
But now I would like to render a component with a type parameter (like `TreeView<T: Component>`, and would like to know how to create t

[2020-04-01 01:30] jstarry commented on #1064
@mankinskin the `<Select<T>>` component uses generics here: https://github.com/yewstack/yew/blob/master/src/components/select.rs

Not the same use-case as yours, but I don't see why it wouldn't be possible. Let me know if you run into issues

[2020-04-01 02:43] mankinskin commented on #1064
`Select<T>` can only render generic types which implement `ToString`, as it renders them as a string. But I would like a way to render generic `T: Component`s in other `Components`.

I have implemented a `StringComponent` to just try and do what I have right now but with a generic component instead of a hard-coded `String`. This is what it looks like:
The `StringComponent`
[code]
The generic `Tree

[2020-04-01 02:48] mankinskin commented on #1064
@jstarry I would like to create a PR for this. If you have any comments on this or ideas of how to implement it, please let me know.

[2020-04-01 09:07] kellytk commented on #1054
It may be unnecessary however I first need to verify something about how agents work:

AgentB, in its `create`, `send`s a message to AgentA. (to subscribe to several notifications)  Is it guaranteed that if AgentA immediately begins `send`ing messages to AgentB that the messages will be enqueued until AgentB's `create` completes and then delivered without loss?

[2020-04-01 13:18] jstarry commented on #1064
@mankinskin sorry that this isn't documented, but what you are describing is already possible: See here: https://github.com/yewstack/yew/blob/master/src/virtual_dom/vcomp.rs#L378

[2020-04-01 21:52] webbrandon commented on #1060
I am on the same boat.  I found the biggest issue being one library per `cargo.toml`.  Webpack config can handle multiple endpoints and outputs.  Perhaps there is some sublib implementations in rust down the road we could use for webassembly \_0_/

[2020-04-02 01:01] mankinskin commented on #1064
@jstarry ah, perfect.
Then the only issue is the `error[E0401]: can't use generic parameters from outer function` because of:
[code]
This might be because the `html!` macro defines some functions using the type expression for the component, but I haven't really looked into it yet.

[2020-04-02 05:26] mankinskin commented on #1064
Simply wonderful. I used [`cargo-expand`](https://github.com/dtolnay/cargo-expand) to see the output of the `html!` proc macro, and simply pasted it in place where I used it. For
[code]
it generated:
[code]
And when trying to build the code with this in place the error shows exactly where the problem is:
[code]
When commenting out the `if false` part, everything works!
Now all that remains is to f

[2020-04-02 05:31] jstarry commented on #1064
Ah dang, yeah I agree with your assessment and that is the reason why the code is there. Hope we can find a nice middle ground though

[2020-04-02 05:35] mankinskin commented on #1064
Yes definitely, I can just make a PR for this for now and we can see if there is a good solution to keep the better compiler error.

[2020-04-02 05:35] #1064 closed

[2020-04-02 05:54] jstarry commented on #1064
Works for me!

[2020-04-03 10:09] mitsuhiko opened #1067 "Mounted but after prop change"
**Is your feature request related to a problem? Please describe.**
I would like to scroll down on an element to the end after each re-render:

[code]

**Describe the solution you'd like**
I would like something like `mounted` so I can access my `NodeRef` but that also fires after re-render (after `changed` indicated props changed). Something like `view_updated`.

[2020-04-03 14:47] jstarry commented on #1067
We will add that very soon actually! You have great timing :)

[2020-04-03 16:17] jstarry commented on #1060
Have you tried using features?

[2020-04-04 00:12] mankinskin commented on #1060
Do you mean me? What features do you mean?

[2020-04-04 06:15] jstarry commented on #1060
@mankinskin, @webbrandon you can use cargo features for each page of your app and keep all of your code in one crate. Here's an example project that I made for the multi-threading example: https://github.com/jstarry/yew/commit/a83a11858b758a029b82bcffdc582b17735b6689

[2020-04-04 11:49] captain-yossarian commented on #1049
@jstarry I'd like to work on it

[2020-04-04 11:50] jstarry commented on #1049
Alright, have fun!

[2020-04-04 12:44] shivshankardayal opened #1073 "Integrating `highlight.js` with CRM eaxmple"
#### Question
How can I integrate with `highlight.js` for syntax highlighting with `pulldown_cmark` in CRM example?

[2020-04-04 12:49] jstarry commented on #1073
Hey @shivshankardayal, good question!

If you're using `stdweb`, JS interop works with the `js!` macro. If you're using `web-sys`, you will want to use `wasm-bindgen`. Please let me know which one :)

Since Yew is similar to React, you can see how highlight.js works with React. See this example: https://github.com/bvaughn/react-highlight.js/blob/master/src/Highlight.js#L20

You will want to call `

[2020-04-04 13:54] captain-yossarian commented on #1049
@jstarry Could you please give me start point?
Like I understand, `html!` macro defined [here](https://github.com/yewstack/yew/blob/master/crates/macro/src/lib.rs#L107), am I right?

Should I treat computable tag name as a tag, or I should  add new type  `HtmlTree::Computable`?

Should parsing logic go [here](https://github.com/yewstack/yew/blob/master/crates/macro/src/html_tree/html_tag/mod.rs)?

[2020-04-04 14:10] webbrandon commented on #1060
No I haven't great idea i will try it out today. Thank you @jstarry .  I will link the code if all is well when complete.

[2020-04-04 14:34] jstarry commented on #1049
Treat it as a tag 👍

Yes 😄

For this stuff, I try to write tests first. If you want to do debug printing, you will have to add a dependency to wasm logger on the yew-macro crate

[2020-04-04 14:52] shivshankardayal commented on #1073
I am still a noob but I will try to do that.

[2020-04-04 16:41] PositronicBrain opened #1074 "How to react to `load` events for images"
I would like to implement some form of progressive loading for images, and I need to react to `load` events that signals when an image has been fully downloaded. Any hints how to do that?

[2020-04-04 17:30] webbrandon opened #1075 "Upload support for web_sys"
**Is your feature request related to a problem? Please describe.**
This is related to updating examples being created for web_sys.

**Describe the solution you'd like**
Upload support for web_sys.  Currently upload support is dedicated to std_web.

**Describe alternatives you've considered**
Working directly with web_sys.

**Additional context**
Example code exist in yew for upload with web_sys bu

[2020-04-04 18:57] mrh0057 commented on #479
@jstarry @deep-gaurav I made some changes to use a hashmap.  I was wondering though if keyed should be Option<String> instead of String on the nodes?
Link to the repo:
https://github.com/mrh0057/yew/tree/keyed_update

[2020-04-04 21:33] mrh0057 commented on #479
I was able to update the code to default to none on nodes without a key attribute.

[2020-04-05 12:07] shivshankardayal commented on #1073
@jstarry How to build `yew` as `cargo` gives a compile time error `'Yew requires selecting either the `web_sys` or `std_web` cargo feature', build.rs:9:9`. How do I select one of these? Documentation is lacking on it.

[2020-04-05 12:11] jstarry commented on #1073
@shivshankardayal check out how to use features here: https://doc.rust-lang.org/cargo/reference/features.html

There are instructions in the examples/README.md here: https://github.com/yewstack/yew/blob/8edf136da6ba1955c847c5860ec55623a27c08e9/examples/README.md#running-the-examples

Here's how you specify in Cargo.toml: https://github.com/yewstack/yew/blob/8edf136da6ba1955c847c5860ec55623a27c08e9

[2020-04-05 12:14] shivshankardayal commented on #1073
@jstarry Thanks a lot. I went through `highlight.js` a bit. First I will integrate it with CRM library then I would try to convert `highlight.js` to a rust library which can be used with something like `pulldown-cmark`.

[2020-04-05 12:17] jstarry commented on #1073
Nice! So you want to add syntax highlighting to static html instead of apply it dynamically in the browser?

[2020-04-05 12:18] shivshankardayal commented on #1073
No I want a Webassembly library of `highlight.js` which can do it in browser.

[2020-04-05 12:19] jstarry commented on #1073
I see, why do you want to rewrite `highlight.js` in Rust? Performance?

[2020-04-05 12:22] shivshankardayal commented on #1073
It is just a purist approach. Also, it will help gain momentum for webassembly.

[2020-04-05 12:23] jstarry commented on #1073
Excellent, looking forward to it 👍

[2020-04-05 22:15] loewenheim opened #1079 "How is the `web_sys/todomvc` example intended to be built?"
#### Question
According to the documentation, `web-sys` rules out `cargo-web`, and `wasm-bindgen` is not recommended, leaving `wasm-pack`. But compiling the example with `wasm-pack` fails:
[code]

#### What I've tried (optional)
Following `wasm-packs` advice and adding the lines to Cargo.toml fixes the problem, but I’m wondering whether they shouldn’t be there by default.

[2020-04-06 00:20] #1075 closed

[2020-04-06 14:39] mankinskin commented on #1060
@jstarry yes this could work, I will also try it out. Thanks

[2020-04-06 21:11] bakape opened #1080 "Bridged Context reach Agents can cause infinite cycle"
**Problem**
Context reach Agent that bridges to another Context reach Agent can cause an infinite cycle into a OOM Runtime Error

**Steps To Reproduce**
1. Create Context reach Agent A.
2. Bridge A in a child Component's of the root Component `create()` method and include the bridge into the child.
3. Create Context reach Agent B.
4. Bridge B in A's `create()` method and include the bridge into it

[2020-04-07 07:02] kulicuu opened #1081 "cargo-web is not compatible with web-sys"
Working with master branch and also checked out recent commits on version 14.3 and 14.2 and I am getting the error that `cargo-web is not compatible with web-sys`.

I have `--force` upgraded cargo-web and am still getting the same error.

[2020-04-07 07:03] jstarry commented on #1081
Yeah, it's not possible. You'll have to choose one or the other, sorry!

[2020-04-07 07:03] #1081 closed

[2020-04-08 16:04] webbrandon opened #1082 "Drag file into element and on drop."
#### Question
Can I get some direction on drag and drop events?  I am trying to create a dropzone for image files and can't seem to pull the image data from `DragEvent`.

#### What I've tried
So far I have taken the example for web_sys file_upload and been able to pull in the `DragEvent` with `ondrop` `Callback` but cannot find the data from the dropped file.  The event structure returned looks li

[2020-04-08 17:51] webbrandon commented on #1082
Wow need to listen to my own head.  Included `Window` struct from web_sys and it magically began to work.  How can I best understand this relationship?

[2020-04-08 18:18] webbrandon commented on #1082
I guess it's not the `ondrop` event triggering the read file but the `onchange` reading the data.  The `ondrop` only allows event stream for changes to be made to existing app ui/data.

[2020-04-13 13:07] teymour-aldridge commented on #954
What's wrong with just using a closure to handle `oninput` changes and trigger an update to the component's state? This is how other popular frameworks (e.g. [React](https://reactjs.org/docs/forms.html)) handle forms.

[2020-04-13 14:31] #201 closed

[2020-04-14 02:34] #954 closed

[2020-04-14 03:55] bryanjswift commented on #935
I'll be honest, I did not understand the outcome of the comments about the using multiple class names. The implementation proposed in #1084 continues using the `IndexSet` in the current `Classes` struct which enforces unique class names.

[2020-04-14 04:05] jstarry commented on #935
@bryanjswift that's fine, this issue was about spaces in class names. We can create a new issue for non-unique classnames if it's really needed

[2020-04-14 04:08] #935 closed

[2020-04-14 14:50] Tehnix commented on #1026
I noticed that #1032 and #1036 got merged and 0.14.3 was released later on, including these commits.

Is it correct that the `yew_functional` crate still needs to be published independently before `use_state`, `use_reducer` and `use_effect` can be used?

[2020-04-14 14:52] jstarry commented on #1026
@Tehnix yes, it hasn't been released yet. But you can use a github link in your `Cargo.toml` file to start trying it out :)

[2020-04-14 14:58] Tehnix commented on #1026
@jstarry ah, didn't know that was possible in Cargo, thanks!

[code]

seems to do the trick :)

[2020-04-16 09:48] teymour-aldridge commented on #758
I think this would be difficult to achieve without some major refactoring of the codebase to remove circular dependencies.

[2020-04-17 12:36] teymour-aldridge commented on #314
There is a link to the examples in the sidebar, do you think this does the trick?

<img width="297" alt="Screenshot 2020-04-17 at 13 36 52" src="https://user-images.githubusercontent.com/42674621/79569884-62e51080-80b0-11ea-8d97-04199aa07e72.png">

[2020-04-17 14:19] teymour-aldridge opened #1086 "Tracking issue for a Yew CLI."
**Is your feature request related to a problem? Please describe.**
When setting up a Yew project there's often some boilerplate code which has to go into loading the wasm binaries into the browser and running them.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I'd like something like `create-react-app` or `preact-cli` or vue's cli interface. Idea

[2020-04-17 14:22] teymour-aldridge commented on #1079
Perhaps open a pull request with this fix? Sometimes the examples get neglected/fall behind.

[2020-04-17 16:06] loewenheim opened #1087 "Example web_sys/file_upload fails to build with wasm-pack"
After fixing two small problems (see https://github.com/yewstack/yew/pull/1088), running `wasm-pack build` in `examples/web_sys/file_upload` results in
[code]
The type of `read_file_by_chunks` was changed in https://github.com/yewstack/yew/commit/d38ce422f9f65f6a69d715d3207279c829d220e3. I haven’t tried to compile it, but the corresponding `std-web` example seems to have the exact same problem. Un

[2020-04-17 18:36] teymour-aldridge commented on #1087
What happens if you wrap `callback` in a `Some`?

[2020-04-17 20:22] loewenheim commented on #1087
That gives me an `Option<Callback<FileChunk>>` instead of a `Callback<Option<FileChunk>>`.

[2020-04-18 08:32] teymour-aldridge commented on #1087
I think the problem is that the closure passed as the `callback` argument takes needs to take a parameter of type `Option<FileChunk>` but currently only takes an parameter of type `FileChunk`.

[2020-04-18 14:07] teymour-aldridge opened #1090 "DevTools extension"
**Is your feature request related to a problem? Please describe.**
React has a browser extension which allows you to debug React applications called React DevTools which integrates into React's DevTools.

**Describe the solution you'd like**
I'd like to be able to install a browser extension and use it to debug applications.
* See a component tree
* See a timeline of updates to different component

[2020-04-19 03:46] jstarry opened #1091 "What has your experience been like using Yew?"
We'd love to hear from all of you about your experience using Yew! If you could spare a few minutes, we have an anonymous survey here: https://yewstack.typeform.com/to/OR5rQG

Thank you!!

[2020-04-19 11:37] jstarry commented on #830
Another thing to consider here is making it easier to hold onto agent bridges and service tasks. Right now, devs need to fill their `Component` with boxed `Task`s and `Bridge`s.

[2020-04-19 15:42] #1082 closed

[2020-04-20 16:29] PositronicBrain opened #1099 "window does not scroll on top when switching routes"
I am not sure if it is on purpose, but right now when routes are switched the scrollbar is not reset to the (0,0) position. What is a suitable workaround?

[2020-04-21 09:32] jstarry opened #1115 "Incorrect change implementation for functional components"
**Problem**
https://github.com/yewstack/yew/blob/fa8a1d9f007b00c02a3e3edabbb6d87fad9dc58c/yew-functional/src/lib.rs#L58-L62

Functional components only re-render if the new props are the same. They should re-render when the props are different!

@ZainlessBrombie

[2020-04-21 13:41] OscarRL commented on #473
Actually we have few cross-platform libraries like React/React Native, IONIC/Angular. They are really nice but these libraries have their cons that are hard to solve.

First, JS-based frameworks makes it hard to scale to large code bases and have less performance than Rust. TypeScript/Flow are nice but they fail in the practice because the type system is not present at runtime that sometimes leads

[2020-04-21 22:36] ZainlessBrombie commented on #1115
Oh dear

[2020-04-22 03:20] #1115 closed

[2020-04-22 03:23] jstarry opened #1117 "Update pulldown-cmark dependency for CRM example"
#### Description
Dependabot tried to update `pulldown-cmark` for the crm example but it failed due to breaking changes in the API. Context: https://github.com/yewstack/yew/pull/1112

#### Proposed Fix
Update the CRM example to use the latest API

[2020-04-22 04:14] digitalozon opened #1118 "Agnostic Layouts"
#### Question
Is it possible to create a component ( in my case layout ) with children, but without any dependency, and still be able to update children's properties from the topmost ( parent of the layout  ) component?

ChildrenWithProps doesn't really help because you have to specify children's types and even their properties when you want to update. For example:

[code]

The issue here is that

[2020-04-22 06:50] jstarry commented on #1118
In the `AuthLayout`, you need to make sure to update `props.children` in the `change` method.

[2020-04-22 13:53] kellpossible commented on #599
just out of interest, what is the smallest binary size someone has managed to achieve with Yew (even a simple hello world)?

[2020-04-22 15:09] icyJoseph commented on #533
Since this PR's title is brainstorming. I'll throw in my 5 cents with Components as a way to hide style implementation details.

Libraries like Styled Components enable developers to _bind_ style at a Component level, which leads to the removal of the **class to node** mapping. It also enforces more declarative `JSX` over boolean controls, when done correctly.

In JS, template literals give the ab

[2020-04-22 16:39] jstarry commented on #599
@kellpossible not yet! I'd love to start tracking that!

[2020-04-22 18:38] derekdreery commented on #533
@icyJoseph this sounds good. It would be nice to typecheck the styles at compiletime then generate the appropriate string templates for use at runtime.

[2020-04-23 00:43] #1117 closed

[2020-04-23 12:11] lukerandall commented on #932
@jstarry I believe this is resolved by #999

[2020-04-23 12:12] jstarry commented on #932
Ah yup, thanks!

[2020-04-23 12:12] #932 closed

[2020-04-23 12:59] lukerandall commented on #479
@jstarry I believe this is closed by #1076

[2020-04-23 13:46] jstarry commented on #1087
This has been fixed here: https://github.com/yewstack/yew/pull/1092

[2020-04-23 13:46] #1087 closed

[2020-04-23 13:50] #1097 closed

[2020-04-23 13:50] #1106 closed

[2020-04-23 14:02] jstarry commented on #479
Yes it is, thanks!

[2020-04-23 14:02] #479 closed

[2020-04-23 14:11] hgzimmerman commented on #1099
This isn't a concern with the router itself.

The probable solution would be to have a `Scrollable` component that you reset to the top when you detect a route change. I think that such a component would be a welcome addition to the router project should someone want to contribute one.

[2020-04-23 14:18] jstarry commented on #1039
I believe this could be solved by turning `Callback` into an enum which has a variant for the current behavior and a variant for `FnOnce`

[2020-04-23 14:20] jstarry commented on #1055
Closing due to this not being a Yew bug

[2020-04-23 14:20] #1055 closed

[2020-04-23 14:24] jstarry opened #1121 "Yew (worker) agents are not webpack friendly when using web-sys"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1121)

**Problem**
Yew starts workers by making a fake script, setting its source, and trying to call wasm_bindgen on it, which doesn't work in the scope of webpack.

#### Potential Solution
[code]

Context: https://github.com/yewstack/yew/issues/1046

[2020-04-23 14:27] jstarry opened #1122 "Private agents don't implement Threaded"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1122)

#### Problem
Lacking the following implementation:
[code]

#### Implementation Tips
* Implementing `Threaded` is a good first step.
* Handler id's aren't relevant here (same as Job) and so we have the SINGLETON_ID for this reason.
*The message

[2020-04-23 14:27] jstarry commented on #1046
Created a new issue to track this: https://github.com/yewstack/yew/issues/1122

[2020-04-23 14:27] #1046 closed

[2020-04-23 14:48] jstarry commented on #1004
marking as blocked because there's no known alternative approach that makes this better without a syntax change to `html!`

[2020-04-23 15:14] hgzimmerman commented on #1098
If I recall correctly, the general pattern used is that the macro captures the route strings from attributes and passes them to the yew_router_route_parser's parser, which then generates tokens.

These tokens are then consumed at runtime to build the datastructures that actually handle matching routes.
The yew_router_route_parser lib is used by both the router for its tokens and the macro for its

[2020-04-23 20:41] jplatte commented on #1098
Is this something you would like to move towards in the future?

[2020-04-23 23:04] lukerandall commented on #1039
@jstarry As suggested, I had a stab at this but ran into problems. Given the following enum:

[code]

This won't compile:

[code]

I don't see how we can both implement `Clone` and  have a working `emit` with the enum approach. At the same time, my experience with Rust can be measured in hours, so it's quite possible I'm missing the obvious here. Any thoughts?

[2020-04-24 04:49] joaquindk commented on #664
@jstarry @captain-yossarian Is this still an issue after #960 being merged?

[2020-04-24 06:10] joaquindk commented on #946
I've started to look into this issue and wanted your input on how to solve this. Would we have to replicate the same model used for public agents where they're stored inside an agent pool as we have on https://github.com/yewstack/yew/blob/5491bf99ccb1970da6a6dc3fbc6647604e7a9b62/yew/src/agent.rs#L575 ?

[2020-04-24 08:19] jstarry commented on #664
Nope it's fixed. thanks

[2020-04-24 08:19] #664 closed

[2020-04-24 08:22] jstarry commented on #1039
@lukerandall thanks for taking this on! It's not obvious but there is a way to handle this by option wrapping. What you can do is `take` out the `FnOnce` from the `Option` and call it. If someone tries to call a `CallbackOnce` twice, we can panic because there's nothing left in the option.

You will need interior mutability so the type will end up being `CallbackOnce(Rc<RefCell<Option<dyn FnOnce(I

[2020-04-24 14:11] hgzimmerman commented on #1098
Actually I misspoke. I'm entirely wrong about the section you quoted.

The parser is absolutely needed by the main yew_router crate, as it does the heavy lifting for actually parsing strings from URL paths.

You do absolutely have a point about the macro needing the parser crate as a dependency. That shouldn't be needed.

I did an incomplete look around the project and saw that the macro crate mos

[2020-04-24 14:53] jplatte commented on #1098
Cool. Is the "dissolving" of the parser crate something you'd like to do yourself? If not, I could look into it, but I'm currently relatively busy with other projects, so can't say when I would get to it.

[2020-04-24 18:03] rlasjunies opened #1126 "How to use Touch events"
#### Question
I'am trying to use the Touch event without success. I succeeded to listen to the event but I am not able to use it. To be more precise I receive a reference and I do not know how to retrieve the X, Y inside this ref.

It works fine for event like mouse over:
[code]
But I do not know how I can extract / retrieve the information from the reference in the case of the TouchStart evt.
[co

[2020-04-25 04:52] joaquindk commented on #906
@jstarry I started working on this issue and immediately noticed that Callback is already implementing `PatialEq` and using `Rc::ptr_eq` to compare a set of callbacks. I would expect this to already be sufficient to distinguish between different callbacks and don't fully understand how adding an ID to `Callback` could help here.

I'm just getting started looking into Yew so perhaps I'm missing out

[2020-04-25 05:41] jstarry commented on #1091
Results: https://github.com/yewstack/yew/wiki/Dev-Survey-%5BSpring-2020%5D

[2020-04-25 05:41] #1091 closed

[2020-04-25 07:24] jstarry commented on #906
@joaquindk oh! I assumed it wasn't implemented because of the issue. I agree that the current implementation should be sufficient.

The other issue that @mdtusz brought up is here: https://github.com/yewstack/yew/issues/943

[2020-04-25 07:24] #906 closed

[2020-04-25 07:26] #1039 closed

[2020-04-25 07:30] joaquindk commented on #906
Thanks for your response @jstarry. I’ll give #943 a go then ☺️

[2020-04-25 07:50] jstarry opened #1127 "[Agents] Components cannot receive initial state when connecting to non-worker agents"
**Is your feature request related to a problem? Please describe.**
Non-worker agents cannot respond to a connection directly

**Describe the solution you'd like**
New trait for synchronous non-worker Agents which allows agents to respond immediately when it's connected to.

[2020-04-25 08:43] jstarry opened #1128 "Add the ability to walk up the component tree"
**Is your feature request related to a problem? Please describe.**
It's not possible for components to inspect their component ancestors. They may wish to do so fetch information from wrapping higher order components.

**Describe the solution you'd like**
Add parent scope reference to each component scope

**Additional context**
This unblocks: https://github.com/yewstack/yew/issues/1057

[2020-04-25 08:53] jstarry opened #1129 "Write up issues needed for Hooks API"
We should organize the remaining work for functional components + hooks api so that the community can easily track progress! They should all be added to this project: https://github.com/yewstack/yew/projects/3

- [x] Document how to use Functional Components on https://yew.rs/docs
- [x] Document how to write a custom hook
- #2072
- #1642
- [ ] Review API ergonomics of writing functional components

[2020-04-25 09:00] #1067 closed

[2020-04-25 09:39] jstarry commented on #1126
@rlasjunies hey there! 👋

First, there is no need to modify cargo features to use events so you can remove the `"TouchEvent"` feature 👍

As to your issue, it looks like you will need to import the [`ITouchEvent`](https://docs.rs/stdweb/0.4.20/stdweb/web/event/trait.ITouchEvent.html) trait from stdweb in your code. Then you can call `event.touches()`

[2020-04-25 09:49] jstarry commented on #946
Nope, no need because private agents are only connected to from a single client and so there's a one to one mapping from client to agent and only a single bridge involved. Public agents can be connected to from multiple clients at the same time and so `REMOTE_AGENTS_POOL` is a mechanism for clients to discover an already existing agent when creating additional bridges.

The key part for this issue

[2020-04-25 10:16] ZainlessBrombie commented on #1129
This would not work with custom hooks which are not macros :thinking:

[2020-04-25 10:16] jstarry commented on #1129
Yeah, that's why I added this:

[2020-04-25 10:17] jstarry commented on #1129
Also, I was thinking we could support non-macro custom hooks as long as they use unique static ids when called.

[2020-04-25 10:19] jstarry commented on #1129
Maybe we can leave that for hooks 2.0

[2020-04-25 10:21] ZainlessBrombie commented on #1129
Good idea.

Ah right would have been my next question: How do you suggest this would work? I honestly have not had a deep look at macros yet

[2020-04-25 10:22] jstarry commented on #1129
Yeah, we could create a proc macro that helps devs write their own hooks 👍

[2020-04-25 10:39] ZainlessBrombie commented on #1129
So I'm guessing something along the lines of

[code]
(Again, not sure how much of that is syntactically correct, my IDE does not like `(friend_id: String)` )

use_node_ref?

[2020-04-25 10:51] jstarry commented on #1129
Might actually be done with a derive proc macro:
[code]

I was hoping we could use `use_ref` (I don't mind if we have to do a breaking change)

[2020-04-25 10:52] ZainlessBrombie commented on #1129
use_ref is actually used for more than node refs so I'm not sure what to change yet :)

[2020-04-25 10:54] jstarry commented on #1129
Yeah, agreed!

[2020-04-25 11:19] jstarry opened #1134 "[Docs] Update crate docs to differentiate `yew` and `yew-stdweb`"
#### Description
`yew` and `yew-stdweb` generate the same docs.rs documentation because `yew-stdweb` is an alias of `yew` (with different features selected by default).

#### Expected Results

https://docs.rs/yew/0.15.0/yew/#supported-targets
- `yew` should only render `wasm32-unknown-unknown` as a supported target
- `yew-stdweb` should render `wasm32-unknown-unknown` and emscripten targets

https

[2020-04-25 13:22] joaquindk commented on #946
Thanks for the tip, @jstarry. In that case I'd need to add an ID to the private bridge, given that it currently has no ID and the `Disconnected` message has an ID attached to it.

To make things simple, given the 1:1 relation, would it be ok to just send an arbitrary ID like `0` or would I have to use something like a state counter to guarantee that the ID is unique always?

[2020-04-25 13:49] jstarry commented on #946
0 is fine! I guess that's probably why `Connected` and `Disconnected` were never implemented 😝

Speaking of which, while you're at it can you fix: https://github.com/yewstack/yew/issues/948? It's very related

[2020-04-25 13:50] jstarry commented on #946
@joaquindk oh we already have this actually, `SINGLETON_ID`

[2020-04-25 13:52] joaquindk commented on #946
Perfect, I’ll also take care of #948 in that case ☺️

[2020-04-25 15:19] rlasjunies commented on #1126
@jstarry  👍
Perfect, that was the trick
Just added te line below in the code and it works as expected.
[code]
I close the issue

Thanks

PS: the doc is may be confusing should not we remove the sentence?
![image](https://user-images.githubusercontent.com/1439791/80283560-b4c51080-8718-11ea-996e-65e5960174e3.png)
If yes, guide me and I will do.

[2020-04-25 15:19] #1126 closed

[2020-04-25 15:30] jstarry commented on #1126
Ah the problem is that Yew re exports the types from `web-sys`. We should fix that. Can you file an issue to stop exporting those types?

[2020-04-25 16:04] liquidblock commented on #1038
Since `Option<T>` implements `IntoIterator<Item=T>` (https://doc.rust-lang.org/std/option/enum.Option.html#impl-IntoIterator-1), you can alternatively write the following code:
[code]
Yew supports iterators of `VNode`s, see https://yew.rs/docs/concepts/html/lists#iterators **Syntax Type 2**.

I was always using
[code]
but i am going to use the `for`-syntax together with `Option<VNode>` in the futu

[2020-04-25 16:59] jstarry commented on #990
Agreed that we should at the very least not allow void elements to have children. We can compile time check this with the proc macro

[2020-04-25 17:03] jstarry commented on #936
@liquidblock that workaround sounds promising! Is that something you're interested in tackling?

[2020-04-25 17:09] jstarry commented on #909
Obsolete by new rendered method

[2020-04-25 17:09] #909 closed

[2020-04-25 19:38] JamesPatrickGill commented on #533
Similar to @icyJoseph I'm just throwing my ideas at the wall here, but as a web developer my experience is that developers are embracing tools such as styled components as it means everything is "just JS" - meaning one can handle dynamic prop based styles intuitively whilst the clear component scoping reduces the classic "why has my div flew half down the screen I only want the title to be red".

[2020-04-26 07:55] rlasjunies commented on #1126
Looking the issue #1134 I think you already made it.

Stay safe!

Le sam. 25 avr. 2020 à 17:30, Justin Starry <notifications@github.com> a
écrit :

--
Richard Lasjunies

[2020-04-26 12:04] kellpossible opened #1138 "Update yew-router warp server example to use warp 0.2"
Currently the `yew-router` server example for warp is at for `warp` 0.1

It would be nice to update this example to use `warp` 0.2

[2020-04-26 13:37] L117 opened #1139 "Beginner-level guide for using Yew with `wasm-pack` and `webpack`."
**Is your feature request related to a problem? Please describe.**
The problem is that someone (like me) unfamiliar with web front-end tooling can't easily get started with Yew, especially while trying to follow the preferred way (`webpack` + `wasm-pack` instead of `cargo-web`).

**Describe the solution you'd like**
It would be nice to have a beginner-level guide, describing basics of Yew-only (I.

[2020-04-26 15:46] jstarry commented on #1139
Hey @L117 thanks for the issue! This is what we intend for https://github.com/yewstack/yew-wasm-pack-template but ultimately the yew docs should explain this very clearly.

[2020-04-26 16:31] jstarry commented on #1126
@rlasjunies that is actually a separate issue 😄

[2020-04-26 16:50] JamesPatrickGill opened #1141 "Yew-router hangs my browser with simple configuration"
#### Question
I am trying to get a simple router working right now, but my browser hangs using the following code,

[code]

Im just wondering what i am missing?

[2020-04-26 16:54] jstarry commented on #1141
Bug in the latest yew-router. Will be fixed soon!

[2020-04-26 16:54] rlasjunies opened #1142 "Fix documentation: stop re exporting web-sys / stdweb types"
**Problem**
Documentation of stdweb could be confusing. Looking the below documentation we may understand that we need to import the feature "TouchEvent"

![image](https://user-images.githubusercontent.com/1439791/80313989-d1cc1300-87ee-11ea-854f-74ececf3ba63.png)

Quick feedback in #1126 from @jstarry :
"...
the problem is that Yew re exports the types from web-sys. ... we need to stop exporting

[2020-04-26 16:57] JamesPatrickGill commented on #1141
Thanks for the quick reply! So just checking only way to get working right now is to revert to 0.14.x ?

[2020-04-26 17:56] L117 commented on #1139
@jstarry I finally figured out what happens in that example. Actually it helped a lot to strip it down. Most confusing parts were (As Q/A for future viewers):
- What is Netlify and is it required?
  - No, it is not. The `netlify` directory can be safely removed.
- How module structure is different from ordinary bin/lib crate?
  - It's exactly the same as in any other lib crate, `app.rs` is just a

[2020-04-26 23:48] liquidblock commented on #936
I was looking into it and i had something that worked to some extend, but I also run into some problems.
Maybe at least adding `Option<T> where T: AsRef<str>` would be a possibility, see https://github.com/yewstack/yew/pull/1085#discussion_r415421571.

I am not so sure if specialization (even with the workaround) does the trick for allowing both `Option<T>` and `T` where `T: AsRef<str>` respective

[2020-04-27 00:41] lucasholder opened #1143 "The examples link in the README is broken"
It links to https://github.com/yewstack/yew/tree/v0.15.0/examples which is a 404

[2020-04-27 02:39] jstarry commented on #1143
Thanks @lucasholder! I forgot to push the v0.15.0 branch, the link works now :)

[2020-04-27 02:39] #1143 closed

[2020-04-27 03:55] hgzimmerman commented on #1141
v0.12.1 has been released and should resolve this issue.

[2020-04-27 07:03] #946 closed

[2020-04-27 07:03] #948 closed

[2020-04-27 08:02] #1141 closed

[2020-04-27 08:59] #1142 closed

[2020-04-27 13:42] kellpossible opened #1150 "yew-router could not deserialize state string when state is () when pressing back in browser"
**Problem**
I'm using yew-router with a STATE = (), and when I click back in the browser history I get this error message in my console log:

[code]

**Steps To Reproduce**
Happy to produce a minimal example if required.
I'm getting this problem with this version of the project I'm working on https://github.com/kellpossible/coster/tree/b3166d34cdafc88c40bfd2407be781fe991ca818

1. It just requires

[2020-04-27 14:10] jstarry commented on #1057
@ZainlessBrombie I just created #1151 which should unblock context hooks!

[2020-04-27 14:58] jstarry commented on #795
@Follpvosten I just created a "Github Project" to help organize efforts here: https://github.com/yewstack/yew/projects/4

Here are some ideas:

1. We could start off by sprucing up the Yew examples as you suggested to use `yew-mdc`. Then, when some needed components don't exist, contributors can create and fix issues on `yew-mdc`.

2. It would be great to continue development with `yewstrap`. @gmo

[2020-04-27 15:00] jstarry commented on #1016
@ZainlessBrombie where did you leave off with example updates? I think we could leverage some community component libraries to help with this effort

[2020-04-27 15:01] tommket commented on #1139
I also spent an entire day figuring out how to make Yew work with web-sys and wasm-pack.
The parts that were most confusing to me as a beginner (feel free to reuse them in a documentation):

 - there has to be a function in lib.rs that looks like:
[code]
especially to make the examples work, I understand that they have to be able to compile with the stdweb too, so this cannot be in the sources, bu

[2020-04-27 15:19] tommket commented on #1139
https://github.com/yewstack/yew/issues/1139#issuecomment-619594999 - This list is also very Documentation FAQ worthy.

[2020-04-27 15:54] jstarry opened #1153 "[SSR] Refactor Component rendering"
#### Problem
It's not possible to get an html string representation of a component virtual node

#### How Yew creates component virtual nodes
1. `html! { <MyComponent /> }` creates a `VChild` [here](https://github.com/yewstack/yew/blob/v0.15.0/yew-macro/src/html_tree/html_component.rs#L170)
2. The `VChild` is transformed into a `VNode` [here](https://github.com/yewstack/yew/blob/v0.15.0/yew-macro/

[2020-04-27 15:55] jstarry opened #1154 "[SSR] Add and implement `ToHtmlString` trait for all virtual dom nodes"
**Is your feature request related to a problem? Please describe.**
There is no way to convert yew virtual dom nodes (VNode variants) into html strings for use in server side rendering or static site generation

**Describe the solution you'd like**
Add and implement `ToHtmlString` trait for all virtual dom nodes

**Additional context**
Prior work: https://github.com/yewstack/yew/pull/874

[2020-04-27 15:58] jstarry opened #1155 "[SSR] Add "ssr" cargo feature which allows building Yew for the server"
**Is your feature request related to a problem? Please describe.**
Yew currently requires targeting wasm and needs either `web-sys` or `stdweb` to access browser APIs. For server-side rendering, we want to target other platforms and we don't want to bundle `web-sys` or `stdweb`

**Describe the solution you'd like**
- Add "ssr" feature
- Add "browser" feature which enables yew modules which leverag

[2020-04-27 18:00] hgzimmerman commented on #1150
This is an implementation oversight that I made and haven't gotten around to fixing. Its because serde can't deserialize a string into `()`. Instead, an `Empty` or `Empty{}` struct could be created to be used instead of `()`, which should be able to be deserialized from "{}".
There might be some edge cases for this - like if it would properly deserialize an empty string as well. The `Empty` struct

[2020-04-27 18:02] jstarry opened #1157 "Add cargo bloat action to track binary size"
https://github.com/orf/cargo-bloat-action

[2020-04-27 19:34] dancespiele opened #1158 "too much recursion in click event"
**Problem**

When I toggle a button to show and after hide a menu I get an error `too much recursion` in the hide action, this issue I cannot reproduce in the previous version.
I don't know if the issue happens because for hiding  elements from the dom or because the event click happens in a child of a component that in the same time is also the child of another component

error in firefox: `to mu

[2020-04-27 20:14] ZainlessBrombie commented on #1016
I honestly did not continue after updating this and focused on the hooks API. I have not forgotten about it though, I'm just pretty booked right now :)

[2020-04-27 22:53] dancespiele commented on #1158
the issue should be in this commit https://github.com/yewstack/yew/commit/a91e7f651253382ac9abafb5ca2e0e0df669cd2c because I tried restore this commit https://github.com/yewstack/yew/commit/d7993688944e0edde03b8a8e3bab1e2bc0705bea and doesn't cause the error

[2020-04-28 07:42] fanux opened #1159 "How to use UIKit?"
[code]
[code]

[2020-04-28 07:53] jstarry commented on #1159
@fanux thanks for this question. The parser should give a better error here. The issue is that you are using `uk-accordian` like a property but there is no value.

Did you intend to do:
[code]

Or did you intend to do:
[code]

[2020-04-28 07:57] fanux commented on #1159
It works thanks

[2020-04-28 07:57] #1159 closed

[2020-04-28 08:57] PG-kura opened #1160 "Html from String"
I'm sorry if the question is already there.

`html!` macro is great. But is there any way to create yew::html::Html from `String`?
I want to return an SVG from `view()` function, but the SVG was given as String from other crate.

[2020-04-28 09:15] ZainlessBrombie commented on #1160
Since you are sure your svg is safe (make sure it really is) you could set innerHtml via a noderef.
This would, of course, interact with the diffing algorithm (which makes sure the DOM html corresponds to the one yew has internally) so you should make sure view() is called only once (by returning false from change()

[2020-04-28 09:17] teymour-aldridge commented on #1053
@jstarry I think this issue has been resolved.

[2020-04-28 10:07] fbucek opened #1162 "not possible to run examples"
**Problem**
Not possible to run examples .
Missing doc how to run them.

Examples looks they are prepared for both `wasm-bindgen` and `wasm-pack` but I think it cannot be mixed together.

**wasm-pack** needs this and must have main method defined within `lib.rs`
[code]

lib.rs
[code]
**wasm-bindgen** needs `main.rs` and must not have `crate-type = ["cdylib", "rlib"]` in `Cargo.toml`

**Environment

[2020-04-28 10:13] jstarry commented on #1162
Cool, yeah I think someone recently went through and added
[code]
for `wasm-pack` support because `wasm-pack` runs crates as libs. Which honestly isn't my favorite approach. Patiently waiting for this to get fixed in https://github.com/rustwasm/wasm-pack/pull/736 :)

I prefer using `wasm-bindgen` because it supports binary crates, @fbucek thoughts?

[2020-04-28 10:31] fbucek commented on #1162
@jstarry I have learning repo where I have silly sort <table> implementation. There are two examples. One prepared for wasm-bindgen and second for wasm-pack, both using same index.html in `static` folder.

Both examples produces "same" results.

https://github.com/fbucek/yewbulma/tree/feat/table/examples

[2020-04-28 12:32] jstarry commented on #1053
Sounds good, glad you solved the issue @BafDyce! In the future we will likely change `FetchService` or remove it because it is quite difficult to use right now

[2020-04-28 12:32] #1053 closed

[2020-04-28 12:33] #1128 closed

[2020-04-28 12:51] jstarry opened #1164 "NodeRef can get linked to itself"
**Problem**
When setting a ref on a component...
[code]
The `ref` will be set to the root DOM element that `Child` renders. But then when `Parent` re-renders, Yew will update `Child` with new props by calling `change()` and link `ref` to previous `ref`... which is still the same `ref` from `Parent`: `this.props.my_ref`. This causes a cycle where if `NodeRef` never gets set to a DOM element, Yew wi

[2020-04-28 12:52] jstarry commented on #1158
Here's one of the bugs causing this issue: https://github.com/yewstack/yew/issues/1164

[2020-04-28 12:56] jstarry commented on #1016
@ZainlessBrombie no worries! take your time :)

[2020-04-28 13:04] hgzimmerman commented on #1162
Whoops, I assume that's my bad. I've recently ported tests from using `std_web/``cargo-web` to use `wasm-pack` for the router's test suite and didn't know about a conflict with `wasm-bindgen`. I'm inclined to defer to using `wasm-bindgen` instead if everything else is set up to use that.

[2020-04-28 13:05] #1138 closed

[2020-04-28 13:07] jstarry commented on #1162
No, not your bad @hgzimmerman. `web-sys` examples have been busted since we added support ofr it (just more noticeable that it's just web-sys examples now in the root examples dir)

[2020-04-28 13:31] jstarry commented on #1158
There is another issue that is related to the ordering of the yew scheduler that I haven't quite figured out yet

[2020-04-29 00:59] #936 closed

[2020-04-29 09:02] Stigjb opened #1166 "Yewtil: future should not depend on stdweb"
**Is your feature request related to a problem? Please describe.**

The implementation of `LinkFuture` in `yewtil::future` uses `stdweb::spawn_local`. It shouldn't be necessary to depend on stdweb to use the `LinkFuture` trait in a project with `web-sys`.

**Describe the solution you'd like**

There is a `spawn_local` function in `wasm-bindgen-futures` which would perhaps work for both environment

[2020-04-29 14:38] PG-kura commented on #1160
Thanks for your reply. It got work!

Here is implementation of `view()` funtion I wrote. (Using web_sys).
[code]

[2020-04-29 14:38] #1160 closed

[2020-04-29 14:57] #1162 closed

[2020-04-29 15:26] #1166 closed

[2020-04-29 16:12] Ben-PH opened #1168 "Enable the use of ergonomic rust idioms to construct JSX through macro expansion."
**Is your feature request related to a problem? Please describe.**
JSX syntax is, in my opinion, not an ideal form to write a markup specification, particularly in the context of a .rs file - it introduces rust rules to a non-rust syntax. For example, `rustfmt` does not recognize the following for correction:
[code]
Note: The above example was a result of auto-indentation by my IDE.

Ideally, the

[2020-04-29 16:21] webbrandon opened #1169 "Extracting metadata for images on ChangeData event?"
#### Question
Is there a way I can get an images size/format (eg width x height/ png or jpeg from first buffer segment ) when `ChangeData` event occurs from `web_sys` or `wasm_bindgen` structs?

#### What I've tried
Currently I am thinking of trying ~from_serde~ [into_serde](https://docs.rs/wasm-bindgen/0.2.60/wasm_bindgen/struct.JsValue.html) from wasm-bindgen as it may be available but need to r

[2020-04-30 02:11] fanux commented on #771
I think the default example should using #

[2020-04-30 03:12] fanux commented on #771
I still 404 after click browser refresh ...
[code]
[code]
[code]

[2020-04-30 15:08] Stigjb commented on #1134
I've looked a little into this, and from what I've read, `#[cfg(...)]` and `#[doc ...]` attributes apply to whole units of compilation. It's more than possible that I have missed something, though, I'm still a novice with Rust. Does anyone know of a project that modifies one or more parts of a doc comment based on features?

[2020-04-30 15:27] Stigjb commented on #1134
Never mind, i discovered `cfg_attr`!

[code]

This works as expected. I can do some work on this issue

[2020-05-01 11:50] jstarry opened #1172 "Server projects prevent building workspace for wasm"
**Problem**
The server examples bring in wasm incompatible dependencies

**Proposed Changes**
Move server examples to separate workspace (similar to how `yew-stdweb` has its own workspace for itself and its examples)

[2020-05-01 11:54] jstarry commented on #1172
This is actually caused by `./examples/server` as well, so not specifically a yew-router issue

[2020-05-01 12:15] #1172 closed

[2020-05-02 08:34] domdir opened #1175 "query string in worker URL"
**Problem**
When trying to create a worker agent on a document location that has a non empty query string, the query string is included in the resource URL of the worker. This leads to a resource URL that cannot be found.

**Steps To Reproduce**

1. Go to a page that spawns a worker
2. Add some query string and reload the page
3. Worker resource URL cannot be found

**Expected behavior**
Query str

[2020-05-02 11:17] teymour-aldridge commented on #1168
I think this would be cool!

[2020-05-02 13:24] emmanuelantony2000 commented on #533
What if we use something like Rust structs and enums, something like:

    style = Style {
        BackgroundColour(Colour::Black),
        Colour(Colour::RGB(140,140,140),
        .. Style::default()
    }

Rather than going for parsing or macros, I feel this might be better.

[2020-05-02 16:53] djahandarie opened #1178 "Allow `Option`s in html! class."
Right now I need to write code like this:
[code]

It'd be nice if I could just directly write
[code]
As well as the tuple version: `class=((Some(thing), thing.new.as_some("new"))`.

[2020-05-02 16:59] jstarry commented on #1178
https://github.com/yewstack/yew/pull/1085 ;)

[2020-05-02 17:22] djahandarie commented on #1178
I've never had negative time-to-implementation on a feature request before. :laughing: Amazing.

Sorry for the noise and thank you!

[2020-05-02 17:22] #1178 closed

[2020-05-03 02:28] L117 commented on #1139
[`VNode`]: https://docs.rs/yew/0.15.0/yew/virtual_dom/enum.VNode.html
[`Html`]: https://docs.rs/yew/0.15.0/yew/html/type.Html.html
[`CRM Example`]: https://github.com/yewstack/yew/tree/master/examples/crm
[`ComponentLink`]: https://docs.rs/yew/0.15.0/yew/html/type.ComponentLink.html
[`Callback`]: https://docs.rs/yew/0.15.0/yew/callback/enum.Callback.html
[`services`]: https://docs.rs/yew/0.15.0/ye

[2020-05-03 07:17] jstarry opened #1179 "[yew-macro] Improve error message when props do not have values"
**Problem**
https://files.gitter.im/yewframework/Lobby/dELA/image.png

#### Proposed Changes
Instead of "unexpected token" it should say "this prop doesn't have a value"

[2020-05-03 13:49] jstarry opened #1182 "yew-macro: Do not allow void elements to have children"
**Problem**
[Void elements](https://html.spec.whatwg.org/multipage/syntax.html#void-elements) (`<input>`, `<br>`, etc) cannot have children but the yew macro allows them to.

**Proposed Solution**
Blacklist void elements from having children. This should be checked at compile time with the procedural macro (yew-macro) and output a nice error message when this happens.

[2020-05-03 13:55] strwrite commented on #533
I like the way material UI supported styles (it's CSS framework for react):
https://material-ui.com/styles/basics/

They are using type definitions for css properties from https://github.com/frenic/csstype (it's for typescript) and use it in functions like createStyles, where user defines named classes (similar to css classes) and then can use those named classes later in tsx template.

They also

[2020-05-03 14:43] jstarry opened #1183 "[yewtil] The `dsl` module is unmaintained"
**Problem**
There was once an effort to produce an alternative to writing layouts in JSX with the `html!` macro. That effort has stalled but there are still people who would prefer using it over JSX according to the latest dev survey (["What do you feel are Yew's weaknesses?"](https://github.com/yewstack/yew/wiki/Dev-Survey-%5BSpring-2020%5D#what-do-you-feel-are-yews-weaknesses).

**Proposed Steps

[2020-05-03 15:06] jstarry commented on #795
Should also note that https://github.com/yewstack/yewtify is in development now

[2020-05-03 20:55] totorigolo commented on #870
Hi! I am currently playing with yew-router, and had the same warnings. @jstarry, here are a few links to the code to answer your question:

When the route changes, `RouteAgent` informs all its subscribers:
https://github.com/yewstack/yew/blob/e4a609f6a0d8448030e661aba04629606cefb065/yew-router/src/agent/mod.rs#L140-L142

`yew-router`'s buttons have `RouteAgentDispatcher`:
https://github.com/yewsta

[2020-05-04 00:54] pickfire commented on #1026
Should we look into the composition API provided in vue 3? It is a bit similar to Hooks API in react.

[2020-05-04 02:13] jstarry commented on #1026
Yes, I think we should. I think some of their API design choices are more easy to understand than React's. Thanks for the recommendation

[2020-05-04 12:10] mkawalec commented on #576
Something I would personally prefer would be a Redux model, with subscriptions to individual properties and a global state that components can lens into depending on their individual needs. Actors could be a crude approximation, but they are very manual and crucially do not allow for passing `JsValue`s between components and actors because of the serialization step.

https://github.com/yewstack/ye

[2020-05-04 15:59] jstarry commented on #576
Awesome! Can't wait to see it!

Btw I think we should definitely make the non-worker agents skip serialization

[2020-05-05 04:55] pythoneer commented on #576
@mkawalec idk if you are aware but druid (GUI Framework) has a feature that goes in that direction, maybe its worth a look
https://xi-editor.io/druid/lens.html
https://docs.rs/druid/0.5.0/druid/trait.Lens.html
https://docs.rs/druid/0.5.0/druid/struct.LensWrap.html

[2020-05-06 08:12] kellpossible commented on #830
@trivigy I'm doing this in the application I'm currently working on, modifying a property inside `Props` in the `create()` method (and applying this modification again in the `change()` method). I'm going to assume it should be possible to work around this by cloning this property into the model like @hgzimmerman suggests and making changes to it there.

[2020-05-06 08:37] jstarry opened #1190 "Allow fetching with FormData using FetchService"
#### Problem
FetchService can only be used to fetch with text / binary data in the request body. It should also support other body types like FormData

[2020-05-06 11:16] kellpossible commented on #576
@jstarry is there an issue for that yet?

[2020-05-06 11:47] jstarry commented on #576
Not yet!

[2020-05-07 15:57] mcobzarenco commented on #1079
Are there any examples that work with `wasm-pack` -- I have gone through many and I'm getting the same message as @loewenheim

Would a fix just be adding the section suggested in the error message?

[2020-05-07 15:58] jstarry commented on #1079
@mcobzarenco this has since been fixed. There are a few `wasm-pack` examples (which end in `_wp`). See the readme here: https://github.com/yewstack/yew/tree/master/examples#yew-examples

[2020-05-07 15:58] #1079 closed

[2020-05-07 16:03] mcobzarenco commented on #1079
@jstarry Thanks for the super quick reply and for pointing me to the docs :-)

[2020-05-07 21:31] Olavhaasie opened #1191 "How to pass callback property to component in Router::render"
#### Question
I am trying to pass a callback as property to a child component which is rendered from a `Router::render`. However, I am having troubles with lifetimes and was not able to find any examples on this. So, how should I change my code to make this work? If that's even possible.
[code]
But it gives errors about lifetimes that I do not understand:
[code]

#### What I've tried (optional)
I

[2020-05-08 03:49] jstarry commented on #1191
What version of Yew are you using?

[2020-05-08 07:39] Olavhaasie commented on #1191
`yew` version 0.15.0 and `yew-router` version 0.12.1

[2020-05-08 10:32] Follpvosten commented on #1127
I would be very much looking forward for such a trait!

Currently, an (admittedly very small, nitpicky) downside of using Actors for managing shared component state is that every message is getting serialized, which theoretically wouldn't be required if everything's running synchronously on the main thread (if I got that right).
So removing the Serialize/Deserialize bound on Input and Output could

[2020-05-09 15:35] jstarry commented on #1178
@djahandarie https://github.com/yewstack/yew/releases/tag/0.16.0 🎉

[2020-05-09 21:27] thinkpadder1 commented on #795
I don’t think this should be attempted until functional components and hooks land. Throwing everything into stateful components and sharing functionality in a non-hooks way will become obsolete for a lot of components in the library.

What should be focused on right now are core things like

- what components are we going to support. See antd for examples: https://ant.design/components/button/

[2020-05-10 00:38] coolreader18 commented on #1026
I haven't used yew that much, but I think hooks would complicate it when doesn't need to be. The component/trait based system that there is now is simple enough, if slightly verbose, and it's very clear how components get updated and rerendered. I think it would work well as a separate crate for those who want to write functional components, but I don't think that there's a problem with the compon

[2020-05-10 00:56] atsuzaki commented on #1026
I'm not sure if it's possible with yew's API design, but my feature request for this is to also ship in hooks for component classes (as an extension maybe?), or at least have some supported way to use them.

One of my biggest annoyance with React's hooks is how basically nonexistent is support for class components (you could do it, but it's ugly and technically a hack). Once you start using hooks-

[2020-05-10 01:29] jstarry commented on #1026
@coolreader18 We have indeed decided to build functional component support as a separate crate. The existing trait based system isn't going anywhere 😉

@atsuzaki interesting request, will definitely look into this, thanks for the suggestion!

[2020-05-10 02:41] jstarry commented on #795
@thinkpadder1 I'm not necessarily sold that this depends on functional components but I do very much agree that we should be focusing on points you've outlined.

I think we really need someone to help scope functionality and then apply that to one of the nascent component libraries we have started.

That'd be great if you shared those 👍

[2020-05-10 05:28] jstarry commented on #1191
@Olavhaasie sorry for the delay!

**First, the lifetime issue:**

The compiler is complaining because inside your closure, you are referencing `self`. The closure is capturing `self` by reference and the compiler is trying to make sure that this reference will be valid when `Router` eventually invokes your closure when rendering. Since `view()` returns by value, there is no way to maintain a refer

[2020-05-10 11:03] Olavhaasie commented on #1191
No problem at all for the late response! Thank you for the comprehensive answer, this is a lot more clear than the compiler warnings, although they are very helpful at times. I have tried what you suggested and all I had to do was add `move` to the callback, so that it could take ownership of the `callback`. Thanks for the help :+1:

[2020-05-10 11:03] #1191 closed

[2020-05-10 11:03] jstarry commented on #1191
Yup, that was the last step! Happy to help :)

[2020-05-10 14:09] teymour-aldridge commented on #1183
I'd be happy to work on this.
Do you want `yewtil` to expose an interface to `yew-dsl`?

[2020-05-10 14:21] Olavhaasie opened #1198 "Yew v0.16.0 and yew-router uses two different versions of yew"
**Problem**
I have updated a project of mine to use Yew v0.16.0, but now I get a lot of build errors with the note:

    = note: perhaps two different versions of crate `yew` are being used?

I think it is because of yew-router v0.12.1 still using yew v0.15.0. In my `Cargo.lock` this change was also made:

[code]

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Create a project with `ye

[2020-05-10 14:23] jstarry commented on #1198
Oh, I thought this wouldn't be an issue. `cargo update -p yew` doesn't help?

[2020-05-10 16:10] Olavhaasie commented on #1198
When I run `cargo update -p yew` I get this error
[code]
Then when I run `cargo update -p yew:0.16.0` I doesn't change anything. :cry:

[2020-05-10 16:12] jstarry commented on #1198
Ah dang. Well good to know. @hgzimmerman could you look into releasing a new version of yew-router to fix this?

[2020-05-11 01:32] Chadtech opened #1203 "Adding click event listener without jsx templating"
#### Question
I am using yew, and I am making this harder for myself by avoiding the jsx-like templating. I have come to a point in my project where I need to add a button with a click handler on it. I am making my own html-node like abstraction over the yew internal `VNode` stuff. Here is my code:
[code]

So, I have a `tag : VTag`, and I know it has a `listeners` field, so I know I can do somethi

[2020-05-11 08:13] jstarry commented on #1203
Hey @Chadtech! Great question, the source code is a bit murky in this area.

The most important part is definitely this macro: https://github.com/yewstack/yew/blob/master/yew/src/html/listener/macros.rs (it's invoked here: https://github.com/yewstack/yew/blob/master/yew/src/html/listener/listener_web_sys.rs)

Yew defines a module for each event type and inside those modules is a `Wrapper` struct w

[2020-05-11 08:14] jstarry commented on #1203
Also, you might be interested in helping bring `yew-dsl` to life. @teymour-aldridge is working on pulling it out of `yewtil` in this PR: https://github.com/yewstack/yew/pull/1199

[2020-05-11 08:17] jstarry commented on #1175
Sorry for the delay, I agree that origin is the way to go. Thank you @domdir!

[2020-05-11 08:32] jstarry commented on #1169
Hey @webbrandon! I don't `ChangeData` is what you want, it's only used for input, select, and textarea elements.

What we need here is support for listening to `load` and `error` events for img elements. Then, you could add a callback in Yew along with a [`Ref`](https://yew.rs/docs/concepts/components/refs) to check the image dimensions. Would you be interested in adding this?

[2020-05-11 08:33] jstarry commented on #1183
No need!

Unlikely :P

[2020-05-11 09:55] teymour-aldridge commented on #1168
You might also be interested in taking a look at yew_dsl (still a work in progress).

[2020-05-11 12:57] #1183 closed

[2020-05-11 14:03] webbrandon commented on #1169
Yes.  I will begin to dig into the this.  Thank you for the direction.

[2020-05-11 14:58] webbrandon commented on #1074
I have a similar need which I had some direction on in #1169.   I wanted to take his advice and look at adding support to get metadata(exif) for image.

[2020-05-11 15:04] jstarry commented on #1169
@webbrandon would you be interested in writing up an issue for this? I think we could discuss more there. I have some uncertainty about browser support for this feature since it seems that onload is not in the spec anymore? https://developer.mozilla.org/en-US/docs/Archive/Mozilla/XUL/Attribute/image.onload

[2020-05-11 15:06] Stigjb commented on #1074
I did this the other day:

[code]

In this case, `self.spritesheet` was a `HtmlImageElement` created outside of `view`, and not attached to the DOM. And I didn't come up with the code myself, and cannot really say if it's safe or sensible

[2020-05-11 15:30] nicklaswj opened #1207 "Support ReadableStreams in services::fetch"
Currently services::fetch:: does not support ReadableStreams, which would allow the user to read the body in byte chunks. However web-sys does currently not really support ReadableStreams (see https://github.com/rustwasm/wasm-bindgen/pull/1761), so in the meantime we will have to make a solution that uses handwritten bindings.

I'm still not exactly sure what the best yew API would look like, so a

[2020-05-11 16:42] teymour-aldridge commented on #1154
Could this also be used in testing Yew components?

[2020-05-11 17:41] teymour-aldridge commented on #1207
One possible way to solve this is to raise an issue in the `web-sys` repo?

[2020-05-11 20:02] nicklaswj commented on #1207
From the comments in the linked PR, it seems like web-sys is blocked by that the Streams spec doesn't currently use WebIDL. But I agree it would be best if we could find a solution with the web-sys team

[2020-05-11 20:05] teymour-aldridge commented on #1207
I feel like this is something that the Rust Wasm Working Group might be better placed to address, but we could try and put something together to work as an intermediary solution.

[2020-05-11 20:11] nicklaswj commented on #1207
Yep I agree and that is also my idea.
So this solution should expose a yew API that's backed by some kind intermediary solution, and then later be swapped out with a more permanent solution (preferably without changing the yew API).

[2020-05-11 20:17] nicklaswj commented on #1207
And if we hand write the js bindings 1-to-1, it probably wont be hard to shift to whatever Wasm Working Group comes up with.

[2020-05-11 23:21] webbrandon commented on #1169
Interesting. Yes let me grab some context around the specs and will post a topic.

[2020-05-12 01:51] #1175 closed

[2020-05-12 02:08] jstarry opened #1209 "Add `send` method to `AgentLink` so that agents can easily update themselves"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1209)

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $5.00)

- [<img src='https://avatars3.githubusercontent.com/u/1076145?v=4' alt='jstarry' width=24 height=24> jstarry](https://issuehunt.io/u/jstarry) ($5.00)

###

[2020-05-12 04:48] stoically opened #1210 "Add `send_async` method to `AgentLink` so it's easier to work with futures"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1210)

**Is your feature request related to a problem? Please describe.**
When having to call async functions inside of agent methods like `update` and `handle_input` an future closure is needed (with e.g. `wasm-bindgen-futures`)

**Describe the solut

[2020-05-12 08:04] mkawalec opened #1212 "Conditionally require Serialize on Agent's input/output"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1212)

Currently agents demand `Serialize + Deserialize` type constraint on their input and output, despite only serializing or deserializing for web worker-based Agents (Private and Public). The types should be updated to allow for expressing this co

[2020-05-12 08:06] jstarry commented on #1212
@mkawalec you'll need to do some stuff on issuehunt.io to collect the reward :)

[2020-05-12 08:08] #941 closed

[2020-05-12 08:09] mkawalec opened #1213 "Support long lived context Agents"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2415%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1213)

Currently a context Agent will go out of scope once the last bridge to it disappears. This might be problematic for keeping track of an application state, as once there is no component on a page using that state, the state would disappear comp

[2020-05-12 08:23] TheNeikos commented on #1168
This is indeed a limitation of rustfmt, it doesn't format any macro (except a very select few), and AFAIK doesn't have any way to add an 'extension' to it. Thus the issue would persist no matter how the macro looks.

This is something you could fix in your IDE usually! You would have to check and see how it evaluates its indentation and change its behavior whenever it encounters an `html!` macro.

[2020-05-12 08:43] #1212 closed

[2020-05-12 12:32] Ben-PH commented on #1168
This is objectively untrue. There is no difference between macro and non macro syntax as far as the text editor is concerned. For example:
[code]

To be honest, I have no idea where this notion is coming from.

I personally don't feel there's any merit to expecting users to patch their IDE for it to be compatible with a library. There are some exceptions to this, though I don't see how this could

[2020-05-12 13:38] kellpossible opened #1216 "Implement PartialEq for VChild"
I'm trying to use `ChildrenWithProps` in a component, and to implement the `Component::change` method correctly for a `Component` with the `ChildrenWithProps` in it's properties, however this isn't really currently possible because to derive/implement `PartialEq` for the component's `Props` requires the `VChild` (in the `ChildrenWithProps`) implements `PartialEq`.

My exact use case can be seen at

[2020-05-12 13:58] kellpossible commented on #1216
Related, I also noticed that `VNode` `PartialEq` implementation is missing for `VComp`:

Which would also imply that the `Children`'s `PartialEq` implementation is also broken when it contains a `Component` child.

[2020-05-12 14:01] jstarry commented on #1216
Not exactly "broken", it will just always treat component nodes as not equal.

This will all be possible when we finish up https://github.com/yewstack/yew/issues/830

[2020-05-12 14:04] kellpossible commented on #1216
@jstarry thanks for the feedback! Is there anything I can do to help for that issue? I'm using these features while working on a Redux-like Provider component as an experiment for managing global state.

[2020-05-12 14:06] jstarry commented on #1216
@kellpossible yes, I think you could but I need to do a bit of housecleaning first. I'll get back to you in a few days on this!

[2020-05-12 14:30] teymour-aldridge commented on #1168
@Ben-PH it's not important to pass JSX-like expressions to the compiler. In fact, compile times would probably decrease if you didn't need to use the `html!` macro. More *nested* macros will make compile times longer (I reckon) because of how [Rust handles macro expansions](https://rustc-dev-guide.rust-lang.org/macro-expansion.html).

Something being considered is an approach to building instances

[2020-05-12 14:36] teymour-aldridge commented on #1168
The `rustfmt` readme has some [relevant details](https://github.com/rust-lang/rustfmt#limitations).

[2020-05-12 15:38] haywoood commented on #576
I agree with other folks sentiments about creating something `react-redux` ish to connect components to state, but wanted to say we shouldn't be trying to copy the APIs (#1026) that are used in JS land if we have language features that enable us to do better.

Clojurescript is a great example of achieving what's enabled by React+Redux but with a way simpler API. You store data in these wrappers, a

[2020-05-12 22:49] hgzimmerman commented on #1198
Sorry for the delay. The router has been updated: https://github.com/yewstack/yew/pull/1218

[2020-05-13 02:49] #1182 closed

[2020-05-13 02:51] #1179 closed

[2020-05-13 02:53] jstarry commented on #1209
@totorigolo do you want to claim this on Issuehunt?

[2020-05-13 07:01] Ben-PH commented on #1168
I've never had any trouble with IDE tools recognising macro syntax.
I've never heard of that being the case.
Nor do I see any reason for it to be the case, except maybe for some edge cases that are not really applicable to the general case.

The opposite is true of the JSX-like syntax. Analysing text using rust syntax rules on text that follows a completely different rule-set is broken to a fundam

[2020-05-13 08:35] teymour-aldridge commented on #1168
I agree that doing work at run-time that could be done at compile time seems a waste. Rather than having macros which expand and are then passed into the `html!` function, my opinion is that it would be better to have macros which expanded directly to instances of `Html`/`VNode` rather than to JSX-like syntax which then has to be further processed by the `html!` macro.

I like the idea of file-bas

[2020-05-13 09:47] Ben-PH commented on #1168
Expanding dirctly into a canonical representation of vdom elements at compile time, with the only run-time concern being the things that cannot be determined statically should be the end goal, I imagine. One possible caveat is binary size, something that is more of an issue when the binary has to be delivered through a series of tubes filled with cats.

Whether or not we go for file-based componen

[2020-05-13 09:57] teymour-aldridge commented on #1168
I think there are simillar arguments about JSX in Javascript. At least, there should be the option to not use JSX. My personal feeling is that `yew-dsl` would need to be replaced with macros instead of functions to make it more efficient.

Passing the result of macro expansions for specific tags to the `html!` macro is not a very nice solution; it's better if the macro expansions directly produce

[2020-05-13 11:31] Olavhaasie commented on #1198
That works :+1:

[2020-05-13 11:31] #1198 closed

[2020-05-13 12:15] totorigolo opened #1220 "Keyed elements cannot be re-ordered"
**Problem**

When html elements are keyed (e.g. `<div key=String::from("foo")>...</div>`), changing the order they are inserted won't change their order on the rendered page.

**Steps To Reproduce**
I created a new example to showcase this behavior: https://github.com/totorigolo/yew/tree/issue/keyed-elements-reorder
Press the "Order by ..." buttons, and compare the behavior between keyed and unkey

[2020-05-13 12:53] jstarry commented on #1220
Thank you! I just noticed this yesterday too 😭

We should have a test for this as well

[2020-05-13 17:37] nicklaswj commented on #1207
WIP branch https://github.com/nicklaswj/yew/tree/readablestreams nothing works yet though

[2020-05-13 19:08] teymour-aldridge commented on #1168
I like the idea of a file-based syntax because I think it makes it easy for us to handle scoped CSS (in a similar way to Vue). I guess it depends on what @jstarry thinks.

[2020-05-13 19:10] teymour-aldridge commented on #1096
The relevant snippet:
[code]

[2020-05-13 19:10] teymour-aldridge commented on #1096
@jstarry I think this can now be closed.

[2020-05-13 19:41] teymour-aldridge commented on #1207
Looks cool.

[2020-05-13 19:53] totorigolo commented on #1209
I prefer letting this to @mkawalec in exchange of a good example. I didn't do this PR for IssueHunt initially, so it's fine. Will this work? (otherwise I will claim it and basta :smile: )

[2020-05-13 22:55] aidanhs opened #1222 "`send_message` to a component from the `create` method does not work"
**Problem**

Doing `link.send_message(Msg::Foo);` in the `create` method of the component silently drops the message

**Steps To Reproduce**
Apply the following patch (paste it into `git apply` and hit ctrl+d), then run the todomvc example. I'd expect it to log two things on page load after `creating model`, but it doesn't.
[code]

**Expected behavior**
The message should be scheduled for after th

[2020-05-13 23:07] aidanhs opened #1223 "`rendered` does not have `first_render` == true on the first render"
**Problem**

Per issue title, I have a function like:
[code]
The first time this message appears in my logs, it says `got render: false`

**Steps To Reproduce**
This is a private webapp I'm developing which has some complexity - it does an initial set of loading of UI, then I click a button to 'switch' the view, which rerenders most of the content (at which point I can see the log message indicati

[2020-05-13 23:08] aidanhs commented on #1223
I'm very open to suggestions on how to debug this - I've been looking at the yew code to try and figure out how to add logs in the right place without overwhelming me, but because updates are queued rather than applied immediately, it seems tricky.

[2020-05-14 01:17] aidanhs commented on #1223
Ok I think I've figured out the issue (or at least, the pieces seem the line up). Sequence of events is something like (going to use terminology from `yew/yew/src/html/scope.rs` and `yew/yew/src/scheduler.rs`):
 - component AP has two children, A1 and A2
 - AP calls mount_in_place, queuing the updates and renders (both of which are 'first time') for A1 and A2
 - (per scheduler ordering) A1 and A2

[2020-05-14 02:42] Chadtech commented on #1203
Hey sorry, I am really struggling with this.

I have looked at those parts of source closely. I read them as making the event listeners. Those are the event listeners I want to use in my project. I would like to give my html element an onclick listener.
[code]

I have my `Msg` ready to go. I just need to add it to this `tag` as how a click event should be handled.

I see I can do..
[code]
..but I

[2020-05-14 02:43] Chadtech commented on #1203
Also, are there any examples of people using yew without the jsx-like templating?

[2020-05-14 03:22] jstarry commented on #1203
@Chadtech looks like you're getting close! Yew re-exports everything from `yew::html::listener::*` so you can change that to `yew::html::*`

[2020-05-14 03:36] jstarry commented on #1223
Hey @aidanhs, thanks for the bug report and investigation. Your conclusion sounds correct to me!

You did exactly what I would have done. I would like to add a dev mode to Yew at some point with debug logging to aid this type of investigation..

The scheduler is pretty simple, I think we really need tests for `html::Scope` so I kicked things off here: https://github.com/yewstack/yew/pull/1224

[2020-05-14 03:39] jstarry commented on #1223
I think this shouldn't be too bad to fix and a test case for. I would expect that Yew would skip any "non-`first_render` rendered" tasks if it hasn't already processed a "`first_render` rendered" task.

[2020-05-14 03:49] jstarry commented on #1222
Dang, looks like I just introduced this bug on master with https://github.com/yewstack/yew/pull/1186

Thanks for the heads up!

[2020-05-14 04:06] Chadtech commented on #1203
Okay! Awesome!

So, I have made progress. Here is my code now.
[code]
I am seeing `B` in the console! So I know this `Callback` thing is happening. Thats great!

But, the `msg` I have is not yet falling into my update function, It is currently unused. Do you have any hints on how I could connect my closure inside my new callback to the update of my application as a whole?

[2020-05-14 04:08] jstarry commented on #1223
I'm going to fix this since it's preventing me from writing a test for https://github.com/yewstack/yew/issues/1222

[2020-05-14 04:49] #1222 closed

[2020-05-14 04:49] #1223 closed

[2020-05-14 05:53] jstarry commented on #1203
Yup, you'll have to keep around a `ComponentLink` and use it to call `link.send_message(..)`

[2020-05-14 20:21] totorigolo commented on #1220
Some news: I think that I solved the issue, documenting the code at the same time. However, a long list with keyed elements feels slower than without keys. I will investigate a bit.

[2020-05-14 22:12] siku2 opened #1232 "Add `onerror` to yew-macro listeners"
**Is your feature request related to a problem? Please describe.**
I was implementing an image component which falls back to a different image when it encounters an error while loading the primary one. I wanted to do this using the [`onerror`](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror) event handler but it turns out that Yew doesn't support it.
The event is not l

[2020-05-15 02:27] Chadtech commented on #1203
Thank you! Another question if that is alright. It might have more to do with Rust than Yew; I am still getting familiar with Rust. Maybe once I have this all together and working I am clean it up and it can be an example for others on how to do things JSX-lessly.

My main app is called `Program`..
[code]

And I am passing it into my `Html` making function like as parameter like this `link: Compon

[2020-05-15 02:42] agausmann opened #1233 "yewtil 0.2.0 is in conflict with yew 0.16.0"
**Problem**

When trying to use the most up-to-date versions of `yewtil` and `yew`, I get a dependency conflict:

[code]

**Steps To Reproduce**

Create a project that depends on `yewtil v0.2.0` and `yew v0.16.0`:

[code]

**Expected behavior**

I expect to be able to use the latest version of all official crates together, I don't want to downgrade `yew` and lose features/improvements just to be c

[2020-05-15 07:46] teymour-aldridge commented on #1203
Rust has three types of function: `Fn`, `FnOnce` and `FnMut`. Here you have a `FnOnce` because it captures the variable `msg` from its environment (takes ownership) which it can only do once.
The second time the function is called, because the variable has been dropped, Rust cannot use it again. You probably need to use the `Clone` trait (you could try using references but I believe that  `Callbac

[2020-05-15 13:14] fkohlgrueber commented on #852
I've built a minimal PWA using Yew based on https://github.com/yewstack/yew-wasm-pack-minimal:

https://github.com/fkohlgrueber/yew-pwa-minimal

As far as I can see, integrating this into `yew/examples` is non-trivial because all examples share the same `index.html` and output folder. A PWA needs changes in `index.html` as well as a few additional files. I'm not sure how this would be integrated b

[2020-05-16 06:02] jstarry opened #1236 "Improve `Children` equality check"
**Is your feature request related to a problem? Please describe.**
When comparing two `ChildrenRenderer<Html>` (`Children`) instances, Yew relies on the `PartialEq` implementation of `VNode` which always returns `false` for `VComp` nodes. This is because (currently) `VComp` nodes don't retain a reference to component properties needed for a proper equality check.

**Describe the solution you'd lik

[2020-05-16 06:03] jstarry commented on #1216
Hey @kellpossible, I spent some time looking into this and realized I was conflating `ChildrenRenderer<VChild<CHILD>>` and `ChildrenRenderer<Html>`. There's nothing blocking implementing `PartialEq` for `VChild` right now. I think we just need to implement it for when a component's properties implement `PartialEq` and comparing props should be sufficient.

Do you want to take on this task?

Here i

[2020-05-16 06:14] #1209 closed

[2020-05-16 09:05] jstarry commented on #1233
Thanks for the report @agausmann, I think the fix is as simple as releasing a new version of `yewtil`. @hgzimmerman could you help with that?

[2020-05-16 09:08] jstarry commented on #1169
@webbrandon someone just wrote up a feature request for `onerror`: https://github.com/yewstack/yew/issues/1232. I think we will still need one for `onload` though.

[2020-05-16 09:11] jstarry commented on #1169
I was wrong about `onload`. I think mdn just removed the old img-specific page in favour of the `GlobalEventHandlers` mixin one: https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onload

[2020-05-16 09:11] jstarry commented on #1169
I don't think we need a separate issue for `onload`. Let's move forward with #1232

[2020-05-16 09:11] #1169 closed

[2020-05-16 09:13] jstarry commented on #1074
Thanks for adding that snippet @Stigjb, that's a decent workaround for now!

Let's track work on supporting `onload` here: https://github.com/yewstack/yew/issues/1232

Feel free to re-open this issue if #1232 doesn't fully cover the question

[2020-05-16 09:13] #1074 closed

[2020-05-16 09:15] jstarry commented on #1232
@siku2 thanks for the feature request, you're the third person with this issue in the past month! I would also love to see support for all global event handlers. Agreed that the alternative you described is not ideal.

Was this confusing enough that we should address this and try to make the error message more dev friendly?

[2020-05-16 09:18] jstarry commented on #852
@fkohlgrueber awesome! 👏

How about using the repo as a starter template? We could link to it in the docs, we could move it to the yew org, etc. All up to you :) Docs repo here: https://github.com/yewstack/docs

[2020-05-16 09:28] jstarry commented on #1203
@teymour-aldridge you're pretty close but I think there's a bit more nuance.

It is actually a `FnOnce` because `to_msg(msg)` moves `msg` out of the `|_| link.send_message(to_msg(msg))` closure. You can change `to_msg` to borrow `msg` instead of take ownership or you can clone `msg` like so: `|_| link.send_message(to_msg(msg.clone()))`

[2020-05-16 12:30] siku2 commented on #1232
@jstarry apologies for the duplicate issue. I was unable to find the other two issues using a simple keyword search.

The error reads as follows:
[code]

Ideally there should be a note indicating that I'm passing a `Callback` to a normal attribute.

[2020-05-16 14:03] siku2 commented on #1232
@jstarry I would love to work on this but I feel like there are few things that need to be discussed first.

There are a lot of events which are specific to a particular tag. The biggest offender here are the media events. Even though some of these events are only applicable to a specific tag and some don't even bubble they can still be applied to any tag according to the spec (At least I think).

[2020-05-16 20:57] Turakar opened #1238 "FetchService: JSON Body"
#### Question
How can I send a JSON body with my request constructed from a struct deriving `Serialize` from `serde`?

#### What I've tried (optional)
[code]

This gives me the following error:
[code]
Where `failed to build request` is the not so helpful part of the error coming from Yew. Btw, I noticed that Yew [discards the actual error](https://github.com/yewstack/yew/blob/master/yew/src/servic

[2020-05-17 03:56] jstarry opened #1240 "Original errors are discarded when using web-sys FetchService"
**Problem**
The web-sys implementation of FetchService overwrites errors from building and sending requests which makes it very difficult to debug and figure out what is actually causing the error.

**Expected behavior**
Errors are not overwritten, and are bubbled up in a nice way using `thiserror`

[2020-05-17 03:56] jstarry commented on #1238
@Turakar unfortunately I don't have a good answer for you. I don't think we should be discarding the actual error as you've pointed out. I've created an issue to track that bug here: https://github.com/yewstack/yew/issues/1240

[2020-05-17 04:10] jstarry commented on #1232
Excellent! We'd love to have your help!

Yew *can* distinguish between various tags during the macro expansion phase if using the `html!` macro. Here's an example: https://github.com/yewstack/yew/pull/1217

This is a tough part of web development 🤕

How should we go about this?

Since `onwheel` is standardized, I think we should completely remove `onmousewheel` in favour of `onwheel`. I don't thin

[2020-05-17 08:20] kellpossible commented on #1216
@jstarry okay I'll give it a crack today!

[2020-05-17 12:28] siku2 commented on #1232
Thanks for taking the time to respond, @jstarry.

Here's an idea how to decide on which handlers to support:
Support all the event handlers dictated by the current HTML living standard and additionally support all experimental handlers that have at least one major browser supporting them.

Here are a few examples:
- `onmousewheel` wouldn't be supported as it is no longer part of the HTML spec
- `o

[2020-05-17 14:12] jstarry commented on #1232
Sounds great to me

Got it, I agree with this.

Agreed, that they can be included with the other event handlers 👍

[2020-05-17 15:51] Turakar commented on #1238
I pulled yew and added some very basic error printing manually and voila, I got a first error:
[code]
But now I am stuck at the following error: I always became a `AbortError` as response. Turns out this was because I dropped the resulting `FetchTask`. Now everything is solved, my usage of `Json` seems to be ok.

[2020-05-17 15:51] #1238 closed

[2020-05-17 18:00] #1216 closed

[2020-05-17 18:01] jstarry commented on #1238
Ah, that would do it!

[2020-05-17 20:59] thinkpadder1 commented on #795
Sorry, I meant the Hooks API.

https://baseweb.design/
Specifically, look at their override system: https://baseweb.design/guides/understanding-overrides/

[2020-05-17 22:36] Turakar opened #1243 "Original errors are discarded when using web-sys WebsocketService"
I guess this is almost the same as #1240. I especially noticed that `connect_common` discards the `WebSocket` errors.

[2020-05-18 12:43] Olavhaasie opened #1245 "Get query parameters from route"
#### Question
I am using `yew-router` and would like to read query parameters from the URL. For example, when a user goes to `/hello?name=world`, a component should be able to read out the `name` query parameter. Is this possible with the latest versions?

#### What I've tried (optional)
I was able to find [`RouteService::get_query`](https://docs.rs/yew-router/0.13.0/yew_router/service/struct.Rout

[2020-05-18 14:46] jice-nospam opened #1246 "How to debounce keyboard input ?"
#### Question
What is the best way to enable auto-save feature with input debouncing on a form/textbox with yew ?
In javascript, I generally have some code that check every second the time of the last change in the textbox and sends a request to the backend when nothing has changed in the last second. This way, typing text in a texbox doesn't trigger a call to backend for every key press.

[2020-05-18 15:13] jice-nospam commented on #1246
I couldn't find a way to do this with agents, but apparently the TimeoutService is the way to go.

[2020-05-18 23:04] Chadtech commented on #1203
Thanks @jstarry @teymour-aldridge for all the help. But, even at my last step I was still getting errors and finding it pretty challenging to figure out. I tried a different Rust frontend framework and got a jsx-less approach working pretty quickly, so I will be moving forward with that instead of Yew. Sorry, and thanks again for the help.

[2020-05-18 23:04] #1203 closed

[2020-05-19 10:35] Turakar commented on #1243
oops, sorry for the copy'n'paste error :smile:

[2020-05-19 12:27] #1232 closed

[2020-05-19 16:03] kellpossible opened #1248 "ability register multiple callbacks in yew-router and to de-register them"
You can register callbacks with [`RouteService::register_callback()`](https://docs.rs/yew-router/0.13.0/yew_router/service/struct.RouteService.html#method.register_callback), the docs aren't clear, but reading the code it appears that it may only be possible to register a single callback. [`gloo_events::EventListener`](https://docs.rs/gloo-events/0.1.1/gloo_events/struct.EventListener.html)  docum

[2020-05-20 14:12] siku2 commented on #1057
So I started looking into this issue.

I merged the current master branch with @ZainlessBrombie's progress. You can find that [here](https://github.com/siku2/yew/tree/3b212552ce8857a92263085b9d102344952f3592).

Currently I'm considering a bit of a different approach though. Instead of maintaining a stack of contexts which doesn't work out as nicely because of the rendering order and all that I'm t

[2020-05-20 14:49] jstarry commented on #1057
@siku2 sounds reasonable to me!

[2020-05-20 18:07] dancespiele opened #1250 "Yew router doesn't update DOM when there are two path with the same component and different content"
**Problem**
Yew router doesn't update DOM when there are two path with the same component and different content. You need to work around put the components inside of another components

**Steps To Reproduce**
Steps to reproduce the behavior:
1. clone [yew-parcel-template](https://github.com/spielrs/yew-parcel-template)
2. git checkout yew-router-bug
3. execute `npm start` in the path root
4. Open

[2020-05-20 23:42] dancespiele opened #1251 "How test if input change a value?"
#### Question
is there any way to test if an input change a value? I have this test

[code]

It fail getting an empty string but I know that the component works because I tried it

[2020-05-21 06:27] quek opened #1252 "button type attribute is not render"
**Problem**

button type attribute is not rendered.

[code]

↓

[code]

**Expected behavior**

[code]

**Environment:**
 - Yew version v0.16.2
 - Rust version v1.43.1
 - web-sys v0.3.39
 - OS: linux
 - Browser chrome
 - Browser version 81.0.4044.138

[2020-05-21 06:28] jstarry commented on #1252
Thanks @quek! There is a PR for this: https://github.com/yewstack/yew/pull/1033 I hope it gets fixed soon :)

[2020-05-21 07:06] quek commented on #1252
Thanks

[2020-05-21 17:46] Turakar opened #1255 "How to hold a link to a child component"
#### Question
Suppose I have components A and B, where A is composed of B. Now A wants to forward some messages it gets to B. This would be easy, if A has a direct reference to B's link. How can I accomplish this?

#### What I've considered
Using a `NodeRef` and `cast()`, but that seems like a lot of boilerplate code and I wondered, if there is some better way.

[2020-05-21 18:33] alex-caelus commented on #934
This has now bit me in the behind too. I'm currently using a UIkit for my menues and other stuff. Instead of implementing it all on my own using yew, I figures a hybrid approach would be easiest. But now I can't register click-events without stopping UIkit from responding to user events.

What do you advice? Should I wait for you to change this, or should I find another way do implement my menues

[2020-05-22 02:15] jstarry commented on #1255
@Turakar you could pass a `Rc<RefCell<Option<ComponentLink<B>>>>` to component B from A. B could fill it with its link and then A could call it.

[2020-05-22 09:18] jstarry commented on #934
@alex-caelus dang, sorry to hear that! I just opened a PR to remove this, should be merged to master shortly

[2020-05-22 09:57] Turakar commented on #1255
Thanks for the advice. I think it would be useful, if there is a more native support for this, e.g. passing an additional key in `html!` or something similar. What do you think about this?

[2020-05-22 10:30] jstarry commented on #1255
@Turakar I think it's a great idea! I thought about this before and I think we could either add a `link_ref` property to components or just use `ref` for this. Do you mind writing up an issue?

[2020-05-22 10:51] #934 closed

[2020-05-22 10:55] Turakar opened #1257 "Easy link holding of child component"
**Is your feature request related to a problem? Please describe.**
Suppose I have components A and B, where A is composed of B. Now A wants to send some messages to B. This would be easy, if A has a direct reference to B's link.

**Describe the solution you'd like**
It would be useful, if we can pass a reference during creation of the component using `html!`, e.g.
[code]
Where `self.my_child` woul

[2020-05-22 10:56] #1255 closed

[2020-05-22 11:12] faulesocke commented on #372
How would this be done with the current codebase?

[2020-05-22 11:14] jstarry commented on #372
@faulesocke you could try the KeyboardService: https://docs.rs/yew/0.16.2/yew/services/keyboard/index.html

[2020-05-22 11:36] Turakar commented on #1257
Maybe `link` is a better name for the attribute.

[2020-05-22 14:12] faulesocke opened #1258 "Adding a callback as a window event listener"
#### Question
How would I add a callback as a window event listener? The only way I found is the following:
[code]

However, this seems to be quite bulky, so maybe there is a simpler way?

[2020-05-22 14:16] alex-caelus commented on #934
Just want to say that the fix works for me! Thank you for your rapid response!

[2020-05-23 00:54] webbrandon commented on #1169
Awesome just had time to start looking and seems you got what you need! Reviewing commits now.

[2020-05-23 01:00] webbrandon commented on #1169
https://html.spec.whatwg.org/multipage/media.html#event-media-loadedmetadata

Thank you @jstarry for guiding this ship.

[2020-05-23 19:30] codec-abc opened #1260 "recursion limit reached while expanding the macro html!"
Hi,

Yew newbie here.

I have been hit by the recursion limit using the html! macro.

As a I am not an experienced Rust programmer, I think the documentation could explain the problem, in which situation it can arise and how to fix. In particular I struggled with the following points in particular:

Since Yew's HTML differ a bit from true HTML, I triple check my HTML to make sure it was valid and

[2020-05-24 05:00] jstarry commented on #1049
We can't rely on expressions resolving to the same string for start and end tags. I think we will need to special case end tags to something like `</{}>`

[2020-05-24 06:33] kellpossible opened #1261 "RouteService::set_route() when using web-sys unnecessarily serializes/deserializes state to a string"
When using `RouteService::set_route()` with `web-sys`, it serializes the state to a string, and then deserializes it again into a `JsValue`. I think it should be possible to go directly from the state to `JsValue` using [JsValue::from_serde()](https://docs.rs/wasm-bindgen/0.2.62/wasm_bindgen/struct.JsValue.html#method.from_serde).

There are other similar instances of this within `RouteService`.

[2020-05-24 13:39] siku2 commented on #1049
@jstarry I was just toying around with this a bit over at siku2/yew@ebab54bdf72067dd70ca888f17381348f7b68895 and I noticed this exact problem:

However, my approach introduces a new syntax using the `@` token.
It looks like this:
[code]

The benefit of doing this way is that it's immediately obvious that it's not a normal HTML tag.
What do you think?

[2020-05-24 14:47] teymour-aldridge commented on #1260
`#![recursion_limit="10000"]` is a crate attribute (it should go in the *root* of your crate – i.e. `main.rs` or `lib.rs`.

[Stackoverflow question about this](https://stackoverflow.com/questions/27454761/what-is-a-crate-attribute-and-where-do-i-add-it)

[2020-05-24 14:55] codec-abc commented on #1260
Thanks. I found the solution a few minutes later and forgot to update the issue. Actually, the compiler is helpful in that case because if you put it in other places you got a warning for each file that has this line except the root file (I didn't see it at first because my code was a bit messy and I got too many warnings). So once someone knows the solution for the macro recursion problem it is q

[2020-05-24 14:56] teymour-aldridge commented on #1260
I guess it would be useful to add a note in the documentation about this.

[2020-05-24 17:46] siku2 opened #1262 "Using the `for` syntax for rendering iterators hides the elements from the parent component"
**Problem**

The two different syntaxes for generating HTML from iterators produce different results.
Specifically it's the `for` syntax that doesn't behave as expected because it [generates a single node which contains the elements](
https://github.com/yewstack/yew/blob/master/yew-macro/src/html_tree/html_iterable.rs#L43).
This means that when you use `Children::iter` it only yields a single elem

[2020-05-25 06:49] totorigolo opened #1263 "Documentation for keys"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2410%20Funded-%2300A156.svg" />](https://issuehunt.io/r/yewstack/yew/issues/1263)

Yew has recently got support for keyed elements, but the documentation lacks any mention of them. A mention should be added in the website, the doc of `yew::virtual_dom::key::Key` should be improved and an example should be added (could just i

[2020-05-25 08:29] teymour-aldridge opened #1264 "Compile yew-macro to WebAssembly."
**Is your feature request related to a problem? Please describe.**
A way to speed up yew-macro's compilation time would be to compile it to WebAssembly, ship the WASM binaries with the crate and then run them.

**Describe the solution you'd like**
I imagine that this would be achieved with dtonlay's [`watt`](https://github.com/dtolnay/watt) library.

**Describe alternatives you've considered**
Thi

[2020-05-25 12:42] #1057 closed

[2020-05-25 22:57] oOBoomberOo opened #1265 "Can't seem to use `onwheel` event on html"
**Problem**
I try to create a callback to `WheelEvent` like this:
[code]
And apply it to canvas element like this:
[code]
But the compiler would complain back
![](https://i.imgur.com/lqC6qf7.png)

This does not happen with other event callbacks.
Is this just a mistake or is there another event I can use in place of `onwheel`?

**Environment:**
 - Yew: `0.16.2`
 - Rust: `1.43.1`
 - web-sys: `0.3.39

[2020-05-26 03:52] jstarry commented on #1265
Hello @oOBoomberOo! Yew is currently using the deprecated `onmousewheel` event. This was just fixed on master, this PR updated Yew to use `onwheel` as expected: https://github.com/yewstack/yew/pull/1244

[2020-05-26 05:02] jstarry commented on #149
Fixed here: https://github.com/yewstack/yew/pull/441

[2020-05-26 05:02] #149 closed

[2020-05-26 06:19] oOBoomberOo commented on #1265
Ah, I see.

[2020-05-26 06:19] #1265 closed

[2020-05-26 15:02] jstarry commented on #1260
@codec-abc sorry to hear you got stumped by this. Quite a few people have been bit by this issue. It'd be great if we could determine the places in the docs where this attribute could be added (along with a comment). Are you interested in helping out with that?

[2020-05-26 15:13] jstarry commented on #1262
Agreed! Happy to discuss strategy if needed :)

[2020-05-26 15:13] codec-abc commented on #1260
I just saw that I was still using Yew in 0.15. Does it matter for this problem in particular?

Anyway, I think adding a 4th point with 1 or 2 sentences to the [html! macro documentation](https://yew.rs/docs/concepts/html) should be enough. A link to the [Rust documentation](https://doc.rust-lang.org/reference/attributes/limits.html#the-recursion_limit-attribute) would be nice along [this StackOver

[2020-05-26 15:15] jstarry commented on #1260
Nope, this affects most versions of Yew

Sounds great! Do you mind making a PR here? https://github.com/yewstack/docs

[2020-05-26 15:16] codec-abc commented on #1260
Will do.

[2020-05-26 15:16] #1260 closed

[2020-05-26 15:17] jstarry commented on #1049
@siku2 sounds reasonable to me. I'm not too worried about the syntax here since I don't expect this to be super common. Using `@` is very unlikely to interfere with anything else 👍

[2020-05-26 16:05] #1252 closed

[2020-05-26 16:42] #555 closed

[2020-05-26 20:19] teymour-aldridge opened #1267 "Add code coverage reporting for project."
**Describe the feature you'd like**
Code coverage reporting (percentage of lines of code which are run during Yew's tests).

**Is your feature request related to a problem? Please describe.** _(Optional)_
This should be possible to do using grcov (but I need to check if it works with Wasm)

**Describe alternatives you've considered** _(Optional)_
No code coverage.

**Additional context** _(Optiona

[2020-05-27 03:39] jstarry commented on #1267
This would be really nice!

[2020-05-27 07:45] captain-yossarian commented on #1263
@jstarry @siku2  I will take it if you don't mind

[2020-05-28 13:39] #1049 closed

[2020-05-28 14:57] siku2 opened #1269 "Reconcile difference between dynamic tags, literal tags, and manual creation"
## Problem
With the introduction of dynamic tags in #1266 there are now three different ways of constructing HTML tags:

1. Using literal tags in the `html!` macro (`<span></span>`)
2. Dynamic tags in the macro (`<@{"span"}></@>`)
3. Creating `VTag` instances manually (`VTag::new("span")`)

All three of these have different restrictions with the third option (manually constructing) having virtuall

[2020-05-28 15:50] jstarry commented on #1263
Go for it!

[2020-05-28 16:48] #233 closed

[2020-05-28 18:35] siku2 commented on #1262
I finally started looking into this and I immediately got confused because from looking at the implementation the two syntaxes should really produce the same results.
So I started with a test and sure enough, they both produce a virtual list.
I forgot that there's a third way to pass children to components - you can pass a vector of html directly. This method works the way I would expect.

I still

[2020-05-28 19:44] captain-yossarian commented on #1263
@jstarry

1) > A mention should be added in the website ...

 Is [this](https://yew.rs/docs/concepts/html/lists) a good place to update docs in the website ?

2) > the doc of yew::virtual_dom:: key::Key should be improved ...

Where can I find the doc of `key::Key` ?

Thanks

[2020-05-28 20:09] totorigolo commented on #1263
Actually some code is not in master yet, see: https://github.com/yewstack/yew/pull/1231

I am currently working on it and I hope it gets merged soon.

[2020-05-28 20:12] totorigolo commented on #1263
See this page, it's already mentioned: https://yew.rs/docs/advanced-topics/optimizations
IMHO this should have its own page, a bit like with Elm: https://guide.elm-lang.org/optimization/keyed.html

[2020-05-28 21:25] MaciekTalaska opened #1270 "Improve the documentation - so newcomers to Yew/WASM could run yew examples without problems"
**Problem**
Currently it may be a bit of a problem for someone not having experience with WASM to run examples provided by yew team.

The build script requires wasm-bindgen command-line tool (so it is wasm-bindgen-cli) to be available to be invoked from the command line.

Installing wasm-pack results in wasm-bindgen being installed, but as this is buried down under cryptic path (i.e.: `~/.cache/.w

[2020-05-29 13:42] kellpossible commented on #1034
Currently it seems like messages immediately trigger a render (after first invoking the update method). I have an issue with the application I'm working on where I would like to delay the execution of Callback/sending of a message, until the end of the current loop (to avoid borrow conflict issues, full story here https://discord.com/channels/701068342760570933/701068343431528490/71589508478835097

[2020-05-29 17:54] captain-yossarian commented on #1263
@totorigolo thanks!

[2020-05-29 18:13] captain-yossarian commented on #1263
@jstarry @totorigolo Sorry guys, but I can't work on this issue.

[2020-05-29 18:34] kellpossible opened #1271 "callback constructor for yewtil LinkFuture trait"
it would be nice to be able to have a callback constructor equivalent to `ComponentLink::callback()` which executes callbacks in a future with `spawn_local`. I have a proof of concept at https://github.com/kellpossible/coster/commit/1f9006e754b5edb3c455acd1607d37e12f574c24#diff-e8709839a6bad6639c9bbaa6aea8db01R96 and it seems to work well for my purpose. Perhaps the new method could be called `Lin

[2020-05-30 02:47] jstarry commented on #1263
No problem, thanks for letting us know!

[2020-05-30 20:09] teymour-aldridge commented on #1267
I imagine we'd use a service like codecov.io to handle the reporting of test results.

[2020-05-31 02:22] #1270 closed

[2020-05-31 10:19] jstarry commented on #1233
When updated, we should add a reference to `send_future` in the `ComponentLink` docs. Context: https://github.com/yewstack/yew/pull/1274#discussion_r432881615

[2020-05-31 21:41] TheNeikos commented on #1233
As this seemed to have stalled a bit, I took the liberty to try and prepare the next release. I hope that was okay!

[2020-06-01 20:18] TheNeikos opened #1280 "Make RouteButton/Anchro prevent_default events"
**Describe the feature you'd like**
Make `RouteButton` and `RouteAnchro` prevent default events, or add a toggle to the props for that.

**Is your feature request related to a problem? Please describe.** _(Optional)_
When a button or anchor is added to a form, they still submit said form just before/after changing the page url. This is usually not what is wanted, since then a normal button could h

[2020-06-01 20:44] davissorenson opened #1281 "How to render a string as unescaped HTML?"
#### Question

I would like to render Markdown in an app that I'm working on, so I wrote this (using the comrak crate for Markdown rendering):

[code]

Of course this just results in the HTML being escaped and output directly on the page.

#### What I've tried

I googled around to try to find how to output a raw string with Yew, but I didn't find anything.

PS. The Discord link seems to have expir

[2020-06-01 23:03] SamukaDEV opened #1282 "Is Yew compatible with other browsers than Chrome?"
hello, I tried to create a simple app and compiled correctly, it only worked on Chrome, and only on Chrome, when I tried to run the app on other browsers it didn't work.

I tried to change the versions of Yew 0.15 and 0.16 but it didn't work, even using the stdweb.

Edge console output:
![image](https://user-images.githubusercontent.com/13206430/83462734-5b9c7b00-a442-11ea-9e40-f09ac011432c.png)

[2020-06-02 00:07] dancespiele commented on #1282
Maybe you should give more information which template are you using to create the app. You can try [yew-template-parcel](https://github.com/spielrs/yew-parcel-template) at least it works in Chrome, Firefox, Safari and Internet Edge

[2020-06-02 04:01] SamukaDEV commented on #1282
Thanks, ive builded this template and now works fine, routes too... but, ill not close this issue now, i need to understand what i have maded wrong in my project, to post here, and if i can use this framework without template, i think is more clean use without a template to this small project, ok?

[2020-06-02 05:24] jstarry commented on #1282
Thanks for the issue @SamukaDEV! Templates are not required so we aim to have a good experience across all browsers.

Could you please create an example repo that has this issue? That would help determine the cause

[2020-06-02 11:06] SamukaDEV commented on #1282
@jstarry ill try, im not pro in github haha
and learned Rust only for 4 days, my project is a simple TODO app, and i dont know if the error is in some code that o have writed! 😅

[2020-06-02 12:27] siku2 commented on #1281
Yew currently doesn't support this. At least not directly.
However, thanks to the flexibility of [references](https://yew.rs/docs/concepts/components/refs) there's almost nothing you can't do.

Here's the code for a component that can be used to render raw html:
[code]

The relevant code is in the `rendered` method which manually sets the `innerHTML` of the element.
You can use this component like

[2020-06-02 15:46] davissorenson commented on #1281
Thanks for your help! I couldn't get the code you posted to work (`dyn_cast` doesn't seem to exist?), but I adapted the code you linked to into this, which works great:

[code]

[2020-06-02 15:46] #1281 closed

[2020-06-02 16:04] siku2 commented on #1281
Right, sorry about that, it should've been `dyn_into`. You need to have [`JsCast`](https://rustwasm.github.io/wasm-bindgen/api/wasm_bindgen/trait.JsCast.html) in scope in order to use it ( `use wasm_bindgen::JsCast`).

[2020-06-02 16:28] davissorenson commented on #1281
That doesn't seem to work either:

[code]

[2020-06-02 16:46] siku2 commented on #1281
Well this got very embarrassing for me, didn't it :sweat_smile:.
The method I was looking for is just `cast`. It's [implemented on `NodeRef` itself](https://github.com/yewstack/yew/blob/5bcf36d282811b11ef1842ffd1d1ae092e4ddff5/yew/src/html/mod.rs#L414).
The docs still use `try_into` but the function got renamed over a month ago.
I updated the code again and this time it should definitely work.

I

[2020-06-02 20:15] SamukaDEV commented on #1282
https://github.com/SamukaDEV/wasm-app
@jstarry
repo with the current problematic app!

maybe im writing some code wrong i think, but still the same! compiling to Chrome, not others

Obs: this is without the template! ive make some changes to aproximate!

[2020-06-02 20:41] SamukaDEV commented on #1282
![image](https://user-images.githubusercontent.com/13206430/83567339-d378ad00-a4f7-11ea-9bee-1441d5c00c9e.png)

Oh my god, thanks for the patience, ive founded the error, really is my code! XD 😅😅

[2020-06-02 21:23] #1282 closed

[2020-06-03 06:50] ghpu opened #1285 "Passive event listener for keyboard and prevent_default"
KeyboardService generates passive events, so it cannot be used with prevent_default ().

Proposed change :
line 142 of keyboard.rs :   KeyListenerHandle(EventListener::new(element.as_ref(), event, listener))
should probably be     KeyListenerHandle(EventListener::new_with_options(element.as_ref(), event,                                 EventListenerOptions::enable_prevent_default(),listener))

[2020-06-03 07:34] ghpu commented on #1285
Hum, it doesn't seem to be enough to solve my problem in firefox 76 or chromium 83.

[2020-06-03 14:04] SamukaDEV opened #1287 "How can i access the local storage? (document.localStorage)"
Maybe I haven't found a library or any class that does this, could someone help me with this?
I actually found some documents online that seemed to be about that, but I couldn't quite understand.

I'm new to Rust and Yew even more! but I loved the possibilities and the tool.

[2020-06-03 14:18] siku2 commented on #1287
You can do this using `web-sys` which provides bindings to the JavaScript `Storage` object.
You can find the documentation for that [here](https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.Storage.html).

Here's how you get access to the storage object from the window and then use it to get the value of a key.
[code]

[2020-06-03 14:24] #1287 closed

[2020-06-04 02:14] #1285 closed

[2020-06-05 23:02] silvioprog opened #1288 "./build.sh: line 43: wasm-bindgen: command not found"
**Problem**

We can't compile the `Yew` examples by `./build.sh minimal` as showed in instructions [/examples](https://github.com/yewstack/yew/tree/master/examples#yew-examples).

**Steps To Reproduce**

1. `cargo install wasm-pack` ``
2. `git clone https://github.com/yewstack/yew.git`
3. `cd yew/examples`
4. `./build.sh minimal`

It returns the following error:

[code]

**Environment:**

 - Yew v

[2020-06-05 23:54] Christopher-St commented on #1288
Looks like the build script needs the cli tool:
`cargo install wasm-bindgen-cli`

[2020-06-06 00:09] numerodix opened #1289 "The examples are slightly bit rotten :)"
**Problem**
I'm perusing the examples (and there are many!) finding that it's a bit hard to get them to run. A number of examples are missing a README that explains what is being demonstrated, and some are missing an appropriate index.html to easily run them (or the index.html inside static/ doesn't match the code properly etc). The ones that do are missing style sheets, which makes them appear "b

[2020-06-06 00:15] silvioprog commented on #1288
It fixed the problem (PR sent https://github.com/yewstack/yew/pull/1290). Thank you very much! :+1:

[2020-06-06 00:15] #1288 closed

[2020-06-07 04:37] happysalada commented on #1258
I was looking for a keyboard event listener on window, I discovered there war a keyboard service to create that.
You could probably make a MouseMoveService with a very similar implementation if you are ever interested
https://docs.rs/yew/0.16.2/src/yew/services/keyboard.rs.html

using the keyboard service it was just a matter of adding the event listener on create
[code]

[2020-06-08 02:08] L1AN0 commented on #182
This is very much desired, especially when a webpage contains many static contents. Translating them to JSX is a lot of work.

[2020-06-08 15:38] jstarry commented on #1289
@numerodix indeed they are a bit rotten! 👃 🤮

Fixes would be welcome, @ZainlessBrombie started on something quite similar here: https://github.com/yewstack/yew/issues/1016 so it would be nice to see if they have anything to share first before styling it all

In the meantime..

Fixes for stuff like this would be awesome!

[2020-06-08 15:39] jstarry commented on #1289
And by the way, I wouldn't be opposed to combining the micro-examples into a mono-example 😉 Preferably in a single cargo project

[2020-06-08 16:22] jstarry commented on #182
@L1AN0 there is a workaround here: https://github.com/yewstack/yew/issues/1281

We could also add a special property like React's `dangerouslySetInnerHTML` (https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml)

[2020-06-08 23:59] intendednull opened #1294 "Input Components"
I am currently using Yew in production. I spent some time solving user input handling, and I think I'm close to a good solution. I currently don't have the time to generalize it, but I'd love to discuss improvements, and eventually add it to `yew-components`.

Here is my current implementation (with project-specific logic): https://gist.github.com/Zer0897/85de78d965e728c0a5b675c64adbf3f7

Example

[2020-06-09 01:34] #1262 closed

[2020-06-09 08:56] chillcaw commented on #1154
Hey, I would be interested in picking this up. To my knowledge `virtual_dom_rs` is the only implementation that supports SSR right now. They have a `virtual_dom_rs::VElement` struct that is later used to create a `web_sys::Element` via `virtual_dom_rs::VElement::create_element_node()`. So effectively it looks like they have an intermediate representation of a Node without relying on `web_sys`. `vi

[2020-06-09 22:01] mishaszu commented on #533
I like the idea behind StyledComponents but in practice, it's just pure pain.

1. It creates unnecessary wrappers in DOM structure
2. Debugging node that nests few elements that extends the same ancestor is a nightmare
3. Bad performance for complex structures (like data grids).

The nicest approach to CSS I saw so far is [bs-css](https://github.com/reasonml-labs/bs-css) that is _Statically typed

[2020-06-10 08:14] derekdreery commented on #533
^ related prior art: https://github.com/purescript-contrib/purescript-css

[2020-06-10 23:34] numerodix commented on #1289
Yeah, they probably should. I opened this issue without knowing about @ZainlessBrombie's initiative. It looks like zainless has bigger plans anyway, so I'm happy to let zainless take care of it.

I was just planning to make some minor fixes to make the examples work in the event that noone else was doing the same.

[2020-06-11 06:29] teymour-aldridge commented on #1289
There's a lot of examples, so I'm sure if you want to contribute to them you can!

[2020-06-11 06:40] teymour-aldridge commented on #1294
I don't think that this should be included in the core `yew` crate, but instead as an optional additional dependency (e.g. like `yew_form`) inside of `yewtil` or even its own crate.

[2020-06-11 09:17] teymour-aldridge commented on #196
I think this would be great! Were you able to make any progress on this @vitiral? Would you like to continue to work on this? If not, I'd be happy to do this after I finish the DevTools (if I'm ever actually able to get them to work).

[2020-06-11 09:19] teymour-aldridge commented on #226
@Boscop I haven't looked at your implementation in detail, but I think that it would be cool to create a new `geolocation` service using it as a reference.

[2020-06-11 09:23] teymour-aldridge commented on #221
@huangjj27 Are you aware as to whether or not this is still an issue?

[2020-06-11 09:24] teymour-aldridge commented on #140
Has this been resolved now?

[2020-06-11 09:37] teymour-aldridge commented on #576
@mkawalec has fixed this in #1195 (I believe)

[2020-06-11 09:50] mishaszu commented on #1190
Let me take care of it

[2020-06-11 09:58] teymour-aldridge commented on #990
Related: #1217

[2020-06-11 10:17] teymour-aldridge commented on #1168
@Ben-PH are you interested in working on something like this?

[2020-06-11 10:29] huangjj27 commented on #221
Sorry that I don’t follow yew for a long time, so I know nothing about this bug.

[2020-06-11 10:29] teymour-aldridge commented on #221
Cool! No problem. Just trying to do some tidying up :)

[2020-06-11 10:50] Zer0897 commented on #1294
That was my original plan, then I saw yew-components which already has select implemented. I agree the full form is a little much, but it might be worth considering basic input components. If not I can take it over to yewtil.

I don't really have time to publish a crate right now, but I'd like to share/develop this implementation for anyone that's struggling as much as I am to find an ergonomic so

[2020-06-11 12:00] Ben-PH commented on #1168
Macro development is way outside my forte. I'm happy to be involved if anything comes u that I can help with, though.

[2020-06-11 12:43] ctjhoa commented on #140
@teymour-aldridge Yes it is! Thanks for the reminder.

[2020-06-11 12:43] #140 closed

[2020-06-11 14:32] faulesocke opened #1301 "Key not parsed for components"
**Problem**
It looks like components don't get their key assigned in the virtual dom.

**Steps To Reproduce**
Steps to reproduce the behavior:
[code]

In `Parent::view` I can now iterate over the children `VNode`s and call their `key` method. However, when the child is actually a `VComp` variant the key method returns always `None`. I guess the error lies here: https://github.com/yewstack/yew/blob

[2020-06-11 14:35] jstarry commented on #1301
Ah nice find, looks like that applies to `ref` as well. Thanks for pointing it out!

[2020-06-11 16:09] vitiral commented on #196
Glad you like the idea! No I won't be able to work on it as I haven't been doing web-dev lately and have a million other projects, including a third child to be born soon :D

[2020-06-11 16:10] teymour-aldridge commented on #196
No worries :) I'll try and work on this if I have some time.

[2020-06-12 10:22] teymour-aldridge opened #1305 "Refactor `yewtil/ptr/lcr.rs` to remove `unsafe` code."
This code should be refactored to not be `unsafe`.
https://github.com/yewstack/yew/blob/9b07a77f0b486597b658772f763edca8caddcc01/yewtil/src/ptr/lrc.rs#L620-L626

[2020-06-12 10:29] teymour-aldridge opened #1306 "Add difficulty labels to triage system."
**Describe the feature you'd like**
Many Rust projects have difficulty categories for errors. These are normally "E-Easy", "E-Medium" and "E-Hard"

**Is your feature request related to a problem? Please describe.** _(Optional)_
It'd make it easier for new contributors to be able to sort issues based on difficulty.

**Describe alternatives you've considered** _(Optional)_
Keeping the "good first is

[2020-06-13 21:24] ZainlessBrombie commented on #1289
Hey there! Sorry for being away some time, I had a bit of a tough time but I'm back on track now (Though on a business trip for another week) :)
Just wanted to give y'all a life sign ;)

PS: Really happy about the survey results :relaxed:

[2020-06-13 21:29] ZainlessBrombie commented on #1158
@jstarry how are things on this? I could look into it if there is still some part that is not resolved yet.

[2020-06-14 03:13] jstarry commented on #1154
Hey @chillcaw!

Happy to hear about your interest in picking this up!

I'm definitely more in this camp. Basically everything we use `web-sys` for right now is not applicable to SSR. It will be tricky at times to untangle the rendering logic from Yew's virtual DOM implementation but I think it's worthwhile.

Happy to plan this out in more detail once you start diving in :)

[2020-06-14 03:26] jstarry commented on #221
It's still an issue

[2020-06-14 03:30] onelson commented on #41
Something I've been thinking about is how to build something like [Phoenix LiveView](https://github.com/phoenixframework/phoenix_live_view) for rust projects.

I could totally see a combination of a rust service with websocket support pushing SSR yew content to the client which is then applied to the DOM via [morphdom](https://github.com/patrick-steele-idem/morphdom).

Wanted to chime in here sinc

[2020-06-14 03:30] jstarry commented on #1294
@Zer0897 this looks great! I'm not sure where this would best fit in right now because I'm not really that sure what `yew-components` should look like and how it should be maintained. For now, I'm hoping we can come to some sort of plan of action in this meta issue: https://github.com/yewstack/yew/issues/533 but I haven't been doing a great job of guiding the conversation yet

[2020-06-14 03:43] jstarry commented on #1289
@numerodix feel free to make incremental improvements in the meantime! We can always resolve merge conflicts, not a big deal :)

[2020-06-14 03:51] jstarry commented on #41
@onelson cool ideas! One of the current advantages of using a virtual dom in wasm is that it helps limits DOM API calls which require JS glue at the moment. I haven't run benchmarks on how much that slowdown is across different major browsers yet.

I think a liveview type framework would likely live on top of yew as a separate crate. Do you want to open another issue to discuss?

[2020-06-14 03:58] jstarry commented on #1158
@ZainlessBrombie hey, long time no see!

As mentioned in #1164, the issue was due to:

Which is still an issue 😱  it should be an easy fix in `NodeRef.link()` though if you want to pick it up!

[2020-06-14 18:30] onelson commented on #41
I'd be happy to kick off the discussion on a new issue, but I'd urge voices who have worked directly with this feature of Pheonix to participate in the discussion (I have not). I'm still unclear as to just how much overlap the goals of yew align with what's required for a LiveView-like setup. More research required.

This is something I've been thinking over since [an article](https://macwright.or

[2020-06-14 19:39] onelson opened #1310 "Proposal: Yew LiveView"
First, a brief disclaimer.

I have never used Phoenix's [LiveView] but it's a thing that exists and seemingly solves a handful of problems seen with the status quo of modern web development.
If you have experience working with LiveView or, even better, are familiar with the internals, I'd urge you to guide the discussion here. I'm still catching up when it comes to the nuts and bolts.

---

### Wh

[2020-06-14 23:23] MattiasBuelens commented on #1207
I noticed this issue was linked to rustwasm/wasm-bindgen#1761, and I see you've started building your own wrappers to work with JavaScript `ReadableStream`s in Rust.

If you're interested: I've just [published a crate](https://crates.io/crates/wasm-streams) which provides such wrappers, and supports converting from and into Rust `Stream`s. Perhaps it could help simplify your implementation? 🙂

If

[2020-06-15 03:23] zoechi commented on #1310
To me this looks like a workaround for Elixir not running in the browser (not compile to JS), so it's unclear what the benefit would be for Yew/Rust.

[2020-06-15 03:26] jstarry opened #1311 "Benchmark action fails to post comments for PRs from forks"
#### Problem
Secrets are not passed to workflows that are triggered by a pull request from a fork

#### Proposed Changes
Maybe it can be triggered by adding a label to the PR?

cc @siku2

[2020-06-15 03:34] siku2 commented on #1311
The `GITHUB_TOKEN` passed to pull requests from forks is read only ([docs] (https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token#permissions-for-the-github_token)). It might be possible to work around this by adding another write-enabled token to the secrets and use that instead.
This is assuming that secrets do get passed (I haven't tested / f

[2020-06-15 03:36] siku2 commented on #1311
Well it turns out that secrets aren't passed at all so there goes that idea...

[2020-06-15 04:24] onelson commented on #1310
I'm not sure that's the whole story.

While reading <https://macwright.org/2020/05/10/spa-fatigue.html> I started thinking about this, though I got there in a bit of a roundabout way. I was already thinking about ways to pair React redux with websockets, and serde enums for message passing between client and server. Ideas presented in LiveView took this further by moving almost everything to the s

[2020-06-15 07:26] chillcaw commented on #1154
I definitely agree with you there, I think this is worth the time investment. I am definitely looking forward to using Yew once this is supported.

I suppose there are a few ways of doing this. I guess the primary goal is to make `VNode` portable. We can either do this by decoupling `VNode` from `web-sys` entirely (Which is how virtual_dom_rs does it with their `VirtualNode` implementation), or we

[2020-06-15 10:27] teymour-aldridge commented on #1310
This issue should be labelled "feature"

[2020-06-15 12:59] siku2 commented on #1311
@jstarry

That is how the workflow works already (the first run is triggered by the label, not by a push) but sadly that doesn't seem to work.

I've considered porting the workflow to Travis but even it doesn't allow for this:

*([source](https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions))*

For now I think we have no other choice but to remove the comment and

[2020-06-15 13:09] nicklaswj commented on #1207
Oh nice thanks for the heads up. I'll take a look :D

[2020-06-15 13:19] nicklaswj commented on #1207
@MattiasBuelens It really looks good!

[2020-06-15 13:43] teymour-aldridge commented on #1310
TL;DR – Sounds like an interesting idea, but I think it should go in a different crate.

I agree with @zoechi on this.

This is a good idea! It's currently in the works.

I don't think any system implementing this should be built directly into Yew. Extension crates, etc, are all good ideas but I think that they should be added onto Yew's core, rather than baked in directly. This means that a varie

[2020-06-15 14:14] teymour-aldridge opened #1316 "Fix failing tests."
**Problem**
The tests for the fetch service are no longe consistent. This appears to be an issue with [httpbin](https://httpbin.org) and a mix up with HTTP/HTTPS.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Run the fetch service tests

**Expected behavior**
The tests to pass as the (identical) tests have in the past.

**Additional context**
The relevant tests are contained in the [

[2020-06-15 14:14] teymour-aldridge commented on #1316
@jstarry would you mind labelling this a "good first issue"?

[2020-06-15 14:39] teymour-aldridge opened #1317 "Rename "master" branch."
**Describe the feature you'd like**
The *master* branch should be renamed to something like "main" or "latest" (I personally think "main" is best).

**Is your feature request related to a problem? Please describe.** _(Optional)_
The use of the word "master" serves as a reference to slavery. There are many proposals calling for its removal from tech jargon, including a [draft IETF RFC (internet eng

[2020-06-15 17:03] onelson commented on #1310
Totally. Precluding traits that may need to be implemented alongside types owned by Yew, I could see this work happening outside of the existing crate structure.

The way LiveView appears to work is to wire event listeners in the DOM that would normally introduce state changes so they instead pass messages back to the server over a WebSocket*, then state updates are reconciled and rendered server-

[2020-06-15 19:10] teymour-aldridge commented on #1310
I think the client should work out on its own what it should do. Having to make a round trip every time a button is pressed seems to be a bit excessive (particularly for people with unreliable/poor quality internet access).

I personally think that if the client needs to be in sync with the server's state it should send a message to the server, and display a "waiting" message before it gets a resp

[2020-06-15 20:43] onelson commented on #1310
I also share this concern, but apparently Phoenix have been at least somewhat successful in delivering a good experience with this model. I'm not sure they have anything intrinsic we are missing.

I fear this is making some assumptions about the Phoenix LiveView implementation that I'm not sure are true. The impression I got was client state is modified via message passing over the socket, then ru

[2020-06-16 09:16] ZainlessBrombie commented on #1317
Context: `Github CEO Nat Friedman said the software development platform company is working to remove the term “master” from its services and replacing it with a more neutral term like “main.”`
https://www.vice.com/en_us/article/k7qbyv/github-to-remove-masterslave-terminology-from-its-platform

[2020-06-16 11:28] zoechi opened #1318 "Rename `kind` (used as alias for `type`)"
**Describe the feature you'd like**
I find `kind` as alias for `type`, which conflicts with Rust's `type` keyword, confusing
and propose to change it to `type`
and to use `type_` as alias where `type` conflicts with the keyword.

I'm of course open for other suggestions how to prevent the conflict,
it's just that `kind` seems too different to make a good candidate.

**Is your feature request relat

[2020-06-16 16:40] Mubelotix commented on #1317
There has been almost no thinking on this issue for now. So I am bringing it. I am against the change.

First, the word "master" has absolutely nothing to do with slavery. Master comes from magister, meaning teacher. In France, we say master (maître) to our teacher until we are 12 years old. Have you ever seen a slave branch? No, because it is unrelated.

Then, changing the name of the branch woul

[2020-06-16 18:19] jstarry commented on #1317
@Mubelotix @kaoet I respectfully disagree.

`master` / `slave` terms have been used in technology for some time and just because we don't have a `slave` branch here doesn't mean there couldn't be someone out there that takes it the wrong way.

Open communities strive for creating a welcome place for all contributors, and even if the `main` name change makes no difference, I don't think it's unreas

[2020-06-16 19:44] teymour-aldridge commented on #1317
In spite of its etymology, the term "master" is inexorably linked with a host of negative connotations. In the Oxford Dictionary of English, a number of possible meaning are given:

There are two things of note here – first is "man" the second is the "especially... slaves." The term "master" is a gendered term. I have zero idea as to why it is convention to pick "master" as the name of the default

[2020-06-16 19:49] zoechi commented on #1317
What about waiting for what Github does and then do the same.
Changing now and then perhaps again shortly afterwards seems more hassle than what it's worth.

[2020-06-16 19:50] teymour-aldridge commented on #1317
@zoechi that's a reasonable solution, but depends on when Github plan to do this.

[2020-06-16 20:09] zoechi commented on #1317
@teymour-aldridge  If it's not done generally (at least the default for new repos changes) then I doubt this is useful at all.

[2020-06-16 20:35] Mubelotix commented on #1317
I am not going to use whataboutism techniques. I just wanted to say that "Keep it simple, stupid" is originated from the KISS (keep it simple, stupid) philosophy. So the word "stupid" was not destined to anyone.

However, nobody will ever be offended by a meaningless master branch. You should be fanatic to be offended by something so unrelated and neutral. Changing this is not a necessity. It is t

[2020-06-16 22:01] dancespiele commented on #1317
I don't have any strong opinion about this. To have a branch calling main, master or whatever doesn't add any difficulty, the process is the same. Regarding what could means "master", in Spanish there is not relationship between Master and Slave, (Maestro y Esclavo) as the same as France, and I think for every romance language, Master is a teacher in a primary school or a person with strong experi

[2020-06-16 23:26] dancespiele commented on #1158
If it is needed I can reproduce again the error, I forgot of this and I deleted the branch :smiley: . I would like to fix this problem but with yew_styles and with my limited time i cannot currently, sorry

[2020-06-17 10:40] teymour-aldridge commented on #1317
That's good to know.

I don't understand why the idea changing the name of the "master" branch evokes such a strong reaction from you?

I think you have to appreciate the use of the term in the context of a world in which slavery has been (and continues to be) prevalent.

A useless whim which Github and the IETF both recognise as a necessary change which should be executed.

I was a toddler when g

[2020-06-17 13:04] zoechi commented on #1317
There are about 8B people at this planet and I'm sure you can find some for every single word who find it offensive.
I think we can trust that people will survive even though they are offended by the word in this context.

If there is broad consensus that using such a word in such a prominent way as the master branch in Git should be changed, then I'm all for it.

I think it has a value that the t

[2020-06-18 10:40] zoechi opened #1322 "Bind to properties instead of attributes by default"
**Describe the feature you'd like**

[code]
sets an **attribute** `foo` with the result value of `expr`

There are some attributes (`type`, `checked`, and `value`) which are **automatically** passed to the **property** instead by some **hardcoded exceptions**.

My suggestion is to always bind to properties for attribute-style parts of `html! { ... content }` by default.

If a property with such a

[2020-06-18 11:35] ZainlessBrombie commented on #1317
I'm with the change (ish) - main makes more sense to me as a term while "master" has not only the slavery association but is also a male term. I don't see this becoming an issue from a technical perspective.
I also want to point out that your strong opinion Mubelotix, seems to be very politically motivated to me and not a matter of technical concern. (e.g. git tools depend on the default branch, n

[2020-06-18 13:33] #1311 closed

[2020-06-18 14:04] teymour-aldridge opened #1324 "Usability surveys."
**Describe the feature you'd like**
Surveys to ask people how ergonomic/easy to use they find different APIs and how they can be improved.

**Is your feature request related to a problem? Please describe.** _(Optional)_
I find that some of Yew's features are well implemented, but the exposed API isn't as clean as it could be.

**Describe alternatives you've considered** _(Optional)_

**Additional

[2020-06-18 14:06] jstarry commented on #1324
@teymour-aldridge I think I'd like to wait awhile before doing another survey. We already have a lot of feedback that hasn't been acted on yet (looking at you Fetch API). Now is the time for working down the issue backlog, not building it up IMO

[2020-06-18 14:07] teymour-aldridge commented on #1324
I agree, I'm just putting this down as something to get round to eventually rather than something which to do right now.

[2020-06-18 14:08] jstarry commented on #1324
Ah ok, sounds good 👍

[2020-06-18 15:22] teymour-aldridge commented on #1317
I've found some more relevant context from a mailing list which suggests that the term actually *does* come from the "master/slave" context. This is because Git handles branches in the same way as BitKeeper.

[Mailing thread](https://mail.gnome.org/archives/desktop-devel-list/2019-May/msg00066.html

[2020-06-18 15:26] teymour-aldridge commented on #1317
In fact the person who chose to set things up like this, has now said that they [regret choosing this terminology and support Github's move to replace it](https://twitter.com/xpasky/status/1271477451756056577).

I'll edit this all into the issue at the top.

[2020-06-18 17:05] jstarry opened #1326 "Render phase can be interrupted"
#### Problem
In https://github.com/yewstack/yew/pull/1309, the scheduler was modified to group render tasks together to improve performance. However, grouped render tasks can get disrupted if any of the associated components has a `rendered()` lifecycle method that pushes an update task into the scheduler (`self.link.send_message(..)`).

#### Proposed Changes
Split the scheduler's "render" task qu

[2020-06-20 03:50] Zer0897 opened #1328 ""InternalError: Too much recursion" when rendering child components"
**Problem**

I'm getting "InternalError: too much recursion in" Firefox and "Uncaught (in promise) RangeError: Maximum call stack size exceeded" in Chrome.

Not sure exactly what's causing it, but commenting out any two child components as shown below fixes the problem. It doesn't matter which child components are commented out, or what parent component they're under.

[code]

Traceback for Chrome

[2020-06-20 06:13] jstarry commented on #1316
@teymour-aldridge sorry for the delay, I went ahead and fixed it. Thanks for writing the bug report!

[2020-06-20 06:13] teymour-aldridge commented on #1316
Cool!

[2020-06-20 06:20] #1316 closed

[2020-06-20 06:26] jstarry opened #1331 "Example static files are ignored by the build.sh script"
**Problem**
We have a nice script for building examples now but it puts all generated wasm / js in the `examples/static` folder. This means that any static files for specific examples are ignored.

**Proposed Change**
* Remove `examples/static`
* Modify `examples/build.sh` to generate files in the example's `static` folder

[2020-06-20 06:27] jstarry commented on #1331
@numerodix would you be interested in picking up this task? It's related to https://github.com/yewstack/yew/issues/1289

[2020-06-20 06:40] #1158 closed

[2020-06-20 08:22] Zer0897 commented on #1328
Fixed by #1329. Thank you!

[2020-06-20 08:22] #1328 closed

[2020-06-20 15:20] jstarry commented on #1318
@zoechi how about `input_type`?

[2020-06-20 15:26] jstarry commented on #1322
Thanks for the write up @zoechi, I'm in favour 👍

[2020-06-20 15:56] jstarry commented on #1154
I think a feature flag would work well, could you elaborate more on why you think this might not work?

I think a check for `target_arch` is probably sufficient. This is what we use right now: https://github.com/yewstack/yew/blob/master/yew/Cargo.toml#L110

Looks roughly like what I was imagining 👍  I'm a little afraid of devs having a hard time splitting `page-client` / `page-component` and needi

[2020-06-20 15:58] jstarry commented on #1153
A lot of the issue context is out of date after this change: https://github.com/yewstack/yew/pull/1333

[2020-06-20 15:59] #1153 closed

[2020-06-20 15:59] jstarry commented on #1154
Also, FYI this isn't blocked anymore. Getting the html string of a component node (VComp) should be pretty easy now

[2020-06-20 16:21] zoechi commented on #1318
Discoverability is probably not great if it does not start with `type`

[2020-06-20 16:29] zoechi commented on #1322
Great, I'm interested in making an attempt to implement this myself but, I'm still very slow with Rust and busy figuring out how optional attributes could be implemented. So if anybody is interested in this task just go with it.

[2020-06-20 17:07] jstarry commented on #1318
@zoechi I don't think discoverability is an issue, can you elaborate which API you are concerned about?

[2020-06-20 17:33] teymour-aldridge opened #1334 "Tracking issue for lints for the `html!` macro."
**Describe the feature you'd like**
The `html!` macro should output warnings. The developer should be able to ignore these warnings as they see fit.

These warnings should integrate into the compiler and work just as any other lint/warning would.

**Is your feature request related to a problem? Please describe.** _(Optional)_
Often it's easy to make mistakes based on

**Describe alternatives you'v

[2020-06-20 17:41] teymour-aldridge commented on #750
I think this issue can now be closed.

[2020-06-21 07:46] jstarry commented on #750
Thanks for the ping, I think this can stay to indicate that `stdweb` support isn't done yet. I'll update accordingly

[2020-06-21 08:18] numerodix commented on #1331
Thanks for thinking of me, @jstarry :)
This is something I was thinking of doing as part of #1289. Why don't I get started on that one then. :)

[2020-06-21 08:19] jstarry commented on #1331
No problem 😄

[2020-06-21 08:21] numerodix commented on #1289
Thanks for the encouragement!

I'd like to make some incremental improvements just to get the examples working and make it obvious what they are trying to demonstrate.

[2020-06-21 08:55] captain-yossarian commented on #750
@jstarry   Once stdweb approve my PR, I will finish my Yew PR

[2020-06-21 09:15] #1301 closed

[2020-06-21 13:02] jstarry commented on #750
They haven't specifically said that it's no longer maintained. I think it's fine to leave this open until it's confirmed. We still have devs using stdweb

[2020-06-21 13:03] teymour-aldridge commented on #750
Agreed!

[2020-06-21 16:45] anthhub commented on #1026
how to use yew-functional in Cargo.toml? yew-functional = { git = "https://github.com/yewstack/yew", path = "crates/functional", features = ["web_sys"] } don't work.

[2020-06-21 16:49] coolreader18 commented on #1026
I think with using git dependencies with workspaces, you don't need to specify `path`, it just finds it in the workspace root. Try just leaving out the `path = ...` field.

[2020-06-21 17:07] anthhub commented on #1026
thank you!
I use

[code]

but get a error: perhaps two different versions of crate `yew` are being used?

[2020-06-21 18:18] coolreader18 commented on #1026
What error is it specifically? Maybe you could try making `yew` and `yew-router` git dependencies too?

[2020-06-22 02:34] anthhub commented on #1026
thank you! I succeed!

[2020-06-22 05:34] philip-peterson opened #1345 "Does Yew not require a key prop in arrays?"
#### Question
Hello, I was looking into `virtual_dom/vcomp.rs` and saw that in the tests there is some mention of a key, ref, etc. My question is, are these the same key and ref as in React? I couldn't find anything else in the examples about using `key`, and it seems like Yew may not require a key for items in an array? Thanks in advance!

[2020-06-22 07:42] jstarry commented on #1345
@philip-peterson good question, we don't require it (or even log warnings) right now. Do you mind writing up an issue for it?

[2020-06-22 08:05] Tehnix commented on #1026
@anthhub I've updated my comment to reflect the changes to yew and Cargo since I posted the original comment :) Indeed it's removing path, optionally putting a `rev` on, and also doing that for `yew` (and any other yew crates) to make sure the types are aligned.

[2020-06-22 08:49] zoechi commented on #1318
Right, we could still use `VTag::set_type()` and have the struct field named `input_type`.
#1322 should make this field obsolete anyway.

[2020-06-22 08:50] jstarry commented on #1318
True, what do you think about pursuing #1322 instead?

[2020-06-22 09:42] anthhub commented on #1026
thank you! :)

[2020-06-22 11:08] zoechi commented on #1318
@jstarry see https://github.com/yewstack/yew/issues/1322#issuecomment-647017110
I need to improve my Rust-Fu to better understand Yew code first, but otherwise I'm interested.

[2020-06-22 15:39] jstarry commented on #1322
No worries, take your time @zoechi, feel free to ask general Rust questions in the discord chat too if it would help.

[2020-06-22 16:24] Th3-M4jor opened #1346 "Server Sent Event support"
**Describe the feature you'd like**
Adding a `yew::service` for Server Sent Events, I imagine this one wouldn't be too difficult to add as it would behave similar to a one-way Websocket, and web_sys has support for the EventSource object.

**Describe alternatives you've considered** _(Optional)_
While this can handled with Websockets as an alternative, the use cases are somewhat different, owing t

[2020-06-23 09:27] nodegin commented on #1317
Please, the lefts is polluting the internet, close your own stupid nonconstructive issue.

[2020-06-23 09:31] teymour-aldridge commented on #1317
I don't think this comment is (a) either helpful to the discussion or (b) is in the spirit of our Code of Conduct. If you have a genuine criticism of this idea, I'm happy to hear it and discuss it with you.

I can't really reply to anything in this comment in a constructive or productive way.

[2020-06-23 10:13] nodegin commented on #1317
What your issue really is, is what something totally not helping the project development, but increasing workload for your so called political correctness.

[2020-06-23 10:18] teymour-aldridge commented on #1317
I'd suggest that if it makes people more comfortable contributing it actually *increases* the project development.

I agree that we need to go further – I don't think we should rename the "master" branch to the "main" branch and just leave it there; more needs to be done to increase diversity in FOSS projects. These aren't mutually exclusive though; we can do both.

If you have any other ideas to

[2020-06-23 11:32] teymour-aldridge commented on #1310
It's definitely an interesting idea – I'd be interested to see if it works.

It's efficient because the server can render the HTML content. The size of the HTML content is very small (compared to the whole app), so it's fast to load that. The client, however, takes a long time to download the application's code. Without SSR the client would spend that time looking at a blank screen. Once the clien

[2020-06-23 18:09] Th3-M4jor opened #1347 "Improper rendering order of Components"
**Problem**
Components are not always being rendered in the correct order, within the resulting HTML tree

code inside `html!{}` macro:
[code]

Output:
[code]

**Steps To Reproduce**
Steps to reproduce the behavior:
Clone https://github.com/Th3-M4jor/YewTest.git
install npm packages, spin up dev server with `npm start`
increment counter to change how many optional components are rendered

**Expect

[2020-06-24 01:58] jstarry commented on #1347
Thanks for the report @Th3-M4jor! This is already fixed on master :)

<img width="240" alt="Screen Shot 2020-06-24 at 9 57 39 AM" src="https://user-images.githubusercontent.com/1076145/85488592-262e1c00-b601-11ea-9e93-e38af1415d33.png">

[2020-06-24 02:40] EvanCarroll commented on #1289
https://github.com/yewstack/docs/issues/105

[2020-06-24 15:52] Th3-M4jor commented on #1347
Tested with `master` on the project I found this on, can confirm. Closing issue then.

[2020-06-24 15:52] #1347 closed

[2020-06-24 23:51] EvanCarroll commented on #1289
Do any of the examples work and demonstrate best practices?

[2020-06-25 00:06] numerodix commented on #1289
I'd say about half of them work out of the box (when I first tried a couple of weeks ago). The plan is to make them all work.

[2020-06-25 17:21] not-a-bobbit-fish commented on #533
A couple of observations:
* I agree that styled-components tries to do something that doesn't, in the end, work. Always when using styled-components, the best course of action is just to create classes using the ```css`...```` tagged string and use those, because styled tags cannot have their stylings merged into other styled tags, and you will need to separate those out if you ever want to spread

[2020-06-26 02:52] philip-peterson opened #1348 "Require `key` prop in array comprehensions"
**Problem**
Per #1345, a key prop should be provided whenever there is an array of children elements. We do not currently see an error or warning when one is not provided.

**Questionnaire**
- [ ] I'm interested in fixing this myself but don't know where to start
- [ ] I would like to fix and I have a solution
- [x] I don't have time to fix this right now, but maybe later

[2020-06-26 02:54] philip-peterson commented on #1348
Slight tangent, but React insists on throwing a warning whenever you use a key that is simply the index of the object being displayed. I would suggest we don't do that in Yew, since sometimes (even in React) the developer has no choice as the index is the only thing that would indicate continuity of the element being rendered.

[2020-06-27 10:26] anthhub commented on #1026
use_effect how to use async function to featch data?

[code]

get a erorr: expected a `std::ops::FnOnce<()>` closure, found `impl core::future::future::Future`

[2020-06-27 12:15] siku2 commented on #1348
Isn't this contradicting the point of requiring the `key` prop in the first place?
In React, using the index as a key is the same as not using a key at all because the default key *is* the index.
If we don't emit a warning for that then I don't think we should emit a warning for omitting the key in the first place.
What do you think?

Perhaps there's a way for Yew to identify situations where a ke

[2020-06-27 14:20] uvarovdm opened #1351 "TodoMVC example is not working properly sometimes."
**Problem**
Some problems in the TodoMVC example app: https://todomvc.yew.rs/

**Steps To Reproduce**
In TodoMVC do the following steps:
- Insert 1st todo item;
- Insert 2nd todo item;
- Double-click on 1st item (do not do any editing);
- Double-click on 2nd item (do not do any editing);
- **Problem 1** Both items are high-lighted now. I think this is a bug - only 1 item should be high-lighted at

[2020-06-27 20:28] philip-peterson commented on #1348
It may perhaps be functionally equivalent behavior, but explicitly requiring the developer to set a `key` prop forces them to think about whether the index is really the best key for the job. In many cases, there is an `id` readily available, so that is the natural choice.

[2020-06-27 21:58] siku2 commented on #1348
Forcing the user to explicitly set the `key` prop and thereby reminding them of its importance is definitely a valid point.
I think we should discuss how we want to go about doing that though.
Panicking seems like a bad choice to me (for debug builds it might be okay but definitely not for production builds).
We could use a compile-time check. Personally, I believe this to be the best choice but i

[2020-06-28 01:43] philip-peterson commented on #1348
Could we enforce it with a compile time error, plus a "quick hack" escape hatch similar to lint ignores? Then we could disallow those escape hatches for production builds but allow it + emit a warning for dev builds.

[2020-06-28 01:44] #1345 closed

[2020-06-28 02:50] anthhub commented on #1026
i have got a solution to resolve it:

[code]

[2020-06-28 03:42] philip-peterson commented on #1269
Per the discussion we had on #1344 , I would question why we need dynamic strings as tag values at all. For HTML, MathML, and SVG elements, these should be easy to represent as some built-in Yew enum which could be represented as a `&'static str` in code but converted to an enum value through macros.

In the case of custom elements, maybe that could be declared via some configuration, possibly in

[2020-06-28 03:50] philip-peterson commented on #1269
That said, I could see a use case for this type of pattern as well which could be good to keep in mind when we are implementing a solution for this Issue:

[code]

[2020-06-28 09:55] philip-peterson commented on #1269
After doing some more research, a couple of modifications to my stance:

- The branching on types I suggested in the above comment seems unwise / out of scope, since it would be moving type resolution to runtime, escaping Rust's type safety. A generic could achieve the same result.
- Sorry, I didn't realize dynamic tags are basically brand-new. I can understand the want for them if regular HTML-st

[2020-06-28 11:00] joonazan opened #1352 "Can't use bincode 1.3 with Yew"
I want to use bincode 1.3 because it can be used with serde_transcode unlike the earlier versions but I can't as Yew uses bincode 1.2.1.

What is bincode used for in Yew? If it can't be disabled, it would be nice to get a release using the newer version.

[2020-06-28 11:08] jstarry commented on #1352
It's used for serializing messages to web worker agents.

Sure thing, if you have time to update the version in a PR, I'd be happy to put it in the next release

[2020-06-28 12:16] siku2 commented on #1348
This should be possible using `proc_macro_diagnostics` which are still unstable. We could abort with an error for now and switch to a suppressible lint error in the future

[2020-06-28 12:54] muhuk commented on #905
I wish there was a way that doesn't required us do:

[code]

A cleaner approach is perhaps, when the parent sets a prop named `link`, same `ComponentLink` can be passed to the child's `create`.

-----

I also tried using the props instead, but `Clone` requirement is the issue there.

[2020-06-28 13:14] siku2 commented on #1269
Using an enum which contains all possible tag names isn't a terrible idea. We can use it in conjunction with a `tag_name!` macro that returns the appropriate variant from a string. Custom element names could be stored in a special variant:
[code]

Using this dynamic tag names would no longer accept a `String` but instead a variant of `TagName`.

In most cases this doesn't apply anyway. The most co

[2020-06-28 16:53] #1220 closed

[2020-06-28 19:58] philip-peterson commented on #1317
Just to add some variety to the mix of discussion happening here, I'd say this is a good ticket to get done. As people in the world we need to make things better for our fellow humans. Most of the time that's infeasible (we already do a lot), but in this case, doing it is

1. meaningful (to those who want it)
2. not meaningful (to those who don't)
3. easy

Given all that the decision should be sim

[2020-06-28 21:09] dancespiele commented on #1317
@nodegin , for sure you can express your disagreement  but respecting to the people, (ideology, avoid offensive words, etc...).

[2020-06-29 02:37] kaoet commented on #1317
Even though that "master" comes from slavery, nobody should be offended. Slavery is just a historical phenomenon, nobody in the world is "slave" now, right?

If some groups of people correlate themselves to the slaves in the past, that makes no sense. We may all originate from some kind of fish in the past, but talking about fish doesn't mean to offend anybody, so does "master/slave".

[2020-06-29 04:19] philip-peterson commented on #1317
Very much not true. https://www.antislavery.org/slavery-today/modern-slavery/

Also deeply not true. Who is it who gets to define "should" anyway?

[2020-06-29 15:38] teymour-aldridge commented on #1317
[Modern slavery](https://www.ilo.org/global/topics/forced-labour/lang--en/index.htm) still persists around the world with tens of millions subjected to it in 2016 according to a "conservative" estimate by the ILO.

Slavery is a denial of somebody's humanity. Being descended from fish is not.

[2020-06-29 20:07] ZainlessBrombie commented on #1026
@jstarry Hey :)
Could you outline what we need to get the functional components going?
One thing I certainly would like to do is a macro that converts functions to functional components.

[2020-06-29 20:18] teymour-aldridge commented on #1026
@ZainlessBrombie An attribute macro for that would be awesome!

[2020-06-30 02:25] slushy-chivalry opened #1356 "Latest version of yew_router is not published to crates.io"
Latest published version of `yew-router` https://crates.io/crates/yew-router depends on `yew-0.16` which breaks the build due to multiple conflicting versions.

As a temporary workaround, we have been using github branch paths in our Cargo.toml.

[code]

If there is an issue tracking this problem already, please disregard it.

[2020-06-30 02:40] jstarry commented on #1356
@slushy-chivalry thanks for the issue! @hgzimmerman is aware and is working on getting a release out. We can keep this open to track progress

[2020-06-30 02:47] jstarry commented on #1026
@ZainlessBrombie I've outlined a few next steps here: https://github.com/yewstack/yew/issues/1129! I think once we have more issues covering the remaining work we can dig in a bit more on what needs to be done. An issue for your proposed attribute macro would be nice as well!

[2020-06-30 13:30] pickfire commented on #1129
Why couldn't this be:
[code]

[2020-06-30 13:48] ZainlessBrombie commented on #1129
@pickfire https://vuejs.org/v2/guide/reactivity.html

Vue does that via javascript magic
As far as I am aware the only way to achieve something similiar in rust would be if we did it like refcells
*online = true;
We can't react to online being written to but we could react to it being dereferenced... maybe?:thinking:

[2020-06-30 14:01] ZainlessBrombie commented on #1129
But then online needs to be a struct with an Rc to the setter function.
What happens if the user holds on to an online struct? Does it update? Does it not? It probably should not, but they might expect it to.
Hmmm

[2020-06-30 14:17] ZainlessBrombie commented on #1129
I honestly prefer the predictability and simplicity of the react way, (a primitive value that is constant for the current render and a setter), which is one of the reasons I switched from vue to react for new projects, but this may be a matter of opinion.

[2020-06-30 14:18] hgzimmerman commented on #1305
Not really sure why I made this unsafe in the first place - because at face value, this looks safe.
I should note that this datastructure is set to be removed from the yew/yewtil project eventually, because the idea of a linked-list reference counted pointer is a silly idea in the first place. I do intend to release it as its own crate once it is removed though in case any one is using it.
PRs to

[2020-06-30 14:24] pickfire commented on #1129
Well, I don't like the additional complexity of react that vue does with simplicity, simply vue just make stuff easier to understand and learn, react have too many ways to do the same thing which can easily let new developers shoot themselves.

Why not?
[code]

Still, I don't know if it is a good idea to use `Rc` or `Arc` everywhere.

[2020-06-30 14:27] pickfire commented on #758
Is there anyway for yew to not use virtual DOM like dominator? What are the implications of not using it? It felt like GC (initial rust) vs no GC (current rust) to me.

[2020-06-30 14:28] teymour-aldridge commented on #758
Everything in Yew is pretty tied to the virtual DOM, but I've been trying to think of ways to move away from using a virtual DOM.

[2020-06-30 14:52] teymour-aldridge commented on #1334
[This crate might be of use in adding these errors (works on both stable and nightly).](https://crates.io/crates/proc-macro-error)

[2020-06-30 15:05] siku2 commented on #1334
Just keep in mind that warnings will still only be emitted on nightly but if we use it we don't have to wait for diagnostics to hit stable.

[2020-06-30 15:09] teymour-aldridge commented on #1334
The `Diagnostics` API probably has a way to do that built in. We can probably detect `#[allow]` attributes and filter warnings based on those.

From my understanding the crate works on stable using a handcrafted API.

[2020-06-30 16:18] siku2 commented on #1334
The Procedural Macro Diagnostics RFC proposes support for "Lint-Associated Warnings" which works with the `#[allow()]` attribute but AFAIK it hasn't been implemented yet.
Since the warnings are nightly only I don't think it's a problem for them to be unsilenceable. It's just something that will need to be addressed once lint-associated warnings are implemented.

<br/>

The documentation says:

The

[2020-06-30 20:35] ctm opened #1358 "render called before sub-component's views get to the DOM (this is a regression)"
**Problem**
If a component has a sub-component, under yew 16.0.2, the top-level's `render` would only be called after the sub-component's view was created and made available to the DOM. That changed with 17.0.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. I've created a [render_sooner_demo](https://github.com/yewstack/yew/compare/master...ctm:render_sooner_demo?expand=1) branch that

[2020-07-01 04:00] jstarry commented on #1358
This is indeed a regression, thanks for the report. I'll make sure this gets fixed in a patch release

[2020-07-01 08:11] quek opened #1359 "onsubmit event is mismatched types"
**Problem**

update yew 0.17.0
onsubmit expected FocusEvent.

[code]

maybe `s/`FocusEvent/Event/`
https://github.com/yewstack/yew/blob/6583b38c17340767d70b35f7c8b22795c882bb12/yew/src/html/listener/listener_web_sys.rs#L60

**Environment:**
 - Yew version: v0.17.0

[2020-07-01 09:00] jstarry commented on #1359
@quek I see, `onsubmit` event type changed. I forgot to mention this breaking change in the release notes. Sorry! Can you try changing your `onsubmit` callback to accept a `FocusEvent`? I believe `FocusEvent` is correct https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onsubmit

[2020-07-01 09:18] ZainlessBrombie commented on #1129
I sure have done a lot with footshooting with vue :D
---------------------------------------------
@jstarry

Currently, the functional components do memoize themselves. They only trigger a render when a prop is updated (they are compared in the update method)
I'm thinking now that that was not the right way and would change that - and introduce memo right away.
What do you think?

[2020-07-01 12:25] quek commented on #1359
I changed to FocusEvent and it worked.
Thank you very much.

[2020-07-01 12:46] #1359 closed

[2020-07-01 13:01] #1326 closed

[2020-07-01 13:01] #1358 closed

[2020-07-01 13:58] pickfire commented on #1129
@ZainlessBrombie I am not saying vue ways is better than react, I was saying that exploring alternatives is better than implement one example when only one was given (react), still the best thing would be to have something better than that of react and vue if there is such things.

[2020-07-01 14:39] jstarry commented on #1358
Thanks again @ctm! Can you confirm that 0.17.1 fixes your issue?

[2020-07-01 15:39] ctm commented on #1358
It does indeed. I've tested it locally and am pushing to production now.

[2020-07-01 16:21] ZainlessBrombie commented on #1129
I absolutely agree, exploring the alternatives is super important! I just thought it's easy to fall into the trap of familiarity :)
Either way, if I implement the hook as you suggested, maybe I'll get a better feel for it :)

[2020-07-01 23:05] naomijub opened #1363 "urlencodned query params"
#### Question
How can I use `urlenconded` parameters?

#### What I've tried (optional)
[code]

and

[code]

[2020-07-01 23:07] naomijub commented on #1363
#[derive(Switch)]
enum AppRoute {
    #[to = "/oneyway?departure={departure}&origin={origin}&destination={destination}"]
    Oneway {departure: String, origin: String, destination: String}
}

[2020-07-01 23:07] #1363 closed

[2020-07-02 02:57] sehkone opened #1364 "`send_message` was changed to behave synchronously? Then, how can I send a message after `view` is finished?"
#### Question
In earlier versions than 0.17, `send_message` was executed after `view` was done. But, in 0.17 it seems different so that `send_message` is synchronously called. If so, how can I send a message which should be executed after `view` is finished?

#### What I've tried (optional)

[2020-07-02 03:12] jstarry commented on #1364
You can send a message in the `rendered()` lifecycle method. Does that work for you?

[2020-07-02 04:26] naomijub opened #1365 "Router only works on route "/""
#### Question
Couldn't access routes `/hello` and routes `http://localhost:8080/oneway?departure=hhh&origin=fff&destination=ddd`
I get a 404 on network response, but everything seems well config:
https://github.com/web-dev-rust/wasm-airline/pull/3

#### What I've tried (optional)

[2020-07-02 12:26] sehkone commented on #1364
It does not work in the case where different procedures are supposed to be accomplished according to messages sent to `update() `. If any other benefits from the change are not that apparent, I think the previous behavior should be preferred. What do you think?

[2020-07-02 12:56] siku2 commented on #1364
@sehkone Could you give an example of what you're trying to do that is no longer possible?

Correct me if I'm wrong but I don't think the behaviour of `Scope::send_message` was changed from 0.16 to 0.17. The `update` method should still be called *after* `view` has finished.
Perhaps you're talking about the newly added comment in the documentation:

It might be a bit confusing but this is only tru

[2020-07-02 13:09] jstarry commented on #1364
You're right, I believe it changed in 0.16 actually

Yeah, that is a bit confusing. I wonder if we can get away with not talking about the scheduler internals and provide some high level behavior expectations that devs can count on.

Anyways, I'm also curious what your example is @sehkone. We aim to provide the best experience possible! The change was done to improve rendering performance by the w

[2020-07-02 13:26] sehkone commented on #1364
[code]
In 0.16, the procedure was

1. `Message::FetchData` is sent to `update()`.
2. the code A  in the match block is executed.
3. `view()` is executed.
4. `Message::RenderCharts` is sent to `update()`.
5. the code B is executed.
6. `view()` is executed.

In 0.17, the same procedure?

[2020-07-02 15:32] siku2 commented on #1364
@sehkone 0.17 should still behave exactly like that.
Did you run into a situation where your code doesn't behave as you'd expect?

[2020-07-02 16:56] jstarry commented on #1364
@siku2 0.17 doesn't behave that way. It processes messages eagerly

[2020-07-02 17:44] siku2 commented on #1364
@jstarry are you sure?

I wrote a simple example based on the code given by @sehkone:
[code]

<details><summary>Full Code</summary>
<p>

[code]

</p>
</details>

And the output matches:
[code]

Maybe I misunderstood something?

[2020-07-02 18:01] jstarry commented on #1364
Ah sorry. I think I was talking about something else.. view is called directly after the message but it gets rendered to the dom lazily.

[2020-07-03 01:16] sehkone commented on #1364
Yes, I did.

[code]

In 0.16, after `Message::FetchData` and part A, div elements are created and `Message::RenderCharts` is sent to `update()`. Then, part B successfully executes `draw_chart()`.

But, in 0.17, after part A, `draw_chart()` is called before the creation of div elements `by view()`.

To clarify the situation, I tested the below.

[code]

Instead of directly sending `Message::RenderC

[2020-07-03 02:33] IThawk opened #1366 "panicked at 'cannot call wasm-bindgen imported functions on non-wasm targets'"
#### Question

panicked at 'cannot call wasm-bindgen imported functions on non-wasm targets'
#### What I've tried (optional)

[2020-07-03 02:37] jstarry commented on #1366
Can you please provide more details?

[2020-07-03 02:46] IThawk commented on #1366
@jstarry
[code]

[2020-07-03 02:48] jstarry commented on #1366
What command are you running?

[2020-07-03 03:33] IThawk commented on #1366
[code]

[2020-07-03 07:23] jstarry opened #1367 "Input element value is reset on each render when no `value` is specified"
**Problem**
Input element value is reset on each render when no `value` is specified

**Expected behavior**
Yew should only update an input value if the user specifies one

[2020-07-03 07:24] jstarry commented on #1367
FYI @jplatte, thanks for bringing this up!

[2020-07-03 07:35] teymour-aldridge commented on #1366
You need to include the `--target wasm32-unknown-unknown` flag.

`cargo run` is also probably not the command you want (you probably want `cargo build`).

[2020-07-03 07:48] jstarry opened #1368 "Windows friendly example instructions and scripts"
**Problem**
The current scripts and instructions for running examples assume the developer is using Linux / MacOS

[2020-07-03 08:09] IThawk commented on #1366
@jstarry
[code]

[2020-07-03 08:11] IThawk commented on #1366
[code]

[2020-07-03 08:13] jplatte commented on #1367
Thanks for opening an issue, I wasn't sure whether this was a bug!

[2020-07-03 08:20] jstarry commented on #1364
@sehkone you're right. The difference is that we don't necessary update the DOM in between updates. I've added this note the "Breaking changes" section of the release notes.

We might have to reconsider this approach if it becomes a more common confusing point. For now, I think the `rendered()` works well so I don't think a hot fix is needed

[2020-07-03 08:21] jstarry commented on #1366
@IThawk you'll need to install the `wasm32-unknown-unknown` target:

`rustup target add wasm32-unknown-unknown`

[2020-07-03 09:26] juchiast commented on #1364
@jstarry
Using `rendered` works well for me. However, I'm not sure if it is _theoretically_ correct, let me know if this makes sense or not:

Consider the case where the DOM is updated between `update()`:
1. Update `Msg::A`
2. Render A's changes
3. Update `Msg::B`
4. Render B's changes
5. Update `Msg::C`

I need step 5 to happen **after** step 4.

To do this in 0.17, in "Update B", I do `self.plan

[2020-07-03 09:30] jstarry commented on #1364
Yeah that's a correct implementation. That's not ideal that a dev would have to batch messages like this. I suppose Yew should do this for you internally. I think that's patch-worthy

[2020-07-03 09:44] sehkone commented on #1364
I understand every updates are not necessary considering performance. But, the `update()` returns `ShoudRender` and I feel like it's supposed to guarantee re-rendering when `true` returns. Moreover, it is a little confusing to me that `view()` is called but rendering may not be accomplished.